.container-full {
    width: 100%;
    border-radius: 0px;
    margin-bottom: 1rem;
}
body {
    overflow-x: hidden;
}

.portfolio-full {

    @include smallPhone {
        @include background-images((
                $cloud-full),
            (
                0% -0.5%));
        background-size: 
            
            200%;
    }

    @include phone {
        @include background-images((
                $cloud-full),
            (
                0% -2%));
        background-size: 
            200%;
    }

    @include tablet {
        @include background-images((
                $cloud,
                $cloud-left,
                $main-octopus),
            (
                0% -2%,
                0% 3%,
                120% -0.1%,
            ));
        background-size: 
            auto,
            auto,
            resizeImage(595px, 842px, 0.80);
    }

    @include smallDesktop {
        @include background-images((
                $cloud,
                $cloud-left,
                $main-octopus),
            (
                0% -2%,
                0% 3%,
                120% -0.1%,
            ));
        background-size: 
            auto,
            auto,
            resizeImage(595px, 842px, 0.95);
    }

    @include desktop {
        @include background-images((
                $cloud,
                $cloud-left,
                $main-octopus),
            (
                0% -2%,
                0% 3%,
                107% -0.3%,
            ));
        background-size: 
            auto,
            auto,
            resizeImage(595px, 842px, 1.1);
    }

}