.container-full {
    width: 100%;
    border-radius: 0px;
}

.portfolio-full {

    @include smallPhone {
        @include background-images(($tentacle-right,
                $tentacle-left,
                $swirly-right,
                $curl-left,
                $cloud-full),
            (100% 33%,
                0% 74%,
                100% 81%,
                0% 85%,
                0% -0.5%));
        background-size: 20%, 20%, 25%, 25%, 200%;
    }

    @include phone {
        @include background-images(($tentacle-right,
                $tentacle-left,
                $swirly-right,
                $curl-left,
                $cloud-full),
            (100% 32.5%,
                0% 73.8%,
                100% 81%,
                0% 85%,
                0% -2%));
        background-size: 20%, 20%, 25%, 25%, 200%;
    }

    @include tablet {
        @include background-images(($tentacle-right,
                $tentacle-left,
                $cube-right,
                $curl-left,
                $cloud,
                $cloud-left,
                $main-octopus),
            (100% 37%,
                0% 77.5%,
                100% 82.5%,
                0% 86.5%,
                0% -2%,
                0% 3%,
                120% -0.1%,
            ));
        background-size: 20%, 20%, 25%, 30%, auto, auto, resizeImage(595px, 842px, 0.75);
    }

    @include smallDesktop {
        @include background-images(($tentacle-right,
                $tentacle-left,
                $cube-right,
                $curl-left,
                $cloud,
                $cloud-left,
                $main-octopus),
            (100% 33.5%,
                0% 71%,
                100% 77.5%,
                0% 82.5%,
                0% -2%,
                0% 3%,
                120% -0.1%,
            ));
        background-size: 15%, 15%, 25%, 25%, auto, auto, resizeImage(595px, 842px, 0.75);
    }

    @include desktop {
        @include background-images(($tentacle-right,
                $tentacle-left,
                $cube-right,
                $curl-left,
                $cloud,
                $cloud-left,
                $main-octopus),
            (100% 32.5%,
                0% 74.5%,
                100% 77.5%,
                0% 82.5%,
                0% -2%,
                0% 3%,
                107% -0.3%,
            ));
        background-size: 10%, 10%, 20%, 15%, auto, auto, resizeImage(595px, 842px, 0.95);
    }

}