/* General  */
.portfolio-container {
  margin-bottom: 8rem;

  @include media(smallPhone, phone) {
    margin-bottom: 4rem;

    .carousel-inner {
      overflow: visible;
    }

    .carousel-item {
      img {
        border-radius: 10px;
        object-fit: cover;
        height: 300px;
      }
    }

    .carousel-indicators {
      li {
        background: rgba(129, 129, 130);
        height: 0.5rem;
        width: 0.5rem;
      }

      .active {
        background: #0086b4;
      }
    }


  }

  .title {
    color: #2b2b2b;
    line-height: 90px;
    font-size: 82px;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: left;
    margin-top: 5rem;

    &::first-letter {
      font-size: 129px;
      background-image: url("/static/core/img/monadical-blue-grey-logo.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center left;
      color: transparent;
      margin-left: 10px;

      @include media(smallPhone, phone) {
        font-size: 50px;
        line-height: 45px;
        background-image: url("/static/core/img/monadical-blue-grey-logo.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center left;
        color: transparent;
      }
    }

    @include media(smallPhone, phone) {
      font-size: 40px;
      line-height: 45px;
      margin-top: 1rem;
      margin-bottom: 16rem;
      text-align: center;
    }
  }

  .slogan {
    color: #333333;
    line-height: 36px;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 3rem;
    text-align: left;

    @include media(smallPhone, phone) {
      color: #333333;
      line-height: 20px;
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      margin-bottom: 2rem;
      text-align: center;
    }
  }

  .section-title {
    font-size: 60px;
    font-weight: 600;
    line-height: 80px;
    margin: 3rem 0;
    text-align: center;

    @include media(smallPhone, phone) {
      font-size: 30px;
      line-height: 44px;
      margin: 2rem 0;
    }
  }

  .subtitle {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 1.5rem;

    @include media(smallPhone, phone) {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 1rem;
    }
  }

  a {
    color: #0086b4;
    text-decoration: underline;
    text-underline-offset: 20%;
  }

  .btn-info-inverse {
    line-height: 1.25rem;
    text-transform: uppercase;
  }

  .btn-info {
    line-height: 1.25rem;
    text-transform: uppercase;
  }

  .image-row {
    justify-content: space-between;
  }
}