/******* Projects & Open Source *******/


/* Background */

.monadical-projects-wrapper {
    margin-bottom: 1rem;

    @include smallPhone {
        @include background-images(($tentacle-right,
                $tentacle-left,
                $cube-right,
                $cloud-full),
            (100% 28.5%,
                0% 73%,
                100% 80.3%,
                0% -0.5%));
        background-size: resizeImage(197px, 471px, 0.35),
            resizeImage(197px, 471px, 0.36),
            resizeImage(402px, 945px, 0.3),
            200%;
    }

    @include phone {
        @include background-images(($tentacle-right,
        $tentacle-left,

                $cube-right,
                $cloud-full),
            (100% 27%,
            0% 73%,

                100% 79.5%,
                0% -2%));
        background-size: resizeImage(197px, 471px, 0.6),
            resizeImage(197px, 471px, 0.6),
            resizeImage(402px, 945px, 0.4),
            200%;
    }

    @include tablet {
        @include background-images(($tentacle-right,
                $tentacle-left,
                $cube-right,
                $cloud,
                $cloud-left),
            (100% 29%,
                0% 74.5%,
                100% 80.5%,
                0% -2%,
                0% 3%,
            ));
        background-size: resizeImage(197px, 471px, 0.8),
            resizeImage(197px, 471px, 0.8),
            resizeImage(402px, 945px, 0.5),
            auto,
            auto;
    }

    @include smallDesktop {
        @include background-images(($tentacle-right,
                $tentacle-left,
                $cube-right,
                $cloud,
                $cloud-left),
            (100% 27.5%,
                0% 68.5%,
                100% 75.5%,
                0% -2%,
                0% 3%,
            ));
        background-size: resizeImage(197px, 471px, 0.8),
            resizeImage(197px, 471px, 0.8),
            resizeImage(402px, 945px, 0.6),
            auto,
            auto;
    }

    @include desktop {
        @include background-images(($tentacle-right,
                $tentacle-left,
                $cube-right,
                $cloud,
                $cloud-left),
            (100% 27%,
                0% 68%,
                100% 75.5%,
                0% -2%,
                0% 3%,
            ));
        background-size: resizeImage(197px, 471px, 0.8),
            resizeImage(197px, 471px, 0.8),
            resizeImage(402px, 945px, 0.6),
            auto,
            auto;
    }

}

.monadical-projects {
    .project-row {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 5rem;
        border-bottom: 1px solid #2b2b2b;
        padding-bottom: 5rem;

        @include media(smallPhone, phone) {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 2rem;
        }
    }

    .main-image-wrapper-1 {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding:0;
        margin: 0%;
    }



    .main-image-1 {
        border-radius: 10px;
        width: 100%;
        margin: 0;
        max-width: 300px;

        @include media(smallPhone, phone) {
            width: 70%;
        }
    }



    .main-image-2 {
        position: absolute;
        left: 0;
        top: 10%;
        border-radius: 10px;
        width: 25rem;
        max-width: 300px;

        @include media(smallPhone, phone, tablet) {
            display: none;
        }

        @include tablet {
            display: none;
        }

    }
    .main-image-3 {
        position: absolute;
        right: 0;
        top: 4.0%;
        border-radius: 10px;
        width: 25rem;
        max-width: 250px;

        @include media(smallPhone, phone, tablet) {
            display: none;
        }

        @include tablet {
            display: none;
        }

    }

    .main-image-4 {
        position: absolute;
        object-fit: cover;
        z-index: -4;

        @include media(smallPhone, phone) {
            width: 200%;
        }

        @include smallDesktop {
            top: -1%;
            width: 100%;
        }

        @include desktop {
            top: -1%;
            width: 100%;
        }
    }



    .img-wrapper {
        align-items: center;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        min-height: 645px;
        justify-content: center;

        @include media(smallPhone, phone) {
            justify-content: center;
            margin-bottom: 20px;
            min-height: 345px;
        }
    }

    .project-img {
        border-radius: 10px;
        box-shadow: 0px 4px 50px -5px #61616166;
        width: 100%;
        margin: 2rem;
        max-width: 585px;

        @include media(smallPhone, phone) {
            max-width: 313px;
            margin: 0 16px;
        }
    }

    .img-wrapper-scaled {
        transform: scaleY(0.7);

        @include media(smallPhone, phone) {
            transform: scaleY(1);
        }

        @include tablet {
            transform: scaleY(1);
        }
    }

    .project-img-scaled {
        transform: scaleX(0.7);

        @include media(smallPhone, phone) {
            transform: scaleX(1);
        }

        @include tablet {
            transform: scaleX(1);
        }
    }

    .project-text {
        align-self: center;
        display: flex;
        flex-direction: column;
    }

    .project-title {
        color: #0086b4;
        font-size: 40px;
        font-weight: 800;
        line-height: 48px;
        margin-bottom: 30px;
        text-align: left;

        @include media(smallPhone, phone) {
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 20px;
        }

        @include tablet {
            margin-top: 1rem;
        }
    }

    .subtitle {
        margin: 0 0 1.5rem;

        @include media(smallPhone, phone) {
            margin-bottom: 0 0 1rem;
        }
    }

    .project-stack {
        color: #818182;
        font-size: 16px;
        margin-bottom: 2rem;
        text-align: left;

        @include media(smallPhone, phone) {
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 20px;
        }
    }

    p {
        line-height: 30px;
        margin-bottom: 1rem;
        text-align: left;
    }

    a {
        font-weight: 500;
        margin-bottom: 1rem;
        text-align: left;

        @include media(smallPhone, phone) {
            margin-bottom: 16px;
        }
    }

    li {
        font-size: 18px;
        line-height: 22px;
        list-style: square outside;
        padding-bottom: 1rem;

        &::marker {
            color: #0086b4;
            font-size: 18px;
        }

        @include media(smallPhone, phone) {

            &,
            &::marker {
                font-size: 16px;
            }
        }
    }

}