/******** Writing & Talks *******/
#writing-and-talks {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    @include media(smallPhone, phone) {
        line-height: 19px;
        text-align: center;
        margin-bottom: 5rem;

        #talks-carousel {
            margin-bottom: 5rem;
        }

        .carousel-indicators {
            bottom: unset;
            top: 23rem;
        }
    }

    .subtitle {
        font-size: 52px;
        font-weight: 400;
        line-height: 62.4px;
        text-align: center;

        @include media(smallPhone, phone) {
            font-size: 22px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            margin: 2rem 0;
        }

        @include tablet {
            margin-top: 5rem;
        }
    }

    .img-wrapper {
        img {
            border-radius: 10px;
            width: 80%;
        }
    }

    .image-row {
        margin-bottom: 5rem;
        align-items: center;
        padding-bottom: 7rem;
        border-bottom: 1px solid #2b2b2b;
    }

    .main-image-talks-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        max-height: 70svh;
        /* min-height: 645px; */
    }

    .main-image-talks-1 {
        border-radius: 10px;
        width: 100%;
        margin: 0rem;
        max-width: 400px;

        @include media(smallPhone, phone) {
            border-radius: 10px;
            width: 50%;
            margin: 0rem;
            max-width: 585px;
        }

        @include tablet {
            width: 50%;
            margin-bottom: 5rem;
        }
    }

    .main-image-talks-2 {
        position: absolute;
        border-radius: 10px;
        right: -10%;
        width: 60%;
        max-width: 540px;

        @include media(smallPhone, phone) {
            position: absolute;
            border-radius: 10px;
            right: -10%;
            width: 50%;
        }

        @include tablet {
            width: 50%;
        }
    }

    .main-image-talks-3 {
        position: absolute;
        border-radius: 10px;
        left: 0;

        @include media(smallPhone, phone) {
            position: absolute;
            border-radius: 10px;
            left: 0;
            width: 100%;
        }
    }

    .card {
        align-items: center;
        border: none;
        box-shadow: 0px 4px 21px -5px #6161613c;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
            border-radius: 10px 10px 0 0;
            width: 100%;
        }
    }

    .card-title {
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        text-align: center;
        text-decoration: none;

        @include media(smallPhone, phone) {
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            text-align: center;
        }
    }

    .blog-capsule {
        background: #fdfdfd;
        box-shadow: 0px 4px 21px -5px rgba(97, 97, 97, 0.233752);
        border-radius: 4rem;
        margin-top: 1rem;
        padding: 0.75rem;
        text-align: center;
    }
}