<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    
    
    <meta name="description" content="&lt;center&gt;  # The Anatomy of HTML, CSS, and JS  *Originally published 2019-01-29 on [docs.sweeting.me]">
    
    
    
    <meta property="og:title" content="The Anatomy of HTML, CSS, and JS - HedgeDoc">
    
    
    
    <meta property="og:type" content="website">
    
    <meta property="og:image" content="https://docs.monadical.com/icons/android-chrome-512x512.png">
    <meta property="og:image:alt" content="HedgeDoc logo">
    <meta property="og:image:type" content="image/png">
    
    <base href="">
    <title>The Anatomy of HTML, CSS, and JS - HedgeDoc</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://docs.monadical.com/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://docs.monadical.com/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://docs.monadical.com/icons/favicon-16x16.png">
<link rel="manifest" href="https://docs.monadical.com/icons/site.webmanifest">
<link rel="mask-icon" href="https://docs.monadical.com/icons/safari-pinned-tab.svg" color="#b51f08">
<link rel="shortcut icon" href="https://docs.monadical.com/icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="HedgeDoc - Collaborative markdown notes">
<meta name="application-name" content="HedgeDoc - Collaborative markdown notes">
<meta name="msapplication-TileColor" content="#b51f08">
<meta name="msapplication-config" content="https://docs.monadical.com/icons/browserconfig.xml">
<meta name="theme-color" content="#b51f08">

    <link rel="stylesheet" href='https://docs.monadical.com/build/emojify.js/dist/css/basic/emojify.min.css'>
    <link href="https://docs.monadical.com/build/font-pack.51d576c9ea0a7705d2e0.css" rel="stylesheet"><link href="https://docs.monadical.com/build/2.04010c738e6d668e6e08.css" rel="stylesheet"><link href="https://docs.monadical.com/build/3.b67314821de89ccff48b.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles-pack.6437be263d7329017dfe.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles.8aa1888af7df52aee395.css" rel="stylesheet"><link href="https://docs.monadical.com/build/1.1666d9d869a0532d9bce.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty.0424d40e7df68caf04c5.css" rel="stylesheet">
</head>

<body style="display:none;">
    <div class="ui-infobar container-fluid unselectable hidden-print">
        <small>
            <span>
                
                    <span class="ui-lastchangeuser">&thinsp;<i class="ui-user-icon small" style="background-image: url(https://cdn.libravatar.org/avatar/aa8b1ebe25440bd38748639eebdc6eaf?default=identicon&s=96);" data-toggle="tooltip" data-placement="right" title="nick"></i></span>
                
                &nbsp;<span class="text-uppercase ui-status-lastchange"></span>
                <span class="ui-lastchange text-uppercase" data-createtime="Thu Feb 14 2019 00:02:12 GMT+0000 (Coordinated Universal Time)" data-updatetime="Wed Dec 11 2019 23:18:52 GMT+0000 (Coordinated Universal Time)"></span>
            </span>
            <span class="pull-right">6217 views <a href="https://docs.monadical.com/#" class="ui-edit" title="Edit this note"><i class="fa fa-fw fa-pencil"></i></a></span>
            <br>
            
        </small>
    </div>
    <div id="doc" class="container markdown-body" >&lt;center&gt;

# The Anatomy of HTML, CSS, and JS

*Originally published 2019-01-29 on [docs.sweeting.me](https://docs.sweeting.me/s/blog).*

&lt;/center&gt;

[TOC]

## Anatomy of HTML

![](https://clearlydecoded.com/assets/images/posts/2017-09-04-anatomy-of-html-tag/html-tag-attributes.png)

An HTML document is a tree of HTML **elements** in a hierarchy.  An HTML code file is made up of **tags** with content inside of them, which together describe the layout of the final rendered page the user sees in their browser.
```html
&lt;tag-name attribute-name=&#34;attribute-value1 attribute-value2 ...&#34; ...&gt;
    tag content
    ...
&lt;/tag-name&gt;
...
```

### HTML Elements

&#34;**Element**&#34;&#34; is generally used to decribe one rendered component of a page, for example a picture, a shaded rectangle, or a paragraph of text. A **tag** refers to the code used to generate that element.  The distinction is not super important, but it&#39;s handy to keep in mind that **elements** are things you see in the browser, and **tags** are things you see in your code editor that become the things in the browser when viewed.


### HTML Tags

An HTML **tag** is written in HTML syntax using three parts:

e.g. `&lt;div&gt;...children...&lt;/div&gt;`

1. the **opening tag** = `&lt;div&gt;`
2. the **`...children...`** = can contain more child tags, or text, etc.
3.  the **closing tag** = `&lt;/div&gt;`

*Some examples of tags:*

`&lt;html&gt;...&lt;/html&gt;`, `&lt;body&gt;...&lt;/body&gt;`, `&lt;div&gt;...&lt;/div&gt;`, `&lt;span&gt;...&lt;/span&gt;`

#### Self Closing tags

Some tags are called **self-closing tags**, these tags do not need a closing tag because they don&#39;t have any child content.

*Some examples of self-closing tags:*

``&lt;img src=&#34;example.jpg&#34;/&gt;``, or `&lt;br/&gt;` for linebreak, and `&lt;hr/&gt;` for &#34;horizontal line&#34;, etc.

You can usually distinguish self-closing tags by checking for the `/` at the end, like`&lt;tag-name/&gt;`, though some people don&#39;t follow this convention so it&#39;s not a 100% rule.

---

## Anatomy of CSS

![](https://learnwebcode.com/wp-content/uploads/2010/02/anatomy-of-a-css-rule.gif)

### CSS Rules

CSS consists of **rules**. A CSS **rule** is made up of a **selector** and a list of **styles** aka **properties** to apply to the elements that the selector matches.

```css
tagname {
    property-name: property value;
    ...
}

.class-name {
    ...
}
```

#### CSS Selectors

Examples of some CSS selectors:

 - select all the elements with a certain tag name, e.g. `h1`, `body`, or `div`:
    `h1 { ... }`, `body { ... }`, `div { ... }`
    
 - select all the elements with a certain class name, e.g. `featured-image`:
    `.featured-image { ... }`

The **selector** specifically refers to the `[h1]` part of the rule.  Selectors &#34;select&#34; which elements you want to style, and you can create more complex selectors that use multiple class names and tag names to find specific elements on the page and apply some styles;

e.g. This selector will match all `&lt;small&gt;` elements that are inside of an `h1` tag that has the `header-text` class on it.
```css
h1.header-text small {
    font-size: 14px;
}
```
Which would match the inner `&lt;small&gt;` element here, and the &#34;Some subtext&#34; inside would be displayed with a `14px` font size.
```html
&lt;h1 class=&#34;header-text&#34;&gt;
    Some header text...&lt;br/&gt;
    &lt;small&gt;Some subtext&lt;/small&gt;
&lt;/h1&gt;
```


#### CSS Properties

Once you&#39;ve selected some elements to style, you can apply **properties** that describe which styles you want to change.

E.g. if we wanted to make out entire document use a specific font, we could do:

```css
body {
    font-family: Helvetica sans-serif;
}
```

##### CSS Property Names

In this example `font-family` is the **property name**, and `Helvetica sans-serif` is the **property value**.

Some examples of **property names**:
`font-size`, `width`, `display`, `white-space`, `opacity`, `text-align`

##### CSS Property Values

Some examples of **property values:**:
`20px`, `30vw`, `1.5em`, `10%`, `200`, `&#39;Gill Sans&#39; Helvetica sans-serif`

You&#39;ll notice that these property values can have different **units**.

##### CSS Property Units

Here are some examples of acceptable **CSS units**:

 - `px`: pixels
 - `%`: percentage of parent&#39;s value
 - `vw`: percentage of entire screen&#39;s width (`100vw` = `100%` of screen width)
 - `vh`: percentage of entire screen&#39;s height
 - `cm`: centimeters
 - `in`: inches
 - `em`: scale factor of inherited default font size (`1.1em` = 1.1x default font size, e.g. `1.1em` when the default is `14px` would be `15.4px`)
 - no unit: not all css values need units, e.g. `font-weight` or `opacity` can be `400` or `0.1` respectively


---

## Further Resources

This is a fantastic, in-depth guide to learn the whole process of web development:
https://btholt.github.io/intro-to-web-dev-v2/

---</div>
    <div class="ui-toc dropup unselectable hidden-print" style="display:none;">
        <div class="pull-right dropdown">
            <a id="tocLabel" class="ui-toc-label btn btn-default" data-toggle="dropdown" href="https://docs.monadical.com/#" role="button" aria-haspopup="true" aria-expanded="false" title="Table of content">
                <i class="fa fa-bars"></i>
            </a>
            <ul id="ui-toc" class="ui-toc-dropdown dropdown-menu" aria-labelledby="tocLabel">
            </ul>
        </div>
    </div>
    <div id="ui-toc-affix" class="ui-affix-toc ui-toc-dropdown unselectable hidden-print" data-spy="affix" style="display:none;"></div>
    
</body>

</html>
<script src="https://docs.monadical.com/js/mathjax-config-extra.js"></script>
<script src="https://docs.monadical.com/build/MathJax/MathJax.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/TeX-AMS-MML_HTMLorMML.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/Safe.js" defer></script>
<script src="https://docs.monadical.com/config"></script><script src="https://docs.monadical.com/build/vendors~common.deda981c1c31221a91d9.js" defer="defer"></script><script src="https://docs.monadical.com/build/common.6da413651c225dd97e7a.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~cover~cover-pack~index~index-pack~pretty~pretty-pack~slide~slide-pack.897edf415109c21e7fb2.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~index~index-pack~pretty~pretty-pack~slide~slide-pack.624da9bb49753eaa85e1.js" defer="defer"></script><script src="https://docs.monadical.com/build/pretty-pack.f314462a1d0ebb3b5365.js" defer="defer"></script>


