<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    
    
    <meta name="description" content="# We&#39;re Building A Company, Not An ICO  In college, my primary source of income came from betting on">
    
    
    
    <meta property="og:title" content="We&#39;re Building A Company, Not An ICO - HedgeDoc">
    
    
    
    <meta property="og:type" content="website">
    
    <meta property="og:image" content="https://docs.monadical.com/icons/android-chrome-512x512.png">
    <meta property="og:image:alt" content="HedgeDoc logo">
    <meta property="og:image:type" content="image/png">
    
    <base href="">
    <title>We&#39;re Building A Company, Not An ICO - HedgeDoc</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://docs.monadical.com/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://docs.monadical.com/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://docs.monadical.com/icons/favicon-16x16.png">
<link rel="manifest" href="https://docs.monadical.com/icons/site.webmanifest">
<link rel="mask-icon" href="https://docs.monadical.com/icons/safari-pinned-tab.svg" color="#b51f08">
<link rel="shortcut icon" href="https://docs.monadical.com/icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="HedgeDoc - Ideas grow better together">
<meta name="application-name" content="HedgeDoc - Ideas grow better together">
<meta name="msapplication-TileColor" content="#b51f08">
<meta name="msapplication-config" content="https://docs.monadical.com/icons/browserconfig.xml">
<meta name="theme-color" content="#b51f08">

    <link rel="stylesheet" href='https://docs.monadical.com/build/emojify.js/dist/css/basic/emojify.min.css'>
    <link href="https://docs.monadical.com/build/font-pack.6f3ecd0bf31c428a95f7.css" rel="stylesheet"><link href="https://docs.monadical.com/build/2.011fed84e8b0e1b602b9.css" rel="stylesheet"><link href="https://docs.monadical.com/build/3.b73adae1f3405136330d.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles-pack.67a0a5daa4bc987211b4.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles.0d5fbbf27dee52197955.css" rel="stylesheet"><link href="https://docs.monadical.com/build/1.c696cbbf0654f912e3b9.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty.03c68f0397eb54366b06.css" rel="stylesheet">
</head>

<body style="display:none;">
    <div class="ui-infobar container-fluid unselectable hidden-print">
        <small>
            <span>
                
                    <span class="ui-lastchangeuser">&thinsp;<i class="ui-user-icon small" style="background-image: url(https://cdn.libravatar.org/avatar/4c332eed1fc511c1d8f54c0656135ce7?default=identicon&s=96);" data-toggle="tooltip" data-placement="right" title="jfeng5"></i></span>
                
                &nbsp;<span class="text-uppercase ui-status-lastchange"></span>
                <span class="ui-lastchange text-uppercase" data-createtime="Tue Jun 19 2018 07:10:56 GMT+0000 (Coordinated Universal Time)" data-updatetime="Thu Jun 21 2018 01:47:14 GMT+0000 (Coordinated Universal Time)"></span>
            </span>
            <span class="pull-right">1342 views <a href="https://docs.monadical.com/#" class="ui-edit" title="Edit this note"><i class="fa fa-fw fa-pencil"></i></a></span>
            <br>
            
            <span class="ui-owner">
                &thinsp;<i class="ui-user-icon small" style="background-image: url(https://cdn.libravatar.org/avatar/aa8b1ebe25440bd38748639eebdc6eaf?default=identicon&s=96);" data-toggle="tooltip" data-placement="right" title="nick"></i>
                &nbsp;<span class="text-uppercase">owned this note</span>
            </span>
            
        </small>
    </div>
    <div id="doc" class="container markdown-body" ># We&#39;re Building A Company, Not An ICO

In college, my primary source of income came from betting on sports online. Winnings withdrawals from offshore sportsbooks were initially made via checks sent by mail, an inefficient process that often took several weeks to complete. I came across Bitcoin in my dorm room one night in 2015 in an attempt to find a better money management solution, but soon became fascinated by its potential beyond its utility as a currency.

To me, blockchain tech promises a future that is more secure, efficient, accountable, and fair. When I put a good portion of my gambling profits into various crypto assets, it wasn&#39;t just because I thought it could be a high upside investment. I truly believed (and still strongly do) that blockchain technology had the potential to change the world for the better.

But many of the attributes that made the crypto world so unique and special became the roots of its largest problems. This was most evident in the rise of Initial Coin Offerings (ICOs). They were amazingly revolutionary funding models that allowed projects to succeed not on the backs of traditional venture capitalism models and/or deep-pocketed founders, but simply on investor trust on the principles and potentials of projects themselves.

Unfortunately, like with most wonderful things, the model was almost immediately abused by [scam artists and selfish opportunists wanting to capitalize on the greed of ignorant investors](https://cointelegraph.com/news/unpacking-the-5-biggest-cryptocurrency-scams). Many young projects in the space that genuinely may have began as legitimate ventures were damaged by the ridiculous inflow of purely speculative capital, the vast majority of which was wholly undeserving. As the famous American philosopher The Notorious B.I.G. once said: [&#34;Mo&#39; money, mo&#39; problems.&#34;](https://www.youtube.com/watch?v=gUhRKVIjJtw) It got to the point where many people weren&#39;t even looking to build companies or products; they were just looking to build ICOs.

The CEO of blockchain startup Balance, Richard Burton, [said it best](https://medium.com/blockchannel/the-crypto-startup-with-no-ico-f04a0e5d13fc):
&gt; There are two kinds of people flooding into this space: Creators and extractors. The creators are the engineers, designers, cryptographers, academics, marketers and operations people. They want to help build the open financial system. I love all of them. The extractors are the scammers, skimmers, liars, idiots, and greedy people. They want to enrich themselves and steal money from others.

At [OddSlingers](https://labs.oddslingers.com/), we&#39;re creators. We&#39;re building the first platform in the online poker space to introduce fast, secure, live-streamed games with real-time side-betting in the browser. We’re not just putting poker on the blockchain, we’re revolutionizing the game itself by focusing on beginner player satisfaction and spectator participation and enjoyment. Everything we do reflects our values and principles, in terms of our team, our processes, our product&#39;s purpose, and how our company is funded. That&#39;s why:

* we bootstrapped and built a [working online poker platform in open beta](https://oddslingers.com/tables/) before even looking for equity funding
* [much of our stack is open-sourced](https://github.com/Monadical-SAS) and we have plans to release a lot more of our infrastructure to benefit from peer review and ideas from the community
* we&#39;re fully committed to doing everything above-board (only allowing betting on games of skill, already pursuing an [Isle of Man incorporation and gambling license](https://www.gov.im/categories/business-and-industries/gambling-and-e-gaming/))

This doesn&#39;t mean that all token sales are illegitimate or that we&#39;ve completely dismissed the possibility of launching an OddSlingers token sale in the future; in fact, we&#39;ve detailed in [our whitepaper](https://oddslingers.com/whitepaper/) our plan to eventually issue and integrate tokens into our platform. Our team simply subscribes to the [same thinking as Jez San Obe, the Founder and CEO of Funfair](https://www.coindesk.com/ethereum-icos-youre-wrong/) and believes that it&#39;s important to have a product and well-run company before launching a token sale. After all, our ultimate goal isn&#39;t to offer a successful ICO; it&#39;s to build a company and a blockchain-powered betting platform, the right way.</div>
    <div class="ui-toc dropup unselectable hidden-print" style="display:none;">
        <div class="pull-right dropdown">
            <a id="tocLabel" class="ui-toc-label btn btn-default" data-toggle="dropdown" href="https://docs.monadical.com/#" role="button" aria-haspopup="true" aria-expanded="false" title="Table of content">
                <i class="fa fa-bars"></i>
            </a>
            <ul id="ui-toc" class="ui-toc-dropdown dropdown-menu" aria-labelledby="tocLabel">
            </ul>
        </div>
    </div>
    <div id="ui-toc-affix" class="ui-affix-toc ui-toc-dropdown unselectable hidden-print" data-spy="affix" style="display:none;"></div>
    
</body>

</html>
<script src="https://docs.monadical.com/js/mathjax-config-extra.js"></script>
<script src="https://docs.monadical.com/build/MathJax/MathJax.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/TeX-AMS-MML_HTMLorMML.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/Safe.js" defer></script>
<script src="https://docs.monadical.com/config"></script><script src="https://docs.monadical.com/build/vendors~common.b63e803341293656b32e.js" defer="defer"></script><script src="https://docs.monadical.com/build/common.dc359ffa1d303e78db47.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~cover~cover-pack~index~index-pack~pretty~pretty-pack~slide~slide-pack.d107ac6ccdc2f7684946.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~index~index-pack~pretty~pretty-pack~slide~slide-pack.a2fac85c338ccd8282ca.js" defer="defer"></script><script src="https://docs.monadical.com/build/pretty-pack.8a4f868f9e7676405f31.js" defer="defer"></script>


