<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    
    
    <meta name="description" content="&lt;center&gt;      # How COVID-19 will affect outsourcing trends      *Written by Luka Knezic.  Originall">
    
    
    
    <meta property="og:title" content="How COVID-19 will affect outsourcing trends - HedgeDoc">
    
    
    
    <meta property="og:type" content="website">
    
    <meta property="og:image" content="https://docs.monadical.com/icons/android-chrome-512x512.png">
    <meta property="og:image:alt" content="HedgeDoc logo">
    <meta property="og:image:type" content="image/png">
    
    <base href="">
    <title>How COVID-19 will affect outsourcing trends - HedgeDoc</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://docs.monadical.com/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://docs.monadical.com/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://docs.monadical.com/icons/favicon-16x16.png">
<link rel="manifest" href="https://docs.monadical.com/icons/site.webmanifest">
<link rel="mask-icon" href="https://docs.monadical.com/icons/safari-pinned-tab.svg" color="#b51f08">
<link rel="shortcut icon" href="https://docs.monadical.com/icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="HedgeDoc - Collaborative markdown notes">
<meta name="application-name" content="HedgeDoc - Collaborative markdown notes">
<meta name="msapplication-TileColor" content="#b51f08">
<meta name="msapplication-config" content="https://docs.monadical.com/icons/browserconfig.xml">
<meta name="theme-color" content="#b51f08">

    <link rel="stylesheet" href='https://docs.monadical.com/build/emojify.js/dist/css/basic/emojify.min.css'>
    <link href="https://docs.monadical.com/build/font-pack.51d576c9ea0a7705d2e0.css" rel="stylesheet"><link href="https://docs.monadical.com/build/2.04010c738e6d668e6e08.css" rel="stylesheet"><link href="https://docs.monadical.com/build/3.b67314821de89ccff48b.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles-pack.6437be263d7329017dfe.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles.8aa1888af7df52aee395.css" rel="stylesheet"><link href="https://docs.monadical.com/build/1.1666d9d869a0532d9bce.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty.0424d40e7df68caf04c5.css" rel="stylesheet">
</head>

<body style="display:none;">
    <div class="ui-infobar container-fluid unselectable hidden-print">
        <small>
            <span>
                
                    <span class="ui-lastchangeuser">&thinsp;<i class="ui-user-icon small" style="background-image: url(https://cdn.libravatar.org/avatar/631905653495f361dd947f36c21f56fb?s=96);" data-toggle="tooltip" data-placement="right" title="maiya"></i></span>
                
                &nbsp;<span class="text-uppercase ui-status-lastchange"></span>
                <span class="ui-lastchange text-uppercase" data-createtime="Fri Oct 02 2020 20:53:06 GMT+0000 (Coordinated Universal Time)" data-updatetime="Thu Oct 08 2020 18:20:58 GMT+0000 (Coordinated Universal Time)"></span>
            </span>
            <span class="pull-right">435 views <a href="https://docs.monadical.com/#" class="ui-edit" title="Edit this note"><i class="fa fa-fw fa-pencil"></i></a></span>
            <br>
            
        </small>
    </div>
    <div id="doc" class="container markdown-body" >&lt;center&gt;
    
# How COVID-19 will affect outsourcing trends
    
*Written by Luka Knezic.
 Originally published 2020-10-08 on the [Monadical blog](https://monadical.com/blog.html).*

&lt;/center&gt;

I’ve been working remotely since 2017. While nothing can beat in-person interactions for me (I’m a social person), I genuinely enjoy working remotely and have found that it has many advantages. I’ve since taught several people how to work remotely, implemented remote work in other companies, and held remote work workshops organized by the Croatian Chamber of Commerce. While working with a completely [remote team at Monadical](https://monadical.com/posts/how-to-make-remote-work-part-one.html), I decided to research **how adapting to remote work is affecting companies’ decisions on whether to hire software developers in-house or outsource software development**. 

I believe that sooner than later, it won’t matter where a team is. We&#39;ll just hire from all around the world. Without being constrained geographically by commute time, we&#39;ll all become location independent. And given the overlap of perceived disadvantages between outsourcing and remote work, we&#39;re all becoming more open to outsourcing.


![remote work at cafe](https://docs.monadical.com/uploads/upload_2b418906f6dd72f55271d721423ef0fa.jpg)



## How COVID-19 has affected remote work

COVID-19 has created huge changes across different industries. Interest in working from home spiked at the start of the worldwide outbreak, and it’s still double what it was before. 


![interest in remote work search data](https://docs.monadical.com/uploads/upload_0f2988e41cbda7be168d7c3a860e5e8c.png)
*Interest in remote working and related search terms in Google from January-September 2020 worldwide. Source:* https://trends.google.com/trends/explore?date=2020-01-01%202020-08-25&amp;q=remote%20working,work%20from%20home,best%20webcam,best%20monitor,standing%20desk 

According to the research and advisory company Gartner, at the beginning of the outbreak, 74% of companies planned to permanently shift to more remote work post-COVID-19. 
 
![remote work study](https://docs.monadical.com/uploads/upload_61dcc2fcfac037111376151dfc9bc0c8.png)
*Source: https://www.gartner.com/en/documents/3982949/covid-19-bulletin-executive-pulse-3-april-2020* 

There’s also a very high percentage of people who have moved their meetings to video calls. Given the convenience and decreased expense associated with online meetings, this change may also have some longevity.

![video calls survey](https://docs.monadical.com/uploads/upload_6c304ae071915fcc899408494187b9ef.png)
*Source: https://www.microsoft.com/en-us/microsoft-365/blog/2020/04/09/remote-work-trend-report-meetings/* 

Adapting to working remotely has led to a change in our perception of work as something that has to be done in the office, from 9-5. Even the most traditional, inflexible workplaces have had to adjust. And there are lots of surveys that suggest that people would rather continue to work remotely than go back to the office, even after this situation ends. [Major companies](https://www.flexjobs.com/blog/post/companies-switching-remote-work-long-term/) like Amazon, Facebook, and Aetna have transitioned to remote work for the medium to long-term future.

## How working remotely is removing obstacles to outsourcing

So how does the fact that more companies are working remotely help to change perceptions  around outsourcing?

[This article](https://www.sciencedirect.com/science/article/pii/S1877050917323372) presents the results of a study conducted among large Portuguese companies on the motivations and risks perceived by Chief Information Officers (CIOs) concerning outsourcing. Here are what they considered to be the main threats and risk factors. 

![risk factors of outsourcing](https://docs.monadical.com/uploads/upload_8b27fd2e679f60c9d64ce4eac7d07227.png)
*Source: https://www.sciencedirect.com/science/article/pii/S1877050917323372*

Notice that the concerns here are the same as those that usually arise when organizing remote work. This shouldn’t be too surprising: the setup that you need to work effectively with an outsourced team is pretty similar to the one you need to work effectively with a remote team. As many companies are now being forced to implement remote work, they are developing new skills and systems for management, knowledge sharing, and communication. Thanks to these changes, I believe that in the future business owners will become more and more comfortable with outsourcing.

### Management capability 

Working remotely means having to get used to not being in constant control of all the small details. Your team needs to work independently and asynchronously. When outsourcing, it’s a similar story -- you’re hiring an external team to finish a task that’s not within your expertise and, though they are not in your office, you need to trust them to temporarily become part of your team.


### Organizational knowledge and company cultures

One of the most important ways to keep your organization productive when working remotely is to create an effective way to communicate and to manage knowledge. The same is true of outsourcing. If you treat your outsourced team as your external team, this is not hugely different from having employees who work remotely. You can onboard an outsourced team the same way you onboard your new employees. 

Companies who embrace remote work often make their internal documents public and easily accessible for everyone. This way everyone, whether they are a new employee or a member of an outsourced team, can understand the company culture and how best to communicate and collaborate. Good examples of this are Hotjar and Monadical. Hotjar is a 100+ person company that has created a [Team Manual](https://hotjar.atlassian.net/wiki/spaces/REC/pages/269942983/Team+Manual+Public) where you can read about their vision, core values, what it&#39;s like to work there, and how they work as a remote team. At Monadical, we have a set of [Company Principles](https://monadical.com/principles.html) that we use as a guideline for how to create a better work environment:

1. Transparency, because we believe in the free flow of information.
2. Feedback, because people are happier and more productive when they feel free to give each other feedback and welcome it in return.
3. Trust and verification, because there should be complete, but not blind, trust for the organization to function well.
4. Be nice, because it makes our experience of work much better.
5. Professionalism, because we want to be the best at what we do.

If you are struggling to organize communication and knowledge management, tools like that improve the flow of information can help. Monadical’s co-founder, Max, has written about [how Zulip improves teamwork, knowledge management, and communication](https://monadical.com/posts/how-to-make-remote-work-part-two-zulip.html) for companies who work remotely.



## What are the shared advantages of outsourcing and working remotely?

An increase in remote work and outsourcing also brings with it lots of advantages. Every year Deloitte issues a [Global Outsourcing Survey](https://www2.deloitte.com/content/dam/Deloitte/us/Documents/process-and-operations/us-cons-global-outsourcing-survey.pdf) where they survey hundreds of leaders from organizations of all sizes and sectors, and with operational footprints in the Americas, Europe, and Asia about the parts of their business they outsource. Other studies like [this one](https://www.sciencedirect.com/science/article/pii/S1877050917323372) or [this one](https://www.researchgate.net/publication/279482211_Outsourcing_Best_Practices) provide similar information. 

![motivations to outsource](https://docs.monadical.com/uploads/upload_aa7e952699948f290c5568437afcc988.png)
*Source: https://www2.deloitte.com/content/dam/Deloitte/us/Documents/process-and-operations/us-cons-sdt-gos-exec-summary-2016.pdf*

![main outsourcing drivers](https://docs.monadical.com/uploads/upload_1302d4990bd934ae225c9e1803321678.png)
*Source: https://www.sciencedirect.com/science/article/pii/S1877050917323372* 


Based on publications like these, the most common reasons for choosing to outsource work are access to talent and know-how, cost reductions and control, and the ability to focus on core business. 

Remote work and outsourcing give you the advantages of: 
* increased work quality from hiring more skilled employees,
* reduced expenses,
* increased productivity from spending less time on unnecessary tasks like in-person meetings or daily commutes.


### Increased quality of work

Working remotely or outsourcing gives you access to an unsaturated [talent pool](https://remotive.io/remote-companies) from all over the world. For example, you can find talented software developers who live in countries without large companies to compete for them. 


![big companies looking or remote employees](https://docs.monadical.com/uploads/upload_a043c86302f2e67c35d3a20e1c0e2cab.png)
*Companies with 5000+ employees looking for remote employees. Source: https://remotive.io/remote-companies?sort=size-desc#company-filters* 


### Reduced expenses and risk
With outsourcing and remote work, not only can you save large amounts of money on office expenses, but you could also find the best person for the job. Your new remote employees / outsourced team will cost less because they won’t have to live in an expensive city or neighborhood. If you’re outsourcing, you can control your costs easily and can add or remove team members more quickly.

The data gathered from **nearly 3,000 employees** who responded to the [Global Work-from-Home Experience Survey](https://globalworkplaceanalytics.com/global-work-from-home-experience-survey) between March 30th and April 24th, 2020 revealed that, **by moving to a remote work model, a typical employer can save an average of $11k per half-time employee per year** from increased productivity and reduced turnover, sick days, and office costs. 

### Increased productivity

Remote work is not a threat to productivity. Participants in the [Global Work-from-Home Experience Survey](https://globalworkplaceanalytics.com/global-work-from-home-experience-survey) reported that, when working alone, they are productive 75% of the time at home, compared to only 62% of the time at the office. (They reported being equally productivite, whether at home or in the office, when it comes to collaborative work.) Employees also claimed that they gain an average of 35 minutes a day when they work from home due to fewer unwanted interruptions.  

Remote work favours efficiency since it allows you to place less emphasis on time in the office and more emphasis on output. Employees can focus better on the task at hand when they are worrying less about their family obligations or about someone tracking how many hours they are working. Outsourcing has the additional benefit of allowing you to focus on your core business without sacrificing the quality of your output.


![prodictivity study](https://docs.monadical.com/uploads/upload_26acb25783b1130b4619ef9207b100a8.png)
*In a recent Deloitte survey, a large share of Swiss workers claimed that they are equally or more productive when working from home at least half a day per week. Source: https://www2.deloitte.com/ch/en/pages/human-capital/articles/how-covid-19-contributes-to-a-long-term-boost-in-remote-working.html* 


## Conclusion
COVID-19 has already dramatically changed the way that we approach work. In the next few years, we are going to see more and more people acquiring the infrastructure, skills, and habits needed for effective remote work and outsourcing. The companies that get this right will have an inherent advantage in our post-pandemic business landscape.


---

&lt;center&gt;
 
&lt;img src=&#34;https://monadical.com/static/logo-black.png&#34; style=&#34;height: 80px&#34;/&gt;&lt;br/&gt;
    
Monadical.com | Full-Stack Consultancy
*We build software that outlasts us*
    
&lt;/center&gt;



</div>
    <div class="ui-toc dropup unselectable hidden-print" style="display:none;">
        <div class="pull-right dropdown">
            <a id="tocLabel" class="ui-toc-label btn btn-default" data-toggle="dropdown" href="https://docs.monadical.com/#" role="button" aria-haspopup="true" aria-expanded="false" title="Table of content">
                <i class="fa fa-bars"></i>
            </a>
            <ul id="ui-toc" class="ui-toc-dropdown dropdown-menu" aria-labelledby="tocLabel">
            </ul>
        </div>
    </div>
    <div id="ui-toc-affix" class="ui-affix-toc ui-toc-dropdown unselectable hidden-print" data-spy="affix" style="display:none;"></div>
    
</body>

</html>
<script src="https://docs.monadical.com/js/mathjax-config-extra.js"></script>
<script src="https://docs.monadical.com/build/MathJax/MathJax.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/TeX-AMS-MML_HTMLorMML.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/Safe.js" defer></script>
<script src="https://docs.monadical.com/config"></script><script src="https://docs.monadical.com/build/vendors~common.5e1034cb4e0fcfb8b567.js" defer="defer"></script><script src="https://docs.monadical.com/build/common.1c773fb6375f6e4c11cf.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~cover~cover-pack~index~index-pack~pretty~pretty-pack~slide~slide-pack.3d360016c6ae606e8f1f.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~index~index-pack~pretty~pretty-pack~slide~slide-pack.2209cda3054f9512951d.js" defer="defer"></script><script src="https://docs.monadical.com/build/pretty-pack.866aaf89d1295ab8be7f.js" defer="defer"></script>


