<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    
    
    <meta name="description" content="&lt;center&gt;  Five Django Packages We Love at Monadical ===   *Written by Karim. Originally published 20">
    
    
    
    <meta property="og:title" content="Five Django Packages We Love at Monadical - HedgeDoc">
    
    
    
    <meta property="og:type" content="website">
    
    <meta property="og:image" content="https://docs.monadical.com/icons/android-chrome-512x512.png">
    <meta property="og:image:alt" content="HedgeDoc logo">
    <meta property="og:image:type" content="image/png">
    
    <base href="">
    <title>Five Django Packages We Love at Monadical - HedgeDoc</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://docs.monadical.com/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://docs.monadical.com/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://docs.monadical.com/icons/favicon-16x16.png">
<link rel="manifest" href="https://docs.monadical.com/icons/site.webmanifest">
<link rel="mask-icon" href="https://docs.monadical.com/icons/safari-pinned-tab.svg" color="#b51f08">
<link rel="shortcut icon" href="https://docs.monadical.com/icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="HedgeDoc - Ideas grow better together">
<meta name="application-name" content="HedgeDoc - Ideas grow better together">
<meta name="msapplication-TileColor" content="#b51f08">
<meta name="msapplication-config" content="https://docs.monadical.com/icons/browserconfig.xml">
<meta name="theme-color" content="#b51f08">

    <link rel="stylesheet" href='https://docs.monadical.com/build/emojify.js/dist/css/basic/emojify.min.css'>
    <link href="https://docs.monadical.com/build/font-pack.4362583c9249021b5028.css" rel="stylesheet"><link href="https://docs.monadical.com/build/2.15c517ea2148f55c8206.css" rel="stylesheet"><link href="https://docs.monadical.com/build/3.ec6e7d6280fcd73e729d.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles-pack.2fb0d01138de2df6de0a.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles.8aa1888af7df52aee395.css" rel="stylesheet"><link href="https://docs.monadical.com/build/1.1666d9d869a0532d9bce.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty.0424d40e7df68caf04c5.css" rel="stylesheet">
</head>

<body style="display:none;">
    <div class="ui-infobar container-fluid unselectable hidden-print">
        <small>
            <span>
                
                    <span class="ui-lastchangeuser">&thinsp;<i class="ui-user-icon small" style="background-image: url(https://cdn.libravatar.org/avatar/631905653495f361dd947f36c21f56fb?default=identicon&s=96);" data-toggle="tooltip" data-placement="right" title="maiya"></i></span>
                
                &nbsp;<span class="text-uppercase ui-status-lastchange"></span>
                <span class="ui-lastchange text-uppercase" data-createtime="Tue Feb 23 2021 18:37:40 GMT+0000 (Coordinated Universal Time)" data-updatetime="Tue Feb 23 2021 18:44:52 GMT+0000 (Coordinated Universal Time)"></span>
            </span>
            <span class="pull-right">6204 views <a href="https://docs.monadical.com/#" class="ui-edit" title="Edit this note"><i class="fa fa-fw fa-pencil"></i></a></span>
            <br>
            
        </small>
    </div>
    <div id="doc" class="container markdown-body" >&lt;center&gt;

Five Django Packages We Love at Monadical
===


*Written by Karim. Originally published 2021-03-02 on the [Monadical blog](https://monadical.com/blog.html).*

&lt;/center&gt;




One of the biggest draws to Django is its ecosystem. If you encounter a problem, the chances are that someone else in the community has too, and has been kind enough to abstract it into a package and release it. Here are five packages we find ourselves coming back to. 
 

## 1 [django-polymorphic](https://github.com/django-polymorphic/django-polymorphic)

In object-oriented programming, we use the term ‘polymorphism’ to refer to objects that share an interface but not an implementation. A common pedagogical example is modeling animals in object oriented code: a dog and a cat can both make a sound--which can be invoked by the same function--but the sound is different. A more practical example is items in an e-commerce store: items in the store share some characteristics, but differ in many others. There is an [excellent article on Real Python](https://realpython.com/modeling-polymorphism-django-python) that goes through some approaches to modeling polymorphism. 

Where does django-polymorphic fit in? It makes modeling concrete, multi-table inheritance easy. If I define the following models to abstract a `Project`:

```python
from polymorphic.models import PolymorphicModel

class Project(PolymorphicModel):
    topic = models.CharField(max_length=30)

class ArtProject(Project):
    artist = models.CharField(max_length=30)

class ResearchProject(Project):
    supervisor = models.CharField(max_length=30)

``` 
Then we create some projects:

```python
&gt;&gt;&gt; Project.objects.create(topic=&#34;Department Party&#34;)
&gt;&gt;&gt; ArtProject.objects.create(topic=&#34;Painting with Tim&#34;, artist=&#34;T. Turner&#34;)
&gt;&gt;&gt; ResearchProject.objects.create(topic=&#34;Swallow Aerodynamics&#34;, supervisor=&#34;Dr. Winter&#34;)
```
If we query `Projects`, we get polymorphic results: 
```python
&gt;&gt;&gt; Project.objects.all()
[ &lt;Project:         id 1, topic &#34;Department Party&#34;&gt;,
  &lt;ArtProject:      id 2, topic &#34;Painting with Tim&#34;, artist &#34;T. Turner&#34;&gt;,
  &lt;ResearchProject: id 3, topic &#34;Swallow Aerodynamics&#34;, supervisor &#34;Dr. Winter&#34;&gt; ]

``` 
## 2 [django-allauth](https://www.intenct.nl/projects/django-allauth/)
django-allauth provides a set of modular, well-integrated apps that allow you to have any of the common signup and login flows, whether local or social. It shines when it comes to supporting both local and social login flows simultaneously, and it just works™.

## 3 [Django Lifecycle Hooks](https://rsinger86.github.io/django-lifecycle/)
This is my new personal favorite. It&#39;s still in beta so I&#39;m not as eager to recommend it for use in production, but I think it has the potential to increase readability and maintenance of [fat models](https://django-best-practices.readthedocs.io/en/latest/applications.html). It can replace both [Signals](https://docs.djangoproject.com/en/dev/ref/signals/) and `__init__` &amp; `save` hooks.

For example, if you are used to doing the following with model hooks:

```python
class Article(LifecycleModel):
	contents = models.TextField()
	updated_at = models.DateTimeField(null=True)
	status = models.ChoiceField(choices=[&#39;draft&#39;, &#39;published&#39;])
	editor = models.ForeignKey(AuthUser)

	def __init__(self, *args, **kwargs):
    	super().__init__(*args, **kwargs)
    	self._orig_contents = self.contents
    	self._orig_status = self.status


	def save(self, *args, **kwargs):
    	if self.pk is not None and self.contents != self._orig_contents):
        	self.updated_at = timezone.now()

    	super().save(*args, **kwargs)

    	if self.status != self._orig_status:
        	send_email(self.editor.email, &#34;An article has published!&#34;)

```
You can now do this:
```python
from django_lifecycle import LifecycleModel, hook, BEFORE_UPDATE, AFTER_UPDATE


class Article(LifecycleModel):
	contents = models.TextField()
	updated_at = models.DateTimeField(null=True)
	status = models.ChoiceField(choices=[&#39;draft&#39;, &#39;published&#39;])
	editor = models.ForeignKey(AuthUser)

	@hook(BEFORE_UPDATE, when=&#39;contents&#39;, has_changed=True)
	def on_content_change(self):
    	self.updated_at = timezone.now()

	@hook(AFTER_UPDATE, when=&#34;status&#34;, was=&#34;draft&#34;, is_now=&#34;published&#34;)
	def on_publish(self):
    	send_email(self.editor.email, &#34;An article has published!&#34;)
```
The hooks can also reference changes to fields of a related (e.g: foreign key-ed) object. Again, it&#39;s important to note that this package is in beta and thus benchmarking and viewing raw SQL is important.

## 4 [Django Extensions](https://github.com/django-extensions/django-extensions)
Django Extensions is one of the oldest Django packages that I know of, dating back to at least 2008. It deserves an article of its own, but here are a few of the features I use:

### shell_plus
`./manage.py shell_plus` will launch a Django shell with all the models of all your apps imported and ready to use. I like to combine it with IPython for a better autocompletion experience.
### RunScript
Sometimes you want to run a script in your Django application. Typically when you are writing your script, you will use the Django shell to drive your development, then wrap the functionality in a Django command. However, with this command, you can run the script directly by wrapping it in a simple function. For example, if you wanted to write a script to delete all Question objects in your database, it would be as simple as:

```python
# scripts/delete_all_questions.py

from polls.models import Question

def run():
	# Fetch all questions
	questions = Question.objects.all()
	# Delete questions
	questions.delete()

```
Then to run the script, you would:

```
./manage.py manage.py runscript  delete_all_questions
```
### syncdata
syncdata will reset your database such that it only contains the fixtures you specified, exactly as you specified them in the fixtures file.

### graph_models
This command will graph the models of your applications, allowing you to see the underlying [relations](https://en.wikipedia.org/wiki/Relation_(database)), similar to an [entity-relationship diagram](https://en.wikipedia.org/wiki/Entity%E2%80%93relationship_model).

![entity-relationship diagram](https://docs.monadical.com/uploads/upload_77f772290b99de48fe5d20418345ec5c.png)


## 5 [Cookiecutter Django](https://github.com/pydanny/cookiecutter-django)

If you have set up a Django project before, you will know that `django-admin startproject mysite` is not sufficient for any of the bells and whistles needed for modern web app development, such as environment variables for configuration, Postgres integration out of the box, docker(-compose) setup, etc. Django Cookiecutter takes care of that for you. I recommend using it *after* you have familiarized yourself with each component that you plan on utilizing separately. Otherwise, the amount of magic and decisions made for you will hinder your ability to debug your application in the future. Finally, it can also lead to a lot of dead code in your codebase if you don’t know what’s used for what, so be careful!

---

&lt;center&gt;
 
&lt;img src=&#34;https://monadical.com/static/logo-black.png&#34; style=&#34;height: 80px&#34;/&gt;&lt;br/&gt;
    
Monadical.com | Full-Stack Consultancy
*We build software that outlasts us*
    
&lt;/center&gt;
</div>
    <div class="ui-toc dropup unselectable hidden-print" style="display:none;">
        <div class="pull-right dropdown">
            <a id="tocLabel" class="ui-toc-label btn btn-default" data-toggle="dropdown" href="https://docs.monadical.com/#" role="button" aria-haspopup="true" aria-expanded="false" title="Table of content">
                <i class="fa fa-bars"></i>
            </a>
            <ul id="ui-toc" class="ui-toc-dropdown dropdown-menu" aria-labelledby="tocLabel">
            </ul>
        </div>
    </div>
    <div id="ui-toc-affix" class="ui-affix-toc ui-toc-dropdown unselectable hidden-print" data-spy="affix" style="display:none;"></div>
    
</body>

</html>
<script src="https://docs.monadical.com/js/mathjax-config-extra.js"></script>
<script src="https://docs.monadical.com/build/MathJax/MathJax.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/TeX-AMS-MML_HTMLorMML.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/Safe.js" defer></script>
<script src="https://docs.monadical.com/config"></script><script src="https://docs.monadical.com/build/vendors~common.0252483117be96f00e28.js" defer="defer"></script><script src="https://docs.monadical.com/build/common.0c0667a7b004f0fcfd13.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~cover~cover-pack~index~index-pack~pretty~pretty-pack~slide~slide-pack.89ccd89a09f629d94d5c.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~index~index-pack~pretty~pretty-pack~slide~slide-pack.ab8ca16a9a0e12c92d31.js" defer="defer"></script><script src="https://docs.monadical.com/build/pretty-pack.c2685453bcc85995cfc9.js" defer="defer"></script>


