<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    
    
    <meta name="description" content="&lt;center&gt;  # The Full-Stack Developer Checklist  *Originally published 2017-08-25 on [reddit.com/r/cs">
    
    
    
    <meta property="og:title" content="The Full-Stack Developer Checklist - HedgeDoc">
    
    
    
    <meta property="og:type" content="website">
    
    <meta property="og:image" content="https://docs.monadical.com/icons/android-chrome-512x512.png">
    <meta property="og:image:alt" content="HedgeDoc logo">
    <meta property="og:image:type" content="image/png">
    
    <base href="">
    <title>The Full-Stack Developer Checklist - HedgeDoc</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://docs.monadical.com/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://docs.monadical.com/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://docs.monadical.com/icons/favicon-16x16.png">
<link rel="manifest" href="https://docs.monadical.com/icons/site.webmanifest">
<link rel="mask-icon" href="https://docs.monadical.com/icons/safari-pinned-tab.svg" color="#b51f08">
<link rel="shortcut icon" href="https://docs.monadical.com/icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="HedgeDoc - Collaborative markdown notes">
<meta name="application-name" content="HedgeDoc - Collaborative markdown notes">
<meta name="msapplication-TileColor" content="#b51f08">
<meta name="msapplication-config" content="https://docs.monadical.com/icons/browserconfig.xml">
<meta name="theme-color" content="#b51f08">

  
    <link rel="stylesheet" href='https://docs.monadical.com/build/emojify.js/dist/css/basic/emojify.min.css'>
    <link href="https://docs.monadical.com/build/font-pack.7f8ad7b6ec95ff6949ef.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles-pack.9cd53fdbe4b55450ea52.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles.b12df11e62a64cd84713.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty.a7a24105e8c52b832ac0.css" rel="stylesheet">
  
</head>

<body style="display:none;">
    <div class="ui-infobar container-fluid unselectable hidden-print">
        <small>
            <span>
                
                    <span class="ui-lastchangeuser">&thinsp;<i class="ui-user-icon small" style="background-image: url(https://cdn.libravatar.org/avatar/aa8b1ebe25440bd38748639eebdc6eaf?s=96);" data-toggle="tooltip" data-placement="right" title="nick"></i></span>
                
                &nbsp;<span class="text-uppercase ui-status-lastchange"></span>
                <span class="ui-lastchange text-uppercase" data-createtime="Wed Feb 13 2019 23:30:00 GMT+0000 (Coordinated Universal Time)" data-updatetime="Wed Feb 13 2019 23:43:13 GMT+0000 (Coordinated Universal Time)"></span>
            </span>
            <span class="pull-right">745 views <a href="https://docs.monadical.com/#" class="ui-edit" title="Edit this note"><i class="fa fa-fw fa-pencil"></i></a></span>
            <br>
            
        </small>
    </div>
    <div id="doc" class="container markdown-body" >&lt;center&gt;

# The Full-Stack Developer Checklist

*Originally published 2017-08-25 on [reddit.com/r/cscareerquestions](https://www.reddit.com/r/cscareerquestions/comments/677yf5/the_skills_required_to_be_a_fullstack_engineer/) as a self-post.*


This is a follow-up to my earlier comment breaking down [all the possible CS-related job titles](https://www.reddit.com/r/cscareerquestions/comments/36kbe3/what_are_the_main_different_type_of_programming/creq1x8/).  
   
&lt;/center&gt;
---
  
This is a partial list of things I think are important to explore on the journey to becoming a senior &#34;full-stack&#34; engineer.  It&#39;s similar to this [great comment](https://www.reddit.com/r/cscareerquestions/comments/1wkwg5/what_do_employers_expect_an_entry_level_developer/cf3e9o0/?utm_content=permalink&amp;utm_medium=front&amp;utm_source=reddit&amp;utm_name=cscareerquestions) by /u/algaerithm, but with more structure.

If you don&#39;t know what some of these things are, don&#39;t worry, you can still be a real developer!  If asked me right now to write the code for a triangle in SVG, I wouldn&#39;t be able to do it, but I&#39;d know where to start googling to find out how.  This list is a rough map of buzzwords that make up the peaks of the CS terrain.  You don&#39;t have to *know* everything about each subfield, but you should at least know they exist.

If you know more things than this, awesome, comment with your suggestions!

---

I learned these in the order #4, #5, #3, #1, #2, #6, #7, but I think CS students in a university will typically learn them in the 1-7 order, which is pretty bonkers to think about.

1. Algorithms &amp; data structures
	implementation, time complexity, &amp; ability to use these in at least a couple languages
	- arrays
	- vectors
	- graphs &amp; trees
	- hash tables &amp; sets
	- tries &amp; indexes
	- queues
	- bogosort (bonus)
2. Compilers
	- turing completeness
	- types of languages
	- parsing
	- lisp &amp; macros
	- virtual machines &amp; bytecode
	- static optimizing &amp; JITs
	- basic type theory
	- OCaml/Haskell/fortran (bonus)
3. Design Patterns
	- Object-oriented
	- functional
	- declarative/reactive vs imperative
	- concurrency (locks,threads,fork)
	- state machines
	- queue &amp; dispatch model
	- MVC
4. DevOps
	- basic familiarity with linux, BSD, &amp; DOS style systems
	- bash/zsh/fish
	- (gnu) core utils
	- apt/homebrew/yum/nix, npm/pip/cargo/etc.
	- git
	- ssh, sftp, port-forwarding
	- nginx/apache/etc.
		Thorough understanding of at least one kind of webserver&#39;s operation.
	- alerting &amp; logging
	- VMs, chroots, containers
	- ansible/puppet/chef/dockerfile etc.
5. Webdev
	- Backend
		- Thorough undertanding of at least one backend stack, e.g.:
			Django, Bottle, Flask, Rails, Clojure, etc.
		- Unit testing &amp; CI
		- HTTP/HTTPS/HTTP2 (see networking section below)
		- webservers, cdns, &amp; caching proxies
		- CGI/WSGI/FPM/etc.
		- SQL and/or an ORM
		- data migrations
		- redis &amp; kv stores
		- caching &amp; invalidation
	- Frontend
		- HTML, CSS, &amp; the DOM
		- JS (ES6)
		- Responsive Design
		- basic Canvas &amp; SVG
		- Accessibility
	- Security
		- unix permissions model (sudo make me a sandwich)
		- firewalls
		- fail2ban
		- log management
		- nc, nmap, hydra, jacktheripper, etc.
		- RSA, diffie hellman, elliptic-curve, etc. cryptography
		- HTTPS, TLS, SSL, SSH
		- xss, csrf &amp; injection attacks
		- CSP, refferers, HSTS, and other headers
		- rate limiting
		- DoS protection (bonus)
	- Networking
		- Ethernet &amp; multiplexing
		- IPv4 &amp; IPv6
		- TCP/UDP &amp; broadcast/multicast/unicast
		- HTTP
			- request/response lifecycle
			- cookies &amp; headers
			- REST vs SOAP vs JSON
			- gzip, byte-range requests (bonus)
			- websockets/webrtc
		- iptables &amp; routing
6. Math &amp; Science
	- discrete math
	- basic stats? (I don&#39;t know much stats unfortunately...)
	- basic linear algebra
	- linear regression &amp; the concept of exploring/transforming input spaces
	- neural networks
	- backpropagation
	- RBMs &amp; page-rank
	- ipython &amp; jupyter
	- proof of stake
	- bloom filters
	- etc. comment with suggestions
7. Systems &amp; DBs
	- consensus
	- transaction isolation levels
	- how CPU cores and memory work together
	- shared memory &amp; multi-leveled caches
	- blockchains &amp; proof-of-work (bonus)
	- raft &amp; paxos (bonus)
	- double-indexes (bonus)
	- distributed indexes (lucene)
	- SQL vs NoSQL tradeoffs

Bonus Points:  

 - make a hello world app on android
 - make a hello world app on iOS
 - hello world GUI apps on macOS/windows/linux
 - implement something in a macro language
 - implement a new language w/ a parser
 - create an web-app using only JS and SQL as a backend
 - hardware!
     - current, power, voltage, etc.
     - semiconductors
     - resistors, capacitors, transistors, etc.
     - adders, shift registers, timers, etc.
     - microcontrollers
     - dealing with IO, serial ports, debouncing, etc.
     - LEDs, lasers, etc.

---

**As you learn CS, make lists like this on your own!**
Mapping out your knowledge helps you retain it, and it&#39;s good practice for teaching!</div>
    <div class="ui-toc dropup unselectable hidden-print" style="display:none;">
        <div class="pull-right dropdown">
            <a id="tocLabel" class="ui-toc-label btn btn-default" data-toggle="dropdown" href="https://docs.monadical.com/#" role="button" aria-haspopup="true" aria-expanded="false" title="Table of content">
                <i class="fa fa-bars"></i>
            </a>
            <ul id="ui-toc" class="ui-toc-dropdown dropdown-menu" aria-labelledby="tocLabel">
            </ul>
        </div>
    </div>
    <div id="ui-toc-affix" class="ui-affix-toc ui-toc-dropdown unselectable hidden-print" data-spy="affix" style="display:none;"></div>
    
</body>

</html>
<script src="https://docs.monadical.com/js/mathjax-config-extra.js"></script>

<script src="https://docs.monadical.com/build/MathJax/MathJax.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/TeX-AMS-MML_HTMLorMML.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/Safe.js" defer></script>
<script src="https://docs.monadical.com/config"></script><script src="https://docs.monadical.com/build/common.9a80e4667cfe74cd3793.js" defer="defer"></script><script src="https://docs.monadical.com/build/pretty-pack.ddb791d4dabf0dc0d882.js" defer="defer"></script>



