<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    
    
    <meta name="description" content="&lt;center&gt;  All Systems are Human Systems ===  *Written by Max McCrea. Originally published 2021-05-12">
    
    
    
    <meta property="og:title" content="All Systems are Human Systems - HedgeDoc">
    
    
    
    <meta property="og:type" content="website">
    
    <meta property="og:image" content="https://docs.monadical.com/icons/android-chrome-512x512.png">
    <meta property="og:image:alt" content="HedgeDoc logo">
    <meta property="og:image:type" content="image/png">
    
    <base href="">
    <title>All Systems are Human Systems - HedgeDoc</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://docs.monadical.com/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://docs.monadical.com/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://docs.monadical.com/icons/favicon-16x16.png">
<link rel="manifest" href="https://docs.monadical.com/icons/site.webmanifest">
<link rel="mask-icon" href="https://docs.monadical.com/icons/safari-pinned-tab.svg" color="#b51f08">
<link rel="shortcut icon" href="https://docs.monadical.com/icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="HedgeDoc - Collaborative markdown notes">
<meta name="application-name" content="HedgeDoc - Collaborative markdown notes">
<meta name="msapplication-TileColor" content="#b51f08">
<meta name="msapplication-config" content="https://docs.monadical.com/icons/browserconfig.xml">
<meta name="theme-color" content="#b51f08">

    <link rel="stylesheet" href='https://docs.monadical.com/build/emojify.js/dist/css/basic/emojify.min.css'>
    <link href="https://docs.monadical.com/build/font-pack.51d576c9ea0a7705d2e0.css" rel="stylesheet"><link href="https://docs.monadical.com/build/2.04010c738e6d668e6e08.css" rel="stylesheet"><link href="https://docs.monadical.com/build/3.b67314821de89ccff48b.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles-pack.6437be263d7329017dfe.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles.8aa1888af7df52aee395.css" rel="stylesheet"><link href="https://docs.monadical.com/build/1.1666d9d869a0532d9bce.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty.0424d40e7df68caf04c5.css" rel="stylesheet">
</head>

<body style="display:none;">
    <div class="ui-infobar container-fluid unselectable hidden-print">
        <small>
            <span>
                
                    <span class="ui-lastchangeuser">&thinsp;<i class="ui-user-icon small" style="background-image: url(https://cdn.libravatar.org/avatar/9bdd52c193d004e65c5442c3d04ae25a?default=identicon&s=96);" data-toggle="tooltip" data-placement="right" title="max"></i></span>
                
                &nbsp;<span class="text-uppercase ui-status-lastchange"></span>
                <span class="ui-lastchange text-uppercase" data-createtime="Mon May 10 2021 21:35:50 GMT+0000 (Coordinated Universal Time)" data-updatetime="Mon May 17 2021 19:54:39 GMT+0000 (Coordinated Universal Time)"></span>
            </span>
            <span class="pull-right">824 views <a href="https://docs.monadical.com/#" class="ui-edit" title="Edit this note"><i class="fa fa-fw fa-pencil"></i></a></span>
            <br>
            
            <span class="ui-owner">
                &thinsp;<i class="ui-user-icon small" style="background-image: url(https://cdn.libravatar.org/avatar/631905653495f361dd947f36c21f56fb?default=identicon&s=96);" data-toggle="tooltip" data-placement="right" title="maiya"></i>
                &nbsp;<span class="text-uppercase">owned this note</span>
            </span>
            
        </small>
    </div>
    <div id="doc" class="container markdown-body" >&lt;center&gt;

All Systems are Human Systems
===

*Written by Max McCrea. Originally published 2021-05-12 on the [Monadical blog](https://monadical.com/blog.html).*

&lt;/center&gt;

My first ever job in software was at as startup full of brilliant minds and big egos. I was junior, and my desire to learn from these amazing people meshed well with my non-threatening &#34;intern&#34; title as I found myself bouncing between teams asking a lot of questions. 

I spent a lot of my time presenting what I understood to be the opposing ideas of one team to another on technical issues, with an &#34;explain to me why they&#39;re wrong&#34; approach.

In retrospect, it was a pretty dysfunctional environment full of people more interested in being right than finding workable solutions to problems, but it was perfect for me at that moment, and I went home each day feeling completely exhausted from learning more than I ever knew I could learn in such a short time.

Surprisingly, I think that one of the most eye-opening moments (of many) I experienced there was entirely non-technical. It came from a new hire, an old hand who was brought in as head-of-something, someone who seemed to be as technically accomplished as he was charismatic.

Seeing how much time I&#39;d been spending playing devil&#39;s advocate, he asked “Do you see how all these technical problems are really just people problems?” 

This was a bit of an &#34;aha&#34; moment for me at the time, but the lesson I walked away with has since grown in scope, beyond what he likely meant at the time. The more I looked, the more I saw technical problems as people problems. 

There were no purely technical decisions anywhere. In fact, all systems in the field of software engineering are human systems.

![human systems](https://docs.monadical.com/uploads/upload_0018df588cd594ba06bba635904ff148.png)

Humans decide what to build, humans write the code, and humans are the ultimate beneficiaries. The software runs on infrastructure that is designed and maintained by humans, and software that is not tended to by humans drifts into disuse.

And so, no matter how great your ideas may be on a technical topic, it won’t matter if nobody else can see why they’re great. That means you’ll need to express ideas in a way other people can understand.

Sometimes an insight, eloquently explained, is enough. This is especially true in cases where there’s a clear-cut best way to solve a problem. But even in this case, the message really matters! Despite coming to equivalent conclusions at approximately the same time, the approaches that Alonzo Church and Alan Turing took to explain their theories are not the same. Few can explain Lambda Calculus, but most people with a computer science degree can explain a Turing Machine.

But often, in the realm of engineering, solutions are not so black and white. Often, solutions have tradeoffs: some benefits, and some drawbacks, which must be weighed against one another. 

And, in the messy, wet world of human beings, those benefits and drawbacks may not look the same from one perspective to the next. Perhaps an engineer with a background in mathematics finds a pure-functional approach to a problem intuitive and elegant. And perhaps their neighbor with a background in logistics prefers to reason about state transitions. Code that looks clean to one may look confusing to the other, and vice versa.

Similarly, a brilliant solution to a problem is worthless if poorly understood. Codebases are rarely single-person affairs, and a codebase full of esoteric design patterns, even if they are elegant and clever (especially, maybe), can hold a project back as other developers struggle to contribute to it.

This means that, sometimes, explaining a solution to a teammate, or pair-programming can be more efficient than simply implementing that solution oneself, in a “teach a man to fish” kind of way. The more one understands that others don’t, the more valuable ones’ communication abilities become! 

Teaching, understanding, and convincing are core skills inherent to the field of engineering, because no technical problem can be siloed away from the politics of the human world.

The best engineers not only understand their problem space, but also have a model of their team’s understanding of said problem space. They can identify the mismatched assumptions that might otherwise drag out disagreements, and know how to express ideas in a way that is useful to the team.

The best engineers know how to ask the right questions, and when to listen. And the best engineers are convincing.

&lt;center&gt;
&lt;img src=&#34;https://docs.monadical.com/uploads/upload_eda1c07d2c02c13df92bf91c0c1693ab.png&#34; style=&#34;height: 40px; width: 40px; margin: 20px&#34;/&gt;
&lt;img src=&#34;https://docs.monadical.com/uploads/upload_eda1c07d2c02c13df92bf91c0c1693ab.png&#34; style=&#34;height: 40px; width: 40px; margin: 20px&#34;/&gt;
&lt;img src=&#34;https://docs.monadical.com/uploads/upload_eda1c07d2c02c13df92bf91c0c1693ab.png&#34; style=&#34;height: 40px; width: 40px; margin: 20px&#34;/&gt;
&lt;/center&gt;

To cloudy things further, remember that all systems are human systems. And so the benefits and drawbacks of solutions are often, ultimately, benefits and drawbacks for individuals, or groups of humans.

This means that many decisions that look purely technical on their face are in fact political decisions. How a codebase is written will affect who is best suited to use it, and who it best suits.

An extreme example of this are social media algorithms, which dictate the content to which large populations are exposed. Here, small changes in mathematical models bury some voices, and amplify others.

But more often, the inherently political nature of technical decisions are much more subtle. Image software that tracks parking rules on city blocks to make parking easier. To benefit from such software, one must own a car. Perhaps the development resources could have gone into software that benefited people who did not own cars. And perhaps the reduction of income from parking tickets, combined with the increased appeal of driving a car downtown, results in decreased investment in public transportation.

Sometimes technical decisions affect people in intended ways, but they nearly always affect people in ways that were unintended by, or even invisible to, those who made them. If they’re lucky enough to have the right engineer’s ear, maybe that effect will be taken into account in the next iteration. Or, if the engineers in question are paying enough attention, they might notice it themselves.

Because we can only solve problems we understand, those with the resources to solve problems tend to solve the relatively narrow band of problems they are already familiar with. In order to broaden the scope of problems we are capable of addressing, we must pay attention to the world around us. 

There’s no escaping the messy, political system that binds us. Whether it’s the scope of our own team or the broader scope of the world we exist in, the better we understand those human systems, the better we become as engineers.




---


&lt;center&gt;
 
&lt;img src=&#34;https://monadical.com/static/logo-black.png&#34; style=&#34;height: 80px&#34;/&gt;&lt;br/&gt;
    
Monadical.com | Full-Stack Consultancy
*We build software that outlasts us*
    
&lt;/center&gt;</div>
    <div class="ui-toc dropup unselectable hidden-print" style="display:none;">
        <div class="pull-right dropdown">
            <a id="tocLabel" class="ui-toc-label btn btn-default" data-toggle="dropdown" href="https://docs.monadical.com/#" role="button" aria-haspopup="true" aria-expanded="false" title="Table of content">
                <i class="fa fa-bars"></i>
            </a>
            <ul id="ui-toc" class="ui-toc-dropdown dropdown-menu" aria-labelledby="tocLabel">
            </ul>
        </div>
    </div>
    <div id="ui-toc-affix" class="ui-affix-toc ui-toc-dropdown unselectable hidden-print" data-spy="affix" style="display:none;"></div>
    
</body>

</html>
<script src="https://docs.monadical.com/js/mathjax-config-extra.js"></script>
<script src="https://docs.monadical.com/build/MathJax/MathJax.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/TeX-AMS-MML_HTMLorMML.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/Safe.js" defer></script>
<script src="https://docs.monadical.com/config"></script><script src="https://docs.monadical.com/build/vendors~common.deda981c1c31221a91d9.js" defer="defer"></script><script src="https://docs.monadical.com/build/common.6da413651c225dd97e7a.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~cover~cover-pack~index~index-pack~pretty~pretty-pack~slide~slide-pack.897edf415109c21e7fb2.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~index~index-pack~pretty~pretty-pack~slide~slide-pack.624da9bb49753eaa85e1.js" defer="defer"></script><script src="https://docs.monadical.com/build/pretty-pack.f314462a1d0ebb3b5365.js" defer="defer"></script>


