<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    
    
    <meta name="description" content="&lt;center&gt;      # A Cheat Sheet for Using your JWT Authentication with Django REST Framework to log in">
    
    
    
    <meta property="og:title" content="A Cheat Sheet for Using your JWT Authentication with Django REST Framework to log in to Firebase - HedgeDoc">
    
    
    
    <meta property="og:type" content="website">
    
    <meta property="og:image" content="https://docs.monadical.com/icons/android-chrome-512x512.png">
    <meta property="og:image:alt" content="HedgeDoc logo">
    <meta property="og:image:type" content="image/png">
    
    <base href="">
    <title>A Cheat Sheet for Using your JWT Authentication with Django REST Framework to log in to Firebase - HedgeDoc</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://docs.monadical.com/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://docs.monadical.com/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://docs.monadical.com/icons/favicon-16x16.png">
<link rel="manifest" href="https://docs.monadical.com/icons/site.webmanifest">
<link rel="mask-icon" href="https://docs.monadical.com/icons/safari-pinned-tab.svg" color="#b51f08">
<link rel="shortcut icon" href="https://docs.monadical.com/icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="HedgeDoc - Ideas grow better together">
<meta name="application-name" content="HedgeDoc - Ideas grow better together">
<meta name="msapplication-TileColor" content="#b51f08">
<meta name="msapplication-config" content="https://docs.monadical.com/icons/browserconfig.xml">
<meta name="theme-color" content="#b51f08">

    <link rel="stylesheet" href='https://docs.monadical.com/build/emojify.js/dist/css/basic/emojify.min.css'>
    <link href="https://docs.monadical.com/build/font-pack.6f3ecd0bf31c428a95f7.css" rel="stylesheet"><link href="https://docs.monadical.com/build/2.011fed84e8b0e1b602b9.css" rel="stylesheet"><link href="https://docs.monadical.com/build/3.b73adae1f3405136330d.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles-pack.67a0a5daa4bc987211b4.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles.0d5fbbf27dee52197955.css" rel="stylesheet"><link href="https://docs.monadical.com/build/1.c696cbbf0654f912e3b9.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty.03c68f0397eb54366b06.css" rel="stylesheet">
</head>

<body style="display:none;">
    <div class="ui-infobar container-fluid unselectable hidden-print">
        <small>
            <span>
                
                    <span class="ui-lastchangeuser">&thinsp;<i class="ui-user-icon small" style="background-image: url(https://cdn.libravatar.org/avatar/92545e5e3acba8fc9f93afe0a338bf9b?default=identicon&s=96);" data-toggle="tooltip" data-placement="right" title="jdc"></i></span>
                
                &nbsp;<span class="text-uppercase ui-status-lastchange"></span>
                <span class="ui-lastchange text-uppercase" data-createtime="Tue Oct 20 2020 12:55:59 GMT+0000 (Coordinated Universal Time)" data-updatetime="Tue Oct 20 2020 22:21:41 GMT+0000 (Coordinated Universal Time)"></span>
            </span>
            <span class="pull-right">3189 views <a href="https://docs.monadical.com/#" class="ui-edit" title="Edit this note"><i class="fa fa-fw fa-pencil"></i></a></span>
            <br>
            
        </small>
    </div>
    <div id="doc" class="container markdown-body" >&lt;center&gt;
    
# A Cheat Sheet for Using your JWT Authentication with Django REST Framework to log in to Firebase

*Getting DRF, SimpleJWT and Firebase to play nice.*

&lt;/center&gt;

---

[Firebase](https://firebase.google.com/) is a Google platform composed of more than eighteen products that can speed up the development of mobile and web applications. It has some really nice advanced features, such as real-time updates and horizontal scalability for greenfield software projects. However, applications with a considerable user base can end up being expensive to host on Firebase. For cases like this, it’s usually worth migrating to a different solution like Django. For a general strategy for how to do this, have a look at [How to Migrate from Firebase to Django](https://monadical.com/posts/from-firebase-to-django.html). 

Whether as a first step towards a larger migration, or a component of a hybrid approach (for example, if you want to augment Firebase with data that has to be hosted on your own servers), sometimes it’s useful to migrate the login process while retaining access to Firebase&#39;s services

This post gives you a quick cheat sheet for **how to use Firebase services with a token emitted from your Django backend. The token will be both valid for Firebase and for your backend.** This way you’ll also be prepared for any future migrations from Firebase. We will set SimpleJWT, DRF and Django to log in to Firebase. 


## Installation and Setup

For this setup, we are going to use [DRF](https://www.django-rest-framework.org/) with [SimpleJWT](https://github.com/SimpleJWT/django-rest-framework-simplejwt).

First, let’s install the packages.

```bash
pip install djangorestframework 
pip install djangorestframework_simplejwt
```

Then let’s configure DRF to use `JWTAuthentication` and require authenticated requests as default. 

These SimpleJWT settings tell SimpleJWT to use the appropriate algorithm and set some of the claims required by Firebase without needing to install and call [firebase-admin-python](https://github.com/firebase/firebase-admin-python) to create the token.

`settings.py`

```python3
# django-rest-framework - https://www.django-rest-framework.org/api-guide/settings/

REST_FRAMEWORK = {
    &#34;DEFAULT_AUTHENTICATION_CLASSES&#34;: (
        &#34;rest_framework_simplejwt.authentication.JWTAuthentication&#34;,  ),
    &#34;DEFAULT_PERMISSION_CLASSES&#34;: (&#34;rest_framework.permissions.IsAuthenticated&#34;,),
}

# See https://firebase.google.com/docs/auth/admin/create-custom-tokens#create_custom_tokens_using_a_third-party_jwt_library

SIMPLE_JWT = {
    &#34;ALGORITHM&#34;: &#34;RS256&#34;,
    &#34;SIGNING_KEY&#34;: env.str(&#34;FIREBASE_PRIVATE_KEY&#34;, multiline=True),
    &#34;VERIFYING_KEY&#34;: env.str(&#34;FIREBASE_PUBLIC_KEY&#34;, multiline=True),
    &#34;ISSUER&#34;: env.str(&#34;FIREBASE_SERVICE_EMAIL&#34;),
    &#34;USER_ID_CLAIM&#34;: &#34;uid&#34;,
    # Firebase allows only max=1h
    &#34;ACCESS_TOKEN_LIFETIME&#34;: timedelta(hours=1),
    &#34;AUDIENCE&#34;: &#34;https://identitytoolkit.googleapis.com/google.identity.identitytoolkit.v1.IdentityToolkit&#34;,
}
```

Also notice that we loaded the secret and sensitive information (SIGNING_KEY, VERIFYING_KEY, ISSUER) from environment variables for the required [service account](https://firebase.google.com/support/guides/service-accounts).

Next we&#39;ll need to add URL routes for our token endpoints.

`urls.py`

```python3
from django.urls import path

from rest_framework_simplejwt.views import TokenRefreshView

from .views import FirebaseTokenObtainPairView 

urlpatterns = [
    path(&#39;api/token/&#39;, FirebaseTokenObtainPairView.as_view(), name=&#39;token_obtain_pair&#39;),
    path(&#39;api/token/refresh/&#39;, TokenRefreshView.as_view(), name=&#39;token_refresh&#39;),
    # Your other urls ….
]
```
The URL routes need to be connected to views -- let’s add a view to obtain the token pair and a serializer that will add the additional claims required by Firebase.


`views.py`

```python3
from django.conf import settings

from rest_framework_simplejwt.serializers import TokenObtainPairSerializer
from rest_framework_simplejwt.views import TokenObtainPairView


class FirebaseTokenObtainPairSerializer(TokenObtainPairSerializer):
    @classmethod
    def get_token(cls, user):
        token = super().get_token(user)

        # Add custom claims
        token[&#34;sub&#34;] = settings.SIMPLE_JWT.get(&#34;ISSUER&#34;, &#34;&#34;)
        # When the serializer is called token[&#39;exp&#39;] does not reflect the settings.ACCES_TOKEN_LIFETIME
        # and is set to now + 1day,thus we subtract a day to get iat
        token[&#34;iat&#34;] = token[&#34;exp&#34;] - (60 * 60 * 24)
        # Add additional claims here
        token[&#34;claims&#34;] = {&#34;is_superuser&#34;: user.is_superuser, &#34;is_staff&#34;: user.is_staff}

        return token


class FirebaseTokenObtainPairView(TokenObtainPairView):
    serializer_class = FirebaseTokenObtainPairSerializer

```

Here we overrode the view and the serializer to include all of the required fields for Firebase.

An alternative approach would be to generate the token with `firebase-admin-python` as follows:

```python3
uid = &#39;some-uid&#39;
additional_claims = {
    &#39;premiumAccount&#39;: True
}

custom_token = auth.create_custom_token(uid, additional_claims)
```
When we have the token, we return it at the view. And that&#39;s it! We have our token. 

## Test

Let’s do a quick test with [httpie](https://httpie.org/) and one of our existing Django accounts.

```bash
http post localhost:8000/api/token username=test password=test 
```
We get a token valid for both our Django backend and Firebase services. Woot. 

```bash
HTTP/1.1 200 OK
allow: POST, OPTIONS
content-language: en
content-length: 1945
content-type: application/json
date: Mon, 19 Oct 2020 21:22:21 GMT
server: uvicorn
vary: Accept, Accept-Language, Origin
x-content-type-options: nosniff
x-frame-options: DENY
x-xss-protection: 1; mode=block

{
    &#34;access&#34;: &#34;eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9…… &#34;,
    &#34;refresh&#34;:&#34;eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9…… &#34;
}
```

## Credits and Further Reading

1. https://simpleisbetterthancomplex.com/tutorial/2018/12/19/how-to-use-jwt-authentication-with-django-rest-framework.html
2. https://monadical.com/posts/from-firebase-to-django.html
3. https://firebase.google.com/docs/auth/admin/create-custom-tokens
4. https://firebase.google.com/support/guides/service-accounts



</div>
    <div class="ui-toc dropup unselectable hidden-print" style="display:none;">
        <div class="pull-right dropdown">
            <a id="tocLabel" class="ui-toc-label btn btn-default" data-toggle="dropdown" href="https://docs.monadical.com/#" role="button" aria-haspopup="true" aria-expanded="false" title="Table of content">
                <i class="fa fa-bars"></i>
            </a>
            <ul id="ui-toc" class="ui-toc-dropdown dropdown-menu" aria-labelledby="tocLabel">
            </ul>
        </div>
    </div>
    <div id="ui-toc-affix" class="ui-affix-toc ui-toc-dropdown unselectable hidden-print" data-spy="affix" style="display:none;"></div>
    
</body>

</html>
<script src="https://docs.monadical.com/js/mathjax-config-extra.js"></script>
<script src="https://docs.monadical.com/build/MathJax/MathJax.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/TeX-AMS-MML_HTMLorMML.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/Safe.js" defer></script>
<script src="https://docs.monadical.com/config"></script><script src="https://docs.monadical.com/build/vendors~common.b63e803341293656b32e.js" defer="defer"></script><script src="https://docs.monadical.com/build/common.dc359ffa1d303e78db47.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~cover~cover-pack~index~index-pack~pretty~pretty-pack~slide~slide-pack.d107ac6ccdc2f7684946.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~index~index-pack~pretty~pretty-pack~slide~slide-pack.a2fac85c338ccd8282ca.js" defer="defer"></script><script src="https://docs.monadical.com/build/pretty-pack.8a4f868f9e7676405f31.js" defer="defer"></script>


