<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    
    
    <meta name="description" content="&lt;center&gt;  # Map of All the Computer Science Subfields  *Originally published 2016-05-26 on [reddit.c">
    
    
    
    <meta property="og:title" content="Map of All the Computer Science Subfields - HedgeDoc">
    
    
    
    <meta property="og:type" content="website">
    
    <meta property="og:image" content="https://docs.monadical.com/icons/android-chrome-512x512.png">
    <meta property="og:image:alt" content="HedgeDoc logo">
    <meta property="og:image:type" content="image/png">
    
    <base href="">
    <title>Map of All the Computer Science Subfields - HedgeDoc</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://docs.monadical.com/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://docs.monadical.com/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://docs.monadical.com/icons/favicon-16x16.png">
<link rel="manifest" href="https://docs.monadical.com/icons/site.webmanifest">
<link rel="mask-icon" href="https://docs.monadical.com/icons/safari-pinned-tab.svg" color="#b51f08">
<link rel="shortcut icon" href="https://docs.monadical.com/icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="HedgeDoc - Ideas grow better together">
<meta name="application-name" content="HedgeDoc - Ideas grow better together">
<meta name="msapplication-TileColor" content="#b51f08">
<meta name="msapplication-config" content="https://docs.monadical.com/icons/browserconfig.xml">
<meta name="theme-color" content="#b51f08">

    <link rel="stylesheet" href='https://docs.monadical.com/build/emojify.js/dist/css/basic/emojify.min.css'>
    <link href="https://docs.monadical.com/build/font-pack.4362583c9249021b5028.css" rel="stylesheet"><link href="https://docs.monadical.com/build/2.15c517ea2148f55c8206.css" rel="stylesheet"><link href="https://docs.monadical.com/build/3.ec6e7d6280fcd73e729d.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles-pack.2fb0d01138de2df6de0a.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles.8aa1888af7df52aee395.css" rel="stylesheet"><link href="https://docs.monadical.com/build/1.1666d9d869a0532d9bce.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty.0424d40e7df68caf04c5.css" rel="stylesheet">
</head>

<body style="display:none;">
    <div class="ui-infobar container-fluid unselectable hidden-print">
        <small>
            <span>
                
                    <span class="ui-lastchangeuser">&thinsp;<i class="ui-user-icon small" style="background-image: url(https://cdn.libravatar.org/avatar/aa8b1ebe25440bd38748639eebdc6eaf?default=identicon&s=96);" data-toggle="tooltip" data-placement="right" title="nick"></i></span>
                
                &nbsp;<span class="text-uppercase ui-status-lastchange"></span>
                <span class="ui-lastchange text-uppercase" data-createtime="Wed Feb 13 2019 23:28:13 GMT+0000 (Coordinated Universal Time)" data-updatetime="Wed Feb 13 2019 23:41:11 GMT+0000 (Coordinated Universal Time)"></span>
            </span>
            <span class="pull-right">4581 views <a href="https://docs.monadical.com/#" class="ui-edit" title="Edit this note"><i class="fa fa-fw fa-pencil"></i></a></span>
            <br>
            
        </small>
    </div>
    <div id="doc" class="container markdown-body" >&lt;center&gt;

# Map of All the Computer Science Subfields

*Originally published 2016-05-26 on [reddit.com/r/cscareerquestions](https://www.reddit.com/r/cscareerquestions/comments/36kbe3/what_are_the_main_different_type_of_programming/creq1x8/) as a comment.*

&lt;/center&gt;

There are hundreds of different roles related to computer science that don&#39;t directly involve programming. Here, I make an attempt to divide them up into a few major categories, wich a short description of each role.  I listed some jobs twice because they can have the same title but be focused in one department or another.

## Infrastructure

* [Sysadmin](https://xkcd.com/705/) (managing, setting up, and [keeping systems running](http://www.feedbooks.com/book/335.pdf))
* Dev-ops (creating &amp; using tools that devs use to manage systems)
* Network Engineer (setting up, designing, and optimizing network infrastructures, TCP/IP, and other layers of the network stack)
* Data Center Ops (they keep &#34;the cloud&#34; running)
* Cable &amp; Router Technicians (/r/cableporn)
* Database Administrators (generally wizards)
* Technical Support &amp; Documentation (the incredibly tough bastards that actually deal with _ghasp_ users)

## Backend

* Full stack engineers (a little bit of everything)
* Backend Application Development (rails, django, node, etc.)
* Project Management (not always a technical technical role)
* Engineering Management (usually former developers get promoted to this job)
* Software Architects (planning out features before they are coded)
* API Design (designing the interfaces between systems)
* Security &amp; Pentesting
* Distributed System Architects (dealing with [consistency, availability, partition tolerance](http://scale-out-blog.blogspot.com/2012/04/disproving-cap-theorem.html), timing, of large, globally-separated systems)
* Database Administrators (managing, maintaining, sharding, and migrating data stores, different from infrastructure-focused DBAs in that they are also writing backend code which interacts with the stores)

## Frontend

* Full Stack (a little bit of everything, but focused primarily on the pieces that support a frontend)
* UX/UI Front end designers (photoshop, indesign, sketch, html &amp; css, etc. only)
* General front end web development (html, css, **and** js)
* Single-page app development (mostly with JS frameworks, e.g. angular or [react](http://react.rocks/))
* Quality Assurance &amp; Testing (writing tests, doing human tests, making sure things work)

## Native
  
* iOS, Android, Windows Mobile, etc.
* Consumer-facing Windows Desktop, OS X Desktop, Linux app development
* Enterprise software development (large, made-to-order applications for businesses)
* IT administration &amp; admin software design (often very system-specific, hence the Native category)
* Software Architecture (similar to backend architecture, designing features before they are coded)

## Science and Theory
 
* Scientific Research (loads of Matlab, R, and ipython and more)
* &#34;Pure Compsci/Pure Math&#34; Research (with haskell, lisp, lots more)
* Scientific Software Development (e.g. protein folding software)
* Data science (matlab, r, ipython, scikit-learn, etc.)
* Machine Learning (e.g. for [pagerank](http://en.wikipedia.org/wiki/PageRank), reverse image search, beer recommendation, used all over the place now)
* Compiler &amp; Language Design (not many jobs but very useful to learn, maybe mozilla foundation &amp; rust?, and Guido certainly gets paid by Dropbox :)
* OS Design (not just microsoft, windows, &amp; linux, also qualcomm and lots of other telecoms hire [tens of thousands](http://www.glassdoor.com/Job/jobs.htm?suggestCount=10&amp;suggestChosen=false&amp;clickSource=searchBtn&amp;typedKeyword=qualcomm&amp;sc.keyword=qualcomm&amp;locT=&amp;locId=&amp;jobType=all) of engineers to write embedded and mobile OSs)
* Compression (you can work for Hooli)

## Marketing

This field has lots of overlap with data science.  

* Growth hacking/web scraping (selenium, beatifulsoup, phantomjs, scikit-learn, pattern, etc.)
* Analytics (GA, mixpanel, optimizely etc. closely tied with marketing and SEO)
* SEO &amp; SEM (techniques to fuck with/obey search engines and convert $$ to visitors)
* General Marketing Development (salesforce, analytics, content-design, and SEO)  

## Hardware and Graphics

* [Embedded Software](http://en.wikipedia.org/wiki/Embedded_software) (code that runs very close to the metal, e.g. the assembly code running your elevator)
* Chip Design &amp; Architecture (wizards)
* Game development (very, very different from other kinds of programmers, questionably human)
* Graphics software development (similar to gaming dev, in my experience, graphics people don&#39;t frequently switch to app dev or vice versa, I&#39;d love to hear your comments)
* 3D printing and machining coding
* CGI &amp; Animation  (e.g. disney. pixar devs gave a talk about the wonders of cgi development at Pycon2015)
  
  
---

![](https://i.imgur.com/TFwOLXM.jpg)

  
I probably missed a few, feel free to suggest changes...  </div>
    <div class="ui-toc dropup unselectable hidden-print" style="display:none;">
        <div class="pull-right dropdown">
            <a id="tocLabel" class="ui-toc-label btn btn-default" data-toggle="dropdown" href="https://docs.monadical.com/#" role="button" aria-haspopup="true" aria-expanded="false" title="Table of content">
                <i class="fa fa-bars"></i>
            </a>
            <ul id="ui-toc" class="ui-toc-dropdown dropdown-menu" aria-labelledby="tocLabel">
            </ul>
        </div>
    </div>
    <div id="ui-toc-affix" class="ui-affix-toc ui-toc-dropdown unselectable hidden-print" data-spy="affix" style="display:none;"></div>
    
</body>

</html>
<script src="https://docs.monadical.com/js/mathjax-config-extra.js"></script>
<script src="https://docs.monadical.com/build/MathJax/MathJax.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/TeX-AMS-MML_HTMLorMML.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/Safe.js" defer></script>
<script src="https://docs.monadical.com/config"></script><script src="https://docs.monadical.com/build/vendors~common.0252483117be96f00e28.js" defer="defer"></script><script src="https://docs.monadical.com/build/common.0c0667a7b004f0fcfd13.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~cover~cover-pack~index~index-pack~pretty~pretty-pack~slide~slide-pack.89ccd89a09f629d94d5c.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~index~index-pack~pretty~pretty-pack~slide~slide-pack.ab8ca16a9a0e12c92d31.js" defer="defer"></script><script src="https://docs.monadical.com/build/pretty-pack.c2685453bcc85995cfc9.js" defer="defer"></script>


