<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    
    
    <meta name="description" content="&lt;center&gt;  # Map of All the Computer Science Subfields  *Originally published 2016-05-26 on [reddit.c">
    
    <title>Map of All the Computer Science Subfields - CodiMD</title>
    <link rel="icon" type="image/png" href="https://docs.monadical.com/favicon.png">
    <link rel="apple-touch-icon" href="https://docs.monadical.com/apple-touch-icon.png">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha256-H0KfTigpUV+0/5tn2HXC0CPwhhDhWgSawJdnFd0CGCo=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fork-awesome/1.1.3/css/fork-awesome.min.css" integrity="sha256-ZhApazu+kejqTYhMF+1DzNKjIzP7KXu6AzyXcC1gMus=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" integrity="sha256-3iu9jgsy9TpTwXKb7bNQzqWekRX7pPK+2OLj3R922fo=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/css/basic/emojify.min.css" integrity="sha256-UOrvMOsSDSrW6szVLe8ZDZezBxh5IoIfgTwdNDgTjiU=" crossorigin="anonymous" />
    <link href="https://docs.monadical.com/build/font.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" integrity="sha256-g6iAfvZp+nDQ2TdTR/VVKJf3bGro4ub5fvWSWVRi2NE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.min.js" integrity="sha256-8E4Is26QH0bD52WoQpcB+R/tcWQtpzlCojrybUd7Mxo=" crossorigin="anonymous"></script>
<![endif]-->

  
</head>

<body style="display:none;">
    <div class="ui-infobar container-fluid unselectable hidden-print">
        <small>
            <span>
                
                    <span class="ui-lastchangeuser">&thinsp;<i class="ui-user-icon small" style="background-image: url(https://cdn.libravatar.org/avatar/aa8b1ebe25440bd38748639eebdc6eaf?s=96);" data-toggle="tooltip" data-placement="right" title="nick"></i></span>
                
                &nbsp;<span class="text-uppercase ui-status-lastchange"></span>
                <span class="ui-lastchange text-uppercase" data-createtime="Wed Feb 13 2019 23:28:13 GMT+0000 (UTC)" data-updatetime="Wed Feb 13 2019 23:41:11 GMT+0000 (UTC)"></span>
            </span>
            <span class="pull-right">330 views <a href="map-of-cs-subfields.html#" class="ui-edit" title="Edit this note"><i class="fa fa-fw fa-pencil"></i></a></span>
            <br>
            
        </small>
    </div>
    <div id="doc" class="container markdown-body">&lt;center&gt;

# Map of All the Computer Science Subfields

*Originally published 2016-05-26 on [reddit.com/r/cscareerquestions](https://www.reddit.com/r/cscareerquestions/comments/36kbe3/what_are_the_main_different_type_of_programming/creq1x8/) as a comment.*

&lt;/center&gt;

There are hundreds of different roles related to computer science that don&#39;t directly involve programming. Here, I make an attempt to divide them up into a few major categories, wich a short description of each role.  I listed some jobs twice because they can have the same title but be focused in one department or another.

## Infrastructure

* [Sysadmin](https://xkcd.com/705/) (managing, setting up, and [keeping systems running](http://www.feedbooks.com/book/335.pdf))
* Dev-ops (creating &amp; using tools that devs use to manage systems)
* Network Engineer (setting up, designing, and optimizing network infrastructures, TCP/IP, and other layers of the network stack)
* Data Center Ops (they keep &#34;the cloud&#34; running)
* Cable &amp; Router Technicians (/r/cableporn)
* Database Administrators (generally wizards)
* Technical Support &amp; Documentation (the incredibly tough bastards that actually deal with _ghasp_ users)

## Backend

* Full stack engineers (a little bit of everything)
* Backend Application Development (rails, django, node, etc.)
* Project Management (not always a technical technical role)
* Engineering Management (usually former developers get promoted to this job)
* Software Architects (planning out features before they are coded)
* API Design (designing the interfaces between systems)
* Security &amp; Pentesting
* Distributed System Architects (dealing with [consistency, availability, partition tolerance](http://scale-out-blog.blogspot.com/2012/04/disproving-cap-theorem.html), timing, of large, globally-separated systems)
* Database Administrators (managing, maintaining, sharding, and migrating data stores, different from infrastructure-focused DBAs in that they are also writing backend code which interacts with the stores)

## Frontend

* Full Stack (a little bit of everything, but focused primarily on the pieces that support a frontend)
* UX/UI Front end designers (photoshop, indesign, sketch, html &amp; css, etc. only)
* General front end web development (html, css, **and** js)
* Single-page app development (mostly with JS frameworks, e.g. angular or [react](http://react.rocks/))
* Quality Assurance &amp; Testing (writing tests, doing human tests, making sure things work)

## Native
  
* iOS, Android, Windows Mobile, etc.
* Consumer-facing Windows Desktop, OS X Desktop, Linux app development
* Enterprise software development (large, made-to-order applications for businesses)
* IT administration &amp; admin software design (often very system-specific, hence the Native category)
* Software Architecture (similar to backend architecture, designing features before they are coded)

## Science and Theory
 
* Scientific Research (loads of Matlab, R, and ipython and more)
* &#34;Pure Compsci/Pure Math&#34; Research (with haskell, lisp, lots more)
* Scientific Software Development (e.g. protein folding software)
* Data science (matlab, r, ipython, scikit-learn, etc.)
* Machine Learning (e.g. for [pagerank](http://en.wikipedia.org/wiki/PageRank), reverse image search, beer recommendation, used all over the place now)
* Compiler &amp; Language Design (not many jobs but very useful to learn, maybe mozilla foundation &amp; rust?, and Guido certainly gets paid by Dropbox :)
* OS Design (not just microsoft, windows, &amp; linux, also qualcomm and lots of other telecoms hire [tens of thousands](http://www.glassdoor.com/Job/jobs.htm?suggestCount=10&amp;suggestChosen=false&amp;clickSource=searchBtn&amp;typedKeyword=qualcomm&amp;sc.keyword=qualcomm&amp;locT=&amp;locId=&amp;jobType=all) of engineers to write embedded and mobile OSs)
* Compression (you can work for Hooli)

## Marketing

This field has lots of overlap with data science.  

* Growth hacking/web scraping (selenium, beatifulsoup, phantomjs, scikit-learn, pattern, etc.)
* Analytics (GA, mixpanel, optimizely etc. closely tied with marketing and SEO)
* SEO &amp; SEM (techniques to fuck with/obey search engines and convert $$ to visitors)
* General Marketing Development (salesforce, analytics, content-design, and SEO)  

## Hardware and Graphics

* [Embedded Software](http://en.wikipedia.org/wiki/Embedded_software) (code that runs very close to the metal, e.g. the assembly code running your elevator)
* Chip Design &amp; Architecture (wizards)
* Game development (very, very different from other kinds of programmers, questionably human)
* Graphics software development (similar to gaming dev, in my experience, graphics people don&#39;t frequently switch to app dev or vice versa, I&#39;d love to hear your comments)
* 3D printing and machining coding
* CGI &amp; Animation  (e.g. disney. pixar devs gave a talk about the wonders of cgi development at Pycon2015)
  
  
---

![](https://i.imgur.com/TFwOLXM.jpg)

  
I probably missed a few, feel free to suggest changes...  </div>
    <div class="ui-toc dropup unselectable hidden-print" style="display:none;">
        <div class="pull-right dropdown">
            <a id="tocLabel" class="ui-toc-label btn btn-default" data-toggle="dropdown" href="map-of-cs-subfields.html#" role="button" aria-haspopup="true" aria-expanded="false" title="Table of content">
                <i class="fa fa-bars"></i>
            </a>
            <ul id="ui-toc" class="ui-toc-dropdown dropdown-menu" aria-labelledby="tocLabel">
            </ul>
        </div>
    </div>
    <div id="ui-toc-affix" class="ui-affix-toc ui-toc-dropdown unselectable hidden-print" data-spy="affix" style="display:none;"></div>
    
</body>

</html>
<script src="https://docs.monadical.com/js/mathjax-config-extra.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.4.0/velocity.min.js" integrity="sha256-bhm0lgEt6ITaZCDzZpkr/VXVrLa5RP4u9v2AYsbzSUk=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.0/js/bootstrap.min.js" integrity="sha256-kJrlY+s09+QoWjpkOrXXwhxeaoDz9FW5SaxF8I0DibQ=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js" integrity="sha256-jnOjDTXIPqall8M0MyTSt98JetJuZ7Yu+1Jm7hLTF7U=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.7.0/js-yaml.min.js" integrity="sha256-8PanqYAVOGlOct+i65R+HqibK3KPsXINnrSfxN+Y/J0=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js" integrity="sha256-yYfngbEKv4RENfGDvNUqJTqGFcKf31NJEe9OTnnMH3Y=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/config/TeX-AMS-MML_HTMLorMML.js" integrity="sha256-immzXfCGLhnx3Zfi9F/dUcqxEM8K3o3oTFy9Bh6HCwg=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/config/Safe.js" integrity="sha256-0ygBUDksNDXZS4vm5HMNH1a33KUu6QT1cdNTN+ZLF+4=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js" integrity="sha256-vvT7Ok9u6GbfnBPXnbM6FVDEO8E1kTdgHOFZOAXrktA=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/7.1.0/mermaid.min.js" integrity="sha256-M3OC0Q6g4/+Q4j73OvnsnA+lMkdAE5KgupRHqTiPbnI=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/js/emojify.min.js" integrity="sha256-VAB5tAlKBvgaxw8oJ1crWMVbdmBVl4mP/2M8MNRl+4E=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js" integrity="sha256-1O3BtOwnPyyRzOszK6P+gqaRoXHV6JXj8HkjZmPYhCI=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js" integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gist-embed/2.6.0/gist-embed.min.js" integrity="sha256-KyF2D6xPIJUW5sUDSs93vWyZm+1RzIpKCexxElmxl8g=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/viz.js/1.7.0/viz.js" integrity="sha256-8t+rndrF+TU4JtelmOH1lDHTMe2ovhO2UbzDArp5lY8=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/abcjs/3.1.1/abcjs_basic-min.js" integrity="sha256-Sq1r2XXWXQoShQKsS0Wrf5r7fRkErd9Fat9vHYeU68s=" crossorigin="anonymous"></script>
<script src="https://docs.monadical.com/config"></script><script src="https://docs.monadical.com/build/pretty.769c6dde270ccfcc1be5.js" defer="defer"></script>



