<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="mobile-web-app-capable" content="yes">
<meta name="description" content="The best platform to write and share markdown.">
<meta name="keywords" content="Collaborative, Markdown, Notes">
<link rel="apple-touch-icon" sizes="180x180" href="https://docs.monadical.com/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://docs.monadical.com/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://docs.monadical.com/icons/favicon-16x16.png">
<link rel="manifest" href="https://docs.monadical.com/icons/site.webmanifest">
<link rel="mask-icon" href="https://docs.monadical.com/icons/safari-pinned-tab.svg" color="#b51f08">
<link rel="shortcut icon" href="https://docs.monadical.com/icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="HedgeDoc - Collaborative markdown notes">
<meta name="application-name" content="HedgeDoc - Collaborative markdown notes">
<meta name="msapplication-TileColor" content="#b51f08">
<meta name="msapplication-config" content="https://docs.monadical.com/icons/browserconfig.xml">
<meta name="theme-color" content="#b51f08">

<meta property="og:title" content="HedgeDoc - Collaborative markdown notes">
<meta property="og:description" content="The best platform to write and share markdown.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://docs.monadical.com">
<meta property="og:image" content="https://docs.monadical.com/icons/android-chrome-512x512.png">
<meta property="og:image:alt" content="HedgeDoc logo">
<meta property="og:image:type" content="image/png">
<base href="">
<title>HedgeDoc - Collaborative markdown notes</title>
<link href="https://docs.monadical.com/build/font-pack.51d576c9ea0a7705d2e0.css" rel="stylesheet"><link href="https://docs.monadical.com/build/2.04010c738e6d668e6e08.css" rel="stylesheet"><link href="https://docs.monadical.com/build/3.b67314821de89ccff48b.css" rel="stylesheet"><link href="https://docs.monadical.com/build/cover-styles-pack.b648f312ee4d780e4818.css" rel="stylesheet"><link href="https://docs.monadical.com/build/cover.e6dcfddabfc3aa3af727.css" rel="stylesheet">

</head>

<body>
    
    <div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand"></h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="ui-home active"><a href="mincraft-skin-generation.html#">Intro</a>
                            </li>
                            <li class="ui-history"><a href="mincraft-skin-generation.html#">History</a>
                            </li>
                            <div class="ui-signin" style="float: right; margin-top: 8px;">
                                
                                <a type="button" href="https://docs.monadical.com/new" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> New guest note</a>
                                
                                
                                <button class="btn btn-sm btn-success ui-signin" data-toggle="modal" data-target=".signin-modal">Sign In</button>
                                
                            </div>
                            <div class="ui-signout" style="float: right; margin-top: 8px; display: none;">
                                <a type="button" href="https://docs.monadical.com/new" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> New note</a>
                                <span class="ui-profile dropdown pull-right">
                                    <button id="profileLabel" class="btn btn-sm btn-link ui-profile-label" style="padding-right: 0;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img class="ui-avatar" width="20" height="20"><span class="hidden-xs hidden-sm">&ensp;<span class="ui-name"></span></span>&ensp;<i class="fa fa-caret-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="profileLabel">
                                        <li><a href="https://docs.monadical.com/features"><i class="fa fa-dot-circle-o fa-fw"></i> Features</a></li>
                                        <li><a href="https://docs.monadical.com/me/export"><i class="fa fa-cloud-download fa-fw"></i> Export user data</a></li>
                                        <li><a class="ui-delete-user" data-toggle="modal" data-target=".delete-user-modal"><i class="fa fa-trash fa-fw"></i> Delete user</a></li>
                                        <li><a href="https://docs.monadical.com/logout"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a></li>
                                    </ul>
                                </span>
                            </div>
                        </ul>
                    </nav>
                </div>
            </div>

            <div id="home" class="section">
                <div class="inner cover">
                    <h1 class="cover-heading"><img src="https://docs.monadical.com/banner/banner_vertical_color.svg" width="400" alt="HedgeDoc logo"></h1>
                    <p class="lead">
                        The best platform to write and share markdown.
                    </p>
                    <span class="alert alert-info" style="display: inline-block;">
                        CodiMD was renamed to HedgeDoc. <a href="https://hedgedoc.org/history/" rel="noopener noreferrer" target="_blank" class="text-danger">Read more</a>
                    </span>
                    
                    
                    <div class="alert alert-danger" style="max-width: 400px; margin: 0 auto;">You are not allowed to access this page. Maybe try logging in?</div>
                    
                    
                    <span class="ui-signin">
                        <br>
                        <a type="button" class="btn btn-lg btn-success ui-signin" data-toggle="modal" data-target=".signin-modal" style="min-width: 200px;">Sign In</a>
                    </span>
                    <span class="ui-or">or</span>
                    
                    <span class="ui-signin">
                        <a type="button" href="https://docs.monadical.com/features" class="btn btn-lg btn-primary" style="min-width: 200px;">Explore all features</a>
                        <br>
                        <br>
                        <img src="https://docs.monadical.com/screenshot.png" class="screenshot ui-signin">
                    </span>
                    <div class="lead row" style="width: 90%; margin: 0 auto;">
                        <div class="col-md-4 inner">
                            <a href="https://docs.monadical.com/features#Share-Notes">
                                <i class="fa fa-bolt fa-3x"></i>
                                <h4>Real time collaboration</h4>
                            </a>
                        </div>
                        <div class="col-md-4 inner">
                            <a href="https://docs.monadical.com/features#MathJax">
                                <i class="fa fa-bar-chart fa-3x"></i>
                                <h4>Works with charts and MathJax</h4>
                            </a>
                        </div>
                        <div class="col-md-4 inner">
                            <a href="https://docs.monadical.com/features#Slide-Mode">
                                <i class="fa fa-tv fa-3x"></i>
                                <h4>Supports slide mode</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="history" class="section" style="display:none;">
                <div class="ui-signin">
                    <p>Below is history from this browser</p>
                </div>
                <br>
                <form class="form-inline">
                    <div class="form-group" style="vertical-align: bottom;">
                        <input class="form-control ui-use-tags" placeholder="Select tags…" />
                    </div>
                    <div class="form-group">
                        <input class="search form-control" placeholder="Search keyword…" />
                    </div>
                    <a href="mincraft-skin-generation.html#" class="sort btn btn-default" data-sort="text" title="Sort by title">
                    Title
                    </a>
                    <a href="mincraft-skin-generation.html#" class="sort btn btn-default" data-sort="timestamp" title="Sort by time">
                    Time
                    </a>
                    <span class="hidden-xs hidden-sm">
                        <a href="mincraft-skin-generation.html#" class="btn btn-default ui-save-history" title="Export history"><i class="fa fa-save"></i></a>
                        <span class="btn btn-default btn-file ui-open-history" title="Import history">
                            <i class="fa fa-folder-open-o"></i><input type="file" />
                        </span>
                    <a href="mincraft-skin-generation.html#" class="btn btn-default ui-clear-history" title="Clear history" data-toggle="modal" data-target=".delete-history-modal"><i class="fa fa-trash-o"></i></a>
                    </span>
                    <a href="mincraft-skin-generation.html#" class="btn btn-default ui-refresh-history" title="Refresh history"><i class="fa fa-refresh"></i></a>
                </form>
                <h4 class="ui-nohistory" style="display:none;">
                    No history
                </h4>
                <a href="mincraft-skin-generation.html#" class="btn btn-primary ui-import-from-browser" style="display:none;">Import from browser</a>
                <ul id="history-list" class="list">
                </ul>
                <ul class="pagination"></ul>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <select class="ui-locale"></select>
                    <p>
                        Powered by <a href="https://hedgedoc.org">HedgeDoc</a> | <a href="https://docs.monadical.com/s/release-notes" target="_blank" rel="noopener">Releases</a> | <a href="https://github.com/hedgedoc/hedgedoc/tree/9ad995d0f66d3cba79b5d645622cb86243389b73" target="_blank" rel="noopener">Source Code</a>
                    </p>
                    <h6 class="social-foot">
                        Follow us on <a href="https://github.com/hedgedoc/hedgedoc" target="_blank" rel="noopener"><i class="fa fa-github"></i> GitHub</a>, <a href="https://community.hedgedoc.org" target="_blank" rel="noopener"><i class="fa fa-users" aria-hidden="true"></i> Discourse</a>, <a href="https://chat.hedgedoc.org" target="_blank" rel="noopener"><i class="fa fa-comments"></i> Matrix</a>, <a href="https://social.hedgedoc.org/mastodon" target="_blank" rel="noopener"><i class="fa fa-mastodon"></i> Mastodon</a>, and <a href="https://translate.hedgedoc.org" target="_blank" rel="noopener"><i class="fa fa-globe"></i> POEditor</a>.
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- delete history modal -->
<div class="modal fade delete-history-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <h5 class="ui-delete-history-modal-msg"></h5>
                <strong class="ui-delete-history-modal-item"></strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger ui-delete-history-modal-confirm">Yes, do it!</button>
            </div>
        </div>
    </div>
</div>
<!-- delete user modal -->
<div class="modal fade delete-user-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <h5 class="ui-delete-user-modal-msg">Do you really want to delete your user account?</h5>
                <strong class="ui-delete-user-modal-item">This will delete your account, all notes that are owned by you and remove all references to your account from other notes.</strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default ui-delete-user-modal-cancel" data-dismiss="modal">Cancel</button>
                <a type="button" class="btn btn-danger" href="https://docs.monadical.com/me/delete/">Yes, do it!</a>
            </div>
        </div>
    </div>
</div>
<!-- signin modal -->
<div class="modal fade signin-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="mySmallModalLabel">Choose method</h4>
            </div>
            <div class="modal-body" style="text-align: center;">
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                <h4>Sign in via E-Mail</h4>
                <form data-toggle="validator" role="form" class="form-horizontal" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" name="email" placeholder="E-Mail" required>
                            <span class="help-block control-label with-errors" style="display: inline;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="password" class="form-control" name="password" placeholder="Password" required>
                            <span class="help-block control-label with-errors" style="display: inline;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" formaction="https://docs.monadical.com/login">Sign In</button>
                            <button type="submit" class="btn btn-default" formaction="https://docs.monadical.com/register">Register</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>


    <script src="https://docs.monadical.com/config"></script><script src="https://docs.monadical.com/build/vendors~common.deda981c1c31221a91d9.js" defer="defer"></script><script src="https://docs.monadical.com/build/common.6da413651c225dd97e7a.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~cover~cover-pack~index~index-pack~pretty~pretty-pack~slide~slide-pack.897edf415109c21e7fb2.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~cover~cover-pack.312b317523ee19ef6adb.js" defer="defer"></script><script src="https://docs.monadical.com/build/cover-pack.9a62bed5792a368ec43c.js" defer="defer"></script>

</body>

</html>
