<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport"/>
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
<meta content="yes" name="mobile-web-app-capable"/>
<meta content="   &lt;center&gt;      #  Beauty Really Is Skin-Deep?        &lt;big&gt;      **Introducing the Minecraft Skins " name="description"/>





<base href=""/>
<title>Beauty Really Is Skin-Deep?</title>
<link href="https://docs.monadical.com/icons/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180"/>
<link href="https://docs.monadical.com/icons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
<link href="https://docs.monadical.com/icons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
<link href="https://docs.monadical.com/icons/site.webmanifest" rel="manifest"/>
<link color="#b51f08" href="https://docs.monadical.com/icons/safari-pinned-tab.svg" rel="mask-icon"/>
<link href="https://docs.monadical.com/icons/favicon.ico" rel="shortcut icon"/>
<meta content="HedgeDoc - Ideas grow better together" name="apple-mobile-web-app-title"/>
<meta content="HedgeDoc - Ideas grow better together" name="application-name"/>
<meta content="#b51f08" name="msapplication-TileColor"/>
<meta content="https://docs.monadical.com/icons/browserconfig.xml" name="msapplication-config"/>
<meta content="#b51f08" name="theme-color"/>
<link href="https://docs.monadical.com/build/emojify.js/dist/css/basic/emojify.min.css" rel="stylesheet"/>
<link href="https://docs.monadical.com/build/font-pack.4362583c9249021b5028.css" rel="stylesheet"/><link href="https://docs.monadical.com/build/2.15c517ea2148f55c8206.css" rel="stylesheet"/><link href="https://docs.monadical.com/build/3.ec6e7d6280fcd73e729d.css" rel="stylesheet"/><link href="https://docs.monadical.com/build/pretty-styles-pack.2fb0d01138de2df6de0a.css" rel="stylesheet"/><link href="https://docs.monadical.com/build/pretty-styles.8aa1888af7df52aee395.css" rel="stylesheet"/><link href="https://docs.monadical.com/build/1.1666d9d869a0532d9bce.css" rel="stylesheet"/><link href="https://docs.monadical.com/build/pretty.6b8d0fd475bd77f9c4c4.css" rel="stylesheet"/>
</head>
<body style="display:none;">
<div class="ui-infobar container-fluid unselectable hidden-print">
<small>
<span>
<span class="ui-lastchangeuser"> <i class="ui-user-icon small" data-placement="right" data-toggle="tooltip" style="background-image: url(https://docs.monadical.com/user/ana/avatar.svg);" title="ana"></i></span>
                
                 <span class="text-uppercase ui-status-lastchange"></span>
<span class="ui-lastchange text-uppercase" data-createtime="Fri Oct 06 2023 19:26:05 GMT+0000 (Coordinated Universal Time)" data-updatetime="Fri Oct 13 2023 20:05:58 GMT+0000 (Coordinated Universal Time)"></span>
</span>
<span class="pull-right">708 views <a class="ui-edit" href="https://docs.monadical.com/#" title="Edit this note"><i class="fa fa-fw fa-pencil"></i></a></span>
<br/>
<span class="ui-owner">
                 <i class="ui-user-icon small" data-placement="right" data-toggle="tooltip" style="background-image: url(https://docs.monadical.com/user/ops/avatar.svg);" title="ops"></i>
                 <span class="text-uppercase">owned this note</span>
</span>
</small>
</div>
<div class="container markdown-body" id="doc">


&lt;center&gt;
    
#  Beauty Really Is Skin-Deep? 

    
&lt;big&gt;
    
**Introducing the Minecraft Skins Generator**
    
&lt;/big&gt;
    
*Written by Hanna Jodrey. Originally published 2023-10-13 on the [Monadical blog](https://monadical.com/blog.html).*
    
&lt;/center&gt;

Have you ever played Minecraft, but felt underwhelmed by your avatar’s appearance and wished you were Baby Yoda, Spongebob, or Shrek instead? Great news, Crafty McCrafterson! Now you can re-skin your Minecraft character into anything you want, with nothing but your own words spun through a fine-tuned Stable Diffusion model!

Meet Monadical’s [Minecraft Skin Generator](https://skingenerator.io/)—an app that lets you create custom, original skins. The Skin Generator can whip up a countless array of quality skins from nothing but simple text prompts. Just pop in the desired details, like "a creepy skeleton" or "Twilight Sparkle", and then watch the app work its Minecraft magic in mere seconds:

&lt;center&gt;
    
   ![](https://docs.monadical.com/uploads/072a8483-be31-4c0a-9beb-965cee4c1f75.gif)
``"A skeleton"``
&lt;/center&gt;



Let's talk about our partner in creativity, Monadical’s own open-source AI art generation tool, [Morpheus](https://morpheus.monadical.io/about). Our skin generator taps into Morpheus's backend, bringing a tailor-made AI experience to our fellow crafters.

The Minecraft Skin Generator revolves around a credit-based system, offering a limited number of complimentary credits when you sign up. With the option to add more credits as you desire, you can keep creating custom skins to your heart’s content. What’s more, we don’t collect any of your personal data and we value your privacy, so keep things safe on your device or have them strut their stuff across all your accounts - your skins, your call. 

Monadical’s Minecraft Skin Generator revolutionizes the traditional Minecraft experience with personal expression. Are you itching to roam the Overworld as Gandalf the Grey, inspire terror and awe as Voldemort, or memorialize your cat Pickles, who suddenly went to live on a farm when you were eight? Or maybe you want to adorn yourself in the colours of your favourite NHL team (GO LEAFS!!!) or paint yourself black to reflect the darkness in your soul after they predictably and invariably disappoint you in the first round of the playoffs. No matter what you want to create, this tool is your ultimate sidekick to animate your vision. So go on - snag the Minecraft Skin Generator today and spin up some stylish new looks.

&lt;center&gt;

![](https://docs.monadical.com/uploads/f3efc95d-0438-4328-a5aa-6765fa6e2a99.gif)
``"A teenage mutant ninja turtle"``

&lt;/center&gt;

Interested in learning more?  Check out our [blog posts](https://monadical.com/blog.html) to find out how we [fine-tuned a Stable Diffusion model on a Minecraft dataset](https://monadical.com/posts/mincraft-skin-generation.html) to [create custom skins](https://monadical.com/posts/minecraft-skins-part2.html). Or if you’re a developer and want to tinker with our app, you can [find the code](https://github.com/Monadical-SAS/minecraft_skin_generator) on GitHub. 

Don’t forget to share your skins with us and the Minecraft community: we can’t wait to see your custom creations!</div>
<div class="ui-toc dropup unselectable hidden-print" style="display:none;">
<div class="pull-right dropdown">
<a aria-expanded="false" aria-haspopup="true" class="ui-toc-label btn btn-default" data-toggle="dropdown" href="https://docs.monadical.com/#" id="tocLabel" role="button" title="Table of content">
<i class="fa fa-bars"></i>
</a>
<ul aria-labelledby="tocLabel" class="ui-toc-dropdown dropdown-menu" id="ui-toc">
</ul>
</div>
</div>
<div class="ui-affix-toc ui-toc-dropdown unselectable hidden-print" data-spy="affix" id="ui-toc-affix" style="display:none;"></div>
</body>
</html>
<script src="https://docs.monadical.com/js/mathjax-config-extra.js"></script>
<script defer="" src="https://docs.monadical.com/build/MathJax/MathJax.js"></script>
<script defer="" src="https://docs.monadical.com/build/MathJax/config/TeX-AMS-MML_HTMLorMML.js"></script>
<script defer="" src="https://docs.monadical.com/build/MathJax/config/Safe.js"></script>
<script src="https://docs.monadical.com/config"></script><script defer="defer" src="https://docs.monadical.com/build/vendors~common.6ca6a20d83df19066d96.js"></script><script defer="defer" src="https://docs.monadical.com/build/common.deaa5ba7add85ca9499b.js"></script><script defer="defer" src="https://docs.monadical.com/build/vendors~cover~cover-pack~index~index-pack~pretty~pretty-pack~slide~slide-pack.3a55279942375e344a4b.js"></script><script defer="defer" src="https://docs.monadical.com/build/vendors~index~index-pack~pretty~pretty-pack~slide~slide-pack.00ba21c360fe4ee91e15.js"></script><script defer="defer" src="https://docs.monadical.com/build/pretty-pack.6e275e1bc24af120eb14.js"></script>
