<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    
    
    <meta name="description" content="   &lt;center&gt;      #  Morpheus: A Dream Machine for AI Art Generation      &lt;big&gt;      **Giving you the">
    
    
    
    <meta property="og:title" content="Morpheus: A Dream Machine for AI Art Generation - HedgeDoc">
    
    
    
    <meta property="og:type" content="website">
    
    <meta property="og:image" content="https://docs.monadical.com/icons/android-chrome-512x512.png">
    <meta property="og:image:alt" content="HedgeDoc logo">
    <meta property="og:image:type" content="image/png">
    
    <base href="">
    <title>Morpheus: A Dream Machine for AI Art Generation - HedgeDoc</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://docs.monadical.com/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://docs.monadical.com/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://docs.monadical.com/icons/favicon-16x16.png">
<link rel="manifest" href="https://docs.monadical.com/icons/site.webmanifest">
<link rel="mask-icon" href="https://docs.monadical.com/icons/safari-pinned-tab.svg" color="#b51f08">
<link rel="shortcut icon" href="https://docs.monadical.com/icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="HedgeDoc - Ideas grow better together">
<meta name="application-name" content="HedgeDoc - Ideas grow better together">
<meta name="msapplication-TileColor" content="#b51f08">
<meta name="msapplication-config" content="https://docs.monadical.com/icons/browserconfig.xml">
<meta name="theme-color" content="#b51f08">

    <link rel="stylesheet" href='https://docs.monadical.com/build/emojify.js/dist/css/basic/emojify.min.css'>
    <link href="https://docs.monadical.com/build/font-pack.6f3ecd0bf31c428a95f7.css" rel="stylesheet"><link href="https://docs.monadical.com/build/2.011fed84e8b0e1b602b9.css" rel="stylesheet"><link href="https://docs.monadical.com/build/3.b73adae1f3405136330d.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles-pack.67a0a5daa4bc987211b4.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles.0d5fbbf27dee52197955.css" rel="stylesheet"><link href="https://docs.monadical.com/build/1.c696cbbf0654f912e3b9.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty.03c68f0397eb54366b06.css" rel="stylesheet">
</head>

<body style="display:none;">
    <div class="ui-infobar container-fluid unselectable hidden-print">
        <small>
            <span>
                
                    <span class="ui-lastchangeuser">&thinsp;<i class="ui-user-icon small" style="background-image: url(https://cdn.libravatar.org/avatar/f94a3fb3f095243cee71ab1cb801a836?default=identicon&s=96);" data-toggle="tooltip" data-placement="right" title="hanna"></i></span>
                
                &nbsp;<span class="text-uppercase ui-status-lastchange"></span>
                <span class="ui-lastchange text-uppercase" data-createtime="Fri Sep 15 2023 02:11:57 GMT+0000 (Coordinated Universal Time)" data-updatetime="Tue Sep 26 2023 15:51:08 GMT+0000 (Coordinated Universal Time)"></span>
            </span>
            <span class="pull-right">391 views <a href="https://docs.monadical.com/#" class="ui-edit" title="Edit this note"><i class="fa fa-fw fa-pencil"></i></a></span>
            <br>
            
        </small>
    </div>
    <div id="doc" class="container markdown-body" >


&lt;center&gt;
    
#  Morpheus: A Dream Machine for AI Art Generation
    
&lt;big&gt;
    
**Giving you the power to create stunning and beautiful generative art**
    
&lt;/big&gt;
    
*Written by Hanna Jodrey. Originally published 2023-09-26 on the [Monadical blog](https://monadical.com/blog.html).*
    
&lt;/center&gt;

We&#39;re excited and delighted to announce the launch of [Morpheus](https://morpheus.monadical.io/), our brand-new, open-source, self-hosted, generative art WebUI and build pipeline!

Named after the Greek god of dreams, our team created Morpheus with flexibility, accessibility, and fun in mind. Using Python and JavaScript, we originally developed Morpheus as a tool to iterate quickly on concept art for [Eon Rush](https://www.eonrush.com/), a Multiplayer Online Battle Arena (MOBA) game we built in Unity for one of our clients.  We also wanted to build a tool that was creative and fun for curious newbies just beginning to experiment with generative art, so it was intentionally designed to be easily navigable and accessible.

![](https://docs.monadical.com/uploads/8a338ce7-ba35-472b-a850-ec8ee95998bf.png)


*8K picture where a Greek-style god is playing video games. holographice, glowing, extremely detailed, studio photo, intricate details, highly detailed.*

Morpheus allows artists and developers to use diverse generative models to create some staggering imagery. Use one of the built-in models (such as Stable Diffusion v1, v2, XL, or Openjourney) or upload your own fine-tuned Stable Diffusion model. Morpheus handles model requests, elastically spins up GPU instances, and enables uploading your images to an AWS S3 bucket. In other words, you don’t need to worry about managing the infrastructure yourself, even with large jobs. Built to be accessible to everyone, you don’t need to be a machine learning expert to use Morpheus.

![](https://docs.monadical.com/uploads/092c5ccf-c270-4f89-9795-1002c143ce43.png)

*Forest wanderer, painterly style, flat colours, illustration, bright and colourful, high contrast, Mythology, cinematic, detailed, atmospheric, 8k, corona render.*


## The Features

Morpheus boasts some standout tools for creators and developers to enhance and customize their art. In addition to generating images based on both text prompts and other uploaded images, Morpheus also lets you change the style of an image, offers an integrated, collaborative painting system, allows you to modify sections of an existing image, and features a private image gallery. 


- **To generate an image based on a prompt,** just enter a text description of the image you want to create. 

- **To generate an image based on another image,** load your base image and, in the text prompt, describe the changes you want to see.

- **Change the style of an image** by choosing different styles of art, such as Impressionism, Surrealism, Pop Art, Minimalism, or Abstract. You can also choose to have your image generated in the style of a particular artist.

![](https://docs.monadical.com/uploads/36059ef3-be38-4cb8-b00b-be0a035450b9.png)


- **The integrated collaborative painting system** allows you to make initial sketches of the desired images. In an online editor, you can also collaborate with other users to create a collaborative painting.  

![](https://docs.monadical.com/uploads/69f610e7-b9be-4c0e-93f6-9a37911c5348.png)

- **Inpainting** lets you modify your existing image by adding, removing, or replacing any part of it, simply by prompting the model. Why not turn a dog into a cat, or add an alien 👽 to a park bench?

![](https://docs.monadical.com/uploads/ca08399d-7355-4214-a0a7-02686b1826c2.png)

- **The Image Gallery** stores your images in a private folder. You can also create image collections to store similar concepts, which you can then use as base images to edit with AI models.  

![](https://docs.monadical.com/uploads/b443935f-2645-437a-806d-83352e6de97c.png)

## The Details

Let’s talk for a moment about the heavy lifting. We built the frontend with NextJs/React, while the backend, where all the magic happens, was developed with FastAPI. We also used PostgreSQL to store and manage data and AWS S3 to store the images and models. To handle the GPU power, run the models, and generate the art, we use [Ray](https://www.ray.io/). We also use AWS EKS (Kubernetes cluster) to deploy everything online and scale up or down as needed. To manage the infrastructure, we use Terraform, and to send the code to production, we use Helm. 

In terms of non-functional requirements, Morpheus is a flexible beast and can work in a variety of different scenarios and platforms. Portability-wise, you can run the project on your local PC or deploy it in the cloud with just a few commands. Since Morpheus also runs on a Kubernetes cluster, you can switch between different cloud providers or platforms easily. It’s smart and scalable too; it allows you to set the minimum and maximum resources to be used in the project configuration files. Morpheus also uses a warm pool strategy, which means it can spin up new server instances if needed, and quickly.



    
![](https://docs.monadical.com/uploads/10051b1f-11dd-49cd-9001-5f901c4b12ea.png)



*Temple in ruins, forest, stairs, columns, cinematic, detailed, atmospheric, epic, concept art, matte painting, background, mist, photo-realistic, concept art, volumetric light, cinematic epic, 8k.*



## The Future

Looking ahead, we have a few things up our sleeve! Namely, we’re going to expand our Gallery functions to create a public collection; you can look forward to sharing your favourite images with the rest of the world, or use any of the publicly available images as a base for new image generation. We’re also integrating a plugin system to create a Shopify-like marketplace, where we intend to connect multiple plugins developed by the community of users. What’s more, we’re creating a micro-framework to deploy models as plugins in the global system, and we’re currently building a payment system to allow users to access premium features, such as our 3D texturing and [Minecraft Skin Generator](link) plugins. We’re also exploring the possibility of adding text2video and image outpainting features. Lastly, we&#39;re considering Solana integration so that you can pay with crypto, while NFT and Blockchain integration would enable you to send the artwork directly to your wallet. 

![](https://docs.monadical.com/uploads/bfc60051-4de3-46dc-a860-e4aa45ba0cef.png)


*Futuristic photo studio, wide, stunning, ultra-high-definition (UHD), 8K, detailed, controlled, distinctive, rich, trending, precise, intricate, Blockchain technology.*


At [Monadical](https://monadical.com/), we&#39;re proud to be a part of the growing community of tools and technologies that are making generative art more fun and accessible than ever before. We believe that, in collaboration with the creative minds of artists and dreamers, Morpheus has the potential to unlock unimagined possibilities in generative AI. 

Interested in checking it out for yourself? To get started, visit our website and [GitHub repository](https://github.com/Monadical-SAS/Morpheus). We can’t wait to see what you’ll dream up! 🚀🎨
</div>
    <div class="ui-toc dropup unselectable hidden-print" style="display:none;">
        <div class="pull-right dropdown">
            <a id="tocLabel" class="ui-toc-label btn btn-default" data-toggle="dropdown" href="https://docs.monadical.com/#" role="button" aria-haspopup="true" aria-expanded="false" title="Table of content">
                <i class="fa fa-bars"></i>
            </a>
            <ul id="ui-toc" class="ui-toc-dropdown dropdown-menu" aria-labelledby="tocLabel">
            </ul>
        </div>
    </div>
    <div id="ui-toc-affix" class="ui-affix-toc ui-toc-dropdown unselectable hidden-print" data-spy="affix" style="display:none;"></div>
    
</body>

</html>
<script src="https://docs.monadical.com/js/mathjax-config-extra.js"></script>
<script src="https://docs.monadical.com/build/MathJax/MathJax.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/TeX-AMS-MML_HTMLorMML.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/Safe.js" defer></script>
<script src="https://docs.monadical.com/config"></script><script src="https://docs.monadical.com/build/vendors~common.b63e803341293656b32e.js" defer="defer"></script><script src="https://docs.monadical.com/build/common.dc359ffa1d303e78db47.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~cover~cover-pack~index~index-pack~pretty~pretty-pack~slide~slide-pack.d107ac6ccdc2f7684946.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~index~index-pack~pretty~pretty-pack~slide~slide-pack.a2fac85c338ccd8282ca.js" defer="defer"></script><script src="https://docs.monadical.com/build/pretty-pack.8a4f868f9e7676405f31.js" defer="defer"></script>


