<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport"/>
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
<meta content="yes" name="mobile-web-app-capable"/>
<meta content="&lt;center&gt;  Why Open Source Projects Are Key to Innovation and Technology ===      &lt;big&gt;  **Find out h" name="description"/>



<meta content="HedgeDoc logo" property="og:image:alt"/>
<meta content="image/png" property="og:image:type"/>
<base href=""/>
<title>Why Open Source Projects Are Key to Innovation and Technology - HedgeDoc</title>
<link href="https://docs.monadical.com/icons/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180"/>
<link href="https://docs.monadical.com/icons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
<link href="https://docs.monadical.com/icons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
<link href="https://docs.monadical.com/icons/site.webmanifest" rel="manifest"/>
<link color="#b51f08" href="https://docs.monadical.com/icons/safari-pinned-tab.svg" rel="mask-icon"/>
<link href="https://docs.monadical.com/icons/favicon.ico" rel="shortcut icon"/>
<meta content="HedgeDoc - Ideas grow better together" name="apple-mobile-web-app-title"/>
<meta content="HedgeDoc - Ideas grow better together" name="application-name"/>
<meta content="#b51f08" name="msapplication-TileColor"/>
<meta content="https://docs.monadical.com/icons/browserconfig.xml" name="msapplication-config"/>
<meta content="#b51f08" name="theme-color"/>
<link href="https://docs.monadical.com/build/emojify.js/dist/css/basic/emojify.min.css" rel="stylesheet"/>
<link href="https://docs.monadical.com/build/font-pack.4362583c9249021b5028.css" rel="stylesheet"/><link href="https://docs.monadical.com/build/2.15c517ea2148f55c8206.css" rel="stylesheet"/><link href="https://docs.monadical.com/build/3.ec6e7d6280fcd73e729d.css" rel="stylesheet"/><link href="https://docs.monadical.com/build/pretty-styles-pack.2fb0d01138de2df6de0a.css" rel="stylesheet"/><link href="https://docs.monadical.com/build/pretty-styles.8aa1888af7df52aee395.css" rel="stylesheet"/><link href="https://docs.monadical.com/build/1.1666d9d869a0532d9bce.css" rel="stylesheet"/><link href="https://docs.monadical.com/build/pretty.0424d40e7df68caf04c5.css" rel="stylesheet"/>
</head>
<body style="display:none;">
<div class="ui-infobar container-fluid unselectable hidden-print">
<small>
<span>
<span class="ui-lastchangeuser"> <i class="ui-user-icon small" data-placement="right" data-toggle="tooltip" style="background-image: url(https://cdn.libravatar.org/avatar/518753a2360b7cf60ecdc09f3664d0e3?default=identicon&amp;s=96);" title="contact"></i></span>
                
                 <span class="text-uppercase ui-status-lastchange"></span>
<span class="ui-lastchange text-uppercase" data-createtime="Tue Aug 18 2020 16:44:12 GMT+0000 (Coordinated Universal Time)" data-updatetime="Tue Aug 18 2020 17:26:50 GMT+0000 (Coordinated Universal Time)"></span>
</span>
<span class="pull-right">1331 views <a class="ui-edit" href="https://docs.monadical.com/#" title="Edit this note"><i class="fa fa-fw fa-pencil"></i></a></span>
<br/>
<span class="ui-owner">
                 <i class="ui-user-icon small" data-placement="right" data-toggle="tooltip" style="background-image: url(https://cdn.libravatar.org/avatar/aa8b1ebe25440bd38748639eebdc6eaf?default=identicon&amp;s=96);" title="nick"></i>
                 <span class="text-uppercase">owned this note</span>
</span>
</small>
</div>
<div class="container markdown-body" id="doc">&lt;center&gt;

Why Open Source Projects Are Key to Innovation and Technology
===
    
&lt;big&gt;

**Find out how open source projects are essential to innovation and the development of new technology.**

&lt;/big&gt;

*Written by [Angel](https://twitter.com/afreydev). Originally published 2020-08-18 on the [Monadical blog](https://monadical.com/blog.html).*

&lt;/center&gt;


--- 

In large companies, terms like ‘open source’, ‘technology’, and ‘innovation’ are thrown around a lot. But in my experience, there is more to these words than meets the eye. 

Many people see open source contributors (like companies or developers) as motivated chiefly by a love for the art of programming. While many open source projects certainly fit this mould, there are other great reasons to get involved with open source as well. Most of the biggest technology companies in the world invest in open source projects because (among other things) open source provides them with an opportunity to accelerate their innovation process and take advantage of tested, secure and robust technologies. This allows them to expand their portfolio and offer new products or services to their clients.

&lt;center&gt;

![open-source, innovation and technology](https://docs.monadical.com/uploads/upload_2afa3ffbb5b318c16b7dec06cf79cbd7.png)

&lt;/center&gt;


I worked as an engineer in the education industry for 11 years, helping to manage an IT department in the second largest university in Colombia. I learned that using open source is a great way to reduce risks and to improve the speed at which you can launch new services for users. Using open source can help to determine the scope of the project quickly, save money, and meet deadlines because it provides a solid foundation on which to begin work. With open source, new services are often more advanced and higher quality, since there is a wider community of developers supporting the technology. 


# What is innovation?

To innovate is to improve the way that we do something, whether through a new product, service, or technique. An innovation has utility -- it provides some advancement in process, or some social or economic benefit.  So, there is a distinction to be made between invention and innovation -- an invention simply produces something new, while an innovation provides some value in terms of efficiency, well-being, or profit. 

Fans of Kenji Kawakami’s concept of “[chindogu](https://en.wikipedia.org/wiki/Chind%C5%8Dgu)” or “unuseless inventions” will already be very familiar with the idea of invention without (much) use -- delightfully un-innovative items like [umbrella shoes and cat mops](https://www.tofugu.com/japan/chindogu-japanese-inventions/). 



&lt;center&gt;

![cat mops](https://docs.monadical.com/uploads/upload_e284dbbba5d0e82652bfe190bd278a30.jpg)

Duster slippers for cats - for feline assistance with tedious housework -- from [101 Unuseless Japanese Inventions](https://www.goodreads.com/book/show/282011.101_Unuseless_Japanese_Inventions) by Kenji Kawakami

&lt;/center&gt;

But even inventions not dedicated to spreading the joy of unuslessness can fail to be innovative -- products like [Google Glasses](https://www.business2community.com/tech-gadgets/5-reasons-google-glass-miserable-failure-01462398#:~:text=Google%20Glass%20Explorers,be%20called%20%E2%80%9Cearly%20adopters%E2%80%9D.) and the [Apple Lisa](https://www.cultofmac.com/565721/apple-lisa-project/) are prime examples of inventions that ultimately didn’t have the impact necessary to be innovative, for various reasons.

One important element in dealing with innovation is measurability -- how does one quantify the impact or effectiveness of an invention, process or product? One useful tool is [ROI](https://www.investopedia.com/terms/r/returnoninvestment.asp) (return on investment), a term for metrics that attempt to measure resource investment vs. financial return of a given initiative, process or product. Recently, this concept has been adapted into another measurement tool called [SROI](https://www.investopedia.com/ask/answers/070314/what-factors-go-calculating-social-return-investment-sroi.asp) (social return on investment), which attempts to quantify a company’s social, economic, and environmental impact. Precisely measuring the impact of a new product or processing remains difficult, but it’s at the core of recognizing innovation.   



&lt;center&gt;

![innovation, ROI and SROI](https://docs.monadical.com/uploads/upload_0ec88962e30cac227fa60e4c238cbde8.png)

&lt;/center&gt;



For someone to innovate, they don’t have to own a technology (with a patent or copyright). Instead, they could create a business model around licensing this technology or could find ways to use it to add value to a process, a company, or another technology. For example, while Henry Ford did not invent the gas engine, he innovated by creating a system for mass producing cars to sell to the American people.

The chief motivation for companies and countries for investing so much money into research and development is to improve their capacity to innovate. 

# The importance of technology


In the context of software or mathematics, a good way to think about technology is to associate it with a function. Technology is a function that transforms a parameter into a result. Here, parameters and results can be almost anything. If you add a resource like an orange to a juicer, the result is orange juice. In this case, the juicer is a technology that transforms oranges into orange juice. For software, the main resource is data and results can be things like information, graphics, or knowledge. So why is it important for companies to develop or adopt new technologies?

Within your company, technology can be seen as a tree. The trunk can be viewed as the core competence or the core technology of your company and its branches are the derived technologies, services, or products that you offer. For example, Tesla Inc. couldn’t build its ‘branch’ electric vehicles without its ‘trunk’ energy storage technology. And Google wouldn’t have its search engine ‘branch’ without its ‘trunk’ search algorithm. In this way, technology can also be seen as a capability or competence.

&lt;center&gt;
    
![the technology tree, trunk and it's branches](https://docs.monadical.com/uploads/upload_7b40344f2d1a01ce5e345d6104e08e42.png)

&lt;/center&gt;


Technology supports every service or product in your company’s portfolio; constantly improving core technologies can give your company a competitive edge. Technology management enables your company to improve its processes, products and services, enabling you to add more value for your clients.


#  So, why open source?


Open source projects can play varied roles in the context of an IT innovation ecosystem. Here are a few of the goals that someone could have when working on an open source project in a corporate context:



## 1. Freemium business model: 
The essence of open source software is that it's free to use, modify, and distribute. So where is the business opportunity here? Well, if your open source software is useful, people that install it and use it to support a part of their business may need your support for their operations. For instance, they may need you to fix its security vulnerabilities, to upgrade it, to customize it, and to integrate it with other software. The practice of providing a service for free, with additional functions or services available for a fee, is a time-tested method referred to as the “freemium” model.

A good example of this is Red Hat and Linux. Red Hat is a technology giant that has built its business around Linux (a popular open source operating system), developing its own business-oriented version called Red Hat Enterprise Linux. You can install Red Hat for free, but if you want to get support and access to the latest security patches, you have to pay for a subscription. 


Another example of this model is [Zulip](https://zulipchat.com/). This open source project is a communication platform for teams and the software is offered as a free service. Zulip then offers support for users who would like to install their software locally on their machines or who would like to use it on a cloud. Clearly, this is a business model that could work for lots of different kinds of open source projects.



&lt;center&gt;

![Zulip stream and topic screenshot](https://docs.monadical.com/uploads/upload_486d00e1058fb6f57986ee95741f9137.png)


&lt;/center&gt;


## 2. For the love of coding: 

This is the better known motivation for developing and improving open source: people enjoy doing it because they see a problem, and they see how software could solve it. Those who work on these problems often become part of communities, generating lots of fun and useful connections. 

One community working on open source software is trying to tackle the problem of digital illiteracy. Digital illiteracy is a big problem in some parts of the world where access to the internet is still not universal. For example, in Colombia, many children in rural areas don’t know what web surfing is. Projects like [ArchiveBox](https://github.com/pirate/ArchiveBox) or [Kiwix](https://www.kiwix.org/en/) are good examples of how software can be used to solve this problem, since they allow us to archive complete websites so that they can be accessed offline.



&lt;center&gt;

![ArchiveBox screenshot](https://docs.monadical.com/uploads/upload_6358dcf7d118536dccff66329cc122f9.png) &lt;/center&gt;


## 3. Developing technological skills and assets: 

Open source can be an opportunity for companies to improve their core competencies or capabilities. This is why we see rival companies like IBM, Amazon and Microsoft collaborating to develop [Hadoop](https://hadoop.apache.org/), a big data framework. Similarly, Red Hat, Google, and VMWare have teamed up on the [Kubernetes](https://kubernetes.io/) project. In both cases, these companies have an interest in developing new characteristics for a technology that can then become a part of their technology ‘trunk’. IBM, Amazon, and Microsoft offer services related to processing huge quantities of data or applying machine learning algorithms. Red Hat, Google, and VMWare all have services that can make use of the Kubernetes project to deploy applications like container technology. Open source projects, then, are an opportunity for companies to acquire new technologies, guided by industry requirements, while reducing or sharing the risks involved.



Open source projects have become a very popular method for creating unique and innovative ways to stand out and generate value. Most technology companies work this way because they understand that growing a community is an important way to improve the quality and security of their technology. In fact, it is sometimes a better investment than an in-house project.




At Monadical [we believe in open source](https://docs.monadical.com/s/principles-handbook). We do it because we love coding, and we also do it to help out causes we care about, to develop our skills, and to help keep driving innovation forward. 





---

&lt;center&gt;
 
&lt;img src="https://monadical.com/static/logo-black.png" style="height: 80px"/&gt;&lt;br/&gt;
    
Monadical.com | Full-Stack Consultancy
*We build software that outlasts us*
    
&lt;/center&gt;

---</div>
<div class="ui-toc dropup unselectable hidden-print" style="display:none;">
<div class="pull-right dropdown">
<a aria-expanded="false" aria-haspopup="true" class="ui-toc-label btn btn-default" data-toggle="dropdown" href="https://docs.monadical.com/#" id="tocLabel" role="button" title="Table of content">
<i class="fa fa-bars"></i>
</a>
<ul aria-labelledby="tocLabel" class="ui-toc-dropdown dropdown-menu" id="ui-toc">
</ul>
</div>
</div>
<div class="ui-affix-toc ui-toc-dropdown unselectable hidden-print" data-spy="affix" id="ui-toc-affix" style="display:none;"></div>
</body>
</html>
<script src="https://docs.monadical.com/js/mathjax-config-extra.js"></script>
<script defer="" src="https://docs.monadical.com/build/MathJax/MathJax.js"></script>
<script defer="" src="https://docs.monadical.com/build/MathJax/config/TeX-AMS-MML_HTMLorMML.js"></script>
<script defer="" src="https://docs.monadical.com/build/MathJax/config/Safe.js"></script>
<script src="https://docs.monadical.com/config"></script><script defer="defer" src="https://docs.monadical.com/build/vendors~common.0252483117be96f00e28.js"></script><script defer="defer" src="https://docs.monadical.com/build/common.0c0667a7b004f0fcfd13.js"></script><script defer="defer" src="https://docs.monadical.com/build/vendors~cover~cover-pack~index~index-pack~pretty~pretty-pack~slide~slide-pack.89ccd89a09f629d94d5c.js"></script><script defer="defer" src="https://docs.monadical.com/build/vendors~index~index-pack~pretty~pretty-pack~slide~slide-pack.ab8ca16a9a0e12c92d31.js"></script><script defer="defer" src="https://docs.monadical.com/build/pretty-pack.c2685453bcc85995cfc9.js"></script>
