<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    
    
    <meta name="description" content="&lt;center&gt;  # Favorite Sites &amp; Blogs  *Originally published 2019-02-19 on [docs.sweeting.me](https://d">
    
    
    
    <meta property="og:title" content="Favorite Sites &amp; Blogs - HedgeDoc">
    
    
    
    <meta property="og:type" content="website">
    
    <meta property="og:image" content="https://docs.monadical.com/icons/android-chrome-512x512.png">
    <meta property="og:image:alt" content="HedgeDoc logo">
    <meta property="og:image:type" content="image/png">
    
    <base href="">
    <title>Favorite Sites &amp; Blogs - HedgeDoc</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://docs.monadical.com/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://docs.monadical.com/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://docs.monadical.com/icons/favicon-16x16.png">
<link rel="manifest" href="https://docs.monadical.com/icons/site.webmanifest">
<link rel="mask-icon" href="https://docs.monadical.com/icons/safari-pinned-tab.svg" color="#b51f08">
<link rel="shortcut icon" href="https://docs.monadical.com/icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="HedgeDoc - Ideas grow better together">
<meta name="application-name" content="HedgeDoc - Ideas grow better together">
<meta name="msapplication-TileColor" content="#b51f08">
<meta name="msapplication-config" content="https://docs.monadical.com/icons/browserconfig.xml">
<meta name="theme-color" content="#b51f08">

    <link rel="stylesheet" href='https://docs.monadical.com/build/emojify.js/dist/css/basic/emojify.min.css'>
    <link href="https://docs.monadical.com/build/font-pack.6f3ecd0bf31c428a95f7.css" rel="stylesheet"><link href="https://docs.monadical.com/build/2.011fed84e8b0e1b602b9.css" rel="stylesheet"><link href="https://docs.monadical.com/build/3.b73adae1f3405136330d.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles-pack.67a0a5daa4bc987211b4.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles.0d5fbbf27dee52197955.css" rel="stylesheet"><link href="https://docs.monadical.com/build/1.c696cbbf0654f912e3b9.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty.03c68f0397eb54366b06.css" rel="stylesheet">
</head>

<body style="display:none;">
    <div class="ui-infobar container-fluid unselectable hidden-print">
        <small>
            <span>
                
                    <span class="ui-lastchangeuser">&thinsp;<i class="ui-user-icon small" style="background-image: url(https://cdn.libravatar.org/avatar/aa8b1ebe25440bd38748639eebdc6eaf?default=identicon&s=96);" data-toggle="tooltip" data-placement="right" title="nick"></i></span>
                
                &nbsp;<span class="text-uppercase ui-status-lastchange"></span>
                <span class="ui-lastchange text-uppercase" data-createtime="Tue Feb 19 2019 18:46:00 GMT+0000 (Coordinated Universal Time)" data-updatetime="Wed Jan 10 2024 01:10:44 GMT+0000 (Coordinated Universal Time)"></span>
            </span>
            <span class="pull-right">3419 views <a href="https://docs.monadical.com/#" class="ui-edit" title="Edit this note"><i class="fa fa-fw fa-pencil"></i></a></span>
            <br>
            
        </small>
    </div>
    <div id="doc" class="container markdown-body" >&lt;center&gt;

# Favorite Sites &amp; Blogs

*Originally published 2019-02-19 on [docs.sweeting.me](https://docs.sweeting.me/s/blog).*

A vastly incomplete list of my favorite personal and company blogs.

&lt;small&gt;Specific articles and archives can be found on https://archive.sweeting.me.&lt;/small&gt;

&lt;/center&gt;

**Categories:**
[TOC]

## Friends&#39; Blogs

 - https://cowpig.github.io/about
 - https://vanlifemedic.com
 - https://daiyi.co/blog
 - http://somethingdoneright.net
 - https://blog.appcanary.com/author/max-veytsman.html
 - https://danielputtick.com
 - https://kennandavison.com
 - https://medium.com/@tylerneely
 - https://medium.com/@8enmann
 - https://castrio.me/blog
 - https://arr.am
 - https://blog.benjojo.co.uk
 - https://blog.filippo.io
 - https://www.tommycollison.com/blog
 - https://ayh.io
 - https://akaptur.com
 - https://andrewkelley.me
 - http://nickcammarata.com/writing
 - https://tinyletter.com/benjmann/archive
 
Did I forget your blog? Sorry! Ping me on [Twitter](https://twitter.com/theSquashSH) and I&#39;ll add it!


## Favorite Personal Blogs

 - https://www.binwang.me/
 - https://macwright.com/
 - https://bradfrost.com/ (bubbles in the header)
 - https://acko.net/ (amazing WebGL animations / winamp visualizer style art)
 - https://minimaxir.com
 - https://blog.yoav.ws/
 - https://www.jefftk.com/p/index
 - https://utcc.utoronto.ca/~cks/space/blog/
 - https://sowbug.github.io/
 - https://rbs.io/
 - https://apenwarr.ca
 - https://gwern.net
 - http://dtrace.org/blogs/bmc/
 - https://dbmsmusings.blogspot.com
 - https://samsaffron.com
 - https://slatestarcodex.com
 - https://martinfowler.com
 - https://blog.dbsmasher.com
 - https://www.scriptcrafty.com
 - https://brewster.kahle.org
 - https://thoughtstreams.io/higgins
 - https://danluu.com
 - https://www.eugenewei.com
 - https://www.xaprb.com/archives/
 - https://blog.jessfraz.com
 - https://www.b-list.org/weblog
 - https://mxstbr.com/thoughts
 - https://ianmilligan.ca
 - https://blog.zachwf.com
 - https://norvig.com
 - https://bost.ocks.org/mike/
 - http://worrydream.com/
 - https://jvns.ca
 - https://r0ml.us
 - https://tonsky.me
 - https://jack-vanlightly.com/blog
 - https://nathanshane.me/blog/
 - https://mg.lol/blog
 - https://david942j.blogspot.com
 - https://blog.sheddow.xyz
 - https://blog.codinghorror.com
 - https://www.troyhunt.com
 - https://www.cs.cmu.edu/~jbigham
 - https://www.doxsey.net/blog
 - https://blog.waffles.space
 - https://mndrix.blogspot.com
 - https://bridgetkromhout.com/blog
 - https://mikehadlow.blogspot.com
 - https://www.daz.zone/blog
 - https://www.johndcook.com/blog
 - https://oshogbo.vexillium.org/blog
 - https://matthias-endler.de
 - https://nullprogram.com/index/
 - https://blog.fawny.org
 - https://250bpm.com
 - https://daniel.haxx.se
 - https://seldo.com/weblog
 - https://aphyr.com/posts
 - https://www.aeracode.org/blog
 - https://michaellynn.github.io
 - https://catonmat.net
 - https://blog.danslimmon.com
 - https://www.aaronsw.com/weblog
 - https://anderspitman.net/blog
 - https://blog.acolyer.org
 - https://blog.petrzemek.net
 - http://www.ianbicking.org/archives.html
 - https://byorgey.wordpress.com
 - https://blog.safia.rocks/archive
 - https://edwardfeser.blogspot.com
 - https://jdow.io/blog
 - https://blog.samaltman.com
 - https://antirez.com
 - http://www.tomanthony.co.uk/blog/
 - https://steve-yegge.blogspot.com
 - https://ridiculousfish.com/blog/posts.html
 - https://rachelbythebay.com
 - https://https.www.google.com.tedunangst.com/flak
 - https://chneukirchen.org/trivium
 - https://www.joelonsoftware.com
 - https://daringfireball.net
 - https://www.ben-evans.com
 - https://latacora.singles/archive
 - https://martinfowler.com
 - https://www.brendangregg.com/blog
 - https://wingolog.org
 - https://www.churyumov.com
 - https://lucumr.pocoo.org
 - https://nicholas.carlini.com/writing
 - https://alex.blog
 - https://www.schneier.com
 - https://blog.extracheese.org
 - https://box.matto.nl
 - https://gergely.imreh.net/blog
 - https://oleb.net
 - https://nickmchardy.com
 - https://zachholman.com
 - https://ronjeffries.com
 - https://raganwald.com
 - https://drewdevault.com
 - https://matt.might.net/articles
 - https://prog21.dadgum.com
 - https://www.evanmiller.org
 - https://www.hanselman.com/blog
 - https://dave.cheney.net
 - https://nullprogram.com
 - https://mattwarren.org
 - https://www.windytan.com
 - https://preshing.com
 - https://kev.inburke.com
 - https://www.mattcutts.com/blog
 - https://nickcraver.com/blog
 - https://nikolay.rocks
 - https://samsaffron.com
 - https://blog.jayfields.com
 - https://jelv.is/blog
 - https://aakinshin.net/posts

## Favorite Company Blogs

 - https://eclecticlight.co
 - https://www.recurse.com/blog
 - https://stripe.com/blog
 - https://www.cockroachlabs.com/blog
 - https://pingcap.com/blog-cn
 - https://lambda-the-ultimate.org
 - https://blog.appcanary.com
 - https://objective-see.com/blog.html
 - https://www.redhat.com/en/blog
 - https://blogs.dropbox.com
 - https://www.backblaze.com/blog
 - https://blog.cloudflare.com
 - https://slab.com/blog
 - https://fs.blog/blog
 - https://codebetter.com
 - https://blog.mozilla.org
 - https://segment.com/blog
 - https://www.openfaas.com/blog
 - https://triplebyte.com/blog
 - https://electronjs.org/blog
 - https://mux.com/blog
 - https://blog.dgraph.io
 - https://www.intercom.com/blog
 - https://blog.google
 - https://blogs.microsoft.com
 - https://circleci.com/blog
 - https://blog.discordapp.com
 - https://blog.robertelder.org
 - https://nex7.blogspot.com
 - https://blog.darlinghq.org
 - https://www.xfive.co/blog
 - https://www.loggly.com/blog
 - https://www.outlyer.com/blog
 - https://blogs.sciencemag.org
 - https://www.freenas.org/blog
 - https://ifixit.org/blog
 - https://github.blog
 - https://fauna.com/blog
 - https://www.innoq.com/de/blog
 - https://ai.googleblog.com
 - https://pgdash.io/blog/index.html
 - https://blog.bradfieldcs.com
 - https://blog.growthbot.org
 - https://engineering.mixmax.com/blog
 - https://weblog.rogueamoeba.com
 - https://www.fastly.com/blog
 - https://protonmail.com/blog
 - https://developers.googleblog.com
 - https://www.confluent.io/blog
 - https://blog.codepipes.com
 - https://lucklab.ucdavis.edu/blog
 - https://www.oreilly.com/ideas
 - https://highscalability.com
 - https://stratechery.com
 - https://www.thingsquare.com/blog
 - https://blogs.msdn.microsoft.com/oldnewthing
 - https://www.dragonflydigest.com
 - https://cdm.link
 - https://habr.com/en
 - https://www.redblobgames.com
 - https://journal.plausible.io
 - https://codeascraft.com
 - https://aerotwist.com/blog
 - https://elegantcode.com

## Major Sites

 - http://nautil.us
 - https://lwn.net
 - https://dev.to
 - https://9to5mac.com
 - https://hackaday.com
 - https://thedailywtf.com</div>
    <div class="ui-toc dropup unselectable hidden-print" style="display:none;">
        <div class="pull-right dropdown">
            <a id="tocLabel" class="ui-toc-label btn btn-default" data-toggle="dropdown" href="https://docs.monadical.com/#" role="button" aria-haspopup="true" aria-expanded="false" title="Table of content">
                <i class="fa fa-bars"></i>
            </a>
            <ul id="ui-toc" class="ui-toc-dropdown dropdown-menu" aria-labelledby="tocLabel">
            </ul>
        </div>
    </div>
    <div id="ui-toc-affix" class="ui-affix-toc ui-toc-dropdown unselectable hidden-print" data-spy="affix" style="display:none;"></div>
    
</body>

</html>
<script src="https://docs.monadical.com/js/mathjax-config-extra.js"></script>
<script src="https://docs.monadical.com/build/MathJax/MathJax.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/TeX-AMS-MML_HTMLorMML.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/Safe.js" defer></script>
<script src="https://docs.monadical.com/config"></script><script src="https://docs.monadical.com/build/vendors~common.b63e803341293656b32e.js" defer="defer"></script><script src="https://docs.monadical.com/build/common.dc359ffa1d303e78db47.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~cover~cover-pack~index~index-pack~pretty~pretty-pack~slide~slide-pack.d107ac6ccdc2f7684946.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~index~index-pack~pretty~pretty-pack~slide~slide-pack.a2fac85c338ccd8282ca.js" defer="defer"></script><script src="https://docs.monadical.com/build/pretty-pack.8a4f868f9e7676405f31.js" defer="defer"></script>


