<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    
    
    <meta name="description" content="&lt;center&gt;  # Breach Response Guidelines for Companies  *Originally published 2018-12-06 on [docs.swee">
    
    
    
    <meta property="og:title" content="Breach Response Guidelines for Companies - HedgeDoc">
    
    
    
    <meta property="og:type" content="website">
    
    <meta property="og:image" content="https://docs.monadical.com/icons/android-chrome-512x512.png">
    <meta property="og:image:alt" content="HedgeDoc logo">
    <meta property="og:image:type" content="image/png">
    
    <base href="">
    <title>Breach Response Guidelines for Companies - HedgeDoc</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://docs.monadical.com/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://docs.monadical.com/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://docs.monadical.com/icons/favicon-16x16.png">
<link rel="manifest" href="https://docs.monadical.com/icons/site.webmanifest">
<link rel="mask-icon" href="https://docs.monadical.com/icons/safari-pinned-tab.svg" color="#b51f08">
<link rel="shortcut icon" href="https://docs.monadical.com/icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="HedgeDoc - Collaborative markdown notes">
<meta name="application-name" content="HedgeDoc - Collaborative markdown notes">
<meta name="msapplication-TileColor" content="#b51f08">
<meta name="msapplication-config" content="https://docs.monadical.com/icons/browserconfig.xml">
<meta name="theme-color" content="#b51f08">

    <link rel="stylesheet" href='https://docs.monadical.com/build/emojify.js/dist/css/basic/emojify.min.css'>
    <link href="https://docs.monadical.com/build/font-pack.51d576c9ea0a7705d2e0.css" rel="stylesheet"><link href="https://docs.monadical.com/build/2.04010c738e6d668e6e08.css" rel="stylesheet"><link href="https://docs.monadical.com/build/3.b67314821de89ccff48b.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles-pack.6437be263d7329017dfe.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles.8aa1888af7df52aee395.css" rel="stylesheet"><link href="https://docs.monadical.com/build/1.1666d9d869a0532d9bce.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty.0424d40e7df68caf04c5.css" rel="stylesheet">
</head>

<body style="display:none;">
    <div class="ui-infobar container-fluid unselectable hidden-print">
        <small>
            <span>
                
                    <span class="ui-lastchangeuser">&thinsp;<i class="ui-user-icon small" style="background-image: url(https://cdn.libravatar.org/avatar/aa8b1ebe25440bd38748639eebdc6eaf?default=identicon&s=96);" data-toggle="tooltip" data-placement="right" title="nick"></i></span>
                
                &nbsp;<span class="text-uppercase ui-status-lastchange"></span>
                <span class="ui-lastchange text-uppercase" data-createtime="Wed Feb 13 2019 23:21:10 GMT+0000 (Coordinated Universal Time)" data-updatetime="Thu Feb 14 2019 13:12:23 GMT+0000 (Coordinated Universal Time)"></span>
            </span>
            <span class="pull-right">1199 views <a href="https://docs.monadical.com/#" class="ui-edit" title="Edit this note"><i class="fa fa-fw fa-pencil"></i></a></span>
            <br>
            
        </small>
    </div>
    <div id="doc" class="container markdown-body" >&lt;center&gt;

# Breach Response Guidelines for Companies

*Originally published 2018-12-06 on [docs.sweeting.me](https://docs.sweeting.me/s/blog).*

&lt;img src=&#34;https://i.imgur.com/QsR5pFM.png&#34; style=&#34;width: 60%;&#34;&gt;

So... your company just got hacked, now what?

&lt;/center&gt;

---


**Lets talk about how to respond without jeopardizing your customer data and reputation even further in this critical time.**

You don&#39;t want to be another Equifax, and there are some simple steps you can follow to avoid the most common pitfalls.


## Intro

I&#39;m sure this is a hectic time for you.  Just just got some of the worst news an executive can get, and you&#39;re probably preparing for a PR shitstorm of epic proportions.

It&#39;s important not to rush this process, because there are good and bad ways to repsond to incidents, and you want to make sure you don&#39;t shoot yourself in the foot while you&#39;re still trying to recover from the first blow.

### Phase 1: Discovery

1. Don&#39;t panic, take time to understand what happened.  The worst desicions are made in haste
2. Find someone in your company who understands the technical details of the breach, and have them write up a 1 page report, explaining it at a high level in less technical terms
3. Determine exactly who is affected, and get a list of their contact info so you can follow up with high-value customers individually and alert everyone of steps they can take to secure their assets

### Phase 2: Preparation for Disclosure

1. **DO NOT SET UP A SEPARATE DOMAIN:** it&#39;s critical that the breach announcement be hosted on your primary domain, e.g. equifax.com instead of equifaxsecurity2017.com.  Security is all about trust relationships, and your primary domain is the root of customer&#39;s trust in your company, it&#39;s where they go to find the official announcements for your business, and you don&#39;t want to set up a new domain that has no trust established yet.  It makes it too easy for scammers and phishers to set up similar domains that decieve your customers into giving their personal details away.
2. **Set up a page on your primary domain that outlines the breach details** in three parts: *what happened*, *who is affected*, and *next steps*.  That way customers can quickly see at a glance whether or not their information has been leaked, and what steps they can take if their information has been exposed.  Ideally the page should not collect any personal info, and it should warn readers not to enter personal info into any pages that look similar.
3. **Write an email to alert your customers.**  Keep in mind that no matter how carefully you write this email, thousands of phishing and scam artists will be replicating it to try and pry information from your customers.  Make sure to alert people that they should not click any links in emails like this, and they definitely shouldn&#39;t type in any personal information.  Instead they should visit the official domain of the company, and read the announcement online. **This email must be sent from your primary domain**, and signed with DKIM and strong SPF/DMARC settings. Do not send it from a new domain like company-email.com, this can and will be easily spoofed by scammers.

### Phase 3: Disclosure

TODO: Timing of disclosure and pre-emptive media coverage to reduce misinformation.

### Phase 4: Media Coverage

TODO: Managing media coverage and taking responsibility without harming PR further.

### Phase 5: Post-Mortem and Prevention of Future Incidents

After the media frenzy has died down, it&#39;s important to have some self reflection and collect some lessons learned from the incident.

Companies can gain respect and trust from their customers by posing a blog article or newsletter piece that humbly explains what measures have been put into place to prevent future incidents like this, and what lessons have been learned from the event.


## Case Studies

TODO

### Bad Incident Responses

- Equifax
- Mariott
- The list goes on and on...

### Good Incident Responses

- Cloudbleed? (initial response was iffy, but their later posts were much better)

</div>
    <div class="ui-toc dropup unselectable hidden-print" style="display:none;">
        <div class="pull-right dropdown">
            <a id="tocLabel" class="ui-toc-label btn btn-default" data-toggle="dropdown" href="https://docs.monadical.com/#" role="button" aria-haspopup="true" aria-expanded="false" title="Table of content">
                <i class="fa fa-bars"></i>
            </a>
            <ul id="ui-toc" class="ui-toc-dropdown dropdown-menu" aria-labelledby="tocLabel">
            </ul>
        </div>
    </div>
    <div id="ui-toc-affix" class="ui-affix-toc ui-toc-dropdown unselectable hidden-print" data-spy="affix" style="display:none;"></div>
    
</body>

</html>
<script src="https://docs.monadical.com/js/mathjax-config-extra.js"></script>
<script src="https://docs.monadical.com/build/MathJax/MathJax.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/TeX-AMS-MML_HTMLorMML.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/Safe.js" defer></script>
<script src="https://docs.monadical.com/config"></script><script src="https://docs.monadical.com/build/vendors~common.deda981c1c31221a91d9.js" defer="defer"></script><script src="https://docs.monadical.com/build/common.6da413651c225dd97e7a.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~cover~cover-pack~index~index-pack~pretty~pretty-pack~slide~slide-pack.897edf415109c21e7fb2.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~index~index-pack~pretty~pretty-pack~slide~slide-pack.624da9bb49753eaa85e1.js" defer="defer"></script><script src="https://docs.monadical.com/build/pretty-pack.f314462a1d0ebb3b5365.js" defer="defer"></script>


