<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    
    
    <meta name="description" content="&lt;center&gt;  # Sharing State Between Redux Reducers  *Originally published 2016-02-18 on [labs.OddSling">
    
    
    
    <meta property="og:title" content="Sharing State Between Redux Reducers - HedgeDoc">
    
    
    
    <meta property="og:type" content="website">
    
    <meta property="og:image" content="https://docs.monadical.com/icons/android-chrome-512x512.png">
    <meta property="og:image:alt" content="HedgeDoc logo">
    <meta property="og:image:type" content="image/png">
    
    <base href="">
    <title>Sharing State Between Redux Reducers - HedgeDoc</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://docs.monadical.com/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://docs.monadical.com/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://docs.monadical.com/icons/favicon-16x16.png">
<link rel="manifest" href="https://docs.monadical.com/icons/site.webmanifest">
<link rel="mask-icon" href="https://docs.monadical.com/icons/safari-pinned-tab.svg" color="#b51f08">
<link rel="shortcut icon" href="https://docs.monadical.com/icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="HedgeDoc - Collaborative markdown notes">
<meta name="application-name" content="HedgeDoc - Collaborative markdown notes">
<meta name="msapplication-TileColor" content="#b51f08">
<meta name="msapplication-config" content="https://docs.monadical.com/icons/browserconfig.xml">
<meta name="theme-color" content="#b51f08">

    <link rel="stylesheet" href='https://docs.monadical.com/build/emojify.js/dist/css/basic/emojify.min.css'>
    <link href="https://docs.monadical.com/build/font-pack.51d576c9ea0a7705d2e0.css" rel="stylesheet"><link href="https://docs.monadical.com/build/2.04010c738e6d668e6e08.css" rel="stylesheet"><link href="https://docs.monadical.com/build/3.b67314821de89ccff48b.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles-pack.6437be263d7329017dfe.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles.8aa1888af7df52aee395.css" rel="stylesheet"><link href="https://docs.monadical.com/build/1.1666d9d869a0532d9bce.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty.0424d40e7df68caf04c5.css" rel="stylesheet">
</head>

<body style="display:none;">
    <div class="ui-infobar container-fluid unselectable hidden-print">
        <small>
            <span>
                
                    <span class="ui-lastchangeuser">&thinsp;<i class="ui-user-icon small" style="background-image: url(https://cdn.libravatar.org/avatar/aa8b1ebe25440bd38748639eebdc6eaf?default=identicon&s=96);" data-toggle="tooltip" data-placement="right" title="nick"></i></span>
                
                &nbsp;<span class="text-uppercase ui-status-lastchange"></span>
                <span class="ui-lastchange text-uppercase" data-createtime="Mon May 14 2018 17:38:02 GMT+0000 (Coordinated Universal Time)" data-updatetime="Thu Feb 14 2019 00:06:03 GMT+0000 (Coordinated Universal Time)"></span>
            </span>
            <span class="pull-right">1649 views <a href="https://docs.monadical.com/#" class="ui-edit" title="Edit this note"><i class="fa fa-fw fa-pencil"></i></a></span>
            <br>
            
        </small>
    </div>
    <div id="doc" class="container markdown-body" >&lt;center&gt;

# Sharing State Between Redux Reducers

*Originally published 2016-02-18 on [labs.OddSlingers.com](https://labs.oddslingers.com/posts/Sharing-State-Between-Redux-Reducers.html).*

&lt;/center&gt;

When writing an app using Redux and React, you may run into the common problem of having to share state between multiple components in your app.

Don’t worry, you aren’t the first to have this problem, here are some resources to help you out.

## Your options:

 - don’t use `combineReducers` (write your own that shares state/selector between two components)
 - use the `redux-thunk` middleware
 - pass pre-bound selectors to the store down through your components or `mapDispatchToProps` (as recommended by `reselect`)
 - use a global store like `window.store` and call `window.store.getState().myreducer.myvalue` to directly access state

## On Managing state hierarchy in general:

&lt;ul&gt;
	&lt;li&gt;&lt;a href=&#34;http://stackoverflow.com/questions/34299460/how-to-handle-global-state-data-into-deeply-nested-components-in-redux&#34;&gt;How to hand global state data into deeply nested components in redux?&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&#34;http://stackoverflow.com/questions/33852704/should-i-put-all-components-state-in-the-store&#34;&gt;Should I put all component state into the redux store? &lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&#34;http://stackoverflow.com/questions/33953739/how-to-reduce-nested-data-in-redux?rq=1&#34;&gt;How to reduce nested data in redux?&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;strong&gt;Specifically on sharing state between reducers:&lt;/strong&gt;
&lt;ul&gt;
	&lt;li&gt;&lt;a href=&#34;http://stackoverflow.com/questions/34333979/accessing-other-parts-of-the-state-when-using-combined-reducers?rq=1&#34;&gt;Accessing other parts of the state when using combined reducers&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&#34;http://stackoverflow.com/questions/35375810/how-do-i-share-readonly-state-between-two-or-more-reducers&#34;&gt;How do I share readonly state between several reducers?&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&#34;http://stackoverflow.com/questions/34711512/sharing-data-between-two-redux-reducers-states&#34;&gt;Sharing state between two redux reducers&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&#34;http://stackoverflow.com/questions/35430389/redux-where-to-prepare-data&#34;&gt;Redux: where to prepare shared data&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&#34;http://stackoverflow.com/questions/33962774/how-to-compose-redux-reducers-with-dependent-state?lq=1&#34;&gt;How to compose redux reducers with dependent state&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&#34;http://stackoverflow.com/questions/35300419/redux-do-i-have-to-import-store-in-all-my-containers-if-i-want-to-have-access-t&#34;&gt;Redux: do I have to import store in all my containers to access shared state?&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&#34;http://stackoverflow.com/questions/33408151/redux-reducer-state-shape-design-for-dependent-state-slices?rq=1&#34;&gt;Redux reducer state shape design for dependent state slices?&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
Related Documentation:
&lt;ul&gt;
	&lt;li&gt;&lt;a href=&#34;http://redux.js.org/docs/basics/Reducers.html&#34;&gt;Redux Docs: Reducers&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&#34;http://redux.js.org/docs/api/combineReducers.html&#34;&gt;Redux Docs: combineReducers&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&#34;https://github.com/acdlite/reduce-reducers&#34;&gt;github: reduce-reducers&lt;/a&gt; (combineReducers wo/ forced namespacing)&lt;/li&gt;
	&lt;li&gt;&lt;a href=&#34;https://egghead.io/lessons/javascript-redux-implementing-store-from-scratch?series=getting-started-with-redux&#34;&gt;egghead.io lesson: implementing a redux store from scratch&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</div>
    <div class="ui-toc dropup unselectable hidden-print" style="display:none;">
        <div class="pull-right dropdown">
            <a id="tocLabel" class="ui-toc-label btn btn-default" data-toggle="dropdown" href="https://docs.monadical.com/#" role="button" aria-haspopup="true" aria-expanded="false" title="Table of content">
                <i class="fa fa-bars"></i>
            </a>
            <ul id="ui-toc" class="ui-toc-dropdown dropdown-menu" aria-labelledby="tocLabel">
            </ul>
        </div>
    </div>
    <div id="ui-toc-affix" class="ui-affix-toc ui-toc-dropdown unselectable hidden-print" data-spy="affix" style="display:none;"></div>
    
</body>

</html>
<script src="https://docs.monadical.com/js/mathjax-config-extra.js"></script>
<script src="https://docs.monadical.com/build/MathJax/MathJax.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/TeX-AMS-MML_HTMLorMML.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/Safe.js" defer></script>
<script src="https://docs.monadical.com/config"></script><script src="https://docs.monadical.com/build/vendors~common.deda981c1c31221a91d9.js" defer="defer"></script><script src="https://docs.monadical.com/build/common.6da413651c225dd97e7a.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~cover~cover-pack~index~index-pack~pretty~pretty-pack~slide~slide-pack.897edf415109c21e7fb2.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~index~index-pack~pretty~pretty-pack~slide~slide-pack.624da9bb49753eaa85e1.js" defer="defer"></script><script src="https://docs.monadical.com/build/pretty-pack.f314462a1d0ebb3b5365.js" defer="defer"></script>


