<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    
    
    <meta name="description" content="&lt;center&gt;  # A Postfix deployment postmortem:&lt;br/&gt;Debugging short-circuiting of mapping lookups    *O">
    
    
    
    <meta property="og:title" content="A Postfix deployment postmortem:Debugging short-circuiting of mapping lookups - HedgeDoc">
    
    
    
    <meta property="og:type" content="website">
    
    <meta property="og:image" content="https://docs.monadical.com/icons/android-chrome-512x512.png">
    <meta property="og:image:alt" content="HedgeDoc logo">
    <meta property="og:image:type" content="image/png">
    
    <base href="">
    <title>A Postfix deployment postmortem:Debugging short-circuiting of mapping lookups - HedgeDoc</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://docs.monadical.com/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://docs.monadical.com/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://docs.monadical.com/icons/favicon-16x16.png">
<link rel="manifest" href="https://docs.monadical.com/icons/site.webmanifest">
<link rel="mask-icon" href="https://docs.monadical.com/icons/safari-pinned-tab.svg" color="#b51f08">
<link rel="shortcut icon" href="https://docs.monadical.com/icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="HedgeDoc - Ideas grow better together">
<meta name="application-name" content="HedgeDoc - Ideas grow better together">
<meta name="msapplication-TileColor" content="#b51f08">
<meta name="msapplication-config" content="https://docs.monadical.com/icons/browserconfig.xml">
<meta name="theme-color" content="#b51f08">

    <link rel="stylesheet" href='https://docs.monadical.com/build/emojify.js/dist/css/basic/emojify.min.css'>
    <link href="https://docs.monadical.com/build/font-pack.6f3ecd0bf31c428a95f7.css" rel="stylesheet"><link href="https://docs.monadical.com/build/2.011fed84e8b0e1b602b9.css" rel="stylesheet"><link href="https://docs.monadical.com/build/3.b73adae1f3405136330d.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles-pack.67a0a5daa4bc987211b4.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty-styles.0d5fbbf27dee52197955.css" rel="stylesheet"><link href="https://docs.monadical.com/build/1.c696cbbf0654f912e3b9.css" rel="stylesheet"><link href="https://docs.monadical.com/build/pretty.03c68f0397eb54366b06.css" rel="stylesheet">
</head>

<body style="display:none;">
    <div class="ui-infobar container-fluid unselectable hidden-print">
        <small>
            <span>
                
                    <span class="ui-lastchangeuser">&thinsp;<i class="ui-user-icon small" style="background-image: url(https://cdn.libravatar.org/avatar/aa8b1ebe25440bd38748639eebdc6eaf?default=identicon&s=96);" data-toggle="tooltip" data-placement="right" title="nick"></i></span>
                
                &nbsp;<span class="text-uppercase ui-status-lastchange"></span>
                <span class="ui-lastchange text-uppercase" data-createtime="Sat Feb 29 2020 04:30:36 GMT+0000 (Coordinated Universal Time)" data-updatetime="Sat Feb 29 2020 07:24:42 GMT+0000 (Coordinated Universal Time)"></span>
            </span>
            <span class="pull-right">4148 views <a href="https://docs.monadical.com/#" class="ui-edit" title="Edit this note"><i class="fa fa-fw fa-pencil"></i></a></span>
            <br>
            
        </small>
    </div>
    <div id="doc" class="container markdown-body" >&lt;center&gt;

# A Postfix deployment postmortem:&lt;br/&gt;Debugging short-circuiting of mapping lookups  

*Originally published 2020-02-28 on [docs.sweeting.me](https://docs.sweeting.me/s/blog).*
*Also published as an [answer on ServerFault](https://serverfault.com/questions/948362/postfix-multiple-smtpd-sender-login-maps/1005041#1005041), and in the [Mailu Issue Tracker #1096](https://github.com/Mailu/Mailu/issues/1096).*

&lt;img src=&#34;https://docs.monadical.com/uploads/upload_6e59cbf30deeba744cdce2c6024b6a95.png&#34; style=&#34;width: 35%&#34;/&gt;
&lt;img src=&#34;https://docs.monadical.com/uploads/upload_9ca60c0fc523e381ddd262d3625ab373.png&#34; alt=&#34;Diagram of SMTP over the internet&#34; style=&#34;width: 60%&#34;/&gt;

How we tracked down an email sending bug caused by Postfix&#39;s counterintuitive `type:table` &lt;br/&gt;  lookup behavior, and how we fixed it with Postfix 3.0&#39;s new `unionmap` feature.
    
---

&lt;/center&gt;
&lt;style&gt;
h1, h2, h3, h4, h5 {
    margin-top: 4px !important;
}
&lt;/style&gt;


[TOC]


---

&lt;br/&gt;

## How it all went wrong

&gt; One week ago we had a mailserver that was running perfectly fine... 
&gt; or so we thought....

Prompted by [error reports from other people](https://github.com/Mailu/Mailu/issues/1096#issuecomment-583147927) using our config with [Mailu](https://mailu.io/) (a Docker mailserver), we went down a rabbit hole of investigation before discovering a critical issue with our setup.

![](https://docs.monadical.com/uploads/upload_c5c0ec36e6122041770a252729a36c3a.png)


Several months ago we had deployed a Mailu-based Postfix mailserver using the `smtpd_sender_login_maps` option to control which users could send email from which addresses.

Our intent was to allow a single admin user to send email from any address, but restrict normal users to their own address and their aliases. It was working fine for our purposes: relaying mail for other servers in our cluster using the admin user account, and handling inbox duties for a few (mostly inactive) human users.

&gt; Our mail traffic: 👾99% bots, 👩‍💻1% humans =&gt; leads to very little human feedback

Our config allowing the admin user to masquerade as anyone was working fine, but unbeknownst to us, our normal non-admin users were actually **completely unable to send** email! Any non-admin attempts to send messages were met with this perplexing error:

:::danger

`postfix/smtpd[16645]: NOQUEUE: reject: RCPT from mailu_webmail_1.mailu_default[192.168.203.11]: 553 5.7.1 &lt;test@zalad.io&gt;: Sender address rejected: not owned by user test@zalad.io; from=&lt;test@zalad.io&gt; to=&lt;redacted@example.com&gt; proto=ESMTP helo=&lt;mail.zervice.io&gt;
`

:::



The root cause ended up being a surprisingly simple Postfix config assumption that led to unexpected consequenses. The rest of this post dives into the counter-intuitive way that Postfix determines lookup table result precedence, and how you can use `unionmap` / SQL to control it.

&lt;br/&gt;

&gt; Tip: EveryCloud&#39;s free [Mail Flow Monitor](https://www.everycloud.com/free-mail-flow-monitor) is a great little monitoring/alerting solution, it helped ensure this issue didn&#39;t affect *any* of our production mailserver users.

&lt;br/&gt;

&lt;center&gt;&lt;img src=&#34;https://docs.monadical.com/uploads/upload_f4316c22add4e63a7dbd5f7921ba995d.png&#34;&gt;&lt;br/&gt;&lt;i&gt;This is how SMTP is used to send an email from a client to its recipient.&lt;/i&gt;&lt;/center&gt;


&lt;br/&gt;

## Background

Imagine a simplified setup where we have Postfix and MySQL running on a mailserver.
There are 3 users stored in the MySQL DB who can authenticate via SMTP with Postfix:

- `alice@example.com`: can only send from `alice@example.com`,`alice.smith@example.com`
- `bob@example.com`: can only send from `bob@example.com`,`bob.jones@example.com`
- `admin@example.com`: should be able to send from *any* `.*@example.com` address

Regular users can only send from their main address and their aliases, but we want to allow the admin to be able to masquerade as *any* sender without restrictions. 

&lt;center&gt;&lt;img src=&#34;https://docs.monadical.com/uploads/upload_630aba0208fb9289013db5627cdd8ed5.png&#34;&gt;&lt;br/&gt;&lt;i&gt;The admin could add any any sending address they wanted in their mail client.&lt;/i&gt;&lt;/center&gt;
&lt;br/&gt;

&gt; In real life this type of setup is common whenever a user needs to be able to send from many addresses `.*@example.com` using only one SMTP login.
&gt; 
&gt; &lt;small&gt;e.g. if the addresses are dynamically-generated or belong to other users&lt;/small&gt;

The normal approach to achieve fine-grained control over sender address validation is to point [`smtpd_sender_login_maps`](http://www.postfix.org/postconf.5.html#smtpd_sender_login_maps) to a SQL query or PCRE file that defines FROM addr -&gt; SMTP users.



&lt;br/&gt;

## Using `smtpd_sender_login_maps`

The purpose of using `smtpd_sender_login_maps` is to validate whether the currently authenticated SMTP user is allowed to send an outbound email based on its FROM address.

It&#39;s a powerful feature to restrict the addresses a client impersonate based on their SMTP auth.

### The Config Spec

:::warning

&gt; [**`smtpd_sender_login_maps`** (default: empty)](http://www.postfix.org/postconf.5.html#smtpd_sender_login_maps)
&gt;
&gt; Optional lookup table with the SASL login names that own the sender
&gt; (MAIL FROM) addresses.
&gt;     Specify zero or more [`type:name`](http://www.postfix.org/DATABASE_README.html) lookup tables, separated by whitespace or comma. *Tables will be searched in the specified order until a match is found.*

&lt;small&gt;http://www.postfix.org/postconf.5.html#smtpd_sender_login_maps&lt;/small&gt;
:::



### Use Cases

As  you can imagine, being able to granularly filter allowed senders has many use cases:

- **Prevent a user from logging in and sending a message as someone else**  
    *&gt; Bob can send as `bob@example.com`, but can&#39;t send as `alice@example.com`*

- **Allow multiple users to send from a single shared address neither of them own**  
    *&gt; Bob and Alice can both send as `marketing@example.com`*

- **Allow a single user to send from multiple addresses they own**  
    *&gt; Alice can send as both `alice@example.com` and `alice.smith@example.com`*

- **Allow an admin to send messages from many addresses (even owned by others)**  
    *&gt; Tracy, the IT admin can send as anyone `.*@example.com`*

- **And more...** (remember, lookups can be via TCP socket, SQL query, regex, etc.)

&lt;br/&gt;



---

&lt;br/&gt;

## Example Scenario

&lt;br/&gt;

We&#39;ll investigate this use-case of `smtpd_sender_login_maps` in particular:

&gt; **Allow an admin to send messages from many addresses** (even owned by others)

&lt;br/&gt;

We start by defining `smtpd_sender_login_maps` in `main.cf` to lookup the message FROM address in two lookup tables to determine whether the currently authenticated SMTP user is allowed to send from that address.

&lt;center&gt;
&lt;img src=&#34;https://docs.monadical.com/uploads/upload_1cc8424a8b49e4f2da28424a63bd1200.png&#34; style=&#34;padding-right: 60px; width: 350px&#34;/&gt;
&lt;/center&gt;
&lt;br/&gt;

Each lookup table used by `smtpd_sender_login_maps` is a mapping of:

&gt; `msg FROM addr -&gt; SMTP users allowed to send as that address`

For `alice@example.com` to be able to log in and send from `alice.smith@example.com`, 
one of the lookups must return `alice@example.com` in the allowed SMTP user list:

&gt; `alice.smith@example.com -&gt; alice@example.com,admin@example.com`

### Main Postfix Config

:::warning

#### `/etc/postfix/main.cf` &lt;small style=&#34;float:right&#34;&gt;[`type:postconf`](http://www.postfix.org/postconf.5.html)&lt;/small&gt;:
```ini
...
smtpd_sender_login_maps = 
   mysql:/etc/postfix/sender_logins.cf,
   pcre:/etc/postfix/sender_overrides.cf
```

MySQL is checked first, then pcre is checked only if the mysql lookup returned 0 results.

:::

Then, we create the two mappings referenced above, one using SQL, the other using regex.

### Sender Login Mapping Definitions

:::warning

#### `/etc/postfix/sender_logins.cf` &lt;small style=&#34;float:right&#34;&gt;[`type:mysql_table`](http://www.postfix.org/mysql_table.5.html)&lt;/small&gt;:
```ini
hosts = 127.0.0.1
user = postfix
password = yourDatabasePasswordHere
dbname = mail
query = SELECT email FROM users WHERE email=&#39;%s&#39;
```

This query checks the DB and returns the allowed SMTP users for a given FROM addr.
 
&gt;   `alice@example.com     -----&gt; alice@example.com`  
&gt;   `bob.jones@example.com     -&gt; bob@example.com`  

:::

:::warning

#### `/etc/postfix/sender_overrides.cf` &lt;small style=&#34;float:right&#34;&gt;[`type:pcre_table`](http://www.postfix.org/pcre_table.5.html)&lt;/small&gt;:
```ini
/.*@example.com/     admin@example.com
```

This regex matches *all* `@example.com` FROM addrs and returns the admin SMTP user.

&gt;   `.*@example.com ---------&gt; admin@example.com`  

:::



## Testing it out

Great, so far we&#39;ve configured our server to check two lookup tables to determine whether an outbound message is allowed to be sent by the logged in SMTP user.

**Now let&#39;s take a look at two scenarios and see exactly what Postfix does in each case.**

:::success
#### Scenario 1: `alice@example.com` tries to send from `alice@example.com`

1. `alice@example.com` logs in via SMTP to send a msg from `alice@example.com`
2. `alice@example.com` lookup in `smtpd_sender_login_maps` returns `alice@example.com`
3. Sending succeeds, `alice@example.com` == SMTP authed user `alice@example.com`

✅ This works fine, the email is sent because the address matches the sender as expected.
:::

:::danger
#### Scenario 2: `admin@example.com` tries to send from `alice@example.com`

1. `admin@example.com` logs in via SMTP to send a msg from `alice@example.com`
2. `alice@example.com` lookup in `smtpd_sender_login_maps` returns `alice@example.com`
3. Sending fails, `alice@example.com` != SMTP authed user `admin@example.com`  
    ```
    postfix/smtpd[16645]: NOQUEUE: reject: RCPT from webmail.mailserver[192.168.1.5]: 553 5.7.1 &lt;alice@example.com&gt;: Sender address rejected: not owned by user admin@example.com; from=&lt;alice@example.com&gt; to=&lt;bob@example.com&gt; proto=ESMTP helo=&lt;mail.example.com&gt;
    ```

❌ This does not work, the email is rejected because the SMTP authed user `admin@example.com` doesn&#39;t match the first lookup result `alice@example.com`.
:::

:::danger

#### Scenario 3: What if we switch the order of the lookup tables so `pcre` comes first?

**`/etc/postfix/main.cf`:**
```ini
smtpd_sender_login_maps = 
    pcre:...,        # does moving the pcre mapping above mysql work?
    mysql:...
```

**Flipping the order of the mappings so that the pcre file is checked before mysql won&#39;t fix the problem.**

 It even makes it worse because the catchall `.*@example.com` will overshadow all the real users in MySQL and prevent any user other than `admin@example.com` from sending email.

&lt;br/&gt;

1. `alice@example.com` logs in via SMTP to send a msg from `alice@example.com`
2. `alice@example.com` lookup in `smtpd_sender_login_maps` returns `admin@example.com`
3. Sending fails, `admin@example.com` != SMTP authed user `alice@example.com`


When it looks up `alice@example.com` in the pcre file, it returns `admin@example.com` as the only allowed user and fails before it ever checks the mysql database.

:::

&lt;br/&gt;

---

&lt;br/&gt;

&lt;center&gt;
&lt;b&gt;Hmm...&lt;/b&gt;&lt;br/&gt;&lt;br/&gt;
&lt;img src=&#34;https://docs.monadical.com/uploads/upload_97148b3c67f496c293f79eb648dd0d0e.gif&#34; style=&#34;width: 70%; border-radius: 8px; box-shadow: 4px 4px 4px rgba(0,0,0,0.02)&#34;/&gt;
&lt;br/&gt;&lt;br/&gt;&lt;i&gt;Clearly there&#39;s something preventing us from using both mappings simultaneously...&lt;/i&gt;
&lt;/center&gt;
 
&lt;br/&gt;

---

&lt;br/&gt;

## The problem

### The behavior the user expects

1. Postfix looks up the FROM addr in the first `sender_login_maps` db
2. it finds a matching entry for the FROM addr
3. the returned SMTP user != logged in user, **so we try the next mapping db**
4. it finds a matching entry for the FROM addr &amp; the SMTP user == logged in user

&gt; ✅ Postfix sends the message succesfully&lt;br/&gt;&lt;small&gt;Because the second mapping matched the logged in user.&lt;/small&gt;

### What actually happens

1. Postfix looks up the FROM addr in the first `sender_login_maps` db
2. it finds a matching entry for the FROM addr, **the lookup process stops**
3. the returned SMTP user != logged in user

&gt; ❌ Postfix rejects the message.&lt;br/&gt;&lt;small&gt;Lookup stoped after the first mapping matched, but matched SMTP user != the logged in user.&lt;/small&gt;

&lt;br/&gt;

### Explanation

The issue is that Postfix doesn&#39;t check both mappings and merge the results, instead it stops the lookup process the moment it encounters the *first* matching lookup returning any SMTP user.

If the returned SMTP user doesn&#39;t match the currently authed user, it won&#39;t proceed to lookup the address in the next database, it&#39;ll just immediately `DENY`.

The same lookup conflict can happen with any two mappings that share keys, e.g. two mysql databases `mysql:...,mysql:...`, not necessarily just a `pcre` with `.*` in it. Any exact match or wildcard match like `@example.com  someuser@example.com` in the first mapping will take precedence and prevent the second mapping from being queried at all.

&lt;br/&gt;

---


## The solutions

&lt;br/&gt;

### Solution A. Make the `smtpd_sender_login_maps` disjoint

&lt;img src=&#34;https://media.giphy.com/media/SEv6jiT1OhPRC/giphy.gif&#34; style=&#34;float: right; width: 38%; margin-left: 10px;&#34;/&gt;

If the mappings don&#39;t contain any overlap in keys, then the order doesn&#39;t matter, and any lookup that doesn&#39;t match the first db will proceed to check the subsequent ones as expected.

Mappings earlier in the list cannot have any &#34;catchall&#34; or wildcard keys or they will match everything and overshadow results from later mappings. 

&lt;br/&gt;

### Solution B. Join multiple lookup results in SQL with `UNION`

If you&#39;re using the `mysql` table type for your `smtpd_sender_login_maps` mappings, then you can control the SQL query run when doing an address lookup and you may be able to join multiple mappings at the SQL level. 

Assuming all your mappings are accessible in the same MySQL database, you can concatenante the results of multiple address lookups at the SQL level using a `UNION` statement like so:

`main.cf`:

    smtpd_sender_login_maps = mysql:/etc/postfix/sender_logins.cf

`sender_logins.cf`:

    hosts = 127.0.0.1
    user = postfix
    password = yourDatabasePasswordHere
    dbname = mail
    query = SELECT email
                FROM users
                WHERE email=&#39;%s&#39;
            UNION SELECT destination
                FROM aliases
                WHERE source=&#39;%s&#39;
            UNION SELECT email
                FROM users
                WHERE wildcard_sending=1

In this example we would set `admin@example.com` to have `wildcard_sending=1` in SQL, and then it would be returned with every lookup result along with the normal user and alias matches, e.g.

    alice.smith@example.com    -&gt; alice@example.com,admin@example.com
    bob@example.com            -&gt; bob@example.com,admin@example.com

&lt;br/&gt;

### &lt;span style=&#34;color: green&#34;&gt;Solution C. Use `unionmap` to combine multiple mappings&lt;/span&gt;


If you&#39;re using Postfix 3.0 or above, you might be able to try using the new `unionmap` feature, which performs a lookup to all the mappings at once and concatenates the results together.

    smtpd_sender_login_maps = unionmap:{
            mysql:/etc/postfix/sender_logins.cf,
            pcre:/etc/postfix/sender_overrides.cf }

With this setup, the mysql results will be concatenated with the pcre lookup results, e.g.

    alice.smith@example.com    -&gt; alice@example.com,admin@example.com
    bob@example.com            -&gt; bob@example.com,admin@example.com

See http://www.postfix.org/DATABASE_README.html#types **unionmap** for more info.

&lt;center&gt;
&lt;br/&gt;
&lt;img src=&#34;https://media.giphy.com/media/YmjleYhDTUiYw/giphy.gif~c200&#34; style=&#34;width: 200px&#34;/&gt;
&lt;/center&gt;

&lt;br/&gt;

---

&lt;br/&gt;&lt;br/&gt;

:::info

&lt;center&gt;

This post talked about a specific Postfix config option `smtpd_sender_login_maps`, but **the behavior described above applies to any Postfix config option that accepts multiple [`type:table`](http://www.postfix.org/DATABASE_README.html) parameters** and looks them up in order `&#34;until a match is found&#34;`, e.g.:

&lt;/center&gt;

&lt;br/&gt;

- `alias_maps`, `canonical_maps`, `transport_maps`, `local_recipient_maps`
- `virtual_alias_maps`, `virtual_uid_maps`, `virtual_mailbox_maps`
- `authorized_flush_users`, `authorized_mailq_users`, `authorized_submit_users`
- ... and many more in http://www.postfix.org/postconf.5.html 

&lt;br/&gt;

&lt;center&gt;

They all have something like this in the config parameter documentation:

&lt;/center&gt;

&gt; Specify zero or more &#34;type:table&#34; lookup table names, separated by comma or whitespace. The tables are queried in the specified order until a match is found. The first table match wins.

&lt;center&gt;
    
**So watch out for `&#34;until a match is found&#34;` when setting up your own config!**

&lt;/center&gt;
:::

&lt;br/&gt;

---

&lt;br/&gt;

## Further Reading

- https://www.mail-archive.com/postfix-devel@postfix.org/msg00677.html  
  (I highly recommend reading this entire mailing list thread for full context)
- http://www.postfix.org/postconf.5.html#smtpd_sender_login_maps
- http://www.postfix.org/SMTPD_ACCESS_README.html#lists
- http://www.postfix.org/DATABASE_README.html#types
- http://www.postfix.org/access.5.html
- https://unix.stackexchange.com/questions/294300/postfix-prevent-users-from-changing-the-real-e-mail-address
- https://groups.google.com/forum/#!topic/mailing.postfix.users/X7Wj_nSEyKI
- https://workaround.org/ispmail/jessie/relaying-smtp-authentication
- https://serverfault.com/questions/948362/postfix-multiple-smtpd-sender-login-maps/1005041#1005041
- https://github.com/Mailu/Mailu/issues/1096
- https://www.everycloud.com/free-mail-flow-monitor

&lt;br/&gt;

&lt;img src=&#34;https://docs.monadical.com/uploads/upload_d05b3d09f8e9d75f457bbcd80451665e.png&#34; style=&#34;width: 100%&#34;/&gt;


---

&lt;center&gt;

&lt;a href=&#34;https://monadical.com&#34;&gt;&lt;img src=&#34;https://monadical.com/static/logo-blue.png&#34; style=&#34;height: 60px&#34;&gt;&lt;h4&gt;Monadical Inc. | Full-Stack Software Consultancy&lt;/h4&gt;&lt;/a&gt;
    
&lt;i&gt;Need help with your mail server? &lt;a href=&#34;https://monadical.com/index.html#consulting&#34;&gt;Hire us!&lt;/a&gt;&lt;/i&gt;
&lt;/center&gt;</div>
    <div class="ui-toc dropup unselectable hidden-print" style="display:none;">
        <div class="pull-right dropdown">
            <a id="tocLabel" class="ui-toc-label btn btn-default" data-toggle="dropdown" href="https://docs.monadical.com/#" role="button" aria-haspopup="true" aria-expanded="false" title="Table of content">
                <i class="fa fa-bars"></i>
            </a>
            <ul id="ui-toc" class="ui-toc-dropdown dropdown-menu" aria-labelledby="tocLabel">
            </ul>
        </div>
    </div>
    <div id="ui-toc-affix" class="ui-affix-toc ui-toc-dropdown unselectable hidden-print" data-spy="affix" style="display:none;"></div>
    
</body>

</html>
<script src="https://docs.monadical.com/js/mathjax-config-extra.js"></script>
<script src="https://docs.monadical.com/build/MathJax/MathJax.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/TeX-AMS-MML_HTMLorMML.js" defer></script>
<script src="https://docs.monadical.com/build/MathJax/config/Safe.js" defer></script>
<script src="https://docs.monadical.com/config"></script><script src="https://docs.monadical.com/build/vendors~common.b63e803341293656b32e.js" defer="defer"></script><script src="https://docs.monadical.com/build/common.dc359ffa1d303e78db47.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~cover~cover-pack~index~index-pack~pretty~pretty-pack~slide~slide-pack.d107ac6ccdc2f7684946.js" defer="defer"></script><script src="https://docs.monadical.com/build/vendors~index~index-pack~pretty~pretty-pack~slide~slide-pack.a2fac85c338ccd8282ca.js" defer="defer"></script><script src="https://docs.monadical.com/build/pretty-pack.8a4f868f9e7676405f31.js" defer="defer"></script>


