<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="mobile-web-app-capable" content="yes">
<meta name="description" content="The best platform to write and share markdown.">
<meta name="keywords" content="Collaborative, Markdown, Notes">
<meta property="og:title" content="CodiMD - Collaborative markdown notes">
<meta property="og:description" content="The best platform to write and share markdown.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://docs.monadical.com">
<meta property="og:image" content="https://docs.monadical.com/codimd-icon-1024.png">
<meta property="og:image:alt" content="CodiMD logo">
<meta property="og:image:type" content="image/png">
<base href="">
<title>CodiMD - Collaborative markdown notes</title>
<link rel="icon" type="image/png" href="https://docs.monadical.com/favicon.png">
<link rel="apple-touch-icon" href="https://docs.monadical.com/apple-touch-icon.png">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha256-H0KfTigpUV+0/5tn2HXC0CPwhhDhWgSawJdnFd0CGCo=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fork-awesome/1.1.3/css/fork-awesome.min.css" integrity="sha256-ZhApazu+kejqTYhMF+1DzNKjIzP7KXu6AzyXcC1gMus=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.9.0/bootstrap-social.min.css" integrity="sha256-02JtFTurpwBjQJ6q13iJe82/NF0RbZlJroDegK5g87Y=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.css" integrity="sha256-ijlUKKj3hJCiiT2HWo1kqkI79NTEYpzOsw5Rs3k42dI=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2-bootstrap.min.css" integrity="sha256-NAWFcNIZdH+TS1xpWujF/EB/Y8gwBbEOCoaK/eqaer8=" crossorigin="anonymous" />
<link href="https://docs.monadical.com/build/font.css" rel="stylesheet"><link href="https://docs.monadical.com/build/cover.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" integrity="sha256-g6iAfvZp+nDQ2TdTR/VVKJf3bGro4ub5fvWSWVRi2NE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.min.js" integrity="sha256-8E4Is26QH0bD52WoQpcB+R/tcWQtpzlCojrybUd7Mxo=" crossorigin="anonymous"></script>
<![endif]-->



</head>

<body>
    
    <div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand"></h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="ui-home active"><a href="virtual-classes-in-cython.html#">Intro</a>
                            </li>
                            <li class="ui-history"><a href="virtual-classes-in-cython.html#">History</a>
                            </li>
                            <div class="ui-signin" style="float: right; margin-top: 8px;">
                                
                                <a type="button" href="https://docs.monadical.com/new" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> New guest note</a>
                                
                                
                                <button class="btn btn-sm btn-success ui-signin" data-toggle="modal" data-target=".signin-modal">Sign In</button>
                                
                            </div>
                            <div class="ui-signout" style="float: right; margin-top: 8px; display: none;">
                                <a type="button" href="https://docs.monadical.com/new" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> New note</a>
                                <span class="ui-profile dropdown pull-right">
                                    <button id="profileLabel" class="btn btn-sm btn-link ui-profile-label" style="padding-right: 0;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img class="ui-avatar" width="20" height="20"><span class="hidden-xs hidden-sm">&ensp;<span class="ui-name"></span></span>&ensp;<i class="fa fa-caret-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="profileLabel">
                                        <li><a href="https://docs.monadical.com/features"><i class="fa fa-dot-circle-o fa-fw"></i> Features</a></li>
                                        <li><a href="https://docs.monadical.com/me/export"><i class="fa fa-cloud-download fa-fw"></i> Export user data</a></li>
                                        <li><a class="ui-delete-user" data-toggle="modal" data-target=".delete-user-modal"><i class="fa fa-trash fa-fw"></i> Delete user</a></li>
                                        <li><a href="https://docs.monadical.com/logout"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a></li>
                                    </ul>
                                </span>
                            </div>
                        </ul>
                    </nav>
                </div>
            </div>

            <div id="home" class="section">
                <div class="inner cover">
                    <h1 class="cover-heading"><i class="fa fa-file-text"></i> CodiMD</h1>
                    <p class="lead">
                        The best platform to write and share markdown.
                    </p>
                    
                    
                    <div class="alert alert-danger" style="max-width: 400px; margin: 0 auto;">You are not allowed to access this page. Maybe try logging in?</div>
                    
                    
                    <span class="ui-signin">
                        <br>
                        <a type="button" class="btn btn-lg btn-success ui-signin" data-toggle="modal" data-target=".signin-modal" style="min-width: 200px;">Sign In</a>
                    </span>
                    <span class="ui-or">or</span>
                    
                    <span class="ui-signin">
                        <a type="button" href="https://docs.monadical.com/features" class="btn btn-lg btn-primary" style="min-width: 200px;">Explore all features</a>
                        <br>
                        <br>
                        <img src="https://docs.monadical.com/screenshot.png" class="screenshot ui-signin">
                    </span>
                    <div class="lead row" style="width: 90%; margin: 0 auto;">
                        <div class="col-md-4 inner">
                            <a href="https://docs.monadical.com/features#Share-Notes">
                                <i class="fa fa-bolt fa-3x"></i>
                                <h4>Real time collaboration</h4>
                            </a>
                        </div>
                        <div class="col-md-4 inner">
                            <a href="https://docs.monadical.com/features#MathJax">
                                <i class="fa fa-bar-chart fa-3x"></i>
                                <h4>Works with charts and MathJax</h4>
                            </a>
                        </div>
                        <div class="col-md-4 inner">
                            <a href="https://docs.monadical.com/features#Slide-Mode">
                                <i class="fa fa-tv fa-3x"></i>
                                <h4>Supports slide mode</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="history" class="section" style="display:none;">
                <div class="ui-signin">
                    <p>Below is history from this browser</p>
                </div>
                <br>
                <form class="form-inline">
                    <div class="form-group" style="vertical-align: bottom;">
                        <input class="form-control ui-use-tags" placeholder="Select tags…" />
                    </div>
                    <div class="form-group">
                        <input class="search form-control" placeholder="Search keyword…" />
                    </div>
                    <a href="virtual-classes-in-cython.html#" class="sort btn btn-default" data-sort="text" title="Sort by title">
                    Title
                    </a>
                    <a href="virtual-classes-in-cython.html#" class="sort btn btn-default" data-sort="timestamp" title="Sort by time">
                    Time
                    </a>
                    <span class="hidden-xs hidden-sm">
                        <a href="virtual-classes-in-cython.html#" class="btn btn-default ui-save-history" title="Export history"><i class="fa fa-save"></i></a>
                        <span class="btn btn-default btn-file ui-open-history" title="Import history">
                            <i class="fa fa-folder-open-o"></i><input type="file" />
                        </span>
                    <a href="virtual-classes-in-cython.html#" class="btn btn-default ui-clear-history" title="Clear history" data-toggle="modal" data-target=".delete-history-modal"><i class="fa fa-trash-o"></i></a>
                    </span>
                    <a href="virtual-classes-in-cython.html#" class="btn btn-default ui-refresh-history" title="Refresh history"><i class="fa fa-refresh"></i></a>
                </form>
                <h4 class="ui-nohistory" style="display:none;">
                    No history
                </h4>
                <a href="virtual-classes-in-cython.html#" class="btn btn-primary ui-import-from-browser" style="display:none;">Import from browser</a>
                <ul id="history-list" class="list">
                </ul>
                <ul class="pagination"></ul>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <select class="ui-locale">
                        <option value="en">English</option>
                        <option value="zh-CN">简体中文</option>
                        <option value="zh-TW">繁體中文</option>
                        <option value="fr">Français</option>
                        <option value="de">Deutsch</option>
                        <option value="ja">日本語</option>
                        <option value="es">Español</option>
                        <option value="ca">Català</option>
                        <option value="el">Ελληνικά</option>
                        <option value="pt">Português</option>
                        <option value="it">Italiano</option>
                        <option value="tr">Türkçe</option>
                        <option value="ru">Русский</option>
                        <option value="nl">Nederlands</option>
                        <option value="hr">Hrvatski</option>
                        <option value="pl">Polski</option>
                        <option value="uk">Українська</option>
                        <option value="hi">हिन्दी</option>
                        <option value="sv">Svenska</option>
                        <option value="eo">Esperanto</option>
                        <option value="da">Dansk</option>
                        <option value="ko">한국어</option>
                        <option value="id">Bahasa Indonesia</option>
                        <option value="sr">Cрпски</option>
                        <option value="vi">Tiếng Việt</option>
                        <option value="ar">العربية</option>
                        <option value="cs">Česky</option>
                        <option value="sk">Slovensky</option>
                    </select>
                    <p>
                        Powered by <a href="https://codimd.org">CodiMD</a> | <a href="https://docs.monadical.com/s/release-notes" target="_blank" rel="noopener">Releases</a> | <a href="https://github.com/codimd/server/tree/8ce7b285636c02b4215c838640bb748947c8317f" target="_blank" rel="noopener">Source Code</a>
                    </p>
                    <h6 class="social-foot">
                        Follow us on <a href="https://github.com/codimd/server" target="_blank" rel="noopener"><i class="fa fa-github"></i> GitHub</a>, <a href="https://community.codimd.org" target="_blank" rel="noopener"><i class="fa fa-users" aria-hidden="true"></i> Discourse</a>, <a href="https://riot.im/app/#/room/#codimd:matrix.org" target="_blank" rel="noopener"><i class="fa fa-comments"></i> Riot</a>, <a href="https://social.codimd.org/mastodon" target="_blank" rel="noopener"><i class="fa fa-mastodon"></i> Mastodon</a>, and <a href="https://translate.codimd.org" target="_blank" rel="noopener"><i class="fa fa-globe"></i> POEditor</a>.
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- delete history modal -->
<div class="modal fade delete-history-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <h5 class="ui-delete-history-modal-msg"></h5>
                <strong class="ui-delete-history-modal-item"></strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger ui-delete-history-modal-confirm">Yes, do it!</button>
            </div>
        </div>
    </div>
</div>
<!-- delete user modal -->
<div class="modal fade delete-user-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <h5 class="ui-delete-user-modal-msg">Do you really want to delete your user account?</h5>
                <strong class="ui-delete-user-modal-item">This will delete your account, all notes that are owned by you and remove all references to your account from other notes.</strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default ui-delete-user-modal-cancel" data-dismiss="modal">Cancel</button>
                <a type="button" class="btn btn-danger" href="https://docs.monadical.com/me/delete/">Yes, do it!</a>
            </div>
        </div>
    </div>
</div>
<!-- signin modal -->
<div class="modal fade signin-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="mySmallModalLabel">Choose method</h4>
            </div>
            <div class="modal-body" style="text-align: center;">
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                <h4>Sign in via E-Mail</h4>
                <form data-toggle="validator" role="form" class="form-horizontal" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" name="email" placeholder="E-Mail" required>
                            <span class="help-block control-label with-errors" style="display: inline;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="password" class="form-control" name="password" placeholder="Password" required>
                            <span class="help-block control-label with-errors" style="display: inline;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" formaction="https://docs.monadical.com/login">Sign In</button>
                            <button type="submit" class="btn btn-default" formaction="https://docs.monadical.com/register">Register</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>


    
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.4.0/velocity.min.js" integrity="sha256-bhm0lgEt6ITaZCDzZpkr/VXVrLa5RP4u9v2AYsbzSUk=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.0/js/bootstrap.min.js" integrity="sha256-kJrlY+s09+QoWjpkOrXXwhxeaoDz9FW5SaxF8I0DibQ=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.pagination.js/0.1.1/list.pagination.min.js" integrity="sha256-WwTza96H3BgcQTfEfxX7MFaFc/dZA0QrPRKDRLdFHJo=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.js" integrity="sha256-HzzZFiY4t0PIv02Tm8/R3CVvLpcjHhO1z/YAUCp4oQ4=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js" integrity="sha256-vvT7Ok9u6GbfnBPXnbM6FVDEO8E1kTdgHOFZOAXrktA=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.8/validator.min.js" integrity="sha256-LHeY7YoYJ0SSXbCx7sR14Pqna+52moaH3bhv0Mjzd/M=" crossorigin="anonymous" defer></script>
<script src="https://docs.monadical.com/config"></script><script src="https://docs.monadical.com/build/cover.476f80d027f84dd5dc83.js" defer="defer"></script>

</body>

</html>
