.cloud-img-right{
  position: absolute;
  top: 0;
  right: 0;
}

.cloud-img-left{
  position: absolute;
  top: 1559px;
  left: 0;
}

.tentacle-img-right{
  top: 1401px;
}

.tentacle-img-left{
  top: 2560px;
}