.cube-img-left {
    top: 630px;
}

.cube-img-right {
    top: 3149px;
}

.tentacle-img-left {
    top: 2720px;
}

.tentacle-img-right {
    top: 1607px;
}

@media (max-width: 992px) {
    .cube-img-left {
        top: 900px;
        max-width: 40%;
        height: auto;
    }

    .tentacle-img-left {
        top: 3950px;
        max-width: 100%;
        width: 40%;
        height: auto;
    }

    .tentacle-img-right {
        top: 2090px;

    }
}