/* this gets rid of the bottom dots */
.container-full {
  border-radius: 0px;
}

/* Background */
.portfolio-full {
  background-image: url(/static/core/img/img-portfolio-cube-right.png),
    url(/static/core/img/img-portfolio-tentacle-left.png),
    url(/static/core/img/img-portfolio-tentacle-right.png),
    url(/static/core/img/img-portfolio-cube-left.png),
    url(/static/core/img/img-portfolio-cloud-right.png),
    url(/static/core/img/img-portfolio-swirly-right.png),
    url(/static/core/img/img-portfolio-cube-left.png);

  background-position: 100% 15%, 0 25%, 100% 40%, 0 60%, 100% 75%, 100% 73%, 0 90%;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .portfolio-full {
    background-position: 100% 13.5%, 0 30%, 100% 40%, 0 64%, 100% 73%, 100% 73%, 0 90%;
    background-size: 20%;
  }
}

/* General  */
.portfolio-container {
  margin-bottom: 10rem;
}

.portfolio-container .title {
  color: #2b2b2b;
  line-height: 80px;
  font-size: 82px;
  font-weight: 700;
  margin-bottom: 4rem;
  text-align: left;
}

.portfolio-container .section-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 62px;
  margin: 3rem 0;
  text-align: center;
}

.portfolio-container .subtitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 1.5rem;
}

.portfolio-container a {
  color: #0086b4;
  text-decoration: underline;
  text-underline-offset: 20%;
}

.portfolio-container .btn-info-inverse {
  line-height: 1.25rem;
  text-transform: uppercase;
}

.portfolio-container .image-row {
  justify-content: space-between;
}

@media (max-width: 768px) {
  .portfolio-container {
    margin-bottom: 4rem;
  }

  .portfolio-container .title {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 16rem;
    text-align: center;
  }

  .portfolio-container .section-title {
    font-size: 22px;
    line-height: 33px;
    margin: 2rem 0;
  }

  .portfolio-container .subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 1rem;
  }

  .portfolio-container .carousel-inner {
    overflow: visible;
  }

  .portfolio-container .carousel-item img {
    border-radius: 10px;
    object-fit: cover;
    height: 300px;
  }

  .portfolio-container .carousel-indicators li {
    background: rgba(129, 129, 130);
    height: 0.5rem;
    width: 0.5rem;
  }

  .portfolio-container .carousel-indicators .active {
    background: #0086b4;
  }
}

/* Table of Contents */
#table-of-contents {
  margin-top: 6rem;
  background: url(/static/core/img/img-portfolio-001.png) no-repeat;
  background-size: 45%;
  background-position: top right;
}

#table-of-contents li {
  margin-bottom: 1rem;
  list-style: square outside;
}

#table-of-contents .collapse-trigger .fa-caret-down {
  margin-left: 0.5rem;
  transition: all 0.5s;
  transform-origin: center;
}

#table-of-contents .collapse-trigger.active .fa-caret-down {
  transform: rotate(180deg);
}

#table-of-contents .collapse-trigger,
#table-of-contents a {
  border: none;
  color: #2b2b2b;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  text-decoration: none;
}

#table-of-contents .outer-list {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
}

#table-of-contents .outer-list li::marker {
  color: #0086b4;
}

#table-of-contents .inner-list {
  color: #818182;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  padding: 1rem 1rem 0 1rem;
}

#table-of-contents .inner-list li::marker {
  color: #818182;
  font-size: 20px;
}

#table-of-contents .inner-list a {
  color: #818182;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

#table-of-contents .scroll-down {
  padding: 8rem 0;
  text-decoration: none;
}

#table-of-contents .scroll-down span,
#table-of-contents .scroll-down i {
  line-height: 1.5rem;
  font-size: 18px;
  font-weight: normal;
}

@media (max-width: 768px) {
  #table-of-contents {
    background-position: top center;
    background-size: 50%;
    margin-top: 1.5rem;
  }

  #table-of-contents .outer-list {
    background: rgba(255, 255, 255, 0.5);
    margin-top: -5rem;
    padding: 1rem;
  }

  #table-of-contents .outer-list li::marker,
  #table-of-contents .collapse-trigger,
  #table-of-contents a {
    font-size: 18px;
  }

  #table-of-contents .inner-list {
    font-size: 16px;
    line-height: 24px;
  }

  #table-of-contents .inner-list li::marker {
    font-size: 16px;
  }

  #table-of-contents .scroll-down {
    padding: 2.5rem 0;
  }

  #table-of-contents .scroll-down span,
  #table-of-contents .scroll-down i {
    line-height: 0.75rem;
    font-size: 16px;
  }
}

/* Why Hire Us */
#why-hire-monadical {
  background: url(/static/core/img/img-portfolio-multitask-left.png) no-repeat;
  background-size: 25%;
  background-position: top left;
}

#why-hire-monadical .contrast-wrapper {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 1rem;
}

#why-hire-monadical .subtitle a {
  text-decoration: none;
}

#why-hire-monadical li {
  font-size: 25px;
  font-weight: 400;
  line-height: 32px;
  list-style: none;
  padding-bottom: 20px;
}

#why-hire-monadical li::marker {
  font-size: 25px;
}


@media (max-width: 768px) {
  #why-hire-monadical .content-row {
    margin: 0 16px;
  }

  #why-hire-monadical li {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
  }

  #why-hire-monadical li::marker {
    font-size: 16px;
  }
}

/* Our Specialties */
#our-specialties {
  text-align: center;
}

#our-specialties .specialty-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
}

#our-specialties .image-row {
  margin-bottom: 40px;
}

#our-specialties img {
  border-radius: 10px;
  box-shadow: 0px 4px 21px 0px #6161613c;
  margin: 16px 0 25px;
}

#our-specialties .image-description {
  color: #818182;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

#our-specialties .emphasis {
  color: #2b2b2b;
  font-weight: 700;
}

@media (max-width: 768px) {
  #our-specialties .specialty-title {
    font-size: 16px;
    line-height: 24px;
  }

  #our-specialties .carousel {
    margin-bottom: 50px;
  }

  #our-specialties .carousel-inner {
    height: 500px;
  }

  #our-specialties .carousel-indicators {
    bottom: unset;
    top: 22.5rem;
  }

  #our-specialties img {
    width: 100%;
    margin: 1rem 0;
  }

  #our-specialties .image-description {
    margin-top: 1.5rem;
    font-size: 14px;
  }

  #our-specialties .emphasis {
    color: #2b2b2b;
    font-weight: 700;
  }
}

/* Team Principles */
#team-principles {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

#team-principles .content-row li {
  font-weight: 500;
  list-style: none;
  padding-bottom: 16px;
}

#team-principles li::before {
  content: "\25AA";
  color: #0086b4;
  font-weight: bold;
  display: inline-block;
  width: 1.5rem;
  margin-left: -2.5rem;
}

#team-principles .content-row,
#team-principles .link-row {
  margin-bottom: 54px;
}

#team-principles .image-row img {
  border-radius: 10px;
  box-shadow: 0px 4px 50px -5px rgba(97, 97, 97, 0.5);
  height: 261px;
  object-fit: cover;
  object-position: top center;
  width: 100%;
}

@media (max-width: 768px) {
  #team-principles {
    font-size: 16px;
    line-height: 24px;
  }

  #team-principles .content-row,
  #team-principles .link-row {
    margin-bottom: 30px;
  }

  #team-principles .subtitle {
    margin: 20px 0 16px;
  }

  #team-principles .content-row li {
    padding-bottom: 10px;
  }

  #team-principles .content-row {
    margin-bottom: 30px;
  }

  #team-principles .blog-capsule {
    margin-bottom: 20px;
  }

  #team-principles .blog-capsule a {
    display: flex;
    justify-content: center;
    padding: 12px 0;
    width: 100%;
  }
}

/* Projects & Open Source */
#monadical-projects .project-row {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 3rem;
}

#monadical-projects .img-wrapper {
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 645px;
  justify-content: center;
}

#monadical-projects .project-img {
  border-radius: 10px;
  box-shadow: 0px 4px 50px -5px #61616166;
  width: 100%;
  margin: 2rem;
  max-width: 585px;
}

#monadical-projects .img-wrapper-scaled {
  transform: scaleY(0.75)
}

#monadical-projects .project-img-scaled {
  transform: scaleX(0.75);
}

#monadical-projects .project-text {
  align-self: center;
  display: flex;
  flex-direction: column;
}

#monadical-projects .project-title {
  color: #0086b4;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  margin-bottom: 30px;
  text-align: left;
}

#monadical-projects .subtitle {
  margin: 0 0 1.5rem;
}

#monadical-projects .project-stack {
  color: #818182;
  font-size: 16px;
  margin-bottom: 2rem;
  text-align: left;
}

#monadical-projects p {
  line-height: 30px;
  margin-bottom: 1rem;
  text-align: left;
}

#monadical-projects a {
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: left;
}

#monadical-projects li {
  font-size: 18px;
  line-height: 22px;
  list-style: square outside;
  padding-bottom: 1rem;
}

#monadical-projects li::marker {
  color: #0086b4;
  font-size: 18px;
}

@media (max-width: 768px) {
  #monadical-projects .project-row {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 2rem;
  }

  #monadical-projects .img-wrapper {
    justify-content: center;
    margin-bottom: 20px;
    min-height: 345px;
  }

  #monadical-projects .project-img {
    max-width: 313px;
    margin: 0 16px;
  }

  #monadical-projects .project-title {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 20px;
  }

  #monadical-projects .subtitle {
    margin-bottom: 0 0 1rem;
  }

  #monadical-projects .project-stack {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
  }

  #monadical-projects a {
    margin-bottom: 16px;
  }

  #monadical-projects li,
  #monadical-projects li::marker {
    font-size: 16px;
  }
}

/* Crypto */
#crypto {
  font-size: 20px;
}

#crypto .card {
  min-height: 215px;
  background-color: #0086b4;
  box-shadow: 0px 4px 21px -5px #6161613c;
}

#crypto .image-row {
  margin-bottom: 60px;
}

#crypto .card-img-top {
  background: url("/static/core/img/img-portfolio-002.png") no-repeat;
  background-color: #2b2b2b;
  background-size: cover;
  display: flex;
  justify-content: center;
}

#crypto .card-img-top img {
  height: 80px;
  margin: 46px 0;
}

#crypto .card-link {
  text-align: center;
  margin: 10px 0;
}

#crypto .card-link a {
  color: white;
  font-size: 18px;
}

#crypto .more {
  text-align: center;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  #crypto {
    font-size: 18px;
  }

  #crypto .card {
    min-height: 154px;
  }

  #crypto .image-row {
    margin-bottom: 30px;
  }

  #crypto .card-img-top img {
    height: 56px;
    margin: 30px 0;
  }

  #crypto .card-link a {
    font-size: 14px;
  }

  #crypto .more {
    margin-bottom: 1rem;
  }
}

/* Writing & Talks */
#writing-and-talks {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

#writing-and-talks .img-wrapper img {
  border-radius: 10px;
  width: 80%;
}

#writing-and-talks .image-row {
  margin-bottom: 5rem;
  align-items: center;
}

#writing-and-talks .card {
  align-items: center;
  border: none;
  box-shadow: 0px 4px 21px -5px #6161613c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#writing-and-talks .card img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

#writing-and-talks .card-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
}

#writing-and-talks .blog-capsule {
  background: #fdfdfd;
  box-shadow: 0px 4px 21px -5px rgba(97, 97, 97, 0.233752);
  border-radius: 4rem;
  margin-top: 1rem;
  padding: 0.75rem;
  text-align: center;
}

@media (max-width: 768px) {
  #writing-and-talks {
    line-height: 19px;
    text-align: center;
  }

  #writing-and-talks #talks-carousel {
    margin-bottom: 5rem;
  }

  #writing-and-talks .carousel-indicators {
    bottom: unset;
    top: 23rem;
  }

  #writing-and-talks .card-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
  }
}

/* Questions */
.questions {
  color: white;
  background-image: url(/static/core/img/img-portfolio-018.png);
  background-position: top center;
  background-size: cover;
  height: 548px;
  margin-bottom: 0;
}

.questions .questions-content {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.questions .questions-content .section-title {
  text-align: center;
  margin-bottom: 3rem;
}

.questions .questions-content button {
  padding: 0.5rem 2.5rem;
  margin-bottom: 3rem;
}

.questions .questions-content .social {
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
}

.questions .questions-content a {
  font-weight: 700;
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .questions {
    height: 300px;
  }

  .questions .questions-content .section-title {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 1rem;
  }

  .questions .questions-content button {
    margin-bottom: 2rem;
  }
}
