/* Background */
@media (min-width: 768px) {
    .research-full-2 {
        background-image:
            url(/static/core/img/img-portfolio-cloud-right.png),
            url(/static/core/img/img-portfolio-curl-left.png),
            url(/static/core/img/img-portfolio-cube-right.png),
            url(/static/core/img/img-portfolio-cube-left.png),
            url(/static/core/img/img-portfolio-cloud-2.png),
            url(/static/core/img/img-portfolio-001.png),
            url(/static/core/img/img-portfolio-multitask-left.png),
            url(/static/core/img/img-portfolio-cloud-right.png),
            url(/static/core/img/img-portfolio-tentacle-left.png),
            url(/static/core/img/img-portfolio-cloud-left.png),
            url(/static/core/img/img-home-001.png);
        background-position:
            100% 130%,
            -3% 93%,
            100% 90%,
            -5% 57.5%,
            -25% 87.5%,
            120% 65.5%,
            0% 44%,
            100% 25%,
            0% 22.5%,
            1% -10%,
            100% 2.0%;
        background-repeat: no-repeat;
    }
}
.welcome-background{
    background-image: url("/static/core/img/img-home-001.png");
}
.mobile-image-container{
    display: none;
}
.images-container{
    position: relative;
    min-height: 80px;
}
.section-one-background{
    position: absolute;
    top: 100px;
    right: 0;
    width: 500px;
}
.section-one-sky{
    position: absolute;
    top: 400px;
    left: 0;
    width: 500px;
}
.section-two-background{
    position: absolute;
    top: 350px;
    left: 0;
    height: auto;
    width: max-content;
}
.section-two-sky{
    position: absolute;
    top: 100px;
    right: 0;
    height: auto;
    width: max-content;
}
.section-three-background{
    position: absolute;
    top: 250px;
    left: 0;
    height: auto;
    width: max-content;
}
.section-three-sky{
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    width: max-content;
}
.section-four-background{
    position: absolute;
    top: 200px;
    right: 0;
    height: auto;
    width: max-content;
}
.section-four-adorment{
    position: absolute;
    top: 120px;
    left: 0;
    height: auto;
    width: max-content;
}
.section-four-sky{
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: max-content;
}
.section-five-background{
    position: absolute;
    top: 0px;
    right: 0;
    height: auto;
    width: max-content;
}
.section-five-sky{
    position: absolute;
    bottom: -600px;
    left: 0;
    height: auto;
    width: max-content;
}
.section-six-adorment{
    position: absolute;
    top: -150px;
    left: 0;
    height: auto;
    width: max-content;
}
.section-six-background-right{
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    width: max-content;
}

.section-six-background-left{
    position: absolute;
    bottom: -400px;
    left: 0;
    height: auto;
    width: max-content;
}

.research-full > .container {
    position: relative;
}
.title {
    font-size: 80px;
    font-weight: 800;
    font-style: normal;
    line-height: 96px;
    letter-spacing: 0.01em;
    color: #2b2b2b;
    margin: 20px;
    text-align: right;
}

.subtitle {
    font-style: italic;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    text-align: right;
    color: #212B36;
}

.welcome {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #0086B4;
}

.intro-text {
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    text-align: justify;
    color: #333333;
}

.section-header {
    font-size: 64px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 77px;
    letter-spacing: normal;
    color: #2b2b2b;
    margin: 20px;
}

.text-justify {
    text-align: justify;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-500 {
    font-weight: 500;
}

.section-subheader {
    font-style: normal;
    font-size: 32px;
    line-height: 38px;
}

.list-subjects {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: justify;
    color: #333333;
}

.other {
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: justify;
    color: #0086B4;
}

.paragraph {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #2B2B2B;
}
.form-title{
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #979797;
}

.margin-30 {
    margin: 30px;
}

.disabled-link {
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    color: grey;
}

.action {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    text-align: justify;
    color: #979797;
}

.unsure {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #0086B4;
}

.no-pressure {
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: justify;
    color: #0086B4;
}

.margin-top-50 {
    margin-top: 50;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}


@media (max-width:641px)  {
    .title-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .title {
        font-size: 2.5rem;
        line-height: inherit;
        text-align: right;
        margin-top: 0;
        display: flex;
        justify-content: center;
    }
    .list-subjects{
        margin: 15px;
    }
    .title > span{
        margin-left: 10px;
    }

    .subtitle{
        font-size: 1.5rem;
    }
    p,.paragraph,.list-subjects{
        font-size: 1.2rem !important;
    }
    .list-subjects{
      text-align: inherit;
        line-height: inherit;
    }

    .paragraph{
        margin: 0;
    }
    .section-header{
        font-size:36px;
        line-height: inherit;
    }
    .action{
        font-size: 1.2rem;
    }
    .action > a {
        font-size: 1.2rem;
    }
}

@media (max-width:1400px) and (min-width: 1000px)  {
    .section-one-background {
        position: absolute;
        top: 200px;
        right: -180px;
        width: 500px;
    }
    .section-one-sky {
        position: absolute;
        top: 600px;
        left: -300px;
        width: 500px;
    }
    .section-two-sky {
        position: absolute;
        top: 100px;
        right: -500px;
        height: auto;
        width: max-content;
    }
    .section-three-background {
        position: absolute;
        top: 250px;
        left: -250px;
        height: auto;
        width: max-content;
    }
    .section-four-background {
        position: absolute;
        top: 200px;
        right: -200px;
        height: auto;
        width: max-content;
    }
    .section-five-background {
        position: absolute;
        top: 200px;
        right: 0;
        height: auto;
        width: max-content;
    }
}

@media (max-width: 1000px){
    .beta-btn{
        min-width: auto;
    }
}

@media (max-width: 1000px) {
    .mobile-image-container{
        display: block;
    }
    .images-container{
        display: none;
    }
}