.text-title-bold{
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  color: #020202;
}

.line-height-card{
    line-height: 1.88;
}

.cloud-img-right{
  position: absolute;
  top: 0;
  right: 0;
}

.cloud-img-left{
  position: absolute;
  top: 1559px;
  left: 0;
}

.tentacle-img-right{
  top: 1401px;
}

.tentacle-img-left{
  top: 2560px;
}