.tentacle-img-left{
    position: absolute;
    top: 4020px;
    left: 0;
}

.tentacle-img-right{
    position: absolute;
    top: 819px;
    right: 0;
}

.cube-img-left{
    position: absolute;
    top: 0;
    left: 0;
}

.circle-img-left{
    position: absolute;
    left: 0;
    top: 1671px;
}

.cube-img-right{
    position: absolute;
    right: 0;
    top: 2426px;
}