.cloud-img-left{
    position: absolute;
    top: 0;
    left: 0;
}

.cloud-img-right{
    position: absolute;
    top: 1295px;
    right: 0;
}

.tentacle-img-right{
    top: 178px;
}

.cube-img-left{
    position: absolute;
    top: 1871px;
    left: 0;
}