{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block subtitle %}About{% endblock %}
{% block enableLogo %}enable-logo{% endblock %}
{% block article %}
    <article>
        <div class="container-full" style="padding: 0px 10px;">
            <div style="max-width: 670px; margin: auto; float: none; font-size: 1.2em">
                <br/><br/><br/>
                <center>
                    <h2>About Monadical S.A.S.</h2>
                    <hr/>
                </center>
                Monadical is a software consultancy operating in Medellin, Montreal, and NYC.
                We've grown from 2 original founders in 2016 to a <a href="{{PAGES.team.url}}#main">full team</a> today, with a wide range of
                <a href="{{PAGES.projects.url}}#main">projects launched</a> over the past 3 years.
                <br/><br/>
                We value level-headedness, good design, pragmatism, and curiosity.  We encourage challenging authority and asking questions!
                <br/><br/>
                We also value diversity–both diversity of background and cultures, and diversity of ideas. We strongly believe in the value of open, friendly exchange of opinions. No question is ever a bad one!
                <br/><br/>
                Read more about our <a href="https://docs.oddslingers.com/s/principles-handbook">company principles</a> or <a href="https://docs.oddslingers.com/s/monadical-study-guide">onboarding process</a>.
                <br/><br/><br/>
                <center>
                    <img src="static/team.jpg" style="width: 50%; border-radius: 14px"/>
                </center>
                <br/>
                We are fully-remote, but during onboarding and company retreats we work out of a beautiful coworking/coliving space in Medellin, Colombia, with access to gigabit internet, delicious food, plenty of sunlight, and a gym a block away!
            </div>
            <center>
                <br/><br/>
                <a href="{{PAGES.blog.url}}#main" class="btn btn-shadow btn-success btn-dark">
                    <i class="fa fa-book"></i> Read our blog
                </a>
                <br/><br/><br/><br/><br/>
                <canvas class="animated-color-grid" height="100"></canvas>
                <br><br/><br/><br/>
                <a name="contact"><h2>Contact Us</h2></a>
                <br/><br/>
                <div class="col-md-8 alert alert-info" style="min-height: 100px; border-radius: 5px; text-align: center">
                    <br/>
                    <h5>We are currently accepting new clients.</h5>
                    <br/>
                    Please email us a quick summary of the work you're looking for, including scope, timeline, and budget.<br/>
                    <br/>
                    It's something we can help with, an intro call will be scheduled to discuss futher details.
                    <br/><br/>
                    <hr/><br/>
                    <div class="container" style="max-width: 800px">
                        <div class="row">
                            <div class="col-md-6" style="text-align:center">
                                <h4 style="opacity: 0.9">
                                    <small>Send us an email:<br/></small>
                                    <br/>
                                    <a href="mailto:hello@monadical.com" style="margin-top: 4px;display: inline-block;">hello@monadical.com</a>
                                    <br/><br/>
                                    {# <img src="static/squiggle.png" height="80px" style="opacity: 0.5;"> #}
                                    {# <br/><br/> #}
                                </h4>
                            </div>
                            <div class="col-md-6" style="text-align:center">
                                <h4 style="opacity: 0.9">
                                    <small>Or chat with us online:<br/></small>
                                </h4>
                                <div class="library">
                                    <a href="https://twitter.com/MonadicalSAS" class="btn btn-shadow btn-success btn-outline-secondary btn-dark">
                                        <i class="fa fa-twitter"></i> Twitter
                                    </a>
                                    &nbsp; 
                                    <a href="https://facebook.com/Monadical" class="btn btn-shadow btn-success btn-outline-secondary btn-dark">
                                        <i class="fa fa-facebook"></i> Facebook
                                    </a>
                                    &nbsp; 
                                    <a href="https://linkedin.com/company/monadical" class="btn btn-shadow btn-success btn-outline-secondary btn-dark">
                                        <i class="fa fa-linkedin"></i> LinkedIn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="container" style="text-align: center; max-width: 600px">
                    <form disabled>
                        <input type="email" class="form-control" placeholder="Your email" disabled/><br/>
                        <textarea class="form-control" placeholder="Your message..." disabled></textarea>
                        <br/>
                        Contact form not available on your browser, please send your email to: hello@monadical.com
                        <br/><br/>
                        <button role="submit" class="btn btn-shadow btn-success btn-dark" disabled>
                            &nbsp;Send &nbsp;<i class="fa fa-angle-double-right"></i>&nbsp; 
                        </button>
                    </form>
                </div>
            </center>
            <br/><br/><br/>
        </div>
    </article>
{% endblock %}

