{% extends "base.html" %}

{% block title %}Services | Monadical Consulting{% endblock %}
{% block subtitle %}Home{% endblock %}
{% block enableLogo %}enable-logo{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/core/css/services.css">
{% endblock %}

{% block article %}
<div class="container-full">
    <img class="circle-img-left" src="/static/core/img/img-services-008.png">
    <img class="tentacle-img-right" src="/static/core/img/img-home-010.png">
    <img class="tentacle-img-left" src="/static/core/img/img-services-009.png">
    <img class="cube-img-right" src="/static/core/img/img-home-012.png">
    <img class="cube-img-left" src="/static/core/img/img-home-002.png">

    <div class="container" style="font-family: Lato">
        <div class="col-12 col-md-7 first-section margin-top-90">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-size-1">
                        A.I. Consulting
                    </h1>
                </div>
                <div class="col-12 d-block d-sm-none">
                    <img src="/static/core/img/img-home-001-mobile.png" class="octopus-img">
                </div>
                <div class="col-12 margin-top-60">
                    <p class="subtext-size-1">
                        We solve the toughest human and business problems with customized, cutting-edge AI systems
                    </p>
                </div>
                <div class="col-12 margin-top-60">
                    <a href="/contact-us.html" class="btn btn-info-inverse">
                        GET A TECHNICAL ASSESSMENT
                    </a>
                </div>
            </div>
        </div>


        <div style="display: flex; flex-direction: column; align-items: flex-start; padding: 80px 0px; gap: 92px; width: 1065px; height: 1623.74px; flex: none; order: 2; align-self: stretch; flex-grow: 0;">

            <!-- Row 1 -->
            <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start; padding: 0px 50px; gap: 92px; width: 1065px; height: 448.58px; flex: none; order: 0; align-self: stretch; flex-grow: 0;">
                <div style="display: flex; flex-direction: column; align-items: flex-start; padding: 0px; gap: 14px; margin: 0 auto; width: 400px; height: 448.58px; flex: none; order: 0; flex-grow: 0;">
                    <div style="width: 99.39px; height: 85.58px; border: 10px solid #000000; flex: none; order: 0; flex-grow: 0;"></div>
                    <p style="width: 400px; height: 29px; font-family: 'Lato'; font-style: normal; font-weight: 700; font-size: 24px; line-height: 29px; text-align: left; color: #000000; flex: none; order: 1; flex-grow: 0;">
                        AI Strategy
                    </p>
                    <p style="width: 400px; height: 264px; font-family: 'Lato'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 22px; color: #000000; flex: none; order: 2; align-self: stretch; flex-grow: 0;">
                        Machine Learning. Semantic Search. Large Language Models. These aren't just buzzwords. This is the new frontier of AI,
                        and enterprises both large and small are implementing these technologies today to drive down cost and increase
                        productivity. We'll guide you through the journey of AI adoption and separate the wheat from the chaff, only
                        recommending solutions that fit your needs. After assessing your business's challenges and pain points, our team of
                        experts will create a game plan to help you build out processes that work for you.
                    </p>
                </div>

                <div style="display: flex; flex-direction: column; align-items: flex-start; padding: 0px; gap: 14px; margin: 0 auto; width: 400px; height: 360.58px; flex: none; order: 1; flex-grow: 0;">
                    <div style="width: 99.39px; height: 85.58px; border: 10px solid #000000; flex: none; order: 0; flex-grow: 0;"></div>
                    <p style="width: 400px; height: 29px; font-family: 'Lato'; font-style: normal; font-weight: 700; font-size: 24px; line-height: 29px; text-align: left; color: #000000; flex: none; order: 1; flex-grow: 0;">Large Language Models</p>
                    <p style="width: 400px; height: 176px; font-family: 'Lato'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 22px; color: #000000; flex: none; order: 2; align-self: stretch; flex-grow: 0;">
                        Our team of experts will help you implement LLMs into your daily workflow. Whether it's client-facing chatbots, real
                        time transcription and translation of speech, or the implementation of semantic search across your organization, we have
                        the experience and technical know-how to build out LLM tools that increase your employee productivity and simplify your
                        end user's experience.</p>
                </div>
            </div>

            <!-- Row 2 -->
            <div
                style="display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start; padding: 0px 50px; gap: 92px; width: 1065px; height: 448.58px; flex: none; order: 0; align-self: stretch; flex-grow: 0;">
                <div
                    style="display: flex; flex-direction: column; align-items: flex-start; padding: 0px; gap: 14px; margin: 0 auto; width: 400px; height: 448.58px; flex: none; order: 0; flex-grow: 0;">
                    <div style="width: 99.39px; height: 85.58px; border: 10px solid #000000; flex: none; order: 0; flex-grow: 0;">
                    </div>
                    <p
                        style="width: 400px; height: 29px; font-family: 'Lato'; font-style: normal; font-weight: 700; font-size: 24px; line-height: 29px; text-align: left; color: #000000; flex: none; order: 1; flex-grow: 0;">
                        Machine Learning
                    </p>
                    <p
                        style="width: 400px; height: 264px; font-family: 'Lato'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 22px; color: #000000; flex: none; order: 2; align-self: stretch; flex-grow: 0;">
                        Advanced demand forecasting and supply chain management is no longer limited to just large enterprises. Our team of ML
                        experts can turn your data into real life predictions that will save your organization time and money. We combine your
                        domain knowledge with our technical expertise and the latest research in Machine Learning and Natural Language
                        Processing to recognize patterns and connections in your data that were previously undetectable. Together, we pinpoint
                        and deploy the best ML models to solve your organization's challenges.
                    </p>
                </div>
            
                <div
                    style="display: flex; flex-direction: column; align-items: flex-start; padding: 0px; gap: 14px; margin: 0 auto; width: 400px; height: 360.58px; flex: none; order: 1; flex-grow: 0;">
                    <div style="width: 99.39px; height: 85.58px; border: 10px solid #000000; flex: none; order: 0; flex-grow: 0;">
                    </div>
                    <p
                        style="width: 400px; height: 29px; font-family: 'Lato'; font-style: normal; font-weight: 700; font-size: 24px; line-height: 29px; text-align: left; color: #000000; flex: none; order: 1; flex-grow: 0;">
                        Computer Vision</p>
                    <p
                        style="width: 400px; height: 176px; font-family: 'Lato'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 22px; color: #000000; flex: none; order: 2; align-self: stretch; flex-grow: 0;">
                        We build and deploy next-generation computer vision models that analyze images and extract powerful insights that are
                        then integrated into a larger pipeline or system. This can mean anything from detecting defects in a manufacturing
                        setting, to using infrared cameras for disease detection in livestock. We design these custom computer vision systems to
                        suit your needs, resulting in higher yields, lower losses and increased productivity.
                    </p>
                </div>
            </div>

            <!-- Row 3 -->
            <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start; padding: 0px 50px; gap: 92px; width: 1065px; height: 448.58px; flex: none; order: 0; align-self: stretch; flex-grow: 0;">
                <div style="display: flex; flex-direction: column; align-items: flex-start; padding: 0px; gap: 14px; margin: 0 auto; width: 400px; height: 448.58px; flex: none; order: 0; flex-grow: 0;">
                    <div style="width: 99.39px; height: 85.58px; border: 10px solid #000000; flex: none; order: 0; flex-grow: 0;"></div>
                    <p style="width: 400px; height: 29px; font-family: 'Lato'; font-style: normal; font-weight: 700; font-size: 24px; line-height: 29px; text-align: left; color: #000000; flex: none; order: 1; flex-grow: 0;">
                        Data Science
                    </p>
                    <p style="width: 400px; height: 264px; font-family: 'Lato'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 22px; color: #000000; flex: none; order: 2; align-self: stretch; flex-grow: 0;">
                        Our data science experts help you extract the maximum value from your data. Employing a suite of advanced Data Analytics
                        and ML tools, we sift through and analyze large amounts of both structured and unstructured data. We discover patterns,
                        extract valuable insights, and generate accurate, meaningful predictions. We can also help you prepare your data for AI
                        integration, ensuring its quality, security, and scalability.
                    </p>
                </div>

                <div style="display: flex; flex-direction: column; align-items: flex-start; padding: 0px; gap: 14px; margin: 0 auto; width: 400px; height: 360.58px; flex: none; order: 1; flex-grow: 0;">
                    <div style="width: 99.39px; height: 85.58px; border: 10px solid #000000; flex: none; order: 0; flex-grow: 0;"></div>
                    <p style="width: 400px; height: 29px; font-family: 'Lato'; font-style: normal; font-weight: 700; font-size: 24px; line-height: 29px; text-align: left; color: #000000; flex: none; order: 1; flex-grow: 0;">Generative AI with Diffusion Models</p>
                    <p style="width: 400px; height: 176px; font-family: 'Lato'; font-style: normal; font-weight: 400; font-size: 18px; line-height: 22px; color: #000000; flex: none; order: 2; align-self: stretch; flex-grow: 0;">
                        Our generative AI experts will help you add image-generation capabilities directly into your user experience. We can
                        help you set up, customize and deploy fine tuned or white-label Diffusion models into your product or service, allowing
                        your customers to dream and explore to their heart's content.</p>
                </div>
            </div>


        </div>

        <div
            style="display: flex; padding: 0px 50px; flex-direction: column; align-items: flex-start; gap: 50px; align-self: stretch; margin-bottom: 74px;">
        
            <!-- AI Projects Header -->
            <h1
                style="color: #000; font-family: Lato; font-size: 36px; font-style: normal; font-weight: 900; line-height: normal;">
                AI Projects
            </h1>
        
            <!-- Text -->
            <p
                style="align-self: stretch; color: #000; font-family: Lato; font-size: 24px; font-style: normal; font-weight: 400; line-height: normal;">
                We're proud of our diverse portfolio of AI projects across various domains and industries. We have partnered
                with clients from agriculture to finance, and from health to manufacturing and retail, assisting them in
                achieving their goals with AI. Check out some of our past AI projects in our portfolio.
            </p>
        
        </div>
        

    </div>
</div>
{% endblock article %}