{% extends "base.html" %}

{% block title %}Services | Monadical Consulting{% endblock %}
{% block subtitle %}Home{% endblock %}
{% block enableLogo %}enable-logo{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/core/css/services.css">
{% endblock %}

{% block article %}
<div class="container-full margin-bottom-150">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="/static/core/img/image-AI-1-octopus.png" class="octopus-img d-none d-sm-block d-md-none">
            </div>
            <div class="col-12 col-md-7 first-section margin-top-90">
                <h1 class="text-size-1">
                    AI Consulting
                </h1>
                <p class="subtext-size-1 margin-top-60">
                    We solve the toughest human and business problems with customized, cutting-edge AI systems.
                </p>
                <a href="/contact-us.html" class="btn btn-info-inverse margin-top-60">
                    GET A TECHNICAL ASSESSMENT
                </a>
            </div>

            <div class="col-md-5 margin-top-40 margin-bottom-20">
                <img src="/static/core/img/image-AI-1-octopus.png" class="octopus-img d-none d-sm-none d-md-block">
            </div>
        </div>


        <div class="row margin-top-10">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card card-borderless">
                    <div class="card-header card-services-header">
                        <img src="/static/core/img/image-AI-2.png" class="card-img-top">
                    </div>
                    <div class="card-body ">
                        <p class="team-card-title text-center">
                            AI Strategy
                        </p>
                        <p class="title-card-size-1">
                            Machine Learning. Semantic Search. Large Language Models. These aren't just buzzwords. This
                            is the new frontier of AI,
                            and enterprises both large and small are implementing these technologies today to drive down
                            cost and increase
                            productivity. We'll guide you through the journey of AI adoption and separate the wheat from
                            the chaff, only
                            recommending solutions that fit your needs. After assessing your business's challenges and
                            pain points, our team of
                            experts will create a game plan to help you build out processes that work for you.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card card-borderless">
                    <div class="card-header card-services-header">
                        <img src="/static/core/img/image-AI-3.png" class="card-img-top">
                    </div>
                    <div class="card-body ">
                        <p class="team-card-title text-center">
                            Large Language Models
                        </p>
                        <p class="title-card-size-1">
                            Our team of experts will help you implement LLMs into your daily workflow. Whether it's
                            client-facing chatbots, real
                            time transcription and translation of speech, or the implementation of semantic search
                            across your organization, we have
                            the experience and technical know-how to build out LLM tools that increase your employee
                            productivity and simplify your
                            end user's experience.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card card-borderless">
                    <div class="card-header card-services-header">
                        <img src="/static/core/img/image-AI-4.png" class="card-img-top">
                    </div>
                    <div class="card-body ">
                        <p class="team-card-title text-center">
                            Machine Learning
                        </p>
                        <p class="title-card-size-1">
                            Advanced demand forecasting and supply chain management is no longer limited to just large
                            enterprises. Our team of ML
                            experts can turn your data into real life predictions that will save your organization time
                            and money. We combine your
                            domain knowledge with our technical expertise and the latest research in Machine Learning
                            and Natural Language
                            Processing to recognize patterns and connections in your data that were previously
                            undetectable. Together, we pinpoint
                            and deploy the best ML models to solve your organization's challenges.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card card-borderless">
                    <div class="card-header card-services-header">
                        <img src="/static/core/img/image-AI-5.png" class="card-img-top">
                    </div>
                    <div class="card-body ">
                        <p class="team-card-title text-center">
                            Computer Vision
                        </p>
                        <p class="title-card-size-1">
                            We build and deploy next-generation computer vision models that analyze images and extract
                            powerful insights that are
                            then integrated into a larger pipeline or system. This can mean anything from detecting
                            defects in a manufacturing
                            setting, to using infrared cameras for disease detection in livestock. We design these
                            custom computer vision systems to
                            suit your needs, resulting in higher yields, lower losses and increased productivity.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card card-borderless">
                    <div class="card-header card-services-header">
                        <img src="/static/core/img/image-AI-6.png" class="card-img-top">
                    </div>
                    <div class="card-body ">
                        <p class="team-card-title text-center">
                            Data Science
                        </p>
                        <p class="title-card-size-1">
                            Our data science experts help you extract the maximum value from your data. Employing a
                            suite of advanced Data Analytics
                            and ML tools, we sift through and analyze large amounts of both structured and unstructured
                            data. We discover patterns,
                            extract valuable insights, and generate accurate, meaningful predictions. We can also help
                            you prepare your data for AI
                            integration, ensuring its quality, security, and scalability.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card card-borderless">
                    <div class="card-header card-services-header">
                        <img src="/static/core/img/image-AI-7.png" class="card-img-top">
                    </div>
                    <div class="card-body ">
                        <p class="team-card-title text-center">
                            Generative AI with Diffusion Models
                        </p>
                        <p class="title-card-size-1">
                            Our generative AI experts will help you add image-generation capabilities directly into your
                            user experience. We can
                            help you set up, customize and deploy fine tuned or white-label Diffusion models into your
                            product or service, allowing
                            your customers to dream and explore to their heart's content.</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-top-40">
            <div class="col-12">
                <h1 class="text-size-2">
                    AI Projects
                </h1>
                <p class="subtext-size-2">
                    We're proud of our diverse portfolio of AI projects across various domains and industries. We have
                    partnered
                    with clients from agriculture to finance, and from health to manufacturing and retail, assisting
                    them in
                    achieving their goals with AI. Check out some of our past AI projects in <a
                        href="/portfolio.html">our portfolio.</a>

                </p>
            </div>
        </div>


    </div>
</div>
{% endblock article %}