<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %} | {{SITE_TITLE}}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css">

    <link rel="stylesheet" href="/static/bootstrap4-pleasant.min.css" type="text/css">
    <link rel="stylesheet" href="/static/core/css/base.css" type="text/css">

    <link rel="canonical" href="https://{{SITE_DOMAIN}}{{request.path}}" />

    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous">
        </script>

    {% block head %}
    {% endblock %}
</head>

<body>
    {% block header %}
    <header>
        {% block headerbefore %}
        {% endblock %}

        <div id="header-container" class="container">
            <nav class="navbar navbar-expand-sm navbar-dark bg-white">
                {% block logo %}
                <a class="navbar-brand" href="{{PAGES.index.url}}">
                    <img srcset="/static/core/img/logo@3x.png 3x,
                                 /static/core/img/logo@2x.png 2x" src="/static/core/img/logo.png" id="brand-img" />
                </a>
                {% endblock %}
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar-content-container">
                        <ul class="navbar-nav navbar-left">
                            {% for link in HeaderLinks %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{PAGES[link].url}}">{{PAGES[link].title}}</a>
                            </li>
                            {% endfor %}
                        </ul>

                        {% if title == "Rapid-fire Research" %}
                        <span>
                            <a class="disabled-link" style="margin: 5px;" href="{{PAGES['research-en'].url}}">Eng<a> |
                                    <a style="margin: 5px;" href="{{ PAGES['research-fr'].url }}">Fr</a>
                        </span>
                        <a class="beta-btn nav-link button-navbar" href="https://nick764452.typeform.com/to/N57mNTlc">
                            APPLY
                        </a>
                        {% elif title == "" %}
                        <span>
                            <a style="margin: 5px;" href="{{PAGES['research-en'].url}}">Eng<a> |
                                    <a class="disabled-link" style="margin: 5px;"
                                        href="{{ PAGES['research-fr'].url }}">Fr</a>
                        </span>
                        <a class="beta-btn nav-link button-navbar" href="https://nick764452.typeform.com/to/N57mNTlc">
                            APPLY
                        </a>
                        {% else %}
                        <a class="beta-btn nav-link button-navbar" href="{{PAGES.contact.url}}">
                            GET A TECHNICAL ASSESSMENT
                        </a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
    </header>
    {% endblock %}


    {% block outer %}
    <article>
        {% block article %}
        {% endblock %}
    </article>
    {% endblock %}

    {% block footer %}
    <footer>
        {% block footerbefore %}
        {% endblock %}
        <div class="container footer">
            {% block footersocial %}
            <div class="row">
                <div class="col-12 col-md-4">
                    <ul>
                        <li><b title="Montréal, Canada">Montréal</b></li>
                        <li><b title="NYC, USA">New York</b></li>
                        <li><b title="Medellín, Colombia">Medellín</b></li>
                        <li><b title="Cali, Colombia">Cali</b></li>
                    </ul>
                </div>
                <div class="col-12 col-md-3">
                    <ul>
                        <li>
                            <b>Monadical</b>
                        </li>
                        <a href="{{PAGES.blog.url}}">Blog</a>
                        <li><a href="{{PAGES.services.url}}">Services</a></li>
                        <li><a href="{{PAGES.projects.url}}">Projects</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-3">
                    <ul>
                        <li>
                            <b>About Us</b>
                        </li>
                        <li><a href="{{PAGES.about.url}}">About</a></li>
                        <li><a href="{{PAGES.team.url}}">Team</a></li>
                        <li><a href="{{PAGES.principles.url}}">Principles</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-2">
                    <ul>
                        <li>
                            <b>Contact Us</b>
                        </li>
                        <li><a href="https://harmonizely.com/monadical">Get a Quote</a></li>
                        <li><a href="{{PAGES.team.url}}#careers">Careers</a></li>
                        <li><a href="{{PAGES.contact.url}}">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="row social">
                <div class="col-12">
                    <ul>
                        <li>
                            <a href="https://twitter.com/MonadicalSAS" title="Monadical Twitter" target="_blank"
                                rel="noopener">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://facebook.com/monadical" title="Monadical Facebook" target="_blank"
                                rel="noopener">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://linkedin.com/company/monadical" title="Monadical LinkedIn" target="_blank"
                                rel="noopener">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/Monadical-SAS" title="Monadical Github" target="_blank"
                                rel="noopener">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row contact-row">
                <div class="col-12 col-lg-4 col-md-4">
                    <ul>
                        <li>
                            {% block footercopyright %}
                            Monadical Inc. © 2021<br />
                            <small>All rights reserved.</small>
                            {% endblock %}
                        </li>
                    </ul>
                </div>
                <!-- real contact info interspersed with fake info to throw off leadgen scraping bots, fake info is removed by JS on pageload -->
                <div class="col-12 col-lg-3 offset-lg-3 col-md-4">
                    <ul>
                        <li>
                            <span style="white-space: nowrap;">
                                hello<span>@<span class="please-scrape-this-fake-info" style="opacity: 0.1; color: red"
                                        title="ignore this">example.com</span>m</span>onadical.com
                            </span>
                            <br />
                            <small>✉️&nbsp; Email us with your project idea.</small>
                        </li>
                    </ul>
                </div>
            </div>
            {% endblock %}
        </div>
        {% block footerafter %}
        {% endblock %}
    </footer>
    {% endblock %}

    <script type="text/javascript">
        // hide all the tags containing fake contact info that are there to throw off scrapers
        // most scrapers dont run JS, so this fairly effectively masks our real info from bots
        for (const elem of document.querySelectorAll('.please-scrape-this-fake-info')) {
            elem.style.display = 'none'
        }
    </script>

    <script src="/static/squares.js"></script>


    {% block bodyafter %}
    {% endblock %}

    <!-- Smooth Scroll to Anchor Links Animation -->
    <script>
        function smoothScroll(e) {
            e.preventDefault();
            e.stopPropagation();
            console.log('Scrolling to', this.getAttribute('href'))
            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        }
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('a[smoothhashscroll]').forEach(elem => {
                elem.parentNode.outerHTML = elem.parentNode.outerHTML
            })
            document.querySelectorAll('a[href^="#"], a[smoothhashscroll]').forEach(anchor => {
                anchor.addEventListener('click', smoothScroll);
            });
        })
    </script>

    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(["setCookieDomain", "*.monadical.com"]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//analytics.zervice.io/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '12']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->
</body>

</html>