{% extends "base.html" %}

{% block title %}Posts &amp; Articles{% endblock %}
{% block subtitle %}Blog{% endblock %}
{% block enableLogo %}enable-logo{% endblock %}

{% block article %}
    <!--<canvas class="animated-color-grid" height="100"></canvas>-->
    <div class="container-full post">
        <div class="container mb-3">
            <div class="row">
                <div class="col text-center">
                    <br/><br/>
                    <h2><a id="main">Blog Posts from the Monadical Team</a></h2><br/>
                    <span class="label" style="font-size: 20px">
                        Read about: &nbsp; &nbsp;
                        #Django &nbsp; &nbsp;
                        #React &nbsp; &nbsp;
                        #Animations &nbsp; &nbsp;
                        #Engineering &nbsp; &nbsp;
                        #Management &nbsp; &nbsp;
                        #Poker &nbsp; &nbsp;
                        #Ops &nbsp; &nbsp;
                        and more...
                    </span><br/><br/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12 text-center mb-4">
                    <a href="https://twitter.com/MonadicalSAS" class="btn btn-info btn-dark">
                        Follow us on Twitter <i class="fa fa-twitter"></i>
                    </a>
                </div>
                <div class="col-md-6 col-12 text-center mb-4">
                    <a href="#newsletter" class="btn btn-success btn-dark">Subscribe to our newsletter <i class="fa fa-angle-double-down"></i></a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row articles">
            {% for post in POSTS.values() %}
                <div class="col-12 col-md-6 text-center article mb-4">
                    <div class="card h-100 ">
                        <img class="card-img-top" src="{{post.img}}" alt="Card image cap">
                        <div class="card-body">
                            <a class="card-link" href="{{post.url}}">
                                <div class="post-tags">
                                    {% for tag in post.tags %}
                                        <span class="label">#{{tag}}</span>
                                    {% endfor %}
                                </div>
                            </a>
                            <div class="card-title">
                                <h2>{{post.title}}</h2>
                            </div>
                            <div class="card-text">
                                {{post.description}}
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="author small">
                                {{post.author.name}} - {{post.date}}<br/><br/>
                                <a href="{{post.url}}">
                                    <button class="btn btn-primary">
                                        {{post.length}}
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        </div>

        <div class="container">
            <br/>
            <div style="background-color: #191919; color: #eee; border-radius: 14px; overflow: hidden; max-width: 900px; margin: auto">
                <canvas class="animated-color-grid" height="40" style="max-width: 900px;margin: auto"></canvas>
                <br/>
                <a id="newsletter"><h4>Want to receive occasional email from Monadical?</h4></a>
                <br/>
                <form action="?" method="POST">
                    <span style="color:red">Newsletter is temporarily on hold, in the meantime you can <a href="https://twitter.com/MonadicalSAS">follow us on Twitter</a>, sorry for the inconvenience!</span>
                    <div style="opacity: 0.3; cursor: not-allowed;">
                    <br/><br/>
                        <input type="email" name="email" class="form-control" disabled placeholder="Click here to enter your email" style="max-width: 300px; margin: auto; text-align: center"><br/>
                        <div style="max-width: 780px; margin: auto; float: none">
                            <div style="display: inline-block; width: 45%; min-width: 320px">
                                <a href="#newsletter" disabled class="btn disabled btn-success">&nbsp;<i class="fa fa-envelope"></i> Only big announcements&nbsp;</a>
                                <br/>
                                <small>( ~ 2 emails per year ) </small>
                            </div>
                            <div style="display: inline-block; width: 45%; min-width: 320px">
                                <a href="#newsletter" disabled class="btn disabled btn-info">&nbsp;<i class="fa fa-envelope"></i> Announcements &amp; new blog posts&nbsp;</a>
                                <br/>
                                <small>( ~ 1 email per month ) </small>
                            </div>
                        </div>
                    </div>
                </form>
                <br/>
                <canvas class="animated-color-grid" height="40" style="max-width: 900px;margin: auto"></canvas>
            </div>
        </div>
        <br/><br/>
        <hr/>
        <br/>
        <div class="container mb-5">
            <div class="row">
                <div class="col-md-6 alert alert-info" style="min-height: 200px; border-radius: 5px; text-align: center">
                    <br/><br/>
                    <b>For code &amp; projects, see the <a href="{{PAGES.projects.url}}#main">{{PAGES.projects.title}}</a> page.</b>
                    <br/>
                    <div class="library">
                        <a href="https://github.com/Monadical-SAS" class="btn btn-shadow btn-success btn-dark">
                            <i class="fa fa-github"></i> Github
                        </a>
                        &nbsp;
                        <a href="https://twitter.com/MonadicalSAS" class="btn btn-shadow btn-success btn-outline-secondary btn-dark">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        &nbsp;
                        <a href="https://linkedin.com/company/monadical" class="btn btn-shadow btn-success btn-outline-secondary btn-dark">
                            <i class="fa fa-linkedin"></i> LinkedIn
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div style="height: 200px;overflow: scroll; width: 100%; max-width: 800px;border-radius: 4px">
                        <a class="twitter-timeline" href="https://twitter.com/MonadicalSAS?ref_src=twsrc%5Etfw">Tweets by Monadical</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
