{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block subtitle %}Projects{% endblock %}
{% block article %}
<div class="container-full cases-home">
    <div class="projects">
        <div class="container">
            <h1 class="cases-title">
                Over the last 3 years, Monadical has launched and scaled multiple projects to thousands of users within months of launch.
            </h1>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card project">
                        <img
                                srcset="
                                /static/core/img/clients/kiwix@3x.jpg 3x,
                                /static/core/img/clients/kiwix@2x.jpg 2x"
                                src="/static/core/img/clients/kiwix.jpg"
                                alt="kiwix"
                        />
                        <h4>
                            Node/Python binding library refactoring and implementation work.
                        </h4>
                        <p>
                            [Kiwix](https://kiwix.org) lets you access free knowledge - even offline. You can store Wikipedia, Project Gutenberg, TED Talks or any website on your mobile phone or computer. Kiwix makes knowledge available to people with no or limited internet access. The software as well as the content is free to use for anyone.
                        </p>
                        <p>
                            Our goal was to think of a new workflow that would make it possible for those two programs in Python and C++ communicate. It would make the process more efficient and scalable. We found the best way for the two programs to communicate would be to create a wrapper.
                        </p>
                        <button class="black-button">Data</button>
                        <p class="languages">
                            Python, *C++, *Cython
                        </p>
                    </div>
                    <div class="project">
                        <a href="/cases/kiwix.html">
                            <button class="read-more">READ MORE</button>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card project">
                        <img
                                srcset="
                                /static/core/img/clients/kiwix@3x.jpg 3x,
                                /static/core/img/clients/kiwix@2x.jpg 2x"
                                src="/static/core/img/clients/kiwix.jpg"
                                alt="kiwix"
                        />
                        <h4>
                            Node/Python binding library refactoring and implementation work.
                        </h4>
                        <p>
                            [Kiwix](https://kiwix.org) lets you access free knowledge - even offline. You can store Wikipedia, Project Gutenberg, TED Talks or any website on your mobile phone or computer. Kiwix makes knowledge available to people with no or limited internet access. The software as well as the content is free to use for anyone.
                        </p>
                        <p>
                            Our goal was to think of a new workflow that would make it possible for those two programs in Python and C++ communicate. It would make the process more efficient and scalable. We found the best way for the two programs to communicate would be to create a wrapper.
                        </p>
                        <button class="black-button">Data</button>
                        <p class="languages">
                            Python, *C++, *Cython
                        </p>
                    </div>
                    <div class="project">
                        <a href="/cases/kiwix.html">
                            <button class="read-more">READ MORE</button>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card project">
                        <img
                                srcset="
                                /static/core/img/clients/kiwix@3x.jpg 3x,
                                /static/core/img/clients/kiwix@2x.jpg 2x"
                                src="/static/core/img/clients/kiwix.jpg"
                                alt="kiwix"
                        />
                        <h4>
                            Node/Python binding library refactoring and implementation work.
                        </h4>
                        <p>
                            [Kiwix](https://kiwix.org) lets you access free knowledge - even offline. You can store Wikipedia, Project Gutenberg, TED Talks or any website on your mobile phone or computer. Kiwix makes knowledge available to people with no or limited internet access. The software as well as the content is free to use for anyone.
                        </p>
                        <p>
                            Our goal was to think of a new workflow that would make it possible for those two programs in Python and C++ communicate. It would make the process more efficient and scalable. We found the best way for the two programs to communicate would be to create a wrapper.
                        </p>
                        <button class="black-button">Data</button>
                        <p class="languages">
                            Python, *C++, *Cython
                        </p>
                    </div>
                    <div class="project">
                        <a href="/cases/kiwix.html">
                            <button class="read-more">READ MORE</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="open-source-projects">
        <div class="container">
            <h1 class="cases-title">
                We love open-source projects.
            </h1>
            <h5>Check our most successful open-source project with active users in 100+ countries.</h5>
            <div class="row">
                <div class="offset-md-3 col-md-6 col-12 open-source-logos">
                    <div class="container">
                        <div class="row mb-4">
                            <div class="col-4 text-center">
                                <img
                                    srcset="
                                        /static/core/img/icons/github@3x.png 3x,
                                        /static/core/img/icons/github@2x.png 2x"
                                    src="/static/core/img/icons/github.png"
                                    alt="github"
                                >
                            </div>
                            <div class="col-4 text-center">
                                <img
                                    srcset="
                                        /static/core/img/icons/product-hunt@3x.png 3x,
                                        /static/core/img/icons/product-hunt@2x.png 2x"
                                    src="/static/core/img/icons/product-hunt.png"
                                    alt="Product Hunt"
                                >
                            </div>
                            <div class="col-4 text-center">
                                <img
                                    srcset="
                                        /static/core/img/icons/hackernews@3x.png 3x,
                                        /static/core/img/icons/hackernews@2x.png 2x"
                                    src="/static/core/img/icons/hackernews.png"
                                    alt="Hacker News"
                                >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-4 text-center">
                                <p>
                                  Github
                                </p>
                            </div>
                            <div class="col-4 col-4 text-center">
                                <p>
                                    Product Hunt
                                </p>
                            </div>
                            <div class="col-4 col-4 text-center">
                                <p>
                                    Hacker News
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "open-source.html" %}
        </div>
    </div>
    <div class="container">
        {% include "clients-reviews.html" %}
        {% include "work-with-us.html" %}
    </div>
</div>
{% endblock%}