<div class="row our-clients">
    <div class="col-12 margin-top-150 text-center">
        <h1 class="text-size-2 text-center">What our clients say</h1>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-10 offset-1">
                <div class="card card-small card-reference">
                    <div class="row">
                        <div class="col-4 col-sm-3 col-md-3">
                            <img src="/static/core/img/img-home-020.png">
                        </div>
                        <div class="col-8 col-sm-6 col-md-7">
                            <div class="row">
                                <div class="col-12">
                                    <p class="card-clients-name">John Doe</p>
                                </div>
                                <div class="col-12">
                                    <p class="card-clients-position">CEO, PrettyDopeDesigns</p>
                                </div>
                            </div>
                        </div>
                        <div class="xs-hide col-sm-3 col-md-2">
                             <img src="/static/core/img/img-home-019.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card-body">
                                <p class="text-size-3">
                                    "We were looking for a reliable
                                    software team  and we have found
                                    a long-term, high quality partner
                                    we can count on and who cares in
                                    Monadical.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- no video yet -->
            <!--
            <div class="col-sm-6 col-12">
                 <video style="width: 100%" controls>
                  <source src="" type="video/mp4">
                    Your browser does not support the video tag.
                 </video>
            </div>
            -->
        </div>
    </div>
</div>