{% extends "base.html" %}

{% block title %}Contact us{% endblock %}
{% block subtitle %}Contact us{% endblock %}
{% block enableLogo %}enable-logo{% endblock %}

{% block article %}
    <div class="container-full">
        <img class="cloud-img-left" src="/static/core/img/img-team-013.png">
        <div class="container">
            <div class="row margin-bottom-150">
                <div class="col-12 text-center margin-top-40">
                    <h2 class="text-size-2">Contact Us</h2>
                </div>
                <div class="col-md-6 col-sm-12 margin-top-60">
                    <h5 class="text-size-2">We are currently accepting new
                        clients.</h5>
                    <p class="subtext-size-2 margin-top-30">
                        Please schedule a call to get started, or email us a
                        quick summary of the work you're looking for,
                        including
                        scope, timeline, and estimated budget if known.<br/>
                        <br/>
                        It's something we can help with, we'll provide a
                        project
                        timeline and budget to review together <b
                            style="font-size: 1em">before</b> we start
                        billing
                        for any work.
                    </p>
                    <hr/>
                    <h4>
                        <a href="https://calendly.com/nicksweeting/choose-a-time"
                           target="_blank" class="blue-text">
                            Click the calendar to schedule a call
                            &nbsp;<i class="fa fa-angle-double-right"></i>
                        </a>
                    </h4>
                    <hr/>
                    <h4 class="text-center margin-top-40">
                        <small>Or send us an email:</small>
                        <br>
                        <a href="mailto:hello@monadical.com"
                           class="margin-top-30 d-inline-block">
                            hello@monadical.com
                        </a>
                    </h4>
                    <hr/>
                    <h3 class="text-center margin-top-40">
                        <small>Or chat with us online:<br/>
                        </small>
                    </h3>
                    <div class="row margin-bottom-50">
                        <div class="col-12 text-center">
                            <a href="https://twitter.com/MonadicalSAS"
                               class="btn-circle btn-info btn-circle-raised">
                                <i class="fa fa-twitter"></i>
                            </a>
                            &nbsp;
                            <a href="https://facebook.com/Monadical"
                               class="btn-circle btn-info btn-circle-raised">
                                <i class="fa fa-facebook"></i>
                            </a>
                            &nbsp;
                            <a href="https://linkedin.com/company/monadical"
                               class="btn-circle btn-info btn-circle-raised">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 margin-top-60"
                     id="calendly-contact-form">
                    <!-- Calendly inline widget begin -->
                    <div class="calendly-inline-widget"
                         data-url="https://calendly.com/nicksweeting/choose-a-time"
                         style="min-width:320px;height:900px;"></div>
                    <script type="text/javascript"
                            src="https://assets.calendly.com/assets/external/widget.js"></script>
                    <!-- Calendly inline widget end -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
