{% extends "base.html" %} 
{% block title %}Contact us{% endblock %} 
{% block subtitle %}Contact us{% endblock %} 
{% block enableLogo %}enable-logo{% endblock %} 
{% block head %}
<link rel="stylesheet" href="/static/core/css/contact-us.css" />
{% endblock %} 
{% block article %}
<div class="container-full">
    <img class="cloud-img-left" src="/static/core/img/img-team-013.png" />
    <div class="container">
        <div class="title text-center">Contact Us</div>
        <div class="row content-row"> 
            <div class="col-12 col-md-6">
                <div class="section-title">We are currently accepting new clients.</div>
                <p class="margin-top-30">
                    Please schedule a call to get started, or email us a quick summary of
                    the work you're looking for, including scope, timeline, and estimated
                    budget if known.
                </p>
                <p>
                    If it's something we can help with, we'll provide a project timeline
                    and budget to review together <b style="font-size: 1em">before</b> we
                    start billing for any work.
                </p>
                
                <!-- Social (medium+ screens) -->
                <div class="text-center margin-top-30 d-none d-md-block">
                    <hr />
                    <div class="subtitle margin-top-30"> 
                        Send us an email:<br />
                        <a href="mailto:hello@monadical.com">
                            hello@monadical.com
                        </a> 
                    </div>

                    <small>or</small><br />

                    <div class="subtitle">
                        Chat with us online:<br />
                        <a href="https://twitter.com/MonadicalHQ" class="btn-circle btn-info btn-circle-raised mt-2">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://facebook.com/Monadical" class="btn-circle btn-info btn-circle-raised mt-2">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://linkedin.com/company/monadical" class="btn-circle btn-info btn-circle-raised mt-2">
                            <i class="fa fa-linkedin"></i>
                        </a> 
                    </div>
                </div>    
            </div>

            <!-- Calendar-->
            <div id="calendly-contact-form" class="col-12 col-md-5 offset-md-1 calendar">
                <div class="subtitle text-center">Schedule a call with us.</div> 
                <iframe src="https://harmonizely.com/monadical?view=compact"></iframe>
            </div>

            <!-- Social (mobile screens, positioned at the end) -->
            <div class="col-12 text-center margin-top-30 margin-bottom-30 d-md-none">
                <div class="subtitle margin-top-30"> 
                    Send us an email:<br />
                    <a href="mailto:hello@monadical.com">
                        hello@monadical.com
                    </a> 
                </div>

                <small>or</small><br />

                <div class="subtitle">
                    Chat with us online:<br />
                    <a href="https://twitter.com/MonadicalHQ" class="btn-circle btn-info btn-circle-raised mt-2">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://facebook.com/Monadical" class="btn-circle btn-info btn-circle-raised mt-2">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://linkedin.com/company/monadical" class="btn-circle btn-info btn-circle-raised mt-2">
                        <i class="fa fa-linkedin"></i>
                    </a> 
                </div>
            </div> 
        </div>
    </div>
</div>
{% endblock %}