{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block subtitle %}Home{% endblock %}
{% block enableLogo %}enable-logo{% endblock %}

{% block article %}
    <div class="container-full">
        <img class="cube-img" src="/static/core/img/img-home-002.png">
        <img class="tentacle-img-right" src="/static/core/img/img-home-010.png">
        <img class="tentacle-img-left" src="/static/core/img/img-home-011.png">
        <img class="cube-img-right" src="/static/core/img/img-home-012.png">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-7 first-section margin-top-90">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p class="text-size-1">
                                We build software that outlast us
                            </p>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20">
                            <p class="subtext-size-1">
                                You'll never be left in the dark wondering how
                                to deploy, maintain, or support your project
                            </p>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <a href="" class="btn btn-info-inverse">
                                GET A TECHNICAL REVIEW
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <img src="/static/core/img/img-home-001.png" class="octopus-img">
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 second-section text-center">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p class="text-size-2 padding-second-section">
                                Monadical revolutionizes how
                                software teams operate
                            </p>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-30">
                            <p class="subtext-size-2 padding-second-section">
                                We're committed to providing a high quality experience for both the end-user and the developers that
                                end up inheriting and extending our projects years in the future
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 third-section text-center">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p class="text-size-2">
                                Our quality guarantee
                            </p>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="card card-body card-guaranties">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                                <img src="/static/core/img/img-home-003.png" class="documented-code-img">
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <p class="card-guaranties-text margin-bottom-30 margin-top-15">
                                                    You will get well-tested, beautifully-documented
                                                    codebase with complete deployment, growth,
                                                    and maintenance stories
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="card card-body card-guaranties">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                                <img src="/static/core/img/img-home-004.png" class="security-review-img">
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <p class="card-guaranties-text margin-bottom-50 margin-top-30">
                                                    You will get long-term support, refactoring,
                                                    and security reviews. We stand behind our code
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="card card-body card-guaranties">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                                <img src="/static/core/img/img-home-005.png" class="dead-code-img">
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <p class="card-guaranties-text margin-bottom-50 margin-top-30">
                                                    Without that guarantee, unsupported code
                                                    quickly becomes dead code and ends up costing
                                                    more down the road
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 fourth-section">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p class="text-size-2">
                                monadical is a full-stack
                                development consultancy
                            </p>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-30">
                            <p class="subtext-size-2">
                                We specialize in full-stack web development, custom
                                software solutions and software consulting
                            </p>
                            <p class="subtext-size-3">
                                Our team of engineers provide work on a variety of
                                tasks, from shipping major new product releases,
                                growing existing projects, and refactoring codebases,
                                to designing custom data pipelines, provinding
                                security review, building devops infrastructure,
                                and more...
                            </p>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-60">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="card team-card">
                                        <img src="/static/core/img/img-home-006.png" style="max-height: 265px; max-width: 255px">
                                        <div class="card-body">
                                            <p class="card-title team-card-title">
                                                Work with the world's most skilled developers
                                            </p>
                                            <p class="card-text">
                                                <ul>
                                                    <li class="team-card-text">
                                                        We are remote since 2016
                                                        - we are not limited to
                                                        30-mile radius talent
                                                    </li>
                                                    <li class="team-card-text">
                                                        Working with us is mor
                                                        efficient than hiring in-house
                                                    </li>
                                                    <li class="team-card-text">
                                                        We write long-lasting,
                                                        maintainable, reusable, and testable code
                                                    </li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="card team-card">
                                        <img src="/static/core/img/img-home-007.png" style="max-width: 255px; max-height: 265px">
                                        <div class="card-body">
                                            <p class="card-title team-card-title">
                                                Our awesome team = your awesome team
                                            </p>
                                            <p class="card-text">
                                                <ul>
                                                    <li class="team-card-text">
                                                        Keep control over the progress
                                                        of your project
                                                    </li>
                                                    <li class="team-card-text">
                                                        Your team is laser-focused
                                                        on your project
                                                    </li>
                                                    <li class="team-card-text">
                                                        Quickly increase or
                                                        decrease capacity
                                                    </li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="card team-card">
                                        <img src="/static/core/img/img-home-008.png" style="max-height: 265px; max-width: 255px">
                                        <div class="card-body">
                                            <p class="card-title team-card-title">
                                                Have a comuple transparency & security
                                                over your IP
                                            </p>
                                            <p class="card-text">
                                                <ul>
                                                    <li class="team-card-text">
                                                        Have a clear project
                                                        overview at any time
                                                    </li>
                                                    <li class="team-card-text">
                                                        Communicate directly with
                                                        your team, no chatbots
                                                    </li>
                                                    <li class="team-card-text">
                                                        Access your code any time
                                                        from dedicated dashboard
                                                        and own your IP
                                                    </li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div class="card team-card">
                                        <img src="/static/core/img/img-home-009.png" style="max-width: 255px; max-height: 265px">
                                        <div class="card-body">
                                            <p class="card-title team-card-title">
                                                Flexible Contracts
                                            </p>
                                            <p class="card-text">
                                                <ul>
                                                    <li class="team-card-text">
                                                        Work on a month-to-month
                                                        basis
                                                    </li>
                                                    <li class="team-card-text">
                                                        No long-term contracts
                                                    </li>
                                                    <li class="team-card-text">
                                                        Pay for what you need
                                                        when you need it
                                                    </li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin-top-60">
                            <a href="" class="btn btn-info-inverse">
                                GET TECHNICAL PROJECT REVIEW
                            </a>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin-top-150">
                            <p class="text-size-2">
                                Our team and our projects have
                                been features in:
                            </p>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin-top-50">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-xs-3">
                                    <div href="#">
                                        <img src="/static/core/img/img-home-021.png" style="max-height: 100%; max-width: 100%">
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                    <div href="#">
                                        <img src="/static/core/img/img-home-022.png" style="max-height: 100%; max-width: 100%">
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                    <div href="#">
                                        <img src="/static/core/img/img-home-023.png" style="max-height: 100%; max-width: 100%">
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-xs-3">
                                    <div href="#">
                                        <img src="/static/core/img/img-home-024.png" style="max-height: 100%; max-width: 100%">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-xs-3">
                                    <div href="#">
                                        <img src="/static/core/img/img-home-025.png" style="max-height: 100%; max-width: 100%">
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div href="#">
                                        <img src="/static/core/img/img-home-026.png" style="max-height: 100%; max-width: 100%">
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                    <div href="#">
                                        <img src="/static/core/img/img-home-027.png" style="max-height: 100%; max-width: 100%">
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div href="#">
                                        <img src="/static/core/img/img-home-028.png" style="max-height: 100%; max-width: 100%">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div href="#">
                                        <img src="/static/core/img/img-home-029.png" style="max-height: 100%; max-width: 100%">
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div href="#">
                                        <img src="/static/core/img/img-home-030.png" style="max-height: 100%; max-width: 100%">
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-xs-3">
                                    <div href="#">
                                        <img src="/static/core/img/img-home-031.png" style="max-height: 100%; max-width: 100%">
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                    <div href="#">
                                        <img src="/static/core/img/img-home-032.png" style="max-height: 100%; max-width: 100%">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div href="#">
                                        <img src="/static/core/img/img-home-033.png" style="max-height: 100%; max-width: 100%">
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div href="#">
                                        <img src="/static/core/img/img-home-034.png" style="max-height: 100%; max-width: 100%">
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                    <div href="#">
                                        <img src="/static/core/img/img-home-035.png" style="max-height: 100%; max-width: 100%">
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                    <div href="#">
                                        <img src="/static/core/img/img-home-036.png" style="max-height: 100%; max-width: 100%">
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                    <div href="#">
                                        <img src="/static/core/img/img-home-037.png" style="max-height: 100%; max-width: 100%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin-top-150">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                    <p class="text-size-2">
                                        We love open-source projects
                                    </p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                    <p class="subtext-size-2">
                                        Check our most successful open-source project with active users in 100+ countries.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
                                    <div class="card card-small card-open-source">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                                <img src="/static/core/img/img-home-013.png" style="max-height: 41px; max-width: 163px">
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-title open-source-card-title">
                                                Novel library for fast,
                                                declarative animations in
                                                JavaScript.
                                            </p>
                                            <img src="/static/core/img/img-home-014.png" style="max-height: 136px; max-width: 220px">
                                            <p class="card-text open-source-card-text margin-top-15">
                                                Define animations declaratively, trigger
                                                them using pure redux actions. It
                                                supports complex interactive animations,
                                                time-reversal, CSS animations, and can
                                                plug into any pure render layer like React, Inferno, or Three.js.
                                            </p>
                                            <div class="row margin-top-35">
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                    <a href="#" class="btn btn-default-inverse bigger-size">
                                                       Github
                                                    </a>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                    <a href="#" class="btn btn-default-inverse bigger-size">
                                                        Examples
                                                    </a>
                                                </div>
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-30">
                                                    <p class="open-source-card-foot-page">
                                                        Handles > 5,000 animations
                                                        @ 100FPS Perfect for dataviz,
                                                        games, & interactivity
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
                                    <div class="card card-small card-open-source">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                                <img src="/static/core/img/img-home-015.png" style="max-height: 46px; max-width: 244px">
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-title open-source-card-title">
                                                Freem real-time, Django + React
                                                powered online poker platform.
                                            </p>
                                            <img src="/static/core/img/img-home-016.png" style="max-height: 136px; max-width: 220px">
                                            <p class="card-text open-source-card-text margin-top-15">
                                                Real-time gaming platform powered
                                                by HTML5 + React/Redux and Django
                                                Channels WebSockets works on desktop,
                                                mobile, and tablets without downloads
                                                or plugins, Built, launched, and scaled
                                                over 3 years, with 6 full-time people
                                                and > 50k LOC.
                                            </p>
                                            <div class="row" style="margin-top: 34px">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <a href="#" class="btn btn-info-inverse">
                                                       PLAY POKER FOR FREE, NO ADS
                                                    </a>
                                                </div>
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-30">
                                                    <p class="open-source-card-foot-page">
                                                        Active users in 100+ countries
                                                        5+ million hands played to date
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
                                    <div class="card card-small card-open-source">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                                <img src="/static/core/img/img-home-017.png" style="max-height: 46px; max-width: 241px">
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-title open-source-card-title">
                                                Self-hosted internet archive powered
                                                by Chrome headless and wget.
                                            </p>
                                            <img src="/static/core/img/img-home-018.png" style="max-height: 136px; max-width: 220px">
                                            <p class="card-text open-source-card-text margin-top-15">
                                                Import links from browser history /
                                                bookmarks / text lists, and outputs
                                                archived HTML, JS, PDFs, media, and
                                                more. Automatically import and snapshot
                                                browsing history, bookmarks, or other
                                                feeds in formats that will last 50+
                                                years.
                                            </p>
                                            <div class="row margin-top-30">
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                    <a href="#" class="btn btn-default-inverse bigger-size">
                                                       Github
                                                    </a>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                    <a href="#" class="btn btn-default-inverse bigger-size">
                                                       Website
                                                    </a>
                                                </div>
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-30">
                                                    <p class="open-source-card-foot-page">
                                                        Used by thousands of people
                                                        30+ contributors and an active
                                                        community
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-150">
                            <p class="text-size-2">What our client say</p>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="card card-small card-reference">
                                        <div class="row" style="margin: 40px 40px 15px 40px">
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                <img src="/static/core/img/img-home-020.png" style="max-height: 100px; max-width: 100px">
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="row">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <p class="card-clients-name">John Doe</p>
                                                    </div>
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <p class="card-clients-position">CEO, PrettyDopeDesigns</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                 <img src="/static/core/img/img-home-019.png" style="max-height: 46px; max-width: 60px">
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p class="text-size-3">
                                                "We were looking for a reliable
                                                software team  and we have found
                                                a long-term, high quality partner
                                                we can count on and who cares in
                                                Monadical.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                     <video style="width: 100%" controls>
                                      <source src="" type="video/mp4">
                                    Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin-top-150">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <p class="text-size-2">
                                        Interested in working with us?
                                    </p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <p class="subtext-size-2">
                                        Initial consultations are free, no surprise bills
                                    </p>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-60">
                                    <a href="#" class="btn btn-info-inverse">
                                        FREE TECHNICAL PROJECT REVIEW
                                    </a>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center working-us-text">
                                    <p class="text-size-3">
                                        We ramp up fast and can prototype MVPs within
                                        days of taking on new projects.
                                    </p>
                                    <p class="text-size-3">
                                        After you reach out to us, we'll work together to provide a proposal with an estimated
                                        timeline and budget based on projects requirements.
                                    </p>
                                    <p class="text-size-3">
                                        When all parties are satified with the proposal, we provide a straightforward,
                                        customizable contract with weekly or monthly invoicing, and regular check-in calls
                                        with guaranteed response times once development work begins.
                                    </p>
                                    <p class="text-size-3">
                                        (We're comfortable working with remote clients all over the world. Most of our
                                        projects are mid/long-term projects lasting > 4 weeks.)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
