{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block subtitle %}Home{% endblock %}
{% block enableLogo %}enable-logo{% endblock %}

{% block article %}
    <div class="container-full" style="overflow:hidden">
        {# <center>
            <br/>
            <h2>Advanced web development &amp; consulting</h2><br/>
            <i>To create the most engaging eSports experience to ever hit the poker market.</i>
            <hr style="max-width: 645px"/>
        </center> #}
        <center>
            <br/><br/><br/>
            <h2>Monadical is a full-stack development consultancy.</h2>
            <b>
                est. 2016. Medellin, Montreal, NYC.
            </b>
            <br/><br/><br/>
            
            Our fully-remote <a href="{{PAGES.team.url}}#main">team of 6 does</a> everything from <a href="{{PAGES.projects.url}}#main">online game development</a><br/>
            and <a href="{{PAGES.projects.url}}#main">advanced web animation</a>,
            to <a href="{{PAGES.projects.url}}#open-source">internet archiving</a>, <a href="{{PAGES.projects.url}}#open-source">smart contracts</a>, <a href="{{PAGES.projects.url}}#open-source">mesh networking</a>, and <a href="{{PAGES.projects.url}}#open-source">more</a>...
            <br/><br/>
        </center>
        <div class="row container__steps">
            <div class="container__step col-md-4 text-center">
                <h2 class="icon"><img src="static/product-management.png" height="180px"></h2>
                <h2>Product Management</h2>
                <ul>
                    <li>Monadical can work as an self-directed unit, planning</li>
                    <li>and executing on development, or we can integrate into</li>
                    <li>an existing team as supporting engineers.</li>
                </ul>
            </div>
            <div class="container__step col-md-4 text-center">
                <h2 class="icon"><img src="static/full-stack.png" height="180px"></h2>
                <h2>Full-Stack Development</h2>
                <ul>
                    <li>With over 26 years of cumulative product development</li>
                    <li>experience on the team, we can build, launch, and</li>
                    <li>scale complex web apps across multiple markets.</li>
                </ul> 
            </div>
            <div class="container__step col-md-4 text-center">
                <h2 class="icon"><img src="static/ops.png" height="180px"></h2>
                <h2>Ops, Data Science, Security</h2>
                <ul>
                    <li>We go beyond app building and provide full solutions,</li>
                    <li>including ops setup, data science, and lifecycle duties</li>
                    <li>like refactoring, bug bounty, and security review.</li>
                </ul>
            </div>
        </div>

        
        <center>
            Want to ask us a question? Chat with us via <a href="{{SOCIAL.Twitter.url}}">Twitter</a> or <a href="{{PAGES.about.url}}#contact">email</a>.
            <br/><br/><br/><br/><br/>
            <canvas class="animated-color-grid" height="20"></canvas>
            <br/><br/><br/><br/>
            <h2>We specialize in full-stack Python and JS web development.</h2>
            <b>But we're comfortable learning and working with a <a href="{{PAGES.projects.url}}#tags">wide range</a> of tech stacks and project requirements.</b>
            <br/><br/><br/>
            <img src="static/python.png" style="height: 150px; opacity: 0.6; margin-right: 15px"/>
            <img src="static/javascript.png" style="height: 150px; opacity: 0.6; margin-left: 15px; margin-right: 15px"/>
            <img src="static/django.png" style="height: 150px; opacity: 0.6; margin-left: 15px; margin-right: 15px"/>
            <img src="static/react.png" style="height: 150px; opacity: 0.6; margin-left: 15px; margin-right: 15px"/>
            <img src="static/ethereum.png" style="height: 150px; opacity: 0.6; margin-left: 15px"/>
            <br/><br/><br/>
            <hr/>
            <br/><br/><br/>
            <h2>
                <img src="static/octopus.png" height="40px">&nbsp; &nbsp;
                Here are some of the things we care about.&nbsp; &nbsp;
                <img src="static/octopus.png" height="40px">
            </h2><br/>
            <b style="font-size: 1.2em">
                <a href="{{PAGES.team.url}}#join">Hiring curious people</a>, <a href="https://docs.oddslingers.com/s/principles-handbook">communicating effectively &amp;  transparently</a>, <br/>
                <a href="https://monadical.com/posts/functional-declarative-animations.html">practicing good design</a>,
                <a href="{{PAGES.projects.url}}#open-source">open-sourcing as much as possible</a>, and <a href="https://github.com/Monadical-SAS/ArchiveBox">keeping information accessible</a>.
            </b>
            <br/><br/>
            <b>
                To learn more about our culture, read our <a href="{{PAGES.blog.url}}#main">blog posts</a> or check out some of the <a href="{{PAGES.projects.url}}#main">projects</a> 
                by our <a href="{{PAGES.team.url}}">team</a>.
            </b>
            <br/><br/>
            <br/><br/>
            <hr/>
            <br/><br/>
            <h2>Want to learn more?</h2>
            <br/>
            Check us out online or follow our newsletter for updates and announcements.<br/><br/>
            Or shoot us an email at <a href="mailto:hello@monadical.com">hello@monadical.com</a>.<br/>
            <div class="library">
                <a href="{{PAGES.blog.url}}#newsletter" class="btn btn-shadow btn-success btn-dark">
                    <i class="fa fa-envelope"></i> Newsletter
                </a>
                &nbsp; 
                <a href="https://github.com/Monadical-SAS" class="btn btn-shadow btn-success btn-outline-secondary btn-dark">
                    <i class="fa fa-github"></i> Github
                </a>
                &nbsp; 
                <a href="https://twitter.com/MonadicalSAS" class="btn btn-shadow btn-success btn-outline-secondary btn-dark">
                    <i class="fa fa-twitter"></i> Twitter
                </a>
                &nbsp; 
                <a href="https://linkedin.com/company/monadical" class="btn btn-shadow btn-success btn-outline-secondary btn-dark">
                    <i class="fa fa-linkedin"></i> LinkedIn
                </a>
            </div>
            <br/>
            <hr/>
            <br/><br/>
            <a name="consulting"></a>
            <h2>Interested in working with us?</h2><br/>
            <h4 style="color: #555">
                We offer free quotes and transparent hourly billing.
                <br/><br/>
                <small>Invoices are payable with no transfer fees anywhere within the USA, Colombia, and Canada.</small>
            </h4><br/>

            Why wait months to hire and train a whole team yourself,<br/>
            when Monadical's team could be starting work on your project tomorrow?<br/>
            <br/>
            <a href="{{PAGES.about.url}}#contact" class="btn beta-btn btn-shadow btn-success">
                <span style="color:black; opacity: 0.8">♠</span>
                <span style="color:red; opacity: 0.8">♦</span>
                &nbsp; &nbsp;
                Contact us to get started
                &nbsp;&nbsp;
                <span style="color:black; opacity: 0.8">♣</span>
                <span style="color:red; opacity: 0.8">♥</span>
            </a>
            <br/><br/>
            <br/>
            <img src="static/branches.png" style="width: 100%; opacity: 0.5;"/>
            <br/><br/>
            <i>⭐ We ramp up fast and can make MVPs appear within days of taking on new projects. ⭐️</i>
            <br/><br/>
            {# <a href="{{PAGES.about.url}}">More info...</a> #}
            {# <br/><br/> #}
        </center>
    </div>
{% endblock %}
