{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block subtitle %}Home{% endblock %}
{% block enableLogo %}enable-logo{% endblock %}

{% block article %}
    <div class="container-full" style="overflow:hidden">
        {# <center>
            <br/>
            <h2>Advanced web development &amp; consulting</h2><br/>
            <i>To create the most engaging eSports experience to ever hit the poker market.</i>
            <hr style="max-width: 645px"/>
        </center> #}
        <center>
            <br/><br/><br/>
            <h2>Monadical is a full-stack development consultancy.</h2>
            <b>est. 2016. Medellín, Montréal, NYC.</b>
            
            <br/><br/><br/>
            
            <b style="font-size: 1.2em">
                Our <a href="{{PAGES.team.url}}#main">fully-remote team</a> of engineers provide work on a variety of tasks,<br/>
                from <a href="{{PAGES.projects.url}}#main">shipping major new product releases</a>,
                <a href="{{PAGES.projects.url}}#main">growing existing projects</a>, and
                <a href="{{PAGES.projects.url}}#main">refactoring gnarly codebases</a>,<br/>
                to <a href="{{PAGES.projects.url}}#main">designing custom data pipelines</a>,
                <a href="{{PAGES.projects.url}}#open-source">providing security review</a>, 
                <a href="{{PAGES.projects.url}}#open-source">building devops infrastructure</a>,
                and <a href="{{PAGES.projects.url}}#open-source">more</a>...
            </b>
            <br/><br/>
        </center>
        <div class="row container__steps">
            <div class="container__step col-md-4 text-center">
                <h2 class="icon"><img src="static/product-management.png" height="180px"></h2>
                <h2>Product Management</h2>
                <p>
                    Monadical can work as a self-directed unit to deliver a full product,
                    or we can integrate into an existing team to assist with management, engineering, &amp; operations.
                </p>
            </div>
            <div class="container__step col-md-4 text-center">
                <h2 class="icon"><img src="static/full-stack.png" height="180px"></h2>
                <h2>Full-Stack Web Development</h2>
                <p>
                    With over 36 years of development and operations experience, 
                    we're comfortable building, scaling, and managing remote
                    teams and complex software.
                </p> 
            </div>
            <div class="container__step col-md-4 text-center">
                <h2 class="icon"><img src="static/ops.png" height="180px"></h2>
                <h2>Ops, Data Science, Security</h2>
                <p>
                    We go beyond app-building and provide full solutions,
                    including ops setup, data science, and lifecycle duties
                    like refactoring, security review, and documentation.
                </p>
            </div>
        </div>

        
        <center style="overflow: hidden">
            <br/>
            <b>
                Have a quick question?
                You can chat with us via <a href="{{PAGES.about.url}}#contact">email</a> or <a href="{{PAGES.about.url}}#contact">phone call</a>. You can also find us on <a href="{{SOCIAL.Twitter.url}}">Twitter</a>.
            </b>
            <br/><br/><br/><br/>
            {# <canvas class="animated-color-grid" height="20"></canvas> #}
            <div id="waves"></div>

            <div class="alert alert-success" style="color: #1a1a1a">
                <br/><br/><br/><br/>
                <h2>We specialize in full-stack web development and custom software solutions.</h2>
                <br/>
                <b style="line-height: 1.8">
                    But we're comfortable learning and working with a <a href="{{PAGES.projects.url}}#tags">wide range</a> of tech stacks, scopes, and project requirements.
                    <br/><br/>
                </b>
                <br/>
                <a href="{{PAGES.projects.url}}#tags">
                    <span class="tag tag-industry" style="color: lightblue">desktop &amp; mobile web</span> &nbsp; &nbsp;
                    <span class="tag tag-industry" style="color: lightblue">native</span> &nbsp; &nbsp;
                    <span class="tag tag-industry" style="color: lightblue">data science</span> &nbsp; &nbsp;
                    <span class="tag tag-industry" style="color: lightblue">dev-ops</span> &nbsp; &nbsp;
                    <span class="tag tag-industry" style="color: lightblue">security</span> &nbsp; &nbsp;
                    <span class="tag tag-industry" style="color: lightblue">game theory</span> &nbsp; &nbsp;
                    <span class="tag tag-industry" style="color: lightblue">networking</span> &nbsp; &nbsp;
                    <span class="tag tag-industry" style="color: lightblue">digital preservation</span> &nbsp; &nbsp;
                    <span class="tag tag-industry" style="color: lightblue">marketing</span>
                </a>
                <br/><br/><br/>
                <b style="line-height: 1.8">
                    We can also help with other business lifecycle needs, from intial legal and accounting setup, to product growth, marketing, and support.
                    <br/><br/>
                    We have years of experience launching and growing startups of our own, and we love using <br/>
                    that knowledge to help our clients cross any hurdles they might face. At the end of the day, <br/>
                    we want our clients to succeed, and we're willing to help with everything needed to get them there.
                </b>
                <br/><br/><br/>
                
                <img src="static/python.png" style="height: 150px; opacity: 0.6; margin-right: 15px"/>
                <img src="static/javascript.png" style="height: 150px; opacity: 0.6; margin-left: 15px; margin-right: 15px"/>
                <img src="static/django.png" style="height: 150px; opacity: 0.6; margin-left: 15px; margin-right: 15px"/>
                <img src="static/react.png" style="height: 150px; opacity: 0.6; margin-left: 15px; margin-right: 15px"/>
                <img src="static/ethereum.png" style="height: 150px; opacity: 0.6; margin-left: 15px"/>
                <br/><br/><br/>
                <b>Check out the <a href="{{PAGES.projects.url}}#main">projects page</a> to get a feel for the types of projects we've worked on...</b>
                <br/><br/>
                <br/><br/><br/>
            </div>
            <br/><br/><br/>
            <br/><br>
            <h2>
                <img src="static/octopus.png" class="octopus">&nbsp; &nbsp;
                Here are some of the things we care about.&nbsp; &nbsp;
                <img src="static/octopus.png" class="octopus">
            </h2>
            <br/><br/>
            <b style="font-size: 1.2em; line-height: 1.8">
                Hiring <a href="{{PAGES.team.url}}#join">curious people</a> who love to learn, communicating <a href="https://docs.oddslingers.com/s/principles-handbook">effectively &amp;  transparently</a>, <br/>
                practicing <a href="https://monadical.com/posts/functional-declarative-animations.html">good design</a>,
                contributing back to the <a href="{{PAGES.projects.url}}#open-source">open-source</a> community, and <a href="https://github.com/Monadical-SAS/ArchiveBox">keeping information accessible</a>.
            </b>
            <br/><br/><br/><br/>
            <b>Check out some of our previous <a href="{{PAGES.projects.url}}#main">projects</a> or our <a href="{{PAGES.team.url}}">team page</a> to learn more about our company culture.
            <br/><br/><br/>
            <br/><br/><br/>
            <div class="alert alert-success" style="background-color: rgba(96, 214, 43, 0.08);margin-bottom: -2px">
                <div class="container">
                    <br/><br/><br/>
                    <div class="row" style="max-width: 96%; color: #1a1a1a">
                        <div class="col-md-12">
                            <h2 style="color: #1a1a1a">
                                We don't just ship features, we build projects that outlast us. &nbsp;
                                <br/>
                            </h2>
                            <br/>
                            <b>
                                We're commited to providing a quality experience for both the end users
                                <b style="font-size: 1em; text-decoration: underline">and</b><br/>
                                the developers that end up inheriting and extending our projects years in the future.
                            </b>
                            <br/><br/>
                        </div>
                        <div class="col-md-6">
                            <br/>
                            <img src="static/quality.png" style="height: 180px; opacity: 0.5; margin-right: 10px"/>
                            <img src="static/docs.png" style="height: 200px; opacity: 0.7; margin-left: 10px"/>
                            <br/><br/>
                                We ship well-tested, beautifully-documented
                                codebases with complete deployement, growth, and maintenance stories.<br/><br/>
                                You'll never be left in the dark wondering how to deploy, maintain, or support your project.
                                <br/><br/>
                        </div>
                        <div class="col-md-6">
                            <br/>
                            <img src="static/refactoring.png" style="height: 160px; opacity: 0.6; margin-left: 40px"/>
                            <img src="static/support.png" style="height: 180px; opacity: 0.6; margin-top: 20px; margin-left: 30px"/>
                            <br/><br/>
                                We stand behind our code and are willing to provide long-term support, 
                                refactoring, and security reviews.<br/><br/>
                                Without that guarantee, unsupported code quickly becomes dead code and ends up costing more down the road.
                                <br/>
                                <br/>
                        </div>
                        <div class="col-md-12">
                            <br/><br/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="green-squares-static"></div>

            <br/><br/>
            <a id="consulting"><br/></a>
            <br/><br/>
            <h2>Interested in working with us?&nbsp;</h2><br/>
            <h4 style="color: #555; line-height: 1.8">
                Initial consultations are free, no surprise bills.&nbsp;
            </h4>
            <b>⚡️ &nbsp; We ramp up fast and can prototype MVPs within days of taking on new projects. &nbsp; ⚡️</b>
            <br/><br/>
            <a href="{{PAGES.about.url}}#contact" class="btn beta-btn btn-shadow btn-success">
                <span style="color:black; opacity: 0.8">♠</span>
                <span style="color:red; opacity: 0.8">♦</span>
                &nbsp; &nbsp;
                <span class="break-contact" style="font-size: 1.1em">Contact us to get started</span>
                &nbsp;&nbsp;
                <span style="color:black; opacity: 0.8">♣</span>
                <span style="color:red; opacity: 0.8">♥</span>
            </a>&nbsp;&nbsp;
            <br/><br/>
            <div class="container">
                <b>
                    After you reach out to us, we'll work together to provide a proposal<br/>
                    with an estimated timeline and budget based on project requirements.
                    <br/><br/>
                    When all parties are satisfied with the proposal, we provide a straightforward,
                    customizable contract with weekly or monthly invoicing, and regular check-in calls with guaranteed response times
                    once development work begins.<br/>
                </b>
                <br/><br/>
            </div>
            <small>(We're flexible with payment methods too, we can handle USD/CAD/COP domestically, and crypto/wire-transfers internationally.)</small>
            <br/><br/><br/><br/>
            <div style="background-color: rgba(96, 214, 43, 0.08); position: relative">
                <div id="bubbles"></div>
                <span style="position: relative; z-index: 20">
                    {# <img src="static/book.png" style="height: 200px; filter: invert(0.3); margin: 20px 0px;"> #}
                    {# <h2>Want to learn more?</h2> #}
                    <br/><br/><br/>
                    <b>
                    <b>Follow our newsletter and social feeds to get updates and announcements.</b>
                    <br/><br/><br/>
                    <span class="library">
                        <a href="{{PAGES.blog.url}}#newsletter" class="btn btn-shadow btn-success btn-dark">
                            <i class="fa fa-envelope"></i> Newsletter
                        </a>
                        &nbsp; 
                        <a href="https://github.com/Monadical-SAS" class="btn btn-shadow btn-success btn-outline-secondary btn-dark">
                            <i class="fa fa-github"></i> Github
                        </a>
                        &nbsp; 
                        <a href="https://twitter.com/MonadicalSAS" class="btn btn-shadow btn-success btn-outline-secondary btn-dark">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        &nbsp; 
                        <a href="https://linkedin.com/company/monadical" class="btn btn-shadow btn-success btn-outline-secondary btn-dark">
                            <i class="fa fa-linkedin"></i> LinkedIn
                        </a>
                    </span>
                    <br/><br/><br/>
                    Or send us an email at <a href="mailto:hello@monadical.com">hello@monadical.com</a> if you want to say hi!
                    </b>
                    <br/><br/><br/><br/>
                </span>
            </div>
        </center>
    </div>
{% endblock %}

{% block bodyafter %}
    <!-- D3 Bubbles Animation -->
    <script type="text/javascript">
        var elem = document.querySelector('#bubbles').getBoundingClientRect();
        var width = elem.width;
        var height = elem.height;
    
        var nodes = d3.range(200).map(function() { return {radius: Math.random() * 16 + 4}; }),
            root = nodes[0],
            color = d3.scale.category20();
    
        root.radius = 0;
        root.fixed = true;
    
        var force = d3.layout.force()
            .gravity(0.0001)
            .charge(function(d, i) { return i ? 0 : -200; })
            .nodes(nodes)
            .size([width, height]);
    
        // root.px = width / 2;
        // root.py = height / 2;
        force.start();
    
        var svg = d3.select("#bubbles").append("svg")
            .attr("width", width)
            .attr("height", height);
    
        svg.selectAll("circle")
            .data(nodes.slice(1))
          .enter().append("circle")
            .attr("r", function(d) { return d.radius; })
            .style("fill", function(d, i) { return color(i % 3); });
    
        force.on("tick", function(e) {
          var q = d3.geom.quadtree(nodes),
              i = 0,
              n = nodes.length;
    
          while (++i < n) q.visit(collide(nodes[i]));
    
          svg.selectAll("circle")
              .attr("cx", function(d) { return d.x; })
              .attr("cy", function(d) { return d.y; });
        });
    
        svg.on("mousemove", function() {
          var p1 = d3.mouse(this);
          root.px = p1[0];
          root.py = p1[1];
          force.resume();
        });
    
        function collide(node) {
          var r = node.radius + 16,
              nx1 = node.x - r,
              nx2 = node.x + r,
              ny1 = node.y - r,
              ny2 = node.y + r;
          return function(quad, x1, y1, x2, y2) {
            if (quad.point && (quad.point !== node)) {
              var x = node.x - quad.point.x,
                  y = node.y - quad.point.y,
                  l = Math.sqrt(x * x + y * y),
                  r = node.radius + quad.point.radius;
              if (l < r) {
                l = (l - r) / l * .5;
                node.x -= x *= l;
                node.y -= y *= l;
                quad.point.x += x;
                quad.point.y += y;
              }
            }
            return x1 > nx2 || x2 < nx1 || y1 > ny2 || y2 < ny1;
          };
        }
    </script>
{% endblock %}
