<div class="col-12 text-center">
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-12 text-center margin-top-xs">
            <div class="card card-small card-open-source">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <img src="/static/core/img/redux-time.png" style="max-height: 41px; max-width: 163px">
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-title open-source-card-title">
                        Novel library for fast,
                        declarative animations in
                        JavaScript.
                    </p>
                    <img src="/static/core/img/redux-time-example.png" style="max-height: 136px; max-width: 220px">
                    <p class="card-text open-source-card-text margin-top-15">
                        Define animations declaratively, trigger
                        them using pure redux actions. It
                        supports complex interactive animations,
                        time-reversal, CSS animations, and can
                        plug into any pure render layer like React, Inferno, or Three.js.
                    </p>
                    <div class="row margin-top-35">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <a href="https://github.com/Monadical-SAS/redux-time" class="btn btn-default-inverse bigger-size" target="_blank">
                               Github
                            </a>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <a href="https://github.com/Monadical-SAS/redux-time/tree/master/examples" target="_blank" class="btn btn-default-inverse bigger-size">
                                Examples
                            </a>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 margin-top-30">
                            <p class="open-source-card-foot-page">
                                Handles > 5,000 animations
                                @ 100FPS Perfect for dataviz,
                                games, & interactivity
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-12 text-center margin-top-xs">
            <div class="card card-small card-open-source">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <img src="/static/core/img/odd-slingers.png" style="max-height: 46px; max-width: 244px">
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-title open-source-card-title">
                        Freem real-time, Django + React
                        powered online poker platform.
                    </p>
                    <img src="/static/core/img/odd-slingers-example.png" style="max-height: 136px; max-width: 220px">
                    <p class="card-text open-source-card-text margin-top-15">
                        Real-time gaming platform powered
                        by HTML5 + React/Redux and Django
                        Channels WebSockets works on desktop,
                        mobile, and tablets without downloads
                        or plugins, Built, launched, and scaled
                        over 3 years, with 6 full-time people
                        and > 50k LOC.
                    </p>
                    <div class="row" style="margin-top: 34px">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <a href="https://oddslingers.com" class="btn btn-info-inverse" target="_blank">
                               PLAY POKER FOR FREE, NO ADS
                            </a>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 margin-top-30">
                            <p class="open-source-card-foot-page">
                                Active users in 100+ countries
                                5+ million hands played to date
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-12 text-center margin-top-xs text-center">
            <div class="card card-small card-open-source">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <img src="/static/core/img/archive-box.png" style="max-height: 46px; max-width: 241px">
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-title open-source-card-title">
                        Self-hosted internet archive powered
                        by Chrome headless and wget.
                    </p>
                    <img src="/static/core/img/archive-box-example.png" style="max-height: 136px; max-width: 220px">
                    <p class="card-text open-source-card-text margin-top-15">
                        Import links from browser history /
                        bookmarks / text lists, and outputs
                        archived HTML, JS, PDFs, media, and
                        more. Automatically import and snapshot
                        browsing history, bookmarks, or other
                        feeds in formats that will last 50+
                        years.
                    </p>
                    <div class="row margin-top-30">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <a href="https://github.com/pirate/ArchiveBox" target="_blank" class="btn btn-default-inverse bigger-size">
                               Github
                            </a>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <a href="#" class="btn btn-default-inverse bigger-size">
                               Website
                            </a>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 margin-top-30">
                            <p class="open-source-card-foot-page">
                                Used by thousands of people
                                30+ contributors and an active
                                community
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>