{% extends "base.html" %} 
{% block title %}Portfolio{% endblock %}
{% block subtitle %}Portfolio{% endblock %} 
{% block enableLogo %}enable-logo{% endblock %} 
{% block head %}
<link rel="stylesheet" href="/static/core/css/portfolio.css" />
{% endblock %} 
{% block article %}
<div class="container-full portfolio-full">
  <img
    class="octopus"
    src="/static/core/img/img-portfolio-001.png"
    alt="Monadical's octopus mascot, happily typing away on a laptop."
  />
  <img
    class="left cube-1"
    src="/static/core/img/img-portfolio-cube-left.png"
    aria-hidden="true"
  />
  <img
    class="right tentacle-1"
    src="/static/core/img/img-portfolio-tentacle-right.png"
    aria-hidden="true"
  />

  <img
    class="left tentacle"
    src="/static/core/img/img-portfolio-tentacle-left.png"
    aria-hidden="true"
  />

  <img
    class="right cube"
    src="/static/core/img/img-portfolio-cube-right.png"
    aria-hidden="true"
  />

  <img
    class="right cloud"
    src="/static/core/img/img-portfolio-cloud-right.png"
    aria-hidden="true"
  />

  <img
    class="right tentacle-2"
    src="/static/core/img/img-portfolio-swirly-right.png"
    aria-hidden="true"
  />

  <img
    class="left cube-2"
    src="/static/core/img/img-portfolio-cube-left.png"
    aria-hidden="true"
  />

  <!------------ Table of Contents ------------>
  <div id="table-of-contents" class="container portfolio-container">
    <div class="row">
      <!-- title -->
      <div class="title col-12 col-md-8">Monadical Portfolio</div>
    </div>

    <div class="row">
      <!-- list -->
      <div class="col-12 col-md-8">
        <ul class="outer-list">
          <li>
            Selection of Monadical Projects
            <ul class="inner-list">
              <li>ZoHuddle - Ranked-matching conference app</li>
              <li>Solana</li>
              <li>
                Music Streaming & Federated Royalty Distribution Platform
                (Currents.fm)
              </li>
              <li>Medical data sync and BI platform (Syncroplicity)</li>
              <li>Real estate agency co-op platform (PushForward NYC)</li>
              <li>
                Modern, performant, in-browser online poker platform
                (OddSlingers Poker)
              </li>
              <li>
                Toxicology study analysis and reporting platform (Resero
                Analytics)
              </li>
            </ul>
          </li>
          <li>Open Source Work</li>
          <li>
            Team Principles
            <ul class="inner-list">
              <li>We build effective remote teams with good communication</li>
            </ul>
          </li>
          <li>
            Some of Our Writing & Talks
            <ul class="inner-list">
              <li>Technical & Non-Technical Blog Posts</li>
            </ul>
          </li>
          <li>Why hire Monadical?</li>
          <li>
            Our specialties
            <ul class="inner-list">
              <li>Full-Stack Web Development</li>
              <li>Product Management</li>
              <li>Ops, Data Science, Security</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <!-- scroll down -->
    <div class="scroll-down text-center">
      <a href="#monadical-projects" class="scroll-down">
        <span>Scroll Down</span><br />
        <i class="fa fa-chevron-down"></i>
      </a>
    </div>
  </div>

  <!------------ A Selection of Monadical Projects ------------>
  <div id="monadical-projects" class="container portfolio-container">
    <div class="row">
      <!-- title -->
      <div class="section-title col-12">A Selection of Monadical Projects</div>
    </div>

    <!-- ZoHuddle -->
    <div class="row project-row">
      <div class="img-wrapper col-12 col-md-7">
        <img
          src="/static/core/img/zohuddle-example.png"
          class="project-img"
          alt="An example of ZoHuddle's video-conferencing feature, showcasing a man in business-casual attire giving a presentation to four attendees."
        />
      </div>
      <div class="project-text col-12 col-md-5 pl-md-5">
        <div class="project-title">ZoHuddle</div>
        <div class="subtitle">Ranked-matching conference application</div>
        <p>
          A video conferencing application, where participants create profiles
          and rank one another based on mutual interests. Implemented with
          Django in the backend, integrating the Twilio video conferencing API,
          and a React frontend. Websocket communication via django channels.
        </p>
        <div class="project-stack">
          Full-stack web development, react, django, webrtc, websockets
        </div>
        <a class="align-self-center align-self-md-start" href="https://zohuddle.com/app/">
          <button class="btn btn-info-inverse">REVIEW THE PROJECT</button>
        </a>
      </div>
    </div>

    <!-- Solana -->
    <div class="row project-row flex-column-reverse flex-md-row">
      <div class="project-text col-12 col-md-5 pr-md-5">
        <div class="project-title">Solana</div>
        <p>
          Solana is a fast, secure, and censorship resistant blockchain
          providing the open infrastructure required for global adoption.
        </p>
        <p>
          Work includes frontend for Swap protocol, Lending protocol, Wormhole
          bridge, NFT Market place (Metaplex)
        </p>
        <a class="align-self-center align-self-md-start" href="https://solana.com/">
          <button class="btn btn-info-inverse">CHECK SOLANA</button>
        </a>
      </div>
      <div class="img-wrapper col-12 col-md-7">
        <img
          src="/static/core/img/solana-example.png"
          class="project-img"
          alt="A screenshot Solana’s Wormhole UI — a token bridge between Ethereum and Solana."
        />
      </div>
    </div>

    <!-- Currents.fm -->
    <div class="row project-row">
      <div class="img-wrapper col-12 col-md-7">
        <img
          src="/static/core/img/currents.png"
          class="project-img"
          alt="A partial screenshot from currents.fm homepage focused on the title and subtitle, which read ‘Currents is a playlist platform that directly supports the music community. Get a personal space to publish music lists to fans and subscribers via web and email. Keep it free or accept tips from subscribers to directly support your work.’"
        />
      </div>
      <div class="project-text col-12 col-md-5 pl-md-5">
        <div class="project-title">Currents.fm</div>
        <div class="subtitle">
          Music Streaming & Federated Royalty Distribution Platform
        </div>
        <p>
          A novel music distribution platform placing the emphasis on playlist
          curation, seeking to disrupt the music industry with a federating
          monetization model in which users sponsor curators, who distribute
          funds among artists they choose.
        </p>
        <div class="project-stack">
          NodeJS backend, React MobX (javascript) frontend, social media,
          payments, audio streaming
        </div>
        <a class="align-self-center align-self-md-start" href="https://a.currents.fm/">
          <button class="btn btn-info-inverse">CHECK CURRENTS FM</button>
        </a>
      </div>
    </div>

    <!-- Syncroplicity -->
    <div class="row project-row flex-column-reverse flex-md-row">
      <div class="project-text col-12 col-md-5 pr-md-5">
        <div class="project-title">Syncroplicity</div>
        <div class="subtitle">Medical data sync and BI platform</div>
        <p>
          An API-agnostic medical record syncing platform, designed to eliminate
          double-entry by linking EHRs, doctors, authorization departments,
          insurance companies, etc.
        </p>
        <div class="project-stack">
          Data engineering, data hygiene, Django (python) backend, React Redux
          (javascript) frontend, API integration, HIPAA compliant, security
        </div>
        <a class="align-self-center align-self-md-start" href="https://syncroplicity.com/">
          <button class="btn btn-info-inverse">REVIEW SYNCROPLICITY</button>
        </a>
      </div>
      <div class="img-wrapper col-12 col-md-7">
        <img
          src="/static/core/img/img-cases-001.png"
          class="project-img"
          alt="A screenshot showing a patient profile filled with test data being updated in Syncroplicity."
        />
      </div>
    </div>

    <!-- NeuroCass -->
    <div class="row project-row">
      <div class="img-wrapper col-12 col-md-7">
        <img
          src="/static/core/img/neuroCAAS-example.png"
          class="project-img"
          alt="A diagram that outlines the user and NeuroCASS workflows, and their interactions with one another. Having logged into the NeuroCASS website, a user can select an algorithm, review or modify parameters, and choose or upload datasets. NeuroCASS then loads the blueprints, allowing for on-demand deployment. NeuroCASS analyses the user-provided data sets in an immutable environment and allows for instant infrastructure scaling. The user is provided with live job status logging and automatic result delivery."
        />
      </div>
      <div class="project-text col-12 col-md-5 pl-md-5">
        <div class="project-title">NeuroCASS</div>
        <div class="subtitle">Neuroscience Cloud Analysis As a Service (NeuroCAAS) is a drag-and-drop data analysis platform for neuroscience</div>
        <p>
          NeuroCAAS is an open-source scientific tool that uses cloud 
          resources to run powerful modern data analyses. NeuroCAAS packages 
          these analyses into fully portable descriptions called blueprints, 
          which can then be deployed to analyze data on demand and automatically. 
          Analyzing data with NeuroCAAS does not require any hardware purchases, 
          installation, or dependency management.
        </p>
        <div class="project-stack">
          Django (python), pure python, and bash
        </div>
        <a class="align-self-center align-self-md-start" href="http://neurocaas.com/">
          <button class="btn btn-info-inverse">
            GO TO WEB SITE
          </button>
        </a>
      </div>
    </div>

    <!-- OddSlingers Poker -->
    <div class="row project-row flex-column-reverse flex-md-row">
      <div class="project-text col-12 col-md-6 pr-md-5">
        <div class="project-title">OddSlingers Poker</div>
        <div class="subtitle">
          Modern, performant, in-browser online poker platform
        </div>
        <p>
          A modern take on the aging online poker platform: new game variants,
          ad-free online games for desktop & mobile using React animations and
          django-channels websockets. Implemented bleeding-edge technology,
          including an event stream system, MOVE-like architecture,
          pure-functional reactive frontend animations (to do this we had to
          write our own frontend animations library), and an in-house system for
          time-travel debugging and introspection tools.
        </p>
        <div class="project-stack">
          MOVE architecture, event-stream architecture, time-travel debugging,
          pure-functional code, functional reactive animations, Django (python)
          backend, React (javascript) frontend, mobile, security
        </div>
        <a class="align-self-center align-self-md-start" href="https://oddslingers.com">
          <button class="btn btn-info-inverse">
            ODDSLINGERS POKER PROJECT REVIEW
          </button>
        </a>
      </div>
      <div class="img-wrapper col-12 col-md-6">
        <img
          src="/static/core/img/img-cases-002.png"
          class="project-img"
          alt="A hand of poker being played on OddSlingers. There are 3 players, Nanonapoleon, Rom Jeremy, and DLL cool J. The flop shows king of diamonds, jack of hearts, three of spades. There is $24 in the pot. The dealer button is on Nanonapoleon. Rom Jeremy just checked, DLL cool J is next to act."
        />
      </div>
    </div>

    <!-- Resero Analytics -->
    <div class="row project-row">
      <div class="img-wrapper col-12 col-md-7">
        <img
          src="/static/core/img/resero-example.png"
          class="project-img"
          alt="A screenshot of the Resero Analytics homepage. The featured text reads ‘Resero increases the quality and speed of toxicology data interpretation and reporting. Unlock your data. Resero Analytics — data, analytics, reporting.’ The text is followed by a prominent Contact Us button."
        />
      </div>
      <div class="project-text col-12 col-md-5 pl-md-5">
        <div class="project-title">Resero Analytics</div>
        <div class="subtitle">
          Toxicology study analysis and reporting platform
        </div>
        <p>
          A statistical colletion, analysis, and reporting toolkit for
          large-scale toxicology studies.
        </p>
        <div class="project-stack">
          Data science, data engineering, Pandas, data hygiene, Django (python)
          backend
        </div>
        <a class="align-self-center align-self-md-start" href="https://reseroanalytics.com/">
          <button class="btn btn-info-inverse">LEARN MORE</button>
        </a>
      </div>
    </div>

    <!------------ Open Source Work ------------>
    <div class="row">
      <!-- title -->
      <div class="section-title col-12">Open Source Work</div>
    </div>

    <!-- Redux-Time -->
    <div class="row project-row">
      <div class="img-wrapper col-12 col-md-7">
        <img
          src="/static/core/img/redux-time-example2.png"
          class="project-img"
          alt="A screenshot of a snippet of Redux Time’s documentation. The image representing the project shows the stages of a jump animation using a posed stick person on a height-over-time graph."
        />
      </div>
      <div class="project-text col-12 col-md-5 pl-md-5">
        <div class="subtitle">Real-time state syncronization & animations:</div>
        <div class="row">
          <a class="col-6 col-md-12" href="https://github.com/Monadical-SAS/redux-time">
            redux-time
          </a>
          <a class="col-6 col-md-12" href="https://github.com/Monadical-SAS/inferno-redux-time">
            inferno-redux-time
          </a>
          <a class="col-6 col-md-12" href="https://github.com/Monadical-SAS/warped-time">
            warped-time
          </a>
          <a class="col-6 col-md-12" href="https://github.com/Monadical-SAS/netviz">
            netviz
          </a>
        </div>
      </div>
    </div>

    <!-- Django & Python Packages-->
    <div class="row project-row flex-column-reverse flex-md-row">
      <div class="project-text col-12 col-md-5 pr-md-5">
        <div class="subtitle">Django & Python packages released on PyPI:</div>
        <div class="row">
          <a class="col-6 col-md-12" href="https://github.com/Monadical-SAS/django-http2-middleware">
            django-http2-middleware
          </a>
          <a class="col-6 col-md-12" href="https://github.com/Monadical-SAS/django-channels-router">
            django-channels-router
          </a>
          <a class="col-6 col-md-12" href="https://github.com/Monadical-SAS/mesh-networking">
            mesh-networking
          </a>
          <a class="col-6 col-md-12" href="https://github.com/Monadical-SAS/gzint">
            gzint
          </a>
        </div>
      </div>
      <div class="img-wrapper col-12 col-md-7">
        <img
          src="/static/core/img/packages-example.png"
          class="project-img"
          alt="The Python Package Index page for mesh-networking 0.06. The project description reads ‘This library helps you test large networks of nodes across physical and simulated links."
        />
      </div>
    </div>

    <!-- ArchiveBox -->
    <div class="row project-row">
      <div class="img-wrapper col-12 col-md-7">
        <img
          src="/static/core/img/archive-box-example2.png"
          class="project-img"
          alt="A screenshot of theArchiveBox homepage. The featured text reads ‘ARCHIVEBOX — Open source, self-hosted web archiving. Takes URLs, browser history, bookmarks, Pocket, Pinboard, etc., saves HTML, JS, PDFs, media, and more.’"
        />
      </div>
      <div class="project-text col-12 col-md-5 pl-md-5">
        <div class="subtitle">Archiving & digital preservation:</div>
        <div class="row">
          <a class="col-6 col-md-12" href="https://archivebox.io/">
            ArchiveBox
          </a>
          <a class="col-6 col-md-12" href="https://github.com/pirate/wikipedia-mirror">
            wikipedia-mirror
          </a>
        </div>
      </div>
    </div>

    <!-- Mesh Networking & Security -->
    <div class="row">
      <div class="thumb-wrapper offset-md-3">
        <img
          src="/static/core/img/solana-dns-example.png"
          alt="The header of Solana DNS’ documentation page. It reads ‘Solana DNS — A simple DNS server using the high-performance Solana blockchain to store signed records. Implemented in JavaScript and Solana BPF Rust, with an optional REST API and Web UI.’"
        />
      </div>
    </div>
    <div class="row project-row flex-column-reverse flex-md-row">
      <div class="project-text col-12 col-md-5 pr-md-5">
        <div class="subtitle">Mesh networking & security:</div>
        <div class="row">
          <a class="col-6 col-md-12" href="https://monadical-sas.github.io/solana-dns/">
            solana-dns
          </a>
          <a class="col-6 col-md-12" href="https://github.com/pirate/wireguard-docs">
            wireguard-docs
          </a>
          <a class="col-6 col-md-12" href="https://github.com/Monadical-SAS/mesh-networking">
            mesh-networking
          </a>
          <a class="col-6 col-md-12" href="https://github.com/Monadical-SAS/security-growler">
            security-growler
          </a>
        </div>
      </div>
      <div class="img-wrapper col-12 col-md-7">
        <img
          src="/static/core/img/wire-guard-example.png"
          class="project-img"
          alt="A partial screenshot of the unofficial WireGuard documentation page, which credits the contributors to the WireGuard project and introduces the document as an ‘unofficial attempt at providing more comprehensive documentation, API references, and examples’"
        />
      </div>
    </div>

    <!-- Devops -->
    <div class="row">
      <div class="thumb-wrapper offset-md-6">
        <img
          src="/static/core/img/zervice-example2.png"
          alt="zervice.swarmpit UI thumbnail"
        />
      </div>
    </div>
    <div class="row project-row">
      <div class="img-wrapper col-12 col-md-7">
        <img
          src="/static/core/img/zervice-example.png"
          class="project-img"
          alt="Screenshot of the project documentation that highlights the ability to visualize and explore data, or manage and administer the elastic stack."
        />
      </div>
      <div class="project-text col-12 col-md-5 pl-md-5">
        <div class="subtitle">Devops deployment templates and utilities:</div>
        <div class="row">
          <a class="col-6 col-md-12" href="https://github.com/Monadical-SAS/zervice.elk">
            zervice.elk
          </a>
          <a class="col-6 col-md-12" href="https://github.com/pirate/bash-utils">
            bash
          </a>
          <a class="col-6 col-md-12" href="https://github.com/pirate/fish-utils">
            fish-functions
          </a>
          <a class="col-6 col-md-12" href="https://github.com/Monadical-SAS/security-growler">
            security-growler
          </a>
        </div>
      </div>
    </div>
  </div>

  <!------------ Crypto ------------>
  <div id="crypto" class="container portfolio-container">
    <div class="row">
      <!-- title -->
      <div class="section-title col-12 text-center">Crypto</div>
    </div>
    <!-- crypto cards -->
    <div class="row image-row flex-md-nowrap">
      <!-- stormcoin -->
      <div class="col-md-4 col-12 my-2">
        <div class="card">
          <div class="card-img-top">
            <img
              src="/static/core/img/img-portfolio-003.svg"
              aria-hidden="true"
            />
          </div>
          <div class="card-link">
            <a href="https://github.com/Monadical-SAS/storycoin">storycoin</a>
          </div>
        </div>
      </div>

      <!-- crypto-trader -->
      <div class="col-md-4 col-12 my-2">
        <div class="card">
          <div class="card-img-top">
            <img
              src="/static/core/img/img-portfolio-004.svg"
              aria-hidden="true"
            />
          </div>
          <div class="card-link">
            <a href="https://github.com/Monadical-SAS/crypto-trader">crypto-trader</a>
          </div>
        </div>
      </div>

      <!-- eth-sandbox -->
      <div class="col-md-4 col-12 my-2">
        <div class="card">
          <div class="card-img-top">
            <img
              src="/static/core/img/img-portfolio-005.svg"
              aria-hidden="true"
            />
          </div>
          <div class="card-link">
            <a href="https://github.com/cowpig/eth">eth-sandbox</a>
          </div>
        </div>
      </div>
    </div>

    <!-- more -->
    <div class="justify-content-center align-items-center">
      <div class="more">More on our</div>

      <div class="d-flex justify-content-center">
        <!-- github -->
        <div class="logo-wrapper">
          <img
            class="github-logo"
            src="/static/core/img/icons/github@2x.png"
            alt="Github logo"
          />
          <a href="https://github.com/Monadical-SAS">Github</a>
        </div>

        <span class="amp">&</span>

        <!-- website -->
        <div class="logo-wrapper">
          <div class="monadical-logo">
            <img src="/static/core/img/logo.png" alt="Monadical logo" />
          </div>
          <a href="https://monadical.com/">Website</a>
        </div>
      </div>
    </div>
  </div>

  <!------------ Team Principles ------------>
  <div id="team-principles" class="container portfolio-container">
    <div class="row">
      <!-- title -->
      <div class="section-title col-12">Team Principles</div>
    </div>

    <div class="row content-row flex-column-reverse flex-md-row flex-md-nowrap">
      <div class="col-12 col-md-6">
        <div class="subtitle">
          We build effective remote teams with good communication.
        </div>

        <p>
          By hiring curious people who love to learn, communicating effectively
          & transparently, investing into growing our skills, and keeping
          information accessible.
        </p>

        <ul>
          <li>
            <a href="https://monadical.com/principles.html">Company Principles Handbook</a>
          </li>
          <li>
            <a href="https://monadical.com/team.html">Our Team</a>
          </li>
          <li>
            <a href="https://monadical.com/posts/monadical-study-guide.html">Our Hiring Process</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <img
          width="100%"
          src="/static/core/img/img-portfolio-006.png"
          alt="A Monadical employee and a Monadical cofounder manning a booth at PyCon. The former is holding up a branded notebook. Both are smiling."
        />
      </div>
    </div>

    <!-- blog links -->
    <div class="row link-row">
      <div class="subtitle text-center col-12">Related blog posts</div>
      <div class="blog-capsule col-12 col-md-4">
        <a href="https://monadical.com/posts/Trustless-is-A-Myth.html">The Myth of Trustlessness</a>
      </div>
      <div class="blog-capsule col-12 col-md-4">
        <a href="https://monadical.com/posts/Downswings-and-the-Information-Game.html">Feedback Game Theory</a>
      </div>
      <div class="blog-capsule col-12 col-md-4">
        <a href="https://monadical.com/posts/security-breach-response-guidelines.html">Our Breach Response Guidelines</a>
      </div>
      <div class="blog-capsule col-12 col-md-4">
        <a href="https://monadical.com/posts/full-stack-developer-checklist.html">Full-Stack Engineering Checklist</a>
      </div>
      <div class="blog-capsule col-12 col-md-4">
        <a href="https://monadical.com/posts/set-up-ci-workflow.html">Our Approach to Devops</a>
      </div>
      <div class="blog-capsule col-12 col-md-4">
        <a href="https://github.com/Monadical-SAS/oddslingers.poker/wiki/Style-Guide">Our Style Guide</a>
      </div>
    </div>

    <!-- blog image row (md screens and up) -->
    <div class="row image-row d-none d-md-flex">
      <a class="col-md-4" href="https://monadical.com/posts/principles-handbook.html">
        <img
          src="/static/core/img/img-portfolio-007.png"
          alt="A screenshot from Monadical's Principles Handbook. The text reads 'Our goal with this document is to share some of our knowledge and expertise around the process of working together as a team, in order to achieve a more efficient, happy and healthy working environment. This is a living document and we expect it to change as we grow and evolve over time.'"
        />
      </a>

      <a class="col-md-4 img-wrapper" href="https://monadical.com/team.html">
        <img
          src="/static/core/img/img-portfolio-008.png"
          height="100%"
          alt="An art installation in a park consisting of large red letters that spell out ‘MEDELLIN.’ The letters are covered in graffiti. There is a beautiful green space with benches in the background."
        />
      </a>

      <a class="col-md-4 img-wrapper" href="https://docs.monadical.com/s/pycon-puzzle">
        <img
          src="/static/core/img/img-portfolio-009.png"
          height="100%"
          alt="A screenshot from Monadical's 2020 PyCon.co coding challenge. Problem 1 involves sending vehicles and passengers from Bogotá to Medellin in the most efficient way possible. Problem 2 involves decoding secret messages."
        />
      </a>
    </div>

    <!-- blog carousel (mobile screens) -->
    <div id="blog-carousel" class="carousel slide d-md-none" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#blog-carousel" data-slide-to="0" class="rounded-circle active"></li>
        <li data-target="#blog-carousel" data-slide-to="1" class="rounded-circle"></li>
        <li data-target="#blog-carousel" data-slide-to="2" class="rounded-circle"></li>
      </ol>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="https://monadical.com/posts/principles-handbook.html">
            <img
              class="d-block w-100 p-4"
              src="/static/core/img/img-portfolio-007.png"
              alt="A screenshot from Monadical's Principles Handbook. The text reads 'Our goal with this document is to share some of our knowledge and expertise around the process of working together as a team, in order to achieve a more efficient, happy and healthy working environment. This is a living document and we expect it to change as we grow and evolve over time.'"
            />
          </a>
        </div>
        <div class="carousel-item">
          <a href="https://monadical.com/team.html">
            <img
              class="d-block w-100"
              src="/static/core/img/img-portfolio-008.png"
              height="100%"
              alt="An art installation in a park consisting of large red letters that spell out ‘MEDELLIN.’ The letters are covered in graffiti. There is a beautiful green space with benches in the background."
            />
          </a>
        </div>
        <div class="carousel-item">
          <a href="https://docs.monadical.com/s/pycon-puzzle">
            <img
              class="d-block w-100"
              src="/static/core/img/img-portfolio-009.png"
              height="100%"
              alt="A screenshot from Monadical's 2020 PyCon Columbia coding challenge. Problem 1 involves sending vehicles and passengers from Bogotá to Medellin in the most efficient way possible. Problem 2 involves decoding secret messages."
            />
          </a>
        </div>
      </div>
    </div>
  </div>

  <!------------ Writing & Talks ------------>
  <div id="writing-and-talks" class="container portfolio-container">
    <div class="row">
      <!-- title -->
      <div class="section-title col-12">Some of Our Writing & Talks</div>
    </div>

    <!-- conference talks -->
    <div class="row">
      <div class="col-12 text-center subtitle">Conference Talks</div>
    </div>

    <!-- talks image row  -->
    <div class="row image-row d-none d-md-flex">
      <div class="col-md-3 d-flex flex-column align-items-center">
        <a class="img-wrapper" href="https://www.youtube.com/watch?v=LZ7TNQjG74g">
          <img
            src="/static/core/img/img-portfolio-010.png"
            alt="The cover of a talk titled 'Archiving the internet before it rots away' by Nick Sweeting, given at PyCon Columbia, 2020"
          />
        </a>
        <span class="image-description">Archiving the internet before it rots away</span>
      </div>

      <div class="col-md-3 d-flex flex-column align-items-center">
        <a class="img-wrapper" href="https://www.youtube.com/watch?v=VJSznZMvA1M">
          <img
            src="/static/core/img/img-portfolio-011.png"
            alt="The cover of a talk titled 'How I learned to stop worrying and love Atomic() - Database Integrity Fundamentals in Django' by Nick Sweeting"
          />
        </a>
        <span class="image-description">Concurrent banking systems</span>
      </div>

      <div class="col-md-3 d-flex flex-column align-items-center">
        <a class="img-wrapper" href="https://monadical.com/posts/drone-web-platform.html">
          <img
            src="/static/core/img/img-portfolio-012.png"
            alt="A blog post titled 'The road so far in building a web platform for drones (Inglés)' by Jose Benitez"
          />
        </a>
        <span class="image-description">Building a web platform for drones</span>
      </div>

      <div class="col-md-3 d-flex flex-column align-items-center">
        <a class="img-wrapper" href="https://docs.sweeting.me/s/blog#Public-Speaking">
          <img
            src="/static/core/img/img-portfolio-013.png"
            alt="Screenshot of a list of conference talks by co-founder Nick Sweeting"
          />
        </a>
        <span class="image-description">And many more by our employees</span>
      </div>
    </div>

    <!-- talks carousel (mobile screens) -->
    <div id="talks-carousel" class="carousel slide d-md-none" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#talks-carousel" data-slide-to="0" class="rounded-circle active"></li>
        <li data-target="#talks-carousel" data-slide-to="1" class="rounded-circle"></li>
        <li data-target="#talks-carousel" data-slide-to="2" class="rounded-circle"></li>
        <li data-target="#talks-carousel" data-slide-to="3" class="rounded-circle"></li>
      </ol>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="https://www.youtube.com/watch?v=LZ7TNQjG74g">
            <img
              class="d-block w-100"
              src="/static/core/img/img-portfolio-010.png"
              alt="The cover of a talk titled 'Archiving the internet before it rots away' by Nick Sweeting, given at PyCon Columbia, 2020"
            />
          </a>
          <div class="slide-description">
            Archiving the internet before it rots away
          </div>
        </div>
        <div class="carousel-item">
          <a href="https://www.youtube.com/watch?v=VJSznZMvA1M">
            <img
              class="d-block w-100"
              src="/static/core/img/img-portfolio-011.png"
              alt="The cover of a talk titled 'How I learned to stop worrying and love Atomic() - Database Integrity Fundamentals in Django' by Nick Sweeting"
            />
          </a>
          <div class="slide-description">Concurrent banking systems</div>
        </div>
        <div class="carousel-item">
          <a href="https://monadical.com/posts/drone-web-platform.html">
            <img
              class="d-block w-100"
              src="/static/core/img/img-portfolio-012.png"
              alt="A blog post titled 'The road so far in building a web platform for drones (Inglés)' by Jose Benitez"
            />
          </a>
          <div class="slide-description">
            Building a web platform for drones
          </div>
        </div>
        <div class="carousel-item">
          <a href="https://docs.sweeting.me/s/blog#Public-Speaking">
            <img
              class="d-block w-100 p-4"
              src="/static/core/img/img-portfolio-013.png"
              alt="Screenshot of a list of conference talks by co-founder Nick Sweeting."
            />
          </a>
          <div class="slide-description">And many more by our employees</div>
        </div>
      </div>
    </div>

    <!-- blogs -->
    <div class="row">
      <div class="col-12 text-center subtitle">
        Technical & Non-Technical Blog Posts
      </div>
    </div>
    <div class="row image-row d-flex flex-md-nowrap">
      <div class="col-12 col-md-4 text-center">
        <div class="card">
          <div class="w-100 mt-3">
            <a href="https://monadical.com/blog.html">https://monadical.com/blog.html</a>
            <hr />
          </div>
          <img
            src="/static/core/img/img-portfolio-014.png"
            alt="Screenshot of the Monadical blog header."
          />
          <div class="card-title my-3">Monadical Blog</div>
        </div>
        <a href="https://monadical.com/blog.html">
          <button class="btn btn-info-inverse">READ MORE</button>
        </a>
      </div>

      <div class="col-12 col-md-4 text-center">
        <div class="card">
          <div class="w-100 mt-3">
            <a href="https://docs.sweeting.me/s/blog">https://docs.sweeting.me/s/blog</a>
            <hr />
          </div>
          <img
            src="/static/core/img/img-portfolio-015.png"
            alt="Screenshot of co-founder Nick Sweeting's blog"
          />
          <div class="card-title my-3">Nick’s Blog (Co-Founder)</div>
        </div>
        <a href="https://docs.sweeting.me/s/blog">
          <button class="btn btn-info-inverse">READ MORE</button>
        </a>
      </div>

      <div class="col-12 col-md-4 text-center">
        <div class="card">
          <div class="w-100 mt-3">
            <a href="http://cowpig.github.io/about/">http://cowpig.github.io/about/</a>
            <hr />
          </div>
          <img
            src="/static/core/img/img-portfolio-016.png"
            alt="Screenshot of co-founder Max McCrea's blog"
          />
          <div class="card-title my-3">Max’s Blog (Co-Founder)</div>
        </div>
        <a href="http://cowpig.github.io/about/">
          <button class="btn btn-info-inverse">READ MORE</button>
        </a>
      </div>
    </div>
  </div>

  <!------------ Why Hire Monadical ------------>
  <div id="why-hire-us" class="portfolio-container">
    <div class="row">
      <!-- title -->
      <div class="section-title col-12">Why Hire Monadical</div>
    </div>

    <div class="row content-row flex-column flex-md-row">
      <!-- list -->
      <div class="col-12 col-md-9 offset-md-4">
        <div class="subtitle">
          <a href="https://monadical.com/services.html">See our "Why Hire Monadical?" one-page</a>
        </div>
        <ul>
          <li>We bring extensive strategic and technical architecture expertise.</li>
          <li>We’re a full-stack team with batteries included: ops, hosting, email servers, you name it.</li>
          <li>We care about the details, we build solid products both inside and out.</li>
          <li>We can scale your team on a moments notice.</li>
        </ul>
        <a href="https://monadical.com/contact-us.html">
          <button class="btn btn-info-inverse">SCHEDULE INTRO CALL</button>
        </a>
      </div>
    </div>
  </div>

  <!------------ Our Specialties ------------>
  <div id="our-specialties" class="container portfolio-container">
    <div class="row">
      <!-- title -->
      <div class="section-title col-12">Our specialties</div>
    </div>

    <!-- specialties image row  -->
    <div class="row image-row d-none d-md-flex">
      <div class="col-md-3 d-flex flex-column align-items-center">
        <div class="specialty-title">Product Management</div>
        <img
          src="/static/core/img/img-portfolio-020.png"
          alt="Stylized tentacles of Monadical's octopus mascot wrapped around a Gantt chart"
        />
        <div class="image-description">
          <p>
            Monadical can work as a self-directed unit to deliver a full
            product, or we can integrate into an existing team to assist with
            management, engineering, & operations.
          </p>
          <p>
            <span class="emphasis">Our standard tech stack:</span> Django/Flask
            (Python3 w/ MyPy), React+Redux (ES7+ TypeScript)
          </p>
        </div>
      </div>

      <div class="col-md-3 d-flex flex-column align-items-center">
        <div class="specialty-title">Full-Stack Web Development</div>
        <img
          src="/static/core/img/img-portfolio-019.png"
          alt="Monadical's octopus mascot happily typing away on a laptop."
        />
        <div class="image-description">
          <p>
            With years of development and operations experience from building
            our own startups, we’re comfortable assembling, scaling, and
            managing remote teams and complex software.
          </p>
          <p>
            <span class="emphasis">Our team ratio:</span>
            1:1 Senior to Junior
          </p>
        </div>
      </div>

      <div class="col-md-3 d-flex flex-column align-items-center">
        <div class="specialty-title">Ops, Data Science, Security</div>
        <img
          src="/static/core/img/img-portfolio-021.png"
          alt="Monadical's octopus mascot doing cable management on some servers."
        />
        <div class="image-description">
          We go beyond app-building and provide full solutions, including ops
          setup, data science, and lifecycle duties like refactoring, security
          review, and documentation.
        </div>
      </div>
    </div>

    <!-- specialties carousel (mobile screens) -->
    <div
      id="specialties-carousel"
      class="carousel slide d-md-none"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#specialties-carousel"
          data-slide-to="0"
          class="rounded-circle active"
        ></li>
        <li
          data-target="#specialties-carousel"
          data-slide-to="1"
          class="rounded-circle"
        ></li>
        <li
          data-target="#specialties-carousel"
          data-slide-to="2"
          class="rounded-circle"
        ></li>
      </ol>

      <div class="carousel-inner">
        <div class="carousel-item text-center active">
          <div class="specialty-title">Product Management</div>
          <img
            src="/static/core/img/img-portfolio-020.png"
            alt="Stylized tentacles of Monadical's octopus mascot wrapped around a Gantt chart."
          />
          <div class="image-description">
            <p>
              Monadical can work as a self-directed unit to deliver a full
              product, or we can integrate into an existing team to assist with
              management, engineering, & operations.
            </p>
            <p>
              <span class="emphasis">Our standard tech stack:</span>
              Django/Flask (Python3 w/ MyPy), React+Redux (ES7+ TypeScript)
            </p>
          </div>
        </div>
        <div class="carousel-item text-center">
          <div class="specialty-title">Full-Stack Web Development</div>
          <img
            src="/static/core/img/img-portfolio-019.png"
            alt="Monadical's octopus mascot happily typing away on a laptop."
          />
          <div class="image-description">
            <p>
              With years of development and operations experience from building
              our own startups, we’re comfortable assembling, scaling, and
              managing remote teams and complex software.
            </p>
            <p>
              <span class="emphasis">Our team ratio:</span>
              1:1 Senior to Junior
            </p>
          </div>
        </div>
        <div class="carousel-item text-center">
          <div class="specialty-title">Ops, Data Science, Security</div>
          <img
            src="/static/core/img/img-portfolio-021.png"
            alt="Monadical's octopus mascot doing cable management on some servers."
          />
          <div class="image-description">
            <p>
              We go beyond app-building and provide full solutions, including
              ops setup, data science, and lifecycle duties like refactoring,
              security review, and documentation.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <a href="https://monadical.com/principles.html">
        <button class="btn btn-info-inverse">
          VIEW OUR COMPANY PRINCIPLES
        </button>
      </a>
    </div>
  </div>

  <!------------ Questions ------------>
  <div class="portfolio-container questions w-100">
    <div class="questions-content text-center">
      <div class="section-title">Have any questions?</div>
      <a href="https://monadical.com/contact-us.html">
        <button class="btn btn-info-inverse">CHAT WITH US</button>
      </a>
      <span class="social">
        <i class="fa fa-twitter"></i>
        You can also find us on Twitter
        <a href="https://twitter.com/MonadicalSAS">@MonadicalSAS</a>
      </span>
    </div>
  </div>
</div>
{% endblock article %}