{% extends "base.html" %} 
{% block title %}Portfolio{% endblock %}
{% block subtitle %}Portfolio{% endblock %} 
{% block enableLogo %}enable-logo{% endblock %} 
{% block head %}
<link rel="stylesheet" href="/static/core/css/portfolio/portfolio.css" />
{% endblock %} 
{% block article %}
<div class="container-full portfolio-full">
  <!------------ Header: main view ------------>
  <div id="header" class="container portfolio-container">
    <div class="row">
      <!-- title -->
      <div class="title col-12 col-md-10">Monadical Portfolio</div>
      <!-- slogan -->
      <div class="slogan col-12 col-md-12">We build software that outlasts us</div>
      <div class="slogan col-12 col-md-12">
        <a href="https://monadical.com/contact-us.html">
          <button class="btn btn-info-inverse">BOOK A TECHNICAL ASSESSMENT</button>
        </a>
      </div>

    </div>
    <!-- list -->
    <div class="scroll-down text-center">
      <a href="#why-hire-monadical" class="scroll-down">
        <span>Scroll Down</span><br />
        <i class="fa fa-chevron-down"></i>
      </a>
    </div>
  </div>

  <!------------ Why Hire Monadical ------------>
  <div id="why-hire-monadical" class="portfolio-container">
    <div class="row">
      <!-- title -->
      <div class="section-title col-12">Why Hire Monadical</div>
    </div>

    <div class="row content-row flex-column flex-md-row">
      <!-- list -->
      <div class="contrast-wrapper col-10 offset-1 col-md-8 offset-md-2">
        <ul>
          <li><strong>Expertise:</strong> We bring extensive, ever-evolving knowledge of technical architecture and strategic thinking to every project we touch.</li>
          <li><strong>Ease:</strong>  We’re a full-stack team with batteries included. That includes everything from project management and design to server deployment.</li>
          <li><strong>Flexibility:</strong>  We understand the changing demands of a project, and we can scale your team up or down at a moment's notice.</li>
          <li><strong>Care:</strong> We're all about the details, and we're 100% committed to building reliable products, both inside and out.</li>
        </ul>
        <div class="section-buttons d-flex justify-content-center align-items-center flex-wrap">
          <a href="https://monadical.com/services.html">
            <button class="btn btn-info-inverse">SEE OUR SERVICES</button>
          </a>
          <a href="https://monadical.com/contact-us.html">
            <button class="btn btn-info">SCHEDULE A CALL</button>
          </a>
        </div>
      </div>
    </div>
  </div>


  <!------------ A Selection of Monadical Projects ------------>
  <div class="monadical-projects-wrapper">

    <!------------ Projects ------------>
    <div id="monadical-projects" class="container-fluid portfolio-container">
      <div class="row flex-column">
        <!-- title -->
        <div class="section-title col-12">Selected Monadical Projects</div>
        <div class="row main-image-wrapper-1 col-12 col-md-12">
          <img
            src="/static/core/img/img-portfolio-octopus-with-figures.png"
            class="main-image-1"
            alt="Monadical's octopus mascot with figures."
          />
        </div>
        <img
          src="/static/core/img/img-portfolio-cube-right-full.png"
          class="main-image-3"
          alt="Monadical's octopus mascot with figures."
        />
        <img
          src="/static/core/img/img-portfolio-cloud-3.png"
          class="main-image-4"
          alt="Monadical's octopus mascot with figures."
        />
      </div>
    </div>
    <div id="monadical-projects" class="container portfolio-container">
      {% for project in projects %}
        {% if loop.index is odd %}
        <div id="{{ project.id }}-project" class="row project-row">
          <div class="img-wrapper col-12 col-lg-7">
            <img
              src="{{ project.image_path }}"
              class="project-img"
              alt="{{ project.alt }}"
            />
          </div>
          <div class="project-text col-12 col-lg-5 pl-lg-5">
            <div class="project-title">{{ project.title }}</div>
            <div class="subtitle">{{ project.subtitle }}</div>
            <p>
              {{ project.description }}
            </p>
            <div class="project-stack">
              {{ project.stack }}
            </div>
            <a class="align-self-center align-self-lg-start" href="{{ project.website }}" target="_blank">
              <button class="btn btn-info-inverse">Learn more</button>
            </a>
          </div>
        </div>
        {% else %}
        <div id="{{ project.id }}-project" class="row project-row flex-column-reverse flex-lg-row">
          <div class="project-text col-12 col-lg-5 pr-lg-5">
            <div class="project-title">{{ project.title }}</div>
            <div class="subtitle">{{ project.subtitle }}</div>
            <p>
              {{ project.description }}
            </p>
            <div class="project-stack">
              {{ project.stack }}
            </div>
            <a class="align-self-center align-self-lg-start" href="{{ project.website }}" target="_blank">
              <button class="btn btn-info-inverse">Learn more</button>
            </a>
          </div>
          {% if project.id != 'neurocaas' %}
          <div class="img-wrapper col-12 col-lg-7">
            <img
              src="{{ project.image_path }}"
              class="project-img"
              alt="{{ project.alt }}"
            />
          </div>
          {% else %}
          <div class="img-wrapper img-wrapper-scaled  col-12 col-lg-7">
            <img
              src="{{ project.image_path }}"
              class="project-img project-img-scaled"
              alt="{{ project.alt }}"
            />
          </div>
          {% endif %}
        </div>
        {% endif %}    
      {% endfor %}
    </div>    
    <!------------ Crypto ------------>
    <div id="crypto-header" class="container-fluid portfolio-container" >
        <div class="row">
        <!--subtitle-->
        <div class="col-12 text-center project-title">NFT  launches</div>
    </div>
    <div id="crypto" class="container portfolio-container" >
        <!-- crypto cards -->
        <div class="row d-flex justify-content-center">
          {% for project in crypto %}
          <div class="col-md-4 col-10 my-3">
            <a href="{{ project.link }}" target="_blank">
              <div class="card">
                <div class="card-img-top">
                  <img
                  src="{{ project.image_path }}"
                  aria-hidden="true"
                  />
                </div>
                <div class="card-link">
                  <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
    </div>
      
      
    <!------------ Open Source Work ------------>
    <div id="opensource-projects-header" class="container-fluid portfolio-container">
      <div class="row flex-column bg-transparent">
        <!-- title -->
        <div class="section-title col-12">Open Source Work</div>
        <div class="main-image-wrapper-2">
          <img
          src="/static/core/img/img-portfolio-octopus-laptop.png"
          class="main-image-2"
          alt="Monadical's octopus mascot typing in a laptop."
          />
          <img
          src="/static/core/img/img-portfolio-cloud-right-2.png"
          class="main-image-5"
          alt="Monadical cloud"
          />
        </div>
        <img
        src="/static/core/img/img-portfolio-cloud-right-2.png"
        class="main-image-6"
        alt="Monadical cloud"
        />
        <img
        src="/static/core/img/img-portfolio-cube-left-full.png"
        class="main-image-7"
        alt="Background cube left"
        />
      </div>
    </div>  
    <div id="opensource-projects" class="container portfolio-container">
      {% for project in oss %}
        {% if loop.index is odd %}
          <div id="{{ project.id }}-oss" class="row project-row">
            <div class="img-wrapper col-12 col-md-7">
              <img
                src="{{ project.image_path }}"
                class="project-img"
                alt="{{ project.alt }}"
              />
            </div>
            <div class="project-text col-12 col-md-5 pl-md-5">
              <div class="subtitle">{{ project.subtitle }}</div>
              <ul>
                {% for name, website in project['examples'].items() %}
                  <li>
                    <a class="col-6 col-md-12" href="{{ website }}">{{ name }}</a>
                  </li>  
                {% endfor %}
              </ul>
            </div>
          </div>
        {% else %}
          <div id="{{ project.id }}-oss" class="row project-row flex-column-reverse flex-md-row">
            <div class="project-text col-12 col-md-5 pr-md-5">
              <div class="subtitle">{{ project.subtitle }}</div>
              <ul>
                {% for name, website in project['examples'].items() %}
                  <li>
                    <a class="col-6 col-md-12" href="{{ website }}">{{ name }}</a>
                  </li>  
                {% endfor %}
              </ul>
            </div>
            <div class="img-wrapper col-12 col-md-7">
              <img
                src="{{ project.image_path }}"
                class="project-img"
                alt="{{ project.alt }}"
              />
            </div>
          </div>
        {% endif %}    
      {% endfor %}
  
    </div>
  </div>

  <!------------ Writing & Talks ------------>
  <div id="writing-and-talks" class="container-fluid portfolio-container">
    <!-- title -->
    <div class="row flex-column">
      <div class="section-title col-12">Some of Our Writing & Talks</div>
      <div class="main-image-talks-wrapper">
        <img
          src="/static/core/img/img-portfolio-tentacles-with-pens.png"
          class="main-image-talks-1"
          alt="Monadical's octopus mascot using pens."
        />
        <img
          src="/static/core/img/img-portfolio-cube-center.png"
          class="main-image-talks-2"
          alt="cube on the right."
        />
        <img
          src="/static/core/img/img-portfolio-cloud-2.png"
          class="main-image-talks-3"
          alt="Monadical's cloud left."
        />
      </div>
      <div class="col-12 text-center subtitle">Conference Talks</div>
    </div>

    <div id="writing-and-talks" class="container portfolio-container">
      <!-- conference talks (md+) -->
      <div class="row image-row d-none d-md-flex">
        {% for talk in public['talks'] %}
        <div class="col-12 col-md-4">
          <div class="text-center card">
            <img
              src="{{ talk.image_path }}"
              alt="{{ talk.alt }}"
            />
            <a href="{{ talk.link }}" class="card-title my-3">{{ talk.title }}</a>
          </div>
        </div>
        {% endfor %}
      </div>
  
      <!-- conference talks (mobile) -->
      <div id="talks-carousel" class="carousel slide d-md-none" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#talks-carousel" data-slide-to="0" class="rounded-circle active"></li>
          <li data-target="#talks-carousel" data-slide-to="1" class="rounded-circle"></li>
          <li data-target="#talks-carousel" data-slide-to="2" class="rounded-circle"></li>
        </ol>
        <div class=carousel-inner>
          <div class="carousel-item active">
            <div class="text-center card">
              <img src="{{ public.talks[0].image_path }}" alt="{{ public.talks[0].alt }}" />
              <a href="{{ public.talks[0].link }}" class="card-title my-3">{{ public.talks[0].title }}</a>
            </div>
          </div>
          <div class="carousel-item">
            <div class="text-center card">
              <img src="{{ public.talks[1].image_path }}" alt="{{ public.talks[1].alt }}" />
              <a href="{{ public.talks[1].link }}" class="card-title my-3">{{ public.talks[1].title }}</a>
            </div>
          </div>
          <div class="carousel-item">
            <div class="text-center card">
              <img src="{{ public.talks[2].image_path }}" alt="{{ public.talks[2].alt }}" />
              <a href="{{ public.talks[2].link }}" class="card-title my-3">{{ public.talks[2].title }}</a>
            </div>
          </div>
        </div>
      </div>
      
      <!-- blog posts -->
      <div class="row">
        <div class="col-12 text-center subtitle">Technical & Non-Technical Blog Posts</div>
      </div>
      <div class="row justify-content-center">
        {% for name, link in public['posts'].items() %}
        <div class="col-12 col-md-4">
          <div class="blog-capsule">
            <a href="{{ link }}">{{ name }}</a>
          </div>
        </div>
        {% endfor%}
      </div>
    </div>
  </div>

  <!------------ Questions ------------>
  <div class="portfolio-container questions w-100">
    <div class="questions-content text-center">
      <div class="section-title">Have any questions?</div>
      <a href="https://monadical.com/contact-us.html">
        <button class="btn btn-info-inverse">CHAT WITH US</button>
      </a>
      <span class="social">
        <i class="fa fa-twitter"></i>
        You can also find us on Twitter
        <a href="https://twitter.com/MonadicalSAS">@MonadicalSAS</a>
      </span>
    </div>
  </div>
</div>

<!-- Animate the carets for the expandable parts of the table of contents-->
<script>
  $('.inner-list').on('show.bs.collapse', function () {
    $(this).siblings('.collapse-trigger').addClass('active');
  });

  $('.inner-list').on('hide.bs.collapse', function () {
    $(this).siblings('.collapse-trigger').removeClass('active');
  });
</script>
{% endblock article %}