{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}
{% block description %}{{description}}{% endblock %}
{% block type %}article{% endblock %}
{% block img %}https://{{SITE_DOMAIN}}{{img}}{% endblock %}
{% block subtitle %}<a href="{{PAGES.blog.url}}">Blog</a>{% endblock %}
{% block enableLogo %}enable-logo{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/core/css/index.css">
<link rel="stylesheet" href="/static/core/css/post.css">
{% endblock %}

{% block article %}
    <div id="post-content">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% block post %}
                        <article class="article-content">
                            {{ include_raw(template) }}
                        </article>
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="authorbox">
                {% for author in authors%}
                    <div class="authorbox__content">
                        <img src="{{author.image}}" alt="{{author.name}}"/>
                        <div>
                            <h3><a href="{{author.url}}" target="_blank" rel="noopener">{{author.name}}</a></h3>
                            <h5> is a {{author.title}} of Monadical</h5>
                        </div>
                    </div>
                {%endfor%}
            </div>
            <div class="recent-posts">
                <h4>Recent posts</h4>
                <ul>
                    {% for post in POSTS.values() %}
                        {% if loop.index < 5 %}
                            <li><a href="{{post.url}}">{{post.title}}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li>
                        <a href="{{PAGES.blog.url}}">
                            View more posts...
                        </a>
                    </li>
                </ul>
            </div>
            <script src="https://utteranc.es/client.js"
                repo="Monadical-SAS/monadical.com"
                issue-term="pathname"
                label="blog"
                theme="github-light"
                crossorigin="anonymous"
                async>
            </script>
            <center>
                <a href="#post-content" class="back-to-top">
                    Back to top <i class="fa fa-arrow-up"></i>
                </a>
            </center>

            {% include "_final_cta.html" %}
        </div>
        <script type="text/javascript" id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </script>
        <script>
            // hide the table of contents nav when you scroll down past the end
            $(window).scroll(function() {
                const pos = $(window).scrollTop()
                const threshold = $('.authorbox').position().top - 250
                $('#ui-toc-affix').css({
                    opacity: (pos > threshold) ? 0 : 1
                });
                $('.pull-right').css({
                    opacity: (pos > threshold) ? 0 : 1
                });
            });
            document.addEventListener('DOMContentLoaded', () => {
                document.querySelector('#ui-toc-affix > div.toc-menu > a.go-to-bottom').innerHTML = 'Go to comments'
                document.querySelector('#ui-toc-affix > div.toc-menu > a.go-to-bottom').href = '#post-footer'
                document.querySelector('#ui-toc-affix > div.toc-menu > a.back-to-top').innerHTML = 'Go to top'
                document.querySelector('#ui-toc-affix > div.toc-menu > a.back-to-top').href = '#post-content'
                // Popup toc for samll screens
                document.querySelector('#ui-toc > div.toc-menu > a.go-to-bottom').innerHTML = 'Go to comments'
                document.querySelector('#ui-toc > div.toc-menu > a.go-to-bottom').href = '#post-footer'
                document.querySelector('#ui-toc > div.toc-menu > a.back-to-top').innerHTML = 'Go to top'
                document.querySelector('#ui-toc > div.toc-menu > a.back-to-top').href = '#post-content'

                // GET the original article source so they get they bump the view counter
                fetch('{{source}}', {mode: 'no-cors'})

                // remove undesired css that break styles
                setTimeout(() => document.querySelector("link[href*='pretty-styles-pack']").remove(), 500)
            })

            $('[href$="bootstrap.min.css"]').attr('disabled', 'disabled')
        </script>
        <script>
            function setOpacity(){
                const maxWidth = 1140;
                const width = $(window).width();
                $('#post-cube-left').css({
                    opacity: (width < maxWidth) ? 0.1 : 0.6
                });
                $('#post-tentacle-right').css({
                    opacity: (width < maxWidth) ? 0.1 : 0.6
                });
            }

            $(document).ready(setOpacity);
            $(window).resize(setOpacity);

            // Remove undesired bootstrap styles
            setTimeout(() => {
                $('[href$="bootstrap.min.css"]').attr('disabled', 'disabled');
                document.querySelector("link[href*='pretty-styles-pack']")?.remove();
            }, 500);
        </script>
    </div>
{% endblock %}
