{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}
{% block subtitle %}<a href="{{PAGES.articles.url}}">Blog</a>{% endblock %}
{% block article %}
    <!--<canvas class="animated-color-grid" height="100"></canvas>-->
    <div class="article-body">
        {% block post %}
            <div style="background-image: url({{img}}); height: 60px; background-attachment: fixed; margin-top: 50px; margin-bottom: 50px;" class="article-featured-image"></div>
            <iframe src="{{iframe}}" style="width:100%; height: {{height|default('200vh', true)}}"></iframe>
            <div style="background-image: url({{img}}); height: 60px; background-attachment: fixed" class="article-featured-image"></div>
        {% endblock %}
        <div class="container post-footer">
            <div class="authorbox">
                <div style="padding-top: 10px">
                    {{author.name}}
                    <h4>
                        {{author.title}}
                        
                        <a href="{{author.url}}" target="_blank" rel="noopener">
                            {{author.handle}}
                        </a>
                    </h4>
                    <h5>Published on <a href="#permalink">{{date}}</a></h5>
                </div>
                <img src="{{author.image}}" width="100px"/>
            </div>
            <div class="likebox">
                <a href="#like" name="like">
                    
                    <i class="fa fa-heart-o"></i><i class="fa fa-heart"></i>
                    <small>Like Post</small>
                </a>
            </div>
            <div class="infobox">
                <a href="https://twitter.com/Monadical" class="btn btn-shadow btn-dark btn-success" target="_blank" rel="noopener">
                    <i class="fa fa-twitter"></i> Tweet
                </a>
            </div>
        </div>
    </div>
    <canvas class="animated-color-grid" height="40"></canvas>
{% endblock %}

{% block footerbefore %}
    
{% endblock %}
