{% extends "base.html" %}

{% block title %}Privacy Policy | Monadical Consulting{% endblock %}
{% block subtitle %}Privacy Policy{% endblock %}
{% block enableLogo %}enable-logo{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/core/css/privacy.css">
{% endblock %}

{% block article %}
    <div class="container-full">
        <img class="cloud-img-left" src="/static/core/img/img-team-013.png">
        <img class="tentacle-img-right" src="/static/core/img/img-home-010.png">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center margin-top-70">
                    <h1 class="text-size-2">Privacy Policy</h1>
                    <p class="subtext-size-2">Last Updated: January 16, 2025</p>
                </div>

                <div class="col-md-10 col-12 offset-md-1 margin-top-40">
                    <h2 class="text-size-4">What This Policy Covers</h2>
                    <p class="privacy-text">
                        Hi! This is Monadical's privacy policy. We're a software development company based in Montreal.
                        We believe in being clear about how we collect, use, and protect your information.
                    </p>

                    <h2 class="text-size-4 margin-top-40">Information We Collect From You</h2>
                    <p class="privacy-text">We keep things simple. Here's what we collect:</p>
                    <ul class="privacy-list">
                        <li>Your name and how to reach you (email and phone number)</li>
                        <li>Your work details (company name and job title)</li>
                        <li>Payment details when you buy from us</li>
                    </ul>
                    <p class="privacy-text">That's it! We don't automatically track your device, location, or browsing habits.</p>

                    <h2 class="text-size-4 margin-top-40">How We Use Your Information</h2>
                    <p class="privacy-text">We use your information to:</p>
                    <ul class="privacy-list">
                        <li>Provide our services to you</li>
                        <li>Make your experience better</li>
                        <li>Process your payments</li>
                        <li>Keep you updated about our services</li>
                        <li>Send you important notices</li>
                        <li>Keep our services secure</li>
                    </ul>

                    <h2 class="text-size-4 margin-top-40">Keeping Your Information Safe</h2>
                    <p class="privacy-text">
                        Your privacy matters to us. We store your data on secure servers in Canada and use strong security measures to protect it, including:
                    </p>
                    <ul class="privacy-list">
                        <li>Encryption to protect your data</li>
                        <li>Regular security checks</li>
                        <li>Strict access controls</li>
                        <li>Security updates and staff training</li>
                    </ul>

                    <h2 class="text-size-4 margin-top-40">Your Rights</h2>

                    <h3 class="text-size-3 margin-top-20">For Everyone</h3>
                    <p class="privacy-text">You can:</p>
                    <ul class="privacy-list">
                        <li>See what information we have about you</li>
                        <li>Fix any mistakes in your information</li>
                        <li>Ask us to delete your information</li>
                        <li>Withdraw your permission for us to use your data</li>
                        <li>Get a digital copy of your information</li>
                        <li>File a complaint with privacy authorities</li>
                    </ul>

                    <h3 class="text-size-3 margin-top-20">For California Residents</h3>
                    <p class="privacy-text">You have additional rights under California law to:</p>
                    <ul class="privacy-list">
                        <li>Know what personal information we collect and why</li>
                        <li>Delete your personal information</li>
                        <li>Fix incorrect information</li>
                        <li>Limit how we use sensitive information</li>
                        <li>Be treated fairly even if you exercise these rights</li>
                    </ul>

                    <h3 class="text-size-3 margin-top-20">For European and UK Residents</h3>
                    <p class="privacy-text">Under European and UK privacy laws, you can also:</p>
                    <ul class="privacy-list">
                        <li>Object to how we use your information</li>
                        <li>Ask us to limit how we use your data</li>
                        <li>Move your data to other services easily</li>
                        <li>File a complaint with your local privacy authority</li>
                    </ul>

                    <h2 class="text-size-4 margin-top-40">How Long We Keep Your Information</h2>
                    <p class="privacy-text">We keep your information only as long as we need it for:</p>
                    <ul class="privacy-list">
                        <li>Legal requirements</li>
                        <li>Business purposes</li>
                        <li>Solving any disputes</li>
                        <li>Following our agreements with you</li>
                    </ul>

                    <h2 class="text-size-4 margin-top-40">Changes to This Policy</h2>
                    <p class="privacy-text">If we make important changes to this policy, we'll:</p>
                    <ul class="privacy-list">
                        <li>Post updates on our website</li>
                        <li>Let you know when you use our services</li>
                    </ul>

                    <h2 class="text-size-4 margin-top-40">Get In Touch</h2>
                    <p class="privacy-text">Have questions? We're here to help!</p>
                    <p class="privacy-text">Contact us at:</p>
                    <address class="privacy-address">
                        Monadical Inc.<br>
                        1155 Rue Metcalfe, Suite 1500<br>
                        Montreal, Quebec, H3B 2V6<br>
                        Canada<br><br>
                        Email: <a href="mailto:privacy@monadical.com">privacy@monadical.com</a>
                    </address>

                    <h2 class="text-size-4 margin-top-40">Legal Compliance</h2>
                    <p class="privacy-text">This policy follows privacy laws in:</p>
                    <ul class="privacy-list">
                        <li>Canada (PIPEDA)</li>
                        <li>Quebec</li>
                        <li>European Union (GDPR)</li>
                        <li>United Kingdom (UK GDPR)</li>
                        <li>California (CCPA/CPRA)</li>
                        <li>Other applicable US and Canadian laws</li>
                    </ul>

                    <p class="subtext-size-2 text-center">Last Updated: January 16, 2025</p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
