{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block subtitle %}Projects{% endblock %}
{% block article %}
<div class="container-full cases-home">
    <div class="projects">
        <div class="container">
            <h1 class="cases-title">
                We love working on diverse, often highly technical projects that make our world better, more efficient,
                or friendlier.
            </h1>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card project">
                        <a href="/projects/kiwix.html">
                            <img srcset="
                                    /static/core/img/clients/kiwix@3x.jpg 3x,
                                    /static/core/img/clients/kiwix@2x.jpg 2x"
                                 src="/static/core/img/clients/kiwix.jpg"
                                 alt="kiwix"
                                 class="card-project-img"
                            />
                        </a>
                        <h4 class="mb-3">
                            Node/Python binding library refactoring and implementation work
                        </h4>
                        <p>
                            <a href="https://kiwix.org">Kiwix</a> lets you access free knowledge - even offline. You can store
                            Wikipedia, Project Gutenberg, TED Talks or any website on your mobile phone or computer.
                            Kiwix makes knowledge available to people with no or limited internet access. The software
                            as well as the content is free to use for anyone.
                        </p>
                        <p>
                            Our goal was to think of a new workflow that would make it possible for those two programs
                            in Python and C++ communicate. It would make the process more efficient and scalable. We
                            found the best way for the two programs to communicate would be to create a wrapper.
                        </p>
                        {#                        <button class="black-button">Data</button>#}
                        <p class="languages">
                            Python, *C++, *Cython
                        </p>
                    </div>
                    <div class="project">
                        <a href="/projects/kiwix.html">
                            <button type="button" class="read-more btn btn-info-inverse" role="button">READ MORE</button>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card project mb-4">
                        <img class="card-project-img" src="/static/core/img/img-cases-002.png" alt="oddsligers" />
                        <h4 class="mb-4">
                            Oddsligers
                        </h4>
                        <p>
                            A modern take on the aging online poker platform:
                            new game variants, ad-free online games for desktop
                            & mobile using React animations and django-channels
                            websockets.
                        </p>
                        <p>
                            Implemented bleeding-edge technology, including an
                            event stream system, <a class="blue-text"
                                                    href="https://cirw.in/blog/time-to-move-on">MOVE</a>-like
                            architecture, pure-functional reactive frontend
                            animations (to do this we had to write our own
                            <a class="blue-text"
                               href="https://github.com/Monadical-SAS/redux-time">frontend
                                animations library</a>),
                            and an in-house system for time-travel debugging and
                            introspection tools.
                        </p>
                        <p class="languages">
                            Python, React, Move
                        </p>
                    </div>
                    {#<div class="project">
                        <a href="/projects/oddsligers.html">
                            <button class="read-more">READ MORE</button>
                        </a>
                    </div>#}
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card project mb-4">
                        <img class="card-project-img" src="/static/core/img/img-cases-001.png" alt="syncroplicity" />
                        <h4 class="mb-4">
                            Syncroplicity
                        </h4>
                        <p>
                            An API-agnostic medical record syncing platform, designed to eliminate double-entry by linking EHRs, doctors, authorization departments, insurance companies, etc.
                        </p>
                        <p class="languages">
                            Python, Django, JavaScript
                        </p>
                    </div>
                    {#<div class="project">
                        <a href="/projects/syncroplicity.html">
                            <button class="read-more">READ MORE</button>
                        </a>
                    </div>#}
                </div>
            </div>
        </div>
    </div>
    <div class="open-source-projects">
        <div class="container">
            <h1 class="cases-title">
                We love open source!
            </h1>
            <h5>Check our most successful open-source projects, with active users in 100+ countries.</h5>
            <div class="row">
                <div class="offset-md-3 col-md-6 col-12 open-source-logos">
                    <div class="container">
                        <div class="row mb-4">
                            <div class="col-4 text-center">
                                <img srcset="
                                        /static/core/img/icons/github@3x.png 3x,
                                        /static/core/img/icons/github@2x.png 2x"
                                    src="/static/core/img/icons/github.png" alt="github">
                            </div>
                            <div class="col-4 text-center">
                                <img srcset="
                                        /static/core/img/icons/product-hunt@3x.png 3x,
                                        /static/core/img/icons/product-hunt@2x.png 2x"
                                    src="/static/core/img/icons/product-hunt.png" alt="Product Hunt">
                            </div>
                            <div class="col-4 text-center">
                                <img srcset="
                                        /static/core/img/icons/hackernews@3x.png 3x,
                                        /static/core/img/icons/hackernews@2x.png 2x"
                                    src="/static/core/img/icons/hackernews.png" alt="Hacker News">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-4 text-center">
                                <p>
                                    Github
                                </p>
                            </div>
                            <div class="col-4 col-4 text-center">
                                <p>
                                    Product Hunt
                                </p>
                            </div>
                            <div class="col-4 col-4 text-center">
                                <p>
                                    Hacker News
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "open-source.html" %}
        </div>
    </div>
    <div class="container">
        {# {% include "clients-reviews.html" %} #}
        {% include "work-with-us.html" %}
    </div>
</div>
{% endblock%}
