{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block subtitle %}Projects{% endblock %}
{% block article %}
    <style>
        .library h2 {
            color: #58d665;
            opacity: 0.8;
        }
    </style>
    <canvas class="animated-color-grid" height="40"></canvas>
    <br/>
    <div class="container">
        <br/><br/>
        <div style="color:#ddd; text-align: center; margin-top: 5px;">
            <h4>
                Over the last 3 years, Monadical has launched and scaled multiple projects<br/>
                to thousands of users within months of launch.
            </h4>
            <br/><br/>
            <b>
                Our largest release (OddSlingers) has had over 10 million hands played by 18k users in 100+ countries.
                <br/>
                You might have seen some of our work on the front page of <a href="https://news.ycombinator.com/item?id=19346985">HackerNews</a>, <a href="https://www.producthunt.com/posts/archivebox">ProductHunt</a>, or <a href="https://github.com/pirate/ArchiveBox/wiki/Web-Archiving-Community#archivebox-discussions-in-news--social-media">elsewhere online</a>!
            </b>
            <br/><br/><br/>
            <div class="container" style="max-width: 800px; margin: auto">
            <div class="row">
                <div class="col-md-4" style="text-align: center; opacity: 0.5">
                    <h5>10+ million hands played</h5>
                </div>
                <div class="col-md-4" style="text-align: center; opacity: 0.5">
                    <h5>18k users in 100+ countries</h5>
                </div>
                <div class="col-md-4" style="text-align: center; opacity: 0.5">
                    <h5>8k+ Github Stars</h5>
                </div>
            </div>
            </div>
            <br/><br/>
            For new project announcements, sign up for our <a href="{{PAGES.blog.url}}#main">newsletter</a>.
        </div>
        <br/><br/>
    </div>
    <div style="background-color: rgba(255,255,255,0.05); width: 100%; padding-bottom: 50px">
        <br/><br/>
        <center>
            <h2>
                <a id="main">Major Projects by Monadical</a>
            </h2>
        </center>
        <br/><br/>
        <div class="container-full" style="background-color: #fff">
            <div class="row">
                <div class="col-md-4 text-center project">
                    <div class="project__description">
                        <img src="static/redux-time.png"/>
                        <h3 style="font-size:22px">Novel library for fast, declarative animations in JavaScript.</h3>
                        <br/>
                        <img src="static/ball.png"/>
                        <br/>
                        Define animations declaratively, trigger them using pure redux actions.
                        It supports complex interactive animations, time-reversal, CSS animations, and can plug into any pure render layer like React, Inferno, or Three.js.<br/>
                        <br/>
                        <div class="project__description--links">
                            <a href="https://github.com/Monadical-SAS/redux-time" class="btn btn-sm btn-shadow btn-success btn-light">
                                Github
                            </a> &nbsp; 
                            <a href="https://monadical-sas.github.io/redux-time/examples/" class="btn btn-sm btn-shadow btn-success btn-light btn-outline-secondary">
                                Examples
                            </a>
                            <br/><br/><br/>
                            <i>
                                Handles >5,000 animations @ 100FPS<br/>
                                Perfect for dataviz, games, &amp; interactivity
                            </i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center project" style="padding-left: 2px; padding-right: 2px">
                    <div class="project__description" style="border: 8px solid #454545;min-height: 105%;margin-top: -15px;background-color: #fefefe;">
                        <img src="static/oddslingers-text.png" style="margin-top: 20px; margin-bottom: 34px;"/>
                        <h3 style="font-size:22px">Free, real-time, Django + React powered online poker platform.</h4>
                        <br/>
                        <img src="static/laptop-screenshot.png"/>
                        <br/>
                        Real-time gaming platform powered by HTML5 + React/Redux and Django Channels 
                        WebSockets works on desktop, mobile, and tablets without downloads or plugins.
                        Built, launched, and scaled over 3 years, with 6 full-time people and >50k LOC.
                        <br/><br/>
                        <div class="play-btn">
                            <a href="https://oddslingers.com" class="btn beta-btn btn-shadow btn-success" style="font-size: 16px;">
                                ♠<span class="diamond">♦</span> Play Poker (<span class="neon">FREE</span>) ♠<span class="diamond">♦</span>
                            </a>
                        </div>
                        <br/><br/>
                        <i>
                            <b>18k users in 100+ countries<br/>
                            10+ million hands played to date</b>
                        </i>
                    </div>
                </div>
                <div class="col-md-4 text-center project">
                    <div class="project__description">
                        <img src="static/archivebox.png" style="margin-top: 20px; margin-bottom: 34px"/>
                        <h3 style="font-size:22px">Self-hosted internet archive powered by Chrome headless and wget.</h4>
                        <br/>
                        <img src="static/archivebox-screenshot.jpg" />
                        <br/>
                        Imports links from browser history / bookmarks / text lists, 
                        and outputs archived HTML, JS, PDFs, media, and more. 
                        Automatically import and snapshot browsing history, bookmarks, or other feeds in formats that will last 50+ years.
                        <br/><br/>
                        <div class="project__description--links">
                            <a href="https://github.com/Monadical-SAS/ArchiveBox" class="btn btn-sm btn-shadow btn-success btn-light">
                                Github
                            </a> &nbsp; 
                            <a href="https://archivebox.io" class="btn btn-sm btn-shadow btn-success btn-light btn-outline-secondary">
                                Website
                            </a>
                            <br/><br/><br/>
                            <i>Used by thousands of people with 30+ contributors and an active community</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/><br/>
    </div>
    <div class="green-squares" style="opacity: 0.3"></div>
    <div class="container">
        <br/><br/><br/><br/>
        <center>
            <div style="color:#ddd; text-align: center; margin-top: 5px;">
                <h2>
                    <a id="open-source">Other Open-Source Projects by Monadical</a>
                </h2>
            </div>
            <h5 style="opacity: 0.8">We've released a variety of open source tools and libraries over the years.</h5>
        </center>
        <br/>
        <div class="row">
            <div class="library col-md-6 col-lg-3 text-center">
                <h2>warped-time</h2>
                <p>Server time synchronization &amp; speed control</p>
                <a href="https://github.com/Monadical-SAS" class="btn btn-sm btn-shadow btn-success btn-light">
                    Github
                </a> &nbsp;
                <a href="https://monadical-sas.github.io/warped-time/" class="btn btn-sm btn-shadow btn-success btn-light btn-outline-secondary">
                    Docs
                </a>
            </div>
            <div class="library col-md-6 col-lg-3 text-center">
                <h2>channels-router</h2>
                <p>Socket message router for django-channels</p>
                <a href="https://github.com/Monadical-SAS/django-channels-router" class="btn btn-sm btn-shadow btn-success btn-light">
                    Github
                </a> &nbsp;
                <a href="https://github.com/Monadical-SAS/django-channels-router/blob/master/examples/" class="btn btn-sm btn-shadow btn-success btn-light btn-outline-secondary">
                    Examples
                </a>
            </div>
            <div class="library col-md-6 col-lg-3 text-center">
                <h2>storycoin</h2>
                <p>Custom blockchain implementation in Rust &amp; Python</p>
                <a href="https://github.com/Monadical-SAS/StoryCoin" class="btn btn-sm btn-shadow btn-success btn-light">
                    Github
                </a>
                
            </div>
            <div class="library col-md-6 col-lg-3 text-center">
                <h2>crypto-trader</h2>
                <p>Algorithic trading toolkit for Gemini &amp; Bitfinex</p>
                <a href="https://github.com/Monadical-SAS/crypto-trader" class="btn btn-sm btn-shadow btn-success btn-light">
                    Github
                </a> &nbsp;
                <a href="https://github.com/Monadical-SAS/crypto-trader#api-documentation" class="btn btn-sm btn-shadow btn-success btn-light btn-outline-secondary">
                    Docs
                </a> &nbsp;
                <a href="https://github.com/Monadical-SAS/crypto-trader/blob/master/example.py" class="btn btn-sm btn-shadow btn-success btn-light btn-outline-secondary">
                    Example
                </a>
            </div>
        </div>

        <div class="row">
            <div class="library col-md-6 col-lg-3 text-center">
                <h2>netviz</h2>
                <p>A neural network vizualizer &amp; playground</p>
                <a href="https://github.com/Monadical-SAS/netviz" class="btn btn-sm btn-shadow btn-success btn-light">
                    Github
                </a> &nbsp;
                <a href="http://cowpig.github.io/netviz/viz.html" class="btn btn-sm btn-shadow btn-success btn-light btn-outline-secondary">
                    Demo
                </a>
            </div>
            <div class="library col-md-6 col-lg-3 text-center">
                <h2>mesh-networking</h2>
                <p>Layer 2 mesh network protocol testing framework</p>
                <a href="https://github.com/Monadical-SAS/mesh-networking" class="btn btn-sm btn-shadow btn-success btn-light">
                    Github
                </a> &nbsp;
                <a href="https://pypi.org/project/mesh-networking/" class="btn btn-sm btn-shadow btn-success btn-light">
                    PyPi
                </a> &nbsp;
                <a href="https://github.com/Monadical-SAS/mesh-networking/tree/master/examples" class="btn btn-sm btn-shadow btn-success btn-light btn-outline-secondary">
                    Examples
                </a>
            </div>
            <div class="library col-md-6 col-lg-3 text-center">
                <h2>security-growler</h2>
                <p>A macOS menubar app that alerts you of security and auth events</p>
                <a href="https://github.com/Monadical-SAS/security-growler" class="btn btn-sm btn-shadow btn-success btn-light">
                    Github
                </a> &nbsp;
                <a href="https://pirate.github.io/security-growler" class="btn btn-sm btn-shadow btn-success btn-light btn-outline-secondary">
                    Website
                </a>
            </div>
            <div class="library col-md-6 col-lg-3 text-center">
                <h2>wireguard-docs</h2>
                <p>The Unofficial Documentation for the WireGuard VPN</p>
                <a href="https://github.com/pirate/wireguard-docs" class="btn btn-sm btn-shadow btn-success btn-light">
                    Github
                </a>
            </div>
        </div>
        <br/><br/><br/>
        <div style="color:#ddd; text-align: center;">
            If you like our projects:
            <a href="https://github.com/Monadicla-SAS">star them on Github</a>, 
            <a href="https://www.patreon.com/theSquashSH">support us on Patreon</a>, 
            <a href="{{PAGES.index.url}}#consulting">work with us</a>, or 
            <a href="{{PAGES.team.url}}#join">join our team</a>. &nbsp; &nbsp;
            <img src="static/octopus.png" height="40px">
            <br/><br/><br/>
        </div>
    </div>
    <br/>
    <div style="background-color: rgba(255,255,255,0.05); width: 100%; padding-bottom: 50px">
        <br/><br/>
        <div class="container">
            <center>
                <h2>
                    <a id="tags">We pride ourselves on being generalists who love to learn.</a>
                    <br/><br/>
                </h2>
                <h5>Our <a href="{{PAGES.team.url}}#main">team</a> has worked with a wide range of stacks and industries.</h5><br/>
                <span class="tag tag-lang"><i style="background-color:#f1e05a"></i> Python</span>
                <span class="tag tag-lang"><i style="background-color:purple"></i> HTML/JS/CSS</span>
                <span class="tag tag-lang"><i style="background-color:orange"></i> Rust</span>
                <span class="tag tag-lang"><i style="background-color:blue"></i> C++</span>
                <span class="tag tag-lang"><i style="background-color:gray"></i> Bash</span>
                <span class="tag tag-lang"><i style="background-color:green"></i> Solidity</span>
                <br/>
                <span class="tag tag-library">react</span> &nbsp; &nbsp;
                <span class="tag tag-library">redux</span> &nbsp; &nbsp;
                <span class="tag tag-library">vue</span> &nbsp; &nbsp;
                <span class="tag tag-library">angular</span> &nbsp; &nbsp;
                <span class="tag tag-library">django</span> &nbsp; &nbsp;
                <span class="tag tag-library">django-channels</span> &nbsp; &nbsp;
                <span class="tag tag-library">flask</span> &nbsp; &nbsp;
                <span class="tag tag-library">tornado</span> &nbsp; &nbsp;
                <span class="tag tag-library">parity</span>
                <br/>
                <span class="tag tag-industry">online gaming</span> &nbsp; &nbsp;
                <span class="tag tag-industry">real-estate</span> &nbsp; &nbsp;
                <span class="tag tag-industry">data science</span> &nbsp; &nbsp;
                <span class="tag tag-industry">internet archiving</span> &nbsp; &nbsp;
                <span class="tag tag-industry">healthcare</span> &nbsp; &nbsp;
                <span class="tag tag-industry">agtech</span> &nbsp; &nbsp;
                <span class="tag tag-industry">non-profit</span>
            
                <br/><hr/><br/>

                <b>And many more...<br/>You can find more of our work online:</b>
                <div class="library">
                    <a href="https://github.com/Monadical-SAS" class="btn btn-shadow btn-success btn-dark">
                        <i class="fa fa-github"></i> Github
                    </a>
                    &nbsp; 
                    <a href="https://twitter.com/MonadicalHQ" class="btn btn-shadow btn-success btn-outline-secondary btn-dark">
                        <i class="fa fa-twitter"></i> Twitter
                    </a>
                    &nbsp; 
                    <a href="https://linkedin.com/company/monadical" class="btn btn-shadow btn-success btn-outline-secondary btn-dark">
                        <i class="fa fa-linkedin"></i> LinkedIn
                    </a>
                </div>
                <br/>
                <a href="{{PAGES.about.url}}#contact" class="btn btn-info">
                    <i class="fa fa-envelope"></i>&nbsp;
                    <span style="white-space: normal">
                        Contact us to discuss a project
                    </span>
                </a>
            </center>
        </div>
    </div>
    <canvas class="animated-color-grid" height="40" style="box-shadow: none; opacity: 0.9"></canvas>

{% endblock %}


