{% extends "base.html" %}
{% block title %}Projects | Monadical Consulting{% endblock %}
{% block subtitle %}Projects{% endblock %}
{% block article %}
<div class="container-full cases-home">
    <div class="projects">
        <div class="container">
            <h1 class="cases-title">
                We love working on diverse, often highly technical projects that make our world better, more efficient,
                or friendlier.
            </h1>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <div class="card project">
                        <a href="https://kiwix.org" title="kiwix" target="kiwix">
                            <div
                                    class="card-project-img"
                                    style="background-image: url('/static/core/img/clients/kiwix.jpg')">
                            </div>
                        </a>
                        <h4 class="mb-3">
                            Node/Python binding library refactoring and implementation work
                        </h4>
                        <p class="card-content">
                            <a href="https://kiwix.org">Kiwix</a> lets you access free knowledge - even offline. You can store
                            Wikipedia, Project Gutenberg, TED Talks or any website on your mobile phone or computer.
                            Kiwix makes knowledge available to people with no or limited internet access. The software
                            as well as the content is free to use for anyone.
                        </p>
                        {#                        <button class="black-button">Data</button>#}
                        <p class="languages">
                            Python, *C++, *Cython
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <div class="card project">
                        <a href="https://oddslingers.com" title="Oddslingers" target="oddslingers">
                            <div
                                    class="card-project-img"
                                    style="background-image: url('/static/core/img/img-cases-002.png')">
                            </div>
                        </a>
                        <h4 class="mb-3">
                            Oddslingers
                        </h4>
                        <p class="card-content">
                            A modern take on the aging online poker platform:
                            new game variants, ad-free online games for desktop
                            & mobile using React animations and django-channels
                            websockets.
                        </p>
                        <p class="languages">
                            Python, React, Move
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <div class="card project">
                        <a href="https://syncroplicity.com" title="syncroplicity" target="syncroplicity">
                            <div
                                    class="card-project-img"
                                    style="background-image: url('/static/core/img/img-cases-001.png')">
                            </div>
                        </a>
                        <h4 class="mb-3">
                            Syncroplicity
                        </h4>
                        <p class="card-content">
                            An API-agnostic medical record syncing platform, designed to eliminate double-entry by linking EHRs, doctors, authorization departments, insurance companies, etc.
                        </p>
                        <p class="languages">
                            Python, Django, JavaScript
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <div class="card project">
                        <a href="https://pushforward.nyc/" title="Push Forward Realty" target="pfr">
                            <div
                                    class="card-project-img"
                                    style="background-image: url('/static/core/img/pfr.png')">
                            </div>
                        </a>
                        <h4 class="mb-3">
                            Push Forward Realty
                        </h4>
                        <p class="card-content">
                            Push Forward is a realty based in Brooklyn, NYC that reboots the traditional Broker-Realtor structure of traditional realties with an Agent-run cooperative instead.
                        </p>
                        <p class="languages">
                            Django, React
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <div class="card project">
                        <a href="https://www.nwb.org/" title="Neurodata Without Borders" target="nwb">
                            <div
                                    class="card-project-img"
                                    style="background-image: url('/static/core/img/buffalo_screenshot.png')">
                            </div>
                        </a>
                        <h4 class="mb-3">
                            Neurodata Without Borders
                        </h4>
                        <p class="card-content">
                            We partnered with <a href="https://www.nwb.org/" target="nwb">NWB</a> to extend the <a href="https://alyx.readthedocs.io/en/latest/models.html" target="alyx">alyx project</a>. For primate-based neuroscience research.
                            <br>
                            We built an interface for reading, writing, and exploring data, including custom data visualizations and integration with <a href="https://superset.apache.org/" target="superset">Apache Superset</a>.
                        </p>
                        <p class="languages">
                            Python, Jupyter Nootebooks
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <div class="card project">
                        <a href="https://a.currents.fm/" title="Currents" target="currents">
                            <div
                                    class="card-project-img"
                                    style="background-image: url('/static/core/img/currents.png')">
                            </div>
                        </a>
                        <h4 class="mb-3">
                            Currents
                        </h4>
                        <p class="card-content">
                            A novel music distribution platform placing the emphasis on playlist curation, seeking to disrupt the music industry with a federating monetization model in which users sponsor curators, who distribute funds among artists they choose.
                        </p>
                        <p class="languages">
                            Javascript, React
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="open-source-projects">
        <div class="container">
            <h1 class="cases-title">
                We love open source!
            </h1>
            <h5>Check our most successful open-source projects, with active users in 100+ countries.</h5>
            <div class="row">
                <div class="offset-md-3 col-md-6 col-12 open-source-logos">
                    <div class="container">
                        <div class="row mb-4">
                            <div class="col-4 text-center">
                                <img srcset="
                                        /static/core/img/icons/github@3x.png 3x,
                                        /static/core/img/icons/github@2x.png 2x"
                                    src="/static/core/img/icons/github.png" alt="github">
                            </div>
                            <div class="col-4 text-center">
                                <img srcset="
                                        /static/core/img/icons/product-hunt@3x.png 3x,
                                        /static/core/img/icons/product-hunt@2x.png 2x"
                                    src="/static/core/img/icons/product-hunt.png" alt="Product Hunt">
                            </div>
                            <div class="col-4 text-center">
                                <img srcset="
                                        /static/core/img/icons/hackernews@3x.png 3x,
                                        /static/core/img/icons/hackernews@2x.png 2x"
                                    src="/static/core/img/icons/hackernews.png" alt="Hacker News">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-4 text-center">
                                <p>
                                    Github
                                </p>
                            </div>
                            <div class="col-4 col-4 text-center">
                                <p>
                                    Product Hunt
                                </p>
                            </div>
                            <div class="col-4 col-4 text-center">
                                <p>
                                    Hacker News
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "open-source.html" %}
        </div>
    </div>
    <div class="container">
        {# {% include "clients-reviews.html" %} #}
        {% include "work-with-us.html" %}
    </div>
</div>
{% endblock%}
