{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}
{% block description %}{{description}}{% endblock %}
{% block type %}article{% endblock %}
{% block img %}https://{{SITE_DOMAIN}}{{img}}{% endblock %}
{% block subtitle %}<a href="{{PAGES.blog.url}}">Blog</a>{% endblock %}
{% block enableLogo %}enable-logo{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/core/css/index.css">

{% endblock %}

{% block article %}

    <style>
        h1 {
            font-family: 'Fjalla One', sans-serif !important;
        }
        #cover {
            width: 100%;
            height: 80vh;
            margin-top: -1px;
            background-image: url('{{img}}');
            background-size: cover;
            background-position: center center;
        }
        .article.row {
            background-color: #FFF;
            margin-top: -10vh;
        }
        .article-content {
            border: 0px;
        }
        .fa-pencil {
            opacity: 0.01;
        }
        footer .social-links {
            text-shadow: 4px 4px 4px rgba(0,0,0,0.1);
            margin-bottom: 30px;
        }
        footer .social-links a {
            color: #333;
            opacity: 0.7;
        }
        footer .social-links a:hover {
            color: #333;
            opacity: 0.9;
        }       
        .authorbox {
            font-size: 20px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 48px;
            margin-bottom: 40px; 
        }
        .authorbox__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .authorbox__content img {
            min-width: 120px;
            max-width: 120px;
            min-height: 120px;
            max-height: 120px;
            object-fit: cover;
            border-radius: 50%
        }
        .authorbox__content h3 {
            margin: 0;
        }
        .authorbox__content h5 {
            margin-bottom: 20px;
        }
        .post-footer {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            column-gap: 24px;
            max-width: 768px;
            margin-top: 40px;
        }
        .newsletterbox {
            font-size: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            margin-top: 80px;
        }
        .post-footer h4 {
            font-size: 18px;
        }
        body > main > h1 > em {
            opacity: 0;
        }
        #ui-toc-affix {
            display: block;
            position: fixed;
            top: 175px;
            user-select: initial;
            max-width: 20vw;
            margin-left: 15px;
            transition: opacity 400ms ease;
        }
        .dropup .dropdown-menu {
            bottom: auto !important;
        }
        @media (min-width: 768px) and (max-width: 991px) {
            header .navbar-collapse {
                padding-left: 0;
            }
            
            header .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
        @media (max-width: 768px) {
            header .navbar-collapse {
                padding-left: 0;
            }

            header .navbar-nav .nav-link {
                padding-left: 15px;
            }

        }
    </style>
    <div id="post-content">
        <div id="cover"></div>
        <div class="container">
            <div class="row article">
                <div class="col">
                    {% block post %}
                        <article class="article-content">
                            {{ include_raw(template) }}
                        </article>
                    {% endblock %}
                </div>
            </div>
        </div>
        <div id="post-footer" class="container post-footer">
            <div class="authorbox">
                {% for author in authors%}
                    <div class="authorbox__content">
                        <h3>{{author.name}}</h3>
                        <h5>
                            {{author.title}}
                            <a href="{{author.url}}" target="_blank" rel="noopener">
                                {{author.handle}}
                            </a>
                        </h5>
                        
                        <img src="{{author.image}}" width="120px" height="120px" alt="{{author.name}}"/>
                    </div>
                {%endfor%}
            </div>
            <h5>Published on <a href="#permalink">{{date}}</a></h5>
            <div class="newsletterbox">
                <a href="https://tinyletter.com/Monadical">
                    Subscribe to our newsletter
                </a>
            </div>
        </div>
        <center>
            <br/><br/><br/>
            <i style="font-size: 18px">Recent posts:</i>
            <ul style="max-width: 400px; text-align: left; font-size: 16px">
                <br/><br/>
                {% for post in POSTS.values() %}
                    {% if loop.index < 5 %}
                        <li><a href="{{post.url}}">{{post.title}}</a></li>
                    {% endif %}
                {% endfor %}
                <li>
                    <a href="{{PAGES.blog.url}}">
                        View more posts...
                    </a>
                </li>
            </ul>
            <br/>
        </center>
        <script src="https://utteranc.es/client.js"
                repo="Monadical-SAS/monadical.com"
                issue-term="pathname"
                label="blog"
                theme="github-light"
                crossorigin="anonymous"
                async>
        </script>
        <center>
            <br/><br/>
            <a href="#post-content" class="btn btn-sm btn-shadow btn-success btn-light btn-outline-primary">
                Back to top <i class="fa fa-arrow-up"></i>
            </a>
            <br/>
        </center>
        <script type="text/javascript" id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </script>
        <script>
            // hide the table of contents nav when you scroll down past the end
            $(window).scroll(function() {
                const pos = $(window).scrollTop()
                const threshold = $('.authorbox').position().top - 250
                $('#ui-toc-affix').css({
                    opacity: (pos > threshold) ? 0 : 1
                });
                $('.pull-right').css({
                    opacity: (pos > threshold) ? 0 : 1
                });
            });
            document.addEventListener('DOMContentLoaded', () => {
                document.querySelector('#ui-toc-affix > div.toc-menu > a.go-to-bottom').innerHTML = 'Go to comments'
                document.querySelector('#ui-toc-affix > div.toc-menu > a.go-to-bottom').href = '#post-footer'
                document.querySelector('#ui-toc-affix > div.toc-menu > a.back-to-top').innerHTML = 'Go to top'
                document.querySelector('#ui-toc-affix > div.toc-menu > a.back-to-top').href = '#post-content'
                // Popup toc for samll screens
                document.querySelector('#ui-toc > div.toc-menu > a.go-to-bottom').innerHTML = 'Go to comments'
                document.querySelector('#ui-toc > div.toc-menu > a.go-to-bottom').href = '#post-footer'
                document.querySelector('#ui-toc > div.toc-menu > a.back-to-top').innerHTML = 'Go to top'
                document.querySelector('#ui-toc > div.toc-menu > a.back-to-top').href = '#post-content'
                
                // GET the original article source so they get they bump the view counter
                fetch('{{source}}', {mode: 'no-cors'})

                // remove undesired css that break styles
                setTimeout(() => document.querySelector("link[href*='pretty-styles-pack']").remove(), 500)
            })

            $('[href$="bootstrap.min.css"]').attr('disabled', 'disabled')
        </script>
        <script>
            function setOpacity(){
                const maxWidth=1140
                const width = $(window).width();
                $('#post-cube-left').css({
                    opacity: (width < maxWidth) ? 0.1 : 1
                });
                $('#post-tentacle-right').css({
                    opacity: (width < maxWidth) ? 0.1 : 1
                });
            }

            $(document).ready(setOpacity);
            $(window).resize(setOpacity);
        </script>
        <br/><br/>
    </div>
    <!-- To fix some troubles with "!important" elements in bootstrap for the navbar -->
    <style>
        @media (max-width: 991px) {
            .show {
                display: block !important;
            }
            .collapse:not(.show) {
                display: none !important;
            }
        }
    </style>

{% endblock %}
