{% extends "base.html" %}
{% block title %}Rapid-fire Research{% endblock %}
{% block subtitle %}Rapid-fire Research{% endblock %}
{% block enableLogo %}enable-logo{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/core/css/research.css" type="text/css">
{% endblock %}

{% block article %}
<div class="container-full research-full">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 first-section margin-top-90">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-size-1">Monadical's</h1>
                        <h1 class="text-size-1">Recherche rapide</h1>
                    </div>

                    <div class="col-12 margin-top-20">
                        <h2 class="blue-text">Bienvenue!</h2>
                    </div>

                    <div class="col-12 margin-top-20">
                        <p class="info-text">
                            Nous créons une série de vidéos intitulée Rapid-fire Research. Nous offrons à vos
                            étudiant.e.s au niveau de maîtrise ou doctorat, ainsi que celleux en baccalauréat effectuant
                            un projet de recherche ou de thèse, l’opportunité de développer une vidéo courte, concise et
                            engageante d’environ quatre minutes pour partager leurs recherches. Pensez aux “TED Talks”
                            ou à “Ma thèse en 180 secondes”.
                        </p>
                        <p class="info-text">
                            La série fait partie de notre objectif en tant qu’entreprise montréalaise de partager la
                            recherche et les idées des universités québécoises, et de favoriser la collaboration entre
                            les personnes intéressées par les sciences informatiques.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-top-90"></div>
        <div class="row margin-top-90"></div>
        <div class="row margin-top-90">
            <div class="col-12 text-center">
                <h2 class="section-header">Est-ce pour vous ?</h2>
            </div>
            <div class="col-12 margin-top-20">
                <h4 class="blue-text">
                    Nous sommes ravi de recevoir des demandes de vos etudiant.e.s en maîtrise, en doctorat ou en
                    baccalauréat faisant une thèse de premier cycle dans le domaine de:
                </h4>
            </div>
            <div class="contrast-wrapper col-10 offset-1 col-md-8 offset-md-2 info-text">
                <ul>
                    <li style="margin: 20px;">L’informatique</li>
                    <li style="margin: 20px;">L’Ingénierie</li>
                    <li style="margin: 20px;">Les mathématiques et statistiques</li>
                    <li style="margin: 20px;">La physique</li>
                    <li style="margin: 20px;">La psychologie cognitive / Neurosciences</li>
                    <li style="margin: 20px;">Arts informatiques</li>
                    <li style="margin: 20px;">UX / UI</li>
                </ul>
            </div>
            <div class="col-12 margin-top-20">
                <i class="blue-text">
                    Tant que leur recherche utilise la programmation et/ou l’informatique d’une manière ou d’une autre.
                </i>
            </div>
        </div>

        <div class="row margin-top-90">
            <div class="col-12 text-center">
                <h2 class="section-header">Ce que vous obtenez</h2>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-8">
                    <ul>
                        <li>
                            <p class="info-text">
                                La chance de <strong class="blue-text">partager vos recherches</strong> à traversune
                                vidéo
                                professionnellement. Présenter votre travail aux futurs organismes subventionnaires,
                                employeurs, ou membres de leurs familles.
                            </p>
                        </li>
                        <li>
                            <p class="info-text">
                                Il est temps de <strong class="blue-text">collaborer avec des pairs.</strong> Les
                                étudiant.e.s participeront également à un atelier d’une demi-journée. L’atelier
                                comprendra des exposés par des professionnels de la communication scientifique, et des
                                opportunités de réseautage (non-gênant!) avec des personnes dans leur domaine.
                            </p>
                        </li>
                        <li>
                            <p class="info-text">
                                <strong class="blue-text">Compétences scicomm nouvelles ou améliorées.</strong>
                                Travaillez
                                avec notre équipe de communication pour affiner votre scénario avant le tournage et
                                apprenez de meilleures pratiques scicomm.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="row margin-top-90">
            <div class="col-12 margin-top-20 text-center">
                <h1 class="section-header">Comment ça fonctionne</h1>
            </div>
            <div class="col-12">
                <div class="col-2"></div>
                <div class="col-8">
                    <p class="info-text">
                        Veuillez soumettre une vidéo de 30 à 45 secondes expliquant votre recherche et pourquoi vous la
                        faites.
                    </p>
                    <p class="info-text">
                        À partir de là, nous sélectionnerons un groupe d'étudiants pour écrire un long script de
                        4 minutes détaillant leur travail. Ces étudiants travailleront directement avec notre équipe de
                        communication scientifique pour perfectionner leurs scripts en œuvres d'art de la communication
                        scientifique.
                    </p>
                    <p class="info-text">
                        Ces étudiants travailleront directement avec notre équipe de communication scientifique et
                        participeront à un atelier d’une demi-journée pour affiner leur scénario vidéo avant le
                        tournage. L’atelier est également l’occasion d’entendre des professionnels de la communication
                        scientifique et de rencontrer d’autres personnes dans leur domaine.
                    </p>
                    <p class="info-text">
                        Nous fixerons plus tard un moment pour que chaque étudiant vienne filmer sa thèse dans notre
                        chich bureau à Montréal, après quoi nous éditerons chaque présentation en vidéos simples et
                        professionnelles qui seront disponibles en ligne.
                    </p>
                    <p class="info-text">
                        De plus, les étudiants qui terminent leurs vidéos recevront <span class="blue-text">200$</span>
                        en compensation.
                    </p>
                </div>
            </div>
        </div>

        <div class="row margin-top-90">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="col-12 text-center">
                    <h1 class="section-header">Prêt à postuler ?</h1>
                </div>
                <div class="col-12 margin-top-20">
                    <h4 class="subtext-size-2">Remplir le formulaire de candidature <a
                            href="https://nick764452.typeform.com/to/N57mNTlc">ici</a>.</h4>
                </div>
                <div class="col-12 margin-top-20">
                    <h5 class="info-text">
                        Veuillez soumettre une vidéo de 30 à 45 secondes expliquant votre recherche et pourquoi vous la
                        faites. Il n’a pas besoin d’être sophistiqué ou bien produit! Une vidéo rapide enregistrée sur
                        votre téléphone est très bien. Nous voulons juste savoir en quoi consiste votre projet.
                    </h5>
                </div>
                <div class="col-12 margin-top-20 info-text">
                    <h4 class="blue-text">Si vous êtes bloqué ou ne savez pas par où commencer, pensez à :</h4>
                    <ul>
                        <li style="margin: 20px;">
                            <p>
                                Qu’est-ce qui vous a poussé à étudier ce que vous étudiez ? Avez-vous une histoire
                                personnelle ou un intérêt qui va avec?
                            </p>
                        </li>
                        <li style="margin: 20px;">
                            <p>
                                Pourquoi cette recherche est-elle intéressante – scientifiquement, pratiquement,
                                personnellement?
                            </p>
                        </li>
                        <li style="margin: 20px;">
                            <p>
                                À quelle(s) question(s) principale(s) essayez-vous de répondre?
                            </p>
                        </li>
                        <li style="margin: 20px;">
                            <p>
                                Votre recherche tente-t-elle de résoudre un problème/obstacle majeur dans une industrie
                                ou un domaine particulier?
                            </p>
                        </li>
                        <li style="margin: 20px;">
                            <p>
                                Comment allez-vous répondre à votre/vos question(s) ? Quelles méthodes utilisez-vous?
                            </p>
                        </li>
                        <li style="margin: 20px;">
                            <p>
                                Quelles retombées les résultats de votre recherche pourraient-ils avoir à l’avenir?
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="margin-bottom-50">
                    <em class="blue-text info-text">
                        Ne vous sentez pas obligé de répondre à toutes ces questions. Ils ne sont qu’un point de départ
                        pour vous faire réfléchir.
                    </em>
                </div>
            </div>
            <div class="col-2"></div>
        </div>

        <div class="row text-center margin-top-90">
            <div class="col-12 margin-top-20 margin-bottom-100">
                <h4>Nous attendons avec impatience votre demande! Bonne chance!</h4>
            </div>
        </div>
    </div>

</div>
{% endblock %}