{% extends "base.html" %}
{% block title %}Rapid-fire Research{% endblock %}
{% block subtitle %}Rapid-fire Research{% endblock %}
{% block enableLogo %}enable-logo{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/core/css/research.css" type="text/css">
{% endblock %}

{% block article %}
<div class="container-full research-full">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 first-section margin-top-90">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-size-1">Monadical's</h1>
                        <h1 class="text-size-1">Recherche rapide</h1>
                    </div>

                    <div class="col-12 margin-top-20">
                        <h3 class="blue-text">Bienvenue!</h4>
                    </div>

                    <div class="col-12 margin-top-20">
                        <p class="subtext-size-2">
                            Nous créons une série de vidéos intitulée Rapid-fire Research. Nous offrons à vos
                            étudiant.e.s au niveau de maîtrise ou doctorat, ainsi que celleux en baccalauréat effectuant
                            un projet de recherche ou de thèse, l’opportunité de développer une vidéo courte, concise et
                            engageante d’environ quatre minutes pour partager leurs recherches. Pensez aux “TED Talks”
                            ou à “Ma thèse en 180 secondes”.
                        </p>
                        <p class="subtext-size-2">
                            La série fait partie de notre objectif en tant qu’entreprise montréalaise de partager la
                            recherche et les idées des universités québécoises, et de favoriser la collaboration entre
                            les personnes intéressées par les sciences informatiques.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-top-90">
            <div class="col-12 text-center">
                <h1>Est-ce pour vous ?</h1>
            </div>
            <div class="col-12 margin-top-20">
                <h4 class="blue-text">Nous sommes ravi de recevoir des demandes de vos etudiant.e.s en maîtrise, en
                    doctorat ou en baccalauréat faisant une thèse de premier cycle dans le domaine de: </h4>
            </div>
            <div class="contrast-wrapper col-10 offset-1 col-md-8 offset-md-2 subtext-size-2">
                <ul>
                    <li>L’informatique</li>
                    <li>L’Ingénierie</li>
                    <li>Les mathématiques et statistiques</li>
                    <li>La physique</li>
                    <li>La psychologie cognitive / Neurosciences</li>
                    <li>Arts informatiques</li>
                    <li>UX/UI</li>
                </ul>
            </div>
            <div class="col-12 margin-top-20">
                <p class="blue-text">
                    Tant que leur recherche utilise la programmation et/ou l’informatique d’une manière ou d’une autre.
                </p>
            </div>
        </div>

        <div class="row margin-top-90">
            <div class="col-12 margin-top-20 text-center">
                <h1>Ce que vous obtenez?</h1>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-8">
                    <ul>
                        <li>
                            <p class="subtext-size-2">
                                La chance de <a href="#">partager vos recherches</a> à traversune vidéo
                                professionnellement. Présenter
                                votre travail aux futurs organismes subventionnaires, employeurs, ou membres de leurs
                                familles.
                            </p>
                        </li>
                        <li>
                            <p class="subtext-size-2">
                                Il est temps de <a href="#">collaborer avec des pairs</a>. Les étudiant.e.s
                                participeront
                                également à un atelier d’une demi-journée. L’atelier comprendra des exposés par des
                                professionnels de
                                la communication scientifique, et des opportunités de réseautage (non-gênant!) avec des
                                personnes dans leur domaine.
                            </p>
                        </li>
                        <li>
                            <p class="subtext-size-2">
                                <a href="#">Compétences scicomm nouvelles ou améliorées</a>. Travaillez avec notre
                                équipe de communication pour affiner votre scénario avant le tournage et apprenez de
                                meilleures pratiques scicomm.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="row margin-top-90">
            <div class="col-12 margin-top-20 text-center">
                <h1>Comment ça fonctionne</h1>
            </div>
            <div class="col-12">
                <div class="col-2"></div>
                <div class="col-8">
                    <p class="subtext-size-2">
                        Veuillez soumettre une vidéo de 30 à 45 secondes expliquant votre recherche et pourquoi vous la
                        faites. À partir de là, nous sélectionnerons un groupe pour écrire un scénario de quatre minutes
                        sur leur travail.
                    </p>
                    <p class="subtext-size-2">
                        Ces étudiants travailleront directement avec notre équipe de communication scientifique et
                        participeront à un atelier d’une demi-journée pour affiner leur scénario vidéo avant le
                        tournage. L’atelier est également l’occasion d’entendre des professionnels de la communication
                        scientifique et de rencontrer d’autres personnes dans leur domaine.
                    </p>
                    <p class="subtext-size-2">
                        Nous fixerons plus tard un moment pour que chaque étudiant vienne filmer sa thèse dans notre
                        chich bureau à Montréal, après quoi nous éditerons chaque présentation en vidéos simples et
                        professionnelles qui seront disponibles en ligne.
                    </p>
                    <p class="subtext-size-2">
                        De plus, les étudiants qui terminent leurs vidéos recevront 200$ en compensation.
                    </p>
                </div>
            </div>
        </div>

        <div class="row margin-top-90">
            <div class="col-12 margin-top-20 text-center">
                <h1>Prêt à postuler ?</h1>
            </div>
            <div class="col-12 margin-top-20 text-center">
                <h4>Remplir le formulaire de candidature <a href="#">ici</a>.</h4>
            </div>
            <div class="col-12 margin-top-20">
                <h4 class="subtext-size-2">
                    Veuillez soumettre une vidéo de 30 à 45 secondes expliquant votre recherche et pourquoi vous la
                    faites. Il n’a pas besoin d’être sophistiqué ou bien produit! Une vidéo rapide enregistrée sur votre
                    téléphone est très bien. Nous voulons juste savoir en quoi consiste votre projet.
                </h4>
            </div>
            <div class="margin-top-20 subtext-size-2">
                <h4>Si vous êtes bloqué ou ne savez pas par où commencer, pensez à :</h4>
                <ul>
                    <li>
                        <p>
                            Qu’est-ce qui vous a poussé à étudier ce que vous étudiez ? Avez-vous une histoire
                            personnelle ou un intérêt qui va avec?
                        </p>
                    </li>
                    <li>
                        <p>
                            Pourquoi cette recherche est-elle intéressante – scientifiquement, pratiquement,
                            personnellement?
                        </p>
                    </li>
                    <li>
                        <p>
                            À quelle(s) question(s) principale(s) essayez-vous de répondre?
                        </p>
                    </li>
                    <li>
                        <p>
                            Votre recherche tente-t-elle de résoudre un problème/obstacle majeur dans une industrie ou
                            un domaine particulier?
                        </p>
                    </li>
                    <li>
                        <p>
                            Comment allez-vous répondre à votre/vos question(s) ? Quelles méthodes utilisez-vous?
                        </p>
                    </li>
                    <li>
                        <p>
                            Quelles retombées les résultats de votre recherche pourraient-ils avoir à l’avenir?
                        </p>
                    </li>
                </ul>
            </div>
            <div class="margin-bottom-50">
                <h4 class="blue-text">
                    Ne vous sentez pas obligé de répondre à toutes ces questions. Ils ne sont qu’un point de départ pour
                    vous faire réfléchir.
                </h4>
            </div>
        </div>

        <div class="row text-center margin-top-90">
            <div class="col-12 margin-top-20 margin-bottom-50">
                <h4>Nous attendons avec impatience votre demande! Bonne chance!</h4>
            </div>
        </div>
    </div>

</div>
{% endblock %}