{% extends "base.html" %}
{% block title %}Rapid-fire Research{% endblock %}
{% block subtitle %}Rapid-fire Research{% endblock %}
{% block enableLogo %}enable-logo{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/core/css/research.css" type="text/css">
{% endblock %}

{% block article %}
<div class="container-full research-full">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 first-section margin-top-90">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-size-1">Monadical's</h1>
                        <h1 class="text-size-1">Rapid-fire Research</h1>
                    </div>

                    <div class="col-12 margin-top-20">
                        <h2 class="blue-text">Welcome!</h2>
                    </div>

                    <div class="col-12 margin-top-20">
                        <p class="info-text">
                            We're creating a video series called Rapid-fire Research. Graduate students,
                            or undergraduate students doing a research or thesis project, will have the chance
                            to share their research in a quick, concise, engaging four-minute long video.
                            Think TED talks or Three-Minute Thesis.
                        </p>
                        <p class="info-text">
                            The series is part of our goal as a Montréal-based company to share research and ideas from
                            Quebec universities, and foster collaboration between people interested in the computer
                            sciences.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-top-90"></div>
        <div class="row margin-top-90"></div>
        <div class="row margin-top-90">
            <div class="col-12 text-center">
                <h2 class="section-header">Is this for you?</h2>
            </div>
            <div class="col-12 margin-top-20">
                <h4 class="blue-text text-center">We want to hear from any Master’s, PhD, or undergraduate thesis
                    student in:</h4>
            </div>
            <div class="contrast-wrapper col-10 offset-1 col-md-8 offset-md-2 info-text">
                <ul>
                    <li style="margin: 20px;">Computer Science</li>
                    <li style="margin: 20px;">Engineering (software or otherwise)</li>
                    <li style="margin: 20px;">Math and Statistics</li>
                    <li style="margin: 20px;">Physics</li>
                    <li style="margin: 20px;">Cognitive Psychology / Neuroscience</li>
                    <li style="margin: 20px;">Computational Arts</li>
                    <li style="margin: 20px;">UX / UI</li>
                </ul>
            </div>
            <div class="col-12 margin-top-20">
                <i class="blue-text">
                    As long as your thesis involves <strong>programming</strong>, <strong>software engineering</strong>
                    and/or <strong>computer science</strong> in some way.
                </i>
            </div>
        </div>

        <div class="row margin-top-90">
            <div class="col-12 text-center">
                <h2 class="section-header">What you get</h2>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-8">
                    <ul>
                        <li>
                            <p class="info-text">
                                The chance to <span class="blue-text">share your research</span> through a
                                professionally-made video. Showcase your work to fellow researchers, future grant
                                agencies, employers or family members.
                            </p>
                        </li>
                        <li>
                            <p class="info-text">
                                Time to <span class="blue-text">collaborate with peers</span>. Selected students will
                                participate in a half-day workshop where you'll hear from science
                                communication experts and have the opportunity to mingle with other people in your
                                field.
                            </p>
                        </li>
                        <li>
                            <p class="info-text">
                                <span class="blue-text">New or improved scicomm skills.</span> Work with our
                                communication team to hone your script before filming and learn better scicomm
                                practices.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="row margin-top-90">
            <div class="col-12 margin-top-20 text-center">
                <h1 class="section-header">How it works</h1>
            </div>
            <div class="col-12">
                <div class="col-2"></div>
                <div class="col-8">
                    <p class="info-text">
                        Along with your application, you’ll submit a 30-45 second pitch telling us what you research and
                        why.
                    </p>
                    <p class="info-text">
                        From there we’ll select a group of students to write a 4-minute long script detailing their
                        work. Those students will work directly with our science communication team to perfect their
                        scripts into works of science communication art.
                    </p>
                    <p class="info-text">
                        Selected students will also participate in a half-day workshop where they’ll work on their video
                        script before filming, hear from science communication professionals, and mingle with other
                        people in their field.
                    </p>
                    <p class="info-text">
                        We’ll later schedule a time for each student to come film their talk in our chic downtown
                        Montreal office, after which we’ll edit them into simple yet professional videos that will be
                        available to view online.
                    </p>
                    <p class="info-text">
                        Selected participants will also receive <span class="blue-text">$200</span> in compensation for
                        their efforts.
                    </p>
                </div>
            </div>
        </div>

        <div class="row margin-top-90">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="col-12 text-center">
                    <h1 class="section-header">Ready to apply?</h1>
                </div>
                <div class="col-12 margin-top-20">
                    <h4 class="subtext-size-2">Fill out the application form <a
                            href="https://nick764452.typeform.com/to/N57mNTlc">here</a></h4>
                </div>
                <div class="col-12 margin-top-20">
                    <h5 class="info-text">
                        Please also submit a 30-45 second video telling us what your research
                        is and why are you doing it. It doesn't have to be fancy or well-produced! A quick video
                        recorded on
                        your phone is fine. We just want to know what the project is about.
                    </h5>
                </div>
                <div class="col-12 margin-top-20 info-text">
                    <h4 class="blue-text">If you're stuck or aren't sure where to start, think about: </h4>
                    <ul>
                        <li style="margin: 20px;">
                            <p>
                                What inspired you to study what you are studying? Do you have a personal story or
                                interest
                                that goes along with it?
                            </p>
                        </li>
                        <li style="margin: 20px;">
                            <p>
                                Why is this research interesting - scientifically, practically, personally?
                            </p>
                        </li>
                        <li style="margin: 20px;">
                            <p>
                                What's the main question or questions you're trying to answer?
                            </p>
                        </li>
                        <li style="margin: 20px;">
                            <p>
                                Is your research trying to solve a major problem/obstacle in a particular industry or
                                field.
                            </p>
                        </li>
                        <li style="margin: 20px;">
                            <p>
                                How are you going about answering the question/s? What methods are you using?
                            </p>
                        </li>
                        <li style="margin: 20px;">
                            <p>
                                What spinoffs might the findings of your research have in the future?
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="margin-bottom-50">
                    <h4 class="blue-text">
                        Don't feel like you have to answer all these questions. They're just a starting point to get you
                        thinking.
                    </h4>
                </div>
            </div>
            <div class="col-2"></div>
        </div>

        <div class="row text-center margin-top-90">
            <div class="col-12 margin-top-20 margin-bottom-50">
                <h4>We look forward to reviewing your pitch! Good luck!</h4>
            </div>
        </div>
    </div>

</div>
{% endblock %}