{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block subtitle %}Home{% endblock %}
{% block enableLogo %}enable-logo{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/core/css/sales.css">
{% endblock %}

{% block article %}
    <div class="container-full">
        <img class="cloud-img-right" src="/static/core/img/img-sales-002.png">
        <img class="tentacle-img-right" src="/static/core/img/img-home-010.png">
        <img class="tentacle-img-left" src="/static/core/img/img-sales-004.png">
        <img class="cloud-img-left" src="/static/core/img/img-sales-003.png">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center margin-top-70">
                    <p class="text-size-2">
                        Customize Your DrChrono Platform To Fit Your Medical Practice
                    </p>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center margin-top-15">
                    <p class="subtext-size-2">
                        Save Time & Earn Money with your Custom Solution. We build
                        it, you own it. Sell your solution to the other practices
                        with the same challenges
                    </p>
                </div>
            </div>
            <div class="row margin-top-150">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                            <p class="text-title-bold">
                                Customize Your DrChrono Platform To Fit Your Medical
                                Practice
                            </p>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                            <ul>
                                <li class="subtext-size-2">
                                    We are a certified DrChrono developer.
                                </li>
                                <li class="subtext-size-2">
                                    We have extensive experience working with other
                                    medical practitioners, and with DrChrono directly
                                </li>
                                <li class="subtext-size-2">We build effective, time-saving DrChrono Solutions
                                    for medical practices
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 margin-top-70">
                            <a href="" class="btn btn-info-inverse">
                                SCHEDULE DIAGNOSIS CALL
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 margin-top-xs text-center align-self-center">
                    <img src="/static/core/img/img-sales-001.png" class="max-width-100">
                </div>
            </div>
            <div class="row margin-top-200">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <video style="width: 100%" controls>
                      <source src="" type="video/mp4">
                    Your browser does not support the video tag.
                    </video>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 margin-top-xs">
                    <div class="row">
                        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 offset-xl-1 margin-top-xs">
                            <p class="text-size-2">
                                See how other doctors do it
                            </p>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 offset-xl-1 margin-top-xs">
                            <p class="text-size-3">
                                Dr. Tim created a custom solution for his medical
                                practice, which has grown into a software product
                                valued over $2 M.
                            </p>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 offset-xl-1">
                            <a href="" class="btn btn-info-inverse">
                                SCHEDULE DIAGNOSIS CALL
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-top-200">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center">
                    <p class="text-size-2">
                        Custom features requested by other medical practices
                    </p>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="card card-small card-table">
                        <div class="title-card-size-1 blue-text card-title-padding">
                            SYNCHRONIZE DATA BETWEEN MEDICAL PRACTICES
                        </div>
                        <div class="card-body">
                            <p class="text-size-3 line-height-card">
                                Synchronize and access your DrChrono data from all
                                your locations instantly, with no fuss.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="card card-small card-table">
                        <div class="title-card-size-1 blue-text card-title-padding">
                            LOCAL STORAGE
                        </div>
                        <div class="card-body">
                            <p class="text-size-3 line-height-card">
                                Store your patient data locally, and never worry
                                about losing it due to a bad internet connection.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="card card-small card-table">
                        <div class="title-card-size-1 blue-text card-title-padding">
                            EARN MONEY WITH YOUR CUSTOM SOLUTION
                        </div>
                        <div class="card-body">
                            <p class="text-size-3 line-height-card">
                                We build it, you own it. Earn money by selling your
                                solution to other practices with the same challenges.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="card card-small card-table">
                        <div class="title-card-size-1 blue-text card-title-padding">
                            CUSTOMIZABLE FEATURE
                        </div>
                        <div class="card-body">
                            <p class="text-size-3 line-height-card">
                                Tailor features and screens to the needs of your
                                office and save time and money.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="card card-small card-table">
                        <div class="title-card-size-1 blue-text card-title-padding">
                            CUSTOMIZABLE NOTES
                        </div>
                        <div class="card-body">
                            <p class="text-size-3 line-height-card">
                                Get to an old note without modifying it & make things
                                easier to find
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="card card-small card-table">
                        <div class="title-card-size-1 blue-text card-title-padding">
                            CUSTOMIZE DAILY SOAPS
                        </div>
                        <div class="card-body">
                            <p class="text-size-3 line-height-card">
                                Make follow-up visits easy and painless by transferring and
                                updating daily SOAPs.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="card card-small card-table">
                        <div class="title-card-size-1 blue-text card-title-padding">
                            FILTER PATIENTS BY PAYMENTS METHOD
                        </div>
                        <div class="card-body">
                            <p class="text-size-3 line-height-card">
                                Separate your cash and insurance patients and keep
                                your accounting running smoothly.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="card card-small card-table">
                        <div class="title-card-size-1 blue-text card-title-padding">
                            CUSTOMIZABLE FORMS
                        </div>
                        <div class="card-body">
                            <p class="text-size-3 line-height-card">
                                Make your forms fit the needs of your team and cut
                                down on wasted time.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="card card-small card-table">
                        <div class="title-card-size-1 blue-text card-title-padding">
                            CUSTOMIZABLE MESSAGE THREADS
                        </div>
                        <div class="card-body">
                            <p class="text-size-3 line-height-card">
                                Make communication with your team effortless and
                                efficient
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center margin-top-70 margin-b">
                    <a href="" class="btn btn-info-inverse">
                        SCHEDULE DIAGNOSIS CALL
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
