{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block subtitle %}Home{% endblock %}
{% block enableLogo %}enable-logo{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/core/css/services.css">
{% endblock %}

{% block article %}
    <div class="container-full">
        <img class="circle-img-left" src="/static/core/img/img-services-008.png">
        <img class="tentacle-img-right" src="/static/core/img/img-home-010.png">
        <img class="tentacle-img-left" src="/static/core/img/img-services-009.png">
        <img class="cube-img-right" src="/static/core/img/img-home-012.png">
        <img class="cube-img-left" src="/static/core/img/img-home-002.png">
        <div class="container">
            <div class="row margin-top-70">
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 offset-xl-2  text-center ">
                    <p class="text-size-2">
                        Monadical is a full-stack development consultancy.
                    </p>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-xs-12 offset-xl-1 text-center">
                    <p class="subtext-size-2">
                        Our fully-remote team of engineers provide work on a
                        variety of tasks,
                        from shipping major new product releases, growing
                        existing projects, and refactoring gnarly codebases,
                        to designing custom data pipelines, providing security
                        review, building devops infrastructure, and more...
                    </p>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-80">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <div class="card card-borderless">
                                <div class="card-header card-services-header">
                                    <p class="team-card-title text-center">
                                        Product Management
                                    </p>
                                </div>
                                <div class="card-body card-services-body">
                                    <img src="/static/core/img/img-services-003.png" class="card-services-img">
                                </div>
                                <div class="card-footer card-services-footer">
                                    <p class="subtext-size-3">
                                        Monadical can work as a self-directed
                                        unit to
                                        deliver a full product, or we can
                                        integrate into
                                        an existing team to assist with
                                        management,
                                        engineering, & operations.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <div class="card card-borderless">
                                <div class="card-header card-services-header">
                                    <p class="team-card-title text-center" >
                                        Full-Stack Web Development
                                    </p>
                                </div>
                                <div class="card-body card-services-body">
                                    <img src="/static/core/img/img-services-004.png" class="card-services-img">
                                </div>
                                <div class="card-footer card-services-footer">
                                    <p class="subtext-size-3">
                                        With over 36 years of development and
                                        operations
                                        experience, we're comfortable building,
                                        scaling,
                                        and managing remote teams and complex
                                        software.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <div class="card card-borderless">
                                <div class="card-header card-services-header">
                                    <p class="team-card-title text-center">
                                        Ops, Data Science, Security
                                    </p>
                                </div>
                                <div class="card-body card-services-body">
                                    <img src="/static/core/img/img-services-005.png" class="card-services-img">
                                </div>
                                <div class="card-footer card-services-footer">
                                    <p class="subtext-size-3">
                                        We go beyond app-building and provide
                                        full
                                        solutions, including ops setup, data
                                        science,
                                        and lifecycle duties like refactoring,
                                        security
                                        review, and documentation.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row margin-top-150">
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 offset-xl-2">
                    <p class="text-center text-size-2">
                        You can choose to work with us in two ways:
                    </p>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-60">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="card card-shadow card-first-way-work">
                                <p class="card-blue-title blue-card-margin">
                                    INTEGRATE
                                </p>
                                <p class="title-card-size-1 blue-card-margin">
                                    You can integrate our developers into your
                                    development
                                    process with the support of our dedicated
                                    project manager
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="card card-shadow card-second-way-work">
                                <p class="card-blue-title blue-card-margin">
                                    FOLLOW
                                </p>
                                <p class="title-card-size-1 blue-card-margin">
                                    You can follow our process (link to transparent
                                    work process).
                                    We can guide you step-by-step through the
                                    process to
                                    help you avoid major pitfalls and ensure project
                                    success
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-60">
                    <p class="subtext-size-2 text-center">
                        We're comfortable learning and working with a wide range
                        of
                        tech stacks, scopes, and project requirements.<br>
                        We can also help with other business lifecycle needs,
                        from
                        intial legal and accounting setup, to product growth,
                        marketing,
                        and support.<br>
                        We have years of experience launching and growing
                        startups
                        of our own, and we love using that knowledge to help our
                        clients
                        cross any hurdles they might face. At the end of the
                        day, we
                        want our clients to succeed, and we're willing to help
                        with
                        everything needed to get them there.
                    </p>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin-top-60">
                    <a href="" class="btn btn-info-inverse">
                        TAKE THE FIRST STEP TO WORKING WITH US
                    </a>
                </div>
            </div>
            <div class="row margin-top-150">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>

                    </p>
                    <p>

                    </p>
                    <p>

                    </p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card card-shadow card-expertise">
                        <div class="card-header card-expertise-header">
                            <p class="card-white-title">
                                Full Stack Development & Custom Software
                                solutions
                            </p>
                        </div>
                        <div class="card-body card-expertise-body">
                            <ul class="expertise-list">
                                <li>
                                    Progressive web application development
                                </li>
                                <li>
                                    Cloud-based applications
                                </li>
                                <li>
                                    Saas applications
                                </li>
                                <li>
                                    Enterprise applications
                                </li>
                                <li>
                                    Ecommerce solutions
                                </li>
                                <li>
                                    Single-page apps
                                </li>
                                <li>
                                    Cybersecurity
                                </li>
                                <li>
                                    Digital Transformation
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card card-shadow card-expertise">
                        <div class="card-header card-expertise-header">
                            <p class="card-white-title">
                                Full Stack Development & Custom Software
                                solutions
                            </p>
                        </div>
                        <div class="card-body card-expertise-body">
                            <ul class="expertise-list">
                                <li>
                                    Tech stack recommendation
                                </li>
                                <li>
                                    Software Audit
                                </li>
                                <li>
                                    Product scale up
                                </li>
                                <li>
                                    Project takeover
                                </li>
                                <li>
                                    Lean startup
                                </li>
                                <li>
                                    Devops consulting
                                </li>
                                <li>
                                    Digital transformation
                                </li>
                                <li>
                                    Agile consultancy
                                </li>
                                <li>
                                    IT Staff Augmentation
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-top-150">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 offset-xl-2">
                    <p class="text-size-2 text-center">
                        Our team has worked with a wide range of stacks and industries.
                    </p>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-15">
                    <img src="/static/core/img/img-services-001.png">
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-150">
                    <img src="/static/core/img/img-services-002.png">
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-150">
                    <p class="text-size-2 text-center">What our client say</p>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="card card-small card-reference">
                                <div class="row" style="margin: 40px 40px 15px 40px">
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <img src="/static/core/img/img-home-020.png" style="max-height: 100px; max-width: 100px">
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <p class="card-clients-name">John Doe</p>
                                            </div>
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <p class="card-clients-position">CEO, PrettyDopeDesigns</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                         <img src="/static/core/img/img-home-019.png" style="max-height: 46px; max-width: 60px">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="text-size-3">
                                        "We were looking for a reliable
                                        software team  and we have found
                                        a long-term, high quality partner
                                        we can count on and who cares in
                                        Monadical.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                             <video style="width: 100%" controls>
                              <source src="" type="video/mp4">
                            Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin-top-150">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p class="text-size-2">
                                Interested in working with us?
                            </p>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p class="subtext-size-2">
                                Initial consultations are free, no surprise bills
                            </p>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-60">
                            <a href="#" class="btn btn-info-inverse">
                                FREE TECHNICAL PROJECT REVIEW
                            </a>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center working-us-text">
                            <p class="text-size-3">
                                We ramp up fast and can prototype MVPs within
                                days of taking on new projects.
                            </p>
                            <p class="text-size-3">
                                After you reach out to us, we'll work together to provide a proposal with an estimated
                                timeline and budget based on projects requirements.
                            </p>
                            <p class="text-size-3">
                                When all parties are satified with the proposal, we provide a straightforward,
                                customizable contract with weekly or monthly invoicing, and regular check-in calls
                                with guaranteed response times once development work begins.
                            </p>
                            <p class="text-size-3">
                                (We're comfortable working with remote clients all over the world. Most of our
                                projects are mid/long-term projects lasting > 4 weeks.)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock article %}