{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block subtitle %}Home{% endblock %}
{% block enableLogo %}enable-logo{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/core/css/services.css">
{% endblock %}

{% block article %}
<div class="container-full">
    <img class="circle-img-left" src="/static/core/img/img-services-008.png">
    <img class="tentacle-img-right" src="/static/core/img/img-home-010.png">
    <img class="tentacle-img-left" src="/static/core/img/img-services-009.png">
    <img class="cube-img-right" src="/static/core/img/img-home-012.png">
    <img class="cube-img-left" src="/static/core/img/img-home-002.png">
    <div class="container">
        <div class="row margin-top-70">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 offset-xl-2  text-center ">
                <h2 class="text-size-2">
                    Monadical is a full-stack development consultancy.
                </h2>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12 offset-xl-1 text-center">
                <p class="subtext-size-2">
                    Our team of engineers has a wide range of experience, from shipping major new products
                    to refactoring gnarly codebases; from designing custom data pipelines to security reviews
                    to building devops infrastructure, and beyond!
                </p>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 margin-top-80">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="card card-borderless">
                            <div class="card-header card-services-header">
                                <p class="team-card-title text-center">
                                    Product Management
                                </p>
                            </div>
                            <div class="card-body card-services-body">
                                <img src="/static/core/img/img-services-003.png" class="card-services-img">
                            </div>
                            <div class="card-footer card-services-footer">
                                <p class="subtext-size-3">
                                    Monadical can work as a self-directed
                                    unit to
                                    deliver a full product, or we can
                                    integrate into
                                    an existing team to assist with
                                    management,
                                    engineering, & operations.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="card card-borderless">
                            <div class="card-header card-services-header">
                                <p class="team-card-title text-center">
                                    Full-Stack Web Development
                                </p>
                            </div>
                            <div class="card-body card-services-body">
                                <img src="/static/core/img/img-services-004.png" class="card-services-img">
                            </div>
                            <div class="card-footer card-services-footer">
                                <p class="subtext-size-3">
                                    With decades of cumulative development and
                                    operations
                                    experience, across dozens projects, we're comfortable building,
                                    scaling,
                                    and managing remote teams and complex
                                    software.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="card card-borderless">
                            <div class="card-header card-services-header">
                                <p class="team-card-title text-center">
                                    Ops, Data Science, Security
                                </p>
                            </div>
                            <div class="card-body card-services-body">
                                <img src="/static/core/img/img-services-005.png" class="card-services-img">
                            </div>
                            <div class="card-footer card-services-footer">
                                <p class="subtext-size-3">
                                    We go beyond app-building and provide
                                    full
                                    solutions, including ops setup, data
                                    science,
                                    and lifecycle duties like refactoring,
                                    security
                                    review, and documentation.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row margin-top-150">
            <div class="col-xl-8 col-12 offset-xl-2">
                <h2 class="text-center text-size-2">
                    You can choose to work with us in two ways:
                </h2>
            </div>
            <div class="col-12 margin-top-60">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="card card-shadow card-first-way-work">
                            <p class="card-blue-title blue-card-margin">
                                SOLUTION
                            </p>
                            <p class="title-card-size-1 blue-card-margin">
                                If you need robust development and project management,
                                we can guide you through the process from planning to
                                execution to final deliverables. You have complete visibility
                                and control over the project, scale, and work, and we take all
                                of the heavy stuff off your shoulders to let you focus on your business.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="card card-shadow card-second-way-work">
                            <p class="card-blue-title blue-card-margin">
                                INTEGRATION
                            </p>
                            <p class="title-card-size-1 blue-card-margin">
                                If you already have a CTO or technical team, and need support with specific
                                aspects of your project or code, one or more of our developers can integrate
                                seamlessly into your team with the support of one of our dedicated project managers.
                                Scale up or scale down as needed!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 margin-top-60">
                <p class="subtext-size-2 text-center">
                    We're comfortable learning and working with a wide range
                    of
                    tech stacks, scopes, and project requirements.<br>
                    We have years of experience launching and growing
                    startups
                    of our own, and we love using that knowledge to help our
                    clients
                    cross any hurdles they might face. At the end of the
                    day, we
                    want our clients to succeed, and we're willing to help
                    with
                    everything needed to get them there.
                </p>
            </div>
            <div class="col-12 text-center margin-top-60">
                <a href="/contact-us.html" class="btn btn-info-inverse">
                    WORK WITH US
                </a>
            </div>
        </div>
        <div class="row margin-top-150">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center margin-bottom-50">
                <p class="subtext-size-2">
                        WE'RE COMFORTABLE LEARNING AND WORKING WITH A WIDE RANGE OF TECH STACKS, SCOPES, AND PROJECT REQUIREMENTS.
                </p>
                <h2 class="text-size-2 margin-top-30">
                        Our expertise
                </h2>
                <p class="subtext-size-2 margin-top-30">
                        We are experts in full stack development, custom software solutions and can consult you on developing your software.
                </p>
            </div>
            <div class="col-md-6 col-12">
                <div class="card card-shadow card-expertise">
                    <div class="card-header card-expertise-header">
                        <p class="card-white-title">
                            Full Stack Development & Custom Software
                            solutions
                        </p>
                    </div>
                    <div class="card-body card-expertise-body">
                        <ul class="expertise-list">
                            <li>
                                Progressive web application development
                            </li>
                            <li>
                                Cloud-based applications
                            </li>
                            <li>
                                Saas applications
                            </li>
                            <li>
                                Enterprise applications
                            </li>
                            <li>
                                Ecommerce solutions
                            </li>
                            <li>
                                Single-page apps
                            </li>
                            <li>
                                Cybersecurity
                            </li>
                            <li>
                                Digital Transformation
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="card card-shadow card-expertise">
                    <div class="card-header card-expertise-header">
                        <p class="card-white-title">
                            Software Consulting & Project Management
                        </p>
                    </div>
                    <div class="card-body card-expertise-body">
                        <ul class="expertise-list">
                            <li>
                                Tech stack recommendations
                            </li>
                            <li>
                                Software Audit
                            </li>
                            <li>
                                Product scale up
                            </li>
                            <li>
                                Project takeover
                            </li>
                            <li>
                                Lean startup
                            </li>
                            <li>
                                Devops consulting
                            </li>
                            <li>
                                Agile consultancy
                            </li>
                            <li>
                                IT Staff Augmentation
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-top-150">
            <div class="col-md-8 col-12 offset-md-2">
                <h2 class="text-size-2 text-center">
                    Our team has worked with a wide range of stacks and industries.
                </h2>
            </div>
            <div class="col-12 margin-top-15">
                <div class="row">
                    {% for stack in stacks %}
                    <div class="col-lg-2 col-md-4 col-6 stack-grid">
                        <div class="text-center">
                            <img src="{{ stack['image'] }}">
                        </div>
                        <span class="margin-top-30 text-center d-block">{{ stack['name'] }}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
{#            <div class="col-12 margin-top-150">#}
{#                <div class="row">#}
{#                    <div class="col-lg-3 col-md-4 col-6">#}
{#                        <p class="card card-shadow text-size-3 p-2">HEALTHCARE & MEDICAL</p>#}
{#                    </div>#}
{#                    <div class="col-lg-3 col-md-4 col-6">#}
{#                        <p class="card card-shadow text-size-3 p-2">ONLINE GAMING</p>#}
{#                    </div>#}
{#                    <div class="col-lg-2 col-md-4 col-6">#}
{#                        <p class="card card-shadow text-size-3 p-2">EDUCATION</p>#}
{#                    </div>#}
{#                    <div class="col-lg-2 col-md-4 col-6 ">#}
{#                        <p class="card card-shadow text-size-3 p-2">GOVERNMENT</p>#}
{#                    </div>#}
{#                    <div class="col-lg-2 col-md-4 col-6 ">#}
{#                        <p class="card card-shadow text-size-3 p-2">REAL ESTATE</p>#}
{#                    </div>#}
{#                    <div class="col-lg-2 col-md-4 col-6">#}
{#                        <p class="card card-shadow text-size-3 p-2">DATA</p>#}
{#                    </div>#}
{#                    <div class="col-lg-2 col-md-4 col-6">#}
{#                        <p class="card card-shadow text-size-3 p-2">UTILITIES</p>#}
{#                    </div>#}
{#                    <div class="col-lg-2 col-md-4 col-6">#}
{#                        <p class="card card-shadow text-size-3 p-2">BUSINESS SERVICE</p>#}
{#                    </div>#}
{#                    <div class="col-lg-2 col-md-4 col-6">#}
{#                        <p class="card card-shadow text-size-3 p-2">CONSUMER SERVICES</p>#}
{#                    </div>#}
{#                    <div class="col-lg-2 col-md-4 col-6">#}
{#                        <p class="card card-shadow text-size-3 p-2">FINANCIAL SERVICES</p>#}
{#                    </div>#}
{#                    <div class="col-lg-2 col-md-4 col-6">#}
{#                        <p class="card card-shadow text-size-3 p-2">NON-PROFIT</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
        <div class="row">
            {# {% include "clients-reviews.html" %} #}
            {% include "work-with-us.html" %}
        </div>
    </div>
</div>
{% endblock article %}