{% extends "base.html" %}

{% block title %}Team{% endblock %}
{% block subtitle %}Team{% endblock %}
{% block logo %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/core/css/team.css">
{% endblock %}

{% block article %}
    <div class="container-full">
        <img class="cloud-img-left" src="/static/core/img/img-team-013.png">
        <img class="tentacle-img-right" src="/static/core/img/img-home-010.png">
        <img class="cube-img-left" src="/static/core/img/img-home-002.png">
        <img class="cloud-img-right" src="/static/core/img/img-team-014.png">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center margin-top-70">
                    <p class="text-size-2">
                        Why Monadical Team?
                    </p>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12 offset-xl-1 text-center">
                    <p class="subtext-size-2 margin-top-10">
                        We're fully remote development and ops  team working from
                        Montreal, California, Medellin, and NYC.<br>
                        We value curiosity, transparency, and work-life balance, among
                        other core principles.
                    </p>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 offset-xl-2 text-center">
                    <p class="subtext-size-3 margin-top-10">
                        We've spent the past 4 years building projects together. Our
                        developers have been featured in Forbes, CNN, WSJ, ... and our
                        products have been used by users in 100+ countries.<br>
                        We operate primarily in English, but you can also contact us
                        in Spanish, French, Chinese, or German.
                    </p>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center margin-top-150">
                    <p class="text-size-2">
                        Meet the Team
                    </p>
                    <p class="subtext-size-2">
                        We pride ourselves on being generalist who love to learn.
                    </p>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 margin-top-40">
                    <div class="row">
                        {% for employee in team %}
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                                <div class="card card-long card-team">
                                    <div class="row card-head">
                                        <div class="col-xl-12">
                                            <span class="float-left title-card-size-2">
                                                {{ employee['position'] }}
                                            </span>
                                            <span class="float-right title-card-size-3">
                                                {{ employee['country'] }}
                                            </span>
                                        </div>
                                        <div class="col-xl-12 margin-top-30 text-center">
                                            <img src="{{ employee['image_path'] }}" class="profile-img-card">
                                        </div>
                                        <div class="col-xl-12 text-center">
                                            <p class="profile-name-card">
                                                {{ employee['name'] }}
                                            </p>
                                        </div>
                                        <div class="col-xl-12 text-center">
                                            <p class="profile-skills-card">
                                                {{ employee['other_skills'] }}
                                            </p>

                                        </div>
                                        <div class="col-xl-12 text-center">
                                            <p class="profile-summary-card">
                                                {{ employee['summary'] }}
                                            </p>
                                        </div>
                                        <div class="col-xl-12 text-center margin-top-10">
                                            <p class="profile-item-list-card">
                                                <span>Survival skills:</span> {{ employee['survival_skills'] }}
                                            </p>
                                        </div>
                                        <div class="col-xl-12 text-center">
                                            <p class="profile-item-list-card">
                                                <span>Favorite gadget:</span> {{ employee['gadget'] }}
                                            </p>
                                        </div>
                                        <div class="col-xl-12 profile-social-networks-card text-center margin-top-30">
                                            {% for name, link  in employee['social_networks'].items() %}
                                                <a href="{{ link }}" class="fa fa-{{ name }} btn-circle btn-circle-raised"></a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center margin-top-150">
                    <p class="text-size-2">
                        Interested in working for Monadical? We'd love to have you join us.
                    </p>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center align-self-center margin-top-60">
                    <span class="secret-user">
                        <img src="/static/core/img/img-team-018.png" class="secret-user-img">
                    </span>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center margin-top-30">
                    <p class="subtext-size-2">
                        This could be you...<br>
                        Apply to Monadical to join our team of skilled engineers worldwide.
                    </p>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center margin-top-60">
                    <a href="" class="btn btn-info-inverse">
                        JOIN THE TEAM
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
