<div class="row work-with-us margin-bottom-150">
    <div class="col-12 text-center margin-top-150">
        <div class="row">
            <div class="col-12">
                <h1 class="text-size-2">
                    Interested in working with us?
                </h1>
            </div>
            <div class="col-12">
                <p class="subtext-size-2">
                    Initial consultations are free, no surprise bills
                </p>
            </div>
            <div class="col-12 margin-top-60">
                <a href="#" class="btn btn-info-inverse">
                    FREE TECHNICAL PROJECT REVIEW
                </a>
            </div>
            <div class="col-xl-8 col-10 offset-xl-2 offset-1 text-center working-us-text">
                <p class="text-size-3">
                    We ramp up fast and can prototype MVPs within
                    days of taking on new projects.
                </p>
                <p class="text-size-3">
                    After you reach out to us, we'll work together to provide a proposal with an estimated
                    timeline and budget based on projects requirements.
                </p>
                <p class="text-size-3">
                    When all parties are satified with the proposal, we provide a straightforward,
                    customizable contract with weekly or monthly invoicing, and regular check-in calls
                    with guaranteed response times once development work begins.
                </p>
                <p class="text-size-3">
                    (We're comfortable working with remote clients all over the world. Most of our
                    projects are mid/long-term projects lasting > 4 weeks.)
                </p>
            </div>
        </div>
    </div>
</div>