{% extends "base.html" %}
{% block title %}Syncroplicity{% endblock %}
{% block subtitle %}Syncroplicity{% endblock %}
{% block article %}
<div class="container-full cases-home">
    <div class="project-detail">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-9">
                    <div class="row project-header">
                        <div class="col">
                            <h1><a href="https://syncroplicity.com">syncroplicity.com</a> - Case Study (2019)</h1>
                            <h1 class="sycro-icon">
                                <span class="green-syncro"><i class="fa fa-fw fa-cubes"></i> Syncro</span>plicity
                            </h1>
                            <p>
                                Technicality level: <b>4/5</b>
                            </p>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <img
                                    src="/static/core/img/img-cases-001.png"
                                    alt="Syncroplicity"
                                    class="syncro-img"
                            >
                        </div>
                    </div>
                    <div id="about" class="row">
                        <div class="col">
                            <h3>About the project</h3>
                            <p>
                                An API-agnostic medical record syncing platform, designed to eliminate double-entry by linking EHRs, doctors, authorization departments, insurance companies, etc.
                            </p>
                        </div>
                    </div>
                    {% include "clients-reviews.html" %}
                    {% include "work-with-us.html" %}
                </div>
{#                <div class="xs-hide col-lg-3">#}
{#                    <div class="row">#}
{#                        <div class="col-12">#}
{#                            <nav id="navbar-case-use" class="navbar navbar-light flex-column">#}
{#                                  <h4>Case Study</h4>#}
{#                                  <nav class="nav nav-pills flex-column">#}
{#                                      <a class="nav-link" href="#about">About the client</a>#}
{#                                      <a class="nav-link" href="#challenge">The challenge</a>#}
{#                                      <a#}
{#                                              class="nav-link"#}
{#                                              href="#project-goal"#}
{#                                              data-toggle="collapse"#}
{#                                              data-target="#goal-section"#}
{#                                      >#}
{#                                          Project Goal#}
{#                                      </a>#}
{#                                      <nav#}
{#                                              id="goal-section"#}
{#                                              class="nav nav-pills flex-column collapse"#}
{#                                      >#}
{#                                          <a class="nav-link ml-3 my-1" href="#scope">Scope of work</a>#}
{#                                          <a class="nav-link ml-3 my-1" href="#time-team">Time & team</a>#}
{#                                          <a class="nav-link ml-3 my-1" href="#final-deliverables">Final Deliverables</a>#}
{#                                      </nav>#}
{#                                      <a class="nav-link" href="#wrapper">#}
{#                                          Simple Wrapper vs Class Blend Wrapper#}
{#                                      </a>#}
{#                                      <a class="nav-link" href="#workflow">#}
{#                                          Original Workflow vs New Workflow#}
{#                                      </a>#}
{#                                  </nav>#}
{#                            </nav>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
</div>
{% endblock %}